<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        {% if site.env == 'development' %}
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/build/css/build.css" />
        {% else %}
        <link rel="stylesheet" type="text/css" href="https://assets.ubuntu.com/latest-redirects/vanilla-framework.css" />
        {% endif %}
    </head>

    <body style="margin: 1rem;">

{{ content }}
    </body>
    <script>
        var vf = vf || {};
        vf.ENV = "DEV";
        if(vf.ENV === "DEV") {
            vf.getDocumentHeight = function getDocumentHeight() {
                var body = document.body,
                    html = document.documentElement;
                    return Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
            }
            vf.fragmentFromString = function fragmentFromString(strHTML) {
                var temp = document.createElement('template');
                temp.innerHTML = strHTML;
                return temp.content;
            }
            vf.baselineGrid = class {
                constructor() {
                    this.target = document.querySelector("body"),
                    this.baselineHeight = 8;
                    this.baselineContainerClassName = "u-baseline-container";
                    this.baselineRowClassName = "u-baseline";
                    this.showGrid = true;
                    this.toggleGridClass = "u-hide";
                }
                addBaselineGridToggle() {
                    var controls = vf.fragmentFromString('<div class="controls"><button id="switch-on" class="p-switch js-baseline-toggle" type="button" role="switch" aria-checked="true" aria-labelledby="switch-on-label"><span>On</span><span>Off</span></button></div>');
                    this.target.appendChild(controls);
                }
                appendBaselineRow(parent) {
                    var baseline = document.createElement('div');
                    baseline.className += this.baselineRowClassName;
                    parent.appendChild(baseline);
                }
                baselineCount() {
                    return Math.floor(vf.getDocumentHeight() / this.baselineHeight);
                }
                create() {
                    var baselineContainer = document.createElement('div'),
                        fragment = document.createDocumentFragment(),
                        documentHeight = vf.getDocumentHeight(),
                        baselineCount = this.baselineCount(documentHeight);

                    baselineContainer.classList.add(this.baselineContainerClassName);
                    if(!this.showGrid) {
                        baselineContainer.classList.add(this.toggleGridClass);
                    }

                    for(var i = 0; i < baselineCount; i++) {
                        this.appendBaselineRow(baselineContainer);
                    }

                    fragment.appendChild(baselineContainer);
                    this.target.appendChild(fragment);
                }
                initGridToggle(switchBtn) {
                    var toggle = document.querySelector(switchBtn),
                        hideClass = this.toggleGridClass,
                        that = this;

                    toggle.addEventListener('click', function (event) {
                        var grid = document.querySelector('.' + that.baselineContainerClassName);
                        if(!that.showGrid) {
                            this.setAttribute('aria-checked', !this.getAttribute('aria-checked'));
                            grid.classList.remove(hideClass);
                        } else {
                            this.setAttribute('aria-checked', !this.getAttribute('aria-checked'));
                            grid.classList.add(hideClass);
                        }
                        that.showGrid = !that.showGrid;
                    });
                }
                update() {
                    document.querySelector('.' + this.baselineContainerClassName).remove();
                    this.create();
                }
            }

            var bg = new vf.baselineGrid();
            document.addEventListener('DOMContentLoaded', () => {
                bg.create();
                bg.addBaselineGridToggle();
                bg.initGridToggle('.p-switch.js-baseline-toggle');
            });
            window.addEventListener('resize', () => { bg.update(); });
        }
    </script>
</html>
