<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        {% if site.env == 'development' %}
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/build/css/build.css" />
        {% else %}
        <link rel="stylesheet" type="text/css" href="https://assets.ubuntu.com/latest-redirects/vanilla-framework.css" />
		{% endif %}
		<style>
			.controls {
				padding: .75rem;
				position: fixed;
				right: .75rem;
				top: .75rem;
				z-index: 101;
			}
			.u-hide {
				display: none;
			}
				
		</style>
    </head>

    <body style="margin: 0 1rem;">
		<div class="u-baseline-container">
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>		
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
			<div class="u-baseline"></div>
		</div>
		<div class="controls">
				<!-- <p id="switch-on-label" for="switch-on">Toggle baseline grid</p> -->
				<button id="switch-on" class="p-switch" type="button" role="switch" aria-checked="true" aria-labelledby="switch-on-label">
					<span>On</span>
					<span>Off</span>
				</button>
			</div>
{{ content }}
	<script>
		(function() {
			/**
			* Control switch elements via toggling aria-checked
			*
			* @param {String} switchBtn
			*
			* @example
			* <label id="switch-label" for="switch">Switch</label>
			* <button id="switch" class="p-switch" type="button" role="switch" aria-checked="false" aria-labelledby="switch-label">
			*   <span>On</span>
			*   <span>Off</span>
			* </button>
			*
			*/
			function switchToggle(switchBtn) {
		
			// Select all switch control elements
			/**
				* @param {Object[]} switches
				* @param {String} switchBtn
				*/
			var switches = Array.prototype.slice.call(
				document.querySelectorAll(switchBtn)
			);
		
			// Set click event to each switch control element
			/**
				* @param {String} switchBtn
				*/
			switches.forEach(function (switchBtn) {
				switchBtn.addEventListener('click', function(event) {
				// If aria-checked is already true, set to false
				this.setAttribute('aria-checked',
					this.getAttribute('aria-checked') === 'true' ? 'false' : 'true');
	
				var grid = document.querySelector(".u-baseline-container"),
					hideClass = "u-hide";
				grid.classList.contains(hideClass) ? 
				grid.classList.remove(hideClass) : 
				grid.classList.add(hideClass);
				});
			});
			}
		
			switchToggle('.p-switch');
		})()
	</script>
    </body>
</html>
