<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        {% if site.env == 'development' %}
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/build/css/build.css" />
        {% else %}
        <link rel="stylesheet" type="text/css" href="https://assets.ubuntu.com/latest-redirects/vanilla-framework.css" />
        {% endif %}
    </head>

    <body style="margin: 1rem;">

{{ content }}
    </body>
    <script>
        var VF_ENV = "DEV";
        if (VF_ENV === "DEV") {
            fragmentFromString = function fragmentFromString(strHTML) {
                var temp = document.createElement('template');
                temp.innerHTML = strHTML;
                return temp.content;
            }
            class baselineGrid {
                constructor() {
                    this.target = document.body,
                    this.baselineHeight = 8;
                    this.baselineContainerClassName = "u-baseline-container";
                    this.baselineRowClassName = "u-baseline";
                    this.toggleGridClass = "u-hide";
                    this.showGrid = false;
                }
                addBaselineGridToggle() {
                    var controls = fragmentFromString('<div class="controls"><button id="switch-on" class="p-switch js-baseline-toggle" type="button" role="switch" aria-checked="false" aria-labelledby="switch-on-label"><span>On</span><span>Off</span></button></div>');
                    this.target.appendChild(controls);
                }
                appendBaselineRow(parent) {
                    var baseline = document.createElement('div');
                    baseline.classList.add(this.baselineRowClassName);
                    parent.appendChild(baseline);
                }
                baselineCount() {
                    return Math.floor(document.documentElement.scrollHeight / this.baselineHeight);
                }
                create() {
                    var baselineContainer = document.createElement('div'),
                        fragment = document.createDocumentFragment(),
                        documentHeight = document.documentElement.scrollHeight,
                        baselineCount = this.baselineCount(documentHeight);

                    baselineContainer.classList.add(this.baselineContainerClassName);

                    if (!this.showGrid) {
                        baselineContainer.classList.add(this.toggleGridClass);
                    }
                    for (var i = 0; i < baselineCount; i++) {
                        this.appendBaselineRow(baselineContainer);
                    }
                    fragment.appendChild(baselineContainer);
                    this.target.appendChild(fragment);
                    this.baselineContainer = document.querySelector('.u-baseline-container');
                }
                initGridToggle(switchBtn) {
                    var toggle = document.querySelector(switchBtn),
                        that = this;

                    toggle.addEventListener('click', function (event) {
                        if (!that.showGrid) {
                            this.setAttribute('aria-checked', true);
                            that.baselineContainer.classList.remove(that.toggleGridClass);
                        } else {
                            this.setAttribute('aria-checked', false);
                            that.baselineContainer.classList.add(that.toggleGridClass);
                        }
                        that.showGrid = !that.showGrid;
                    });
                }
                update() {
                    this.baselineContainer.remove();
                    this.create();
                }
            }

            var bg = new baselineGrid();
            document.addEventListener('DOMContentLoaded', () => {
                bg.create();
                bg.addBaselineGridToggle();
                bg.initGridToggle('.p-switch.js-baseline-toggle');
            });
            window.addEventListener('resize', () => { bg.update(); });
        }
    </script>
</html>
