$theme-default-forms: 'dark';
$theme-default-hr: 'dark';
$theme-default-nav: 'dark';
$theme-default-p-search-box: 'dark';
$theme-default-p-contextual-menu: 'dark';
$theme-default-p-divider: 'dark';
$theme-default-p-inline-list--middot: 'dark';

@import '../vanilla';

@include vanilla;
