// styles specific for the example pages

@import '../utilities_baseline-grid';
@include vf-u-baseline-grid;

// stylelint-disable selector-max-type
html {
  background: $colors--light-theme--background-default;
}

body {
  background: $colors--light-theme--background-default;
  margin: 1rem;
}
// stylelint-enable selector-max-type
