@import '../vanilla';
@include vf-base;

// dependencies needed for examples
@include vf-p-buttons;
@include vf-p-media-container;
@include vf-p-image;
@include vf-p-headings;
@include vf-p-muted-heading;
@include vf-p-rule;
@include vf-u-hide;

// vf-p-grid is needed for this pattern to work
@include vf-p-grid;
@include vf-p-equal-height-row;
