@import '../vanilla';

@include vf-base;

// grid required by stacked form example
@include vf-p-grid;
@include vf-u-layout;

// button styles used in some form examples
@include vf-p-buttons;
@include vf-p-muted-heading;
@include vf-p-form-tick-elements;
