@import '../vanilla';
@include vf-base;

@include vf-p-in-page-navigation;

// icons used for dropdown chevron
@include vf-p-icons;

// grid is used in group example with differents side nav variants
@include vf-p-grid;
