////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-tables
/// @since        0.0.3
////

/// Table element styles
/// @group Tables
/// @example
/// <table>
///   <thead>
///     <tr>
///       <th>...</th>
///       ...
///     </tr>
///   </thead>
///   <tfoot>
///     <tr>
///       <td>...</td>
///       ...
///     </tr>
///   </tfoot>
///   <tbody>
///     <tr>
///       <td>...</td>
///       ...
///     </tr>
///   </tbody>
/// </table>
@mixin vf-tables {
  /// Tables
  /// @section tables
  table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: scroll;
    margin-bottom: $gutter-width;
    margin: 0 0 2.5em;
    width: 100%;

    th,
    td {
      background: $light-grey;
      border: 1px dotted $warm-grey;
      padding: 15px 10px;
    }

    td {
      text-align: center;
      vertical-align: middle;
    }

    thead th {
      border-collapse: separate;
      border-spacing: 0 10px;
      background: $table-th;
      color: $text-color;
      font-weight: normal;
    }

    tbody th {
      font-weight: 300;
      text-align: left;
    }

    th[scope='col'] {
      text-align: center;
    }

    thead th:first-of-type {
      text-align: left;
    }

  }

  @media only screen and (max-width : 768px) {

    table {
      display: block;
    }

  }
}
