@import 'settings';

// Color themes
@mixin vf-b-themes {
  @at-root {
    :root,
    .is-light {
      @include vf-theme-light;
    }

    .is-dark {
      @include vf-theme-dark;
    }

    .is-paper {
      @include vf-theme-paper;
    }
  }
}

@import 'base_themes-icons';
@include vf-b-themes-icons;
