@import 'settings';

@mixin default-vertical-spacing {
  margin-top: 1.25rem;

  @media screen and (min-width: #{$breakpoint-medium}) {
    margin-top: 1.75rem;
  }

  @media screen and (min-width: #{$breakpoint-large}) {
    margin-top: $sp-x-large;
  }
}

@mixin default-vertical-spacing-reversed {
  margin-bottom: 1.25rem;
  margin-top: 0;

  @media screen and (min-width: #{$breakpoint-medium}) {
    margin-bottom: 1.75rem;
  }

  @media screen and (min-width: #{$breakpoint-large}) {
    margin-bottom: $sp-x-large;
  }
}

@mixin vf-b-vertical-spacing {
  * {
    + * {
      @include default-vertical-spacing;
    }

    > p:first-child {
      margin-top: 0;
    }

    + h1,
    + .p-heading--one {
      margin-top: $sp-x-large;

      @media screen and (min-width: #{$breakpoint-large}) {
        margin-top: 3.75rem;
      }
    }

    + h2,
    + .p-heading--two,
    + h3,
    + .p-heading--three,
    + h4,
    + .p-heading--four,
    + h5,
    + .p-heading--five,
    + h6,
    + .p-heading--six {
      margin-top: $sp-large;

      @media screen and (min-width: #{$breakpoint-large}) {
        margin-top: $sp-x-large;
      }
    }
  }

  h2,
  .p-heading--two,
  h3,
  .p-heading--three,
  h4,
  .p-heading--four {
    + * {
      margin-top: $sp-x-small;

      @media screen and (min-width: #{$breakpoint-large}) {
        margin-top: $sp-medium;
      }
    }
  }

  // Adds padding to single element rows
  .row:first-of-type [class^="col-"]:only-child > *:only-child {
    @include default-vertical-spacing-reversed;
  }

  .row [class^="col-"]:only-child > *:only-child {
    @include default-vertical-spacing;
  }
}
