// Tables
@mixin vf-tables {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: scroll;
    margin-bottom: $gutter-width;
    margin: 0 0 2.5em;
    width: 100%;

    th,
    td {
      background: $light-grey;
      border: 1px dotted $warm-grey;
      padding: 15px 10px;
    }

    td {
      text-align: center;
      vertical-align: middle;
    }

    thead th {
      border-collapse: separate;
      border-spacing: 0 10px;
      background: $warm-grey;
      color: $color-cool-grey;
      font-weight: normal;
    }

    tbody th {
      font-weight: 300;
      text-align: left;
    }

    th[scope='col'] {
      text-align: center;
    }

    thead th:first-of-type {
      text-align: left;
    }

  }

  @media only screen and (max-width : 768px) {

    table {
      display: block;
    }

  }
}
