@import 'settings';

// Horizontal rule
@mixin vf-b-hr {
  hr {
    @extend %hr;

    margin-bottom: calc(#{$spv-inner--scaleable} - 1px);

    // stylelint-disable-next-line selector-no-qualifying-type
    &.u-no-margin--bottom {
      // compensate for hr thickness, to make sure it doesn't drift from baseline grid
      @extend %u-no-margin--bottom--hr;
    }

    // stylelint-disable-next-line selector-no-qualifying-type
    &.is-muted {
      background-color: $colors--light-theme--border-low-contrast;
    }

    // stylelint-disable-next-line selector-no-qualifying-type
    &.is-fixed-width {
      @extend %fixed-width-container;
    }
  }

  // Theming
  @if ($theme-default-hr == 'dark') {
    hr {
      @include vf-hr-dark-theme;
    }

    // stylelint-disable-next-line selector-no-qualifying-type
    hr.is-light {
      @include vf-hr-light-theme;
    }
  } @else {
    hr {
      @include vf-hr-light-theme;
    }

    // stylelint-disable-next-line selector-no-qualifying-type
    hr.is-dark {
      @include vf-hr-dark-theme;
    }
  }
}

@mixin vf-hr-theme(
  // color of the horizontal rule line
  $color-hr-line
) {
  background: $color-hr-line;
}

@mixin vf-hr-light-theme {
  @include vf-hr-theme($colors--light-theme--border-default);
}

@mixin vf-hr-dark-theme {
  @include vf-hr-theme($colors--dark-theme--border-default);
}
