@import 'settings';

// Tables
@mixin vf-b-tables {
  table {
    border: 0;
    border-collapse: collapse;
    overflow-x: auto;
    width: 100%;
  }

  th,
  td {
    padding: $sp-medium 0;
  }

  td {
    font-weight: 300;
    text-align: left;
    vertical-align: middle;
  }

  thead {
    th {
      border-collapse: separate;
      border-spacing: 0 $sp-x-small;
      font-weight: 400;
      text-align: left;
    }

    tr {
      border-bottom: 1px solid $color-mid-dark;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $color-mid-light;
    }

    th {
      font-weight: 400;
      text-align: left;
    }
  }
}
