@mixin vf-b-typography-max-widths {
  @include deprecate('3.0.0', 'Use the `p-max-width` mixin instead') {
    %max-width--p {
      max-width: map-get($max-widths, default);
    }

    %measure--p,
    .measure--p {
      @extend %max-width--p;
    }
  }
}

@mixin p-max-width {
  @include deprecate('3.0.0', 'Max-widths should not be based on font-size. Use map-get($max-widths, default) instead.') {
    max-width: map-get($max-widths, default);
  }
}

@mixin heading-max-width--short {
  @include deprecate('3.0.0', 'Max-widths should not be based on font-size. Use map-get($max-widths, default) instead.') {
    max-width: map-get($max-widths, default);
  }
}

@mixin heading-max-width--long {
  @include deprecate('3.0.0', 'Max-widths should not be based on font-size. Use map-get($max-widths, default) instead.') {
    max-width: map-get($max-widths, default);
  }
}

@mixin p-max-width--long {
  @include deprecate('3.0.0', 'Max-widths should not be based on font-size. Use map-get($max-widths, default) instead.') {
    max-width: map-get($max-widths, default);
  }
}
