// Base button styles

@mixin vf-b-button {

  button {
    @include button-pattern;
    line-height: 1rem;

    span + & {

      @media (max-width: $breakpoint-medium) {
        margin-top: 1.2rem;
      }
      @media (min-width: $breakpoint-medium) {
        margin-left: .5rem;
      }
    }
  }
}

/// mixin for all the buttons
/// there are sensible defaults, but you can
/// override colors as desired
@mixin button-pattern (
  $button-background-color: $color-x-light,
  $button-border-color: $color-mid-dark,
  $button-text-color: $color-x-dark,
  $button-hover-background-color: rgba(0, 0, 0, .1),
  $button-hover-border-color: $color-mid-dark,
  $button-disabled-background-color: $color-transparent,
  $button-disabled-border-color: $color-transparent
) {
  background-color: $button-background-color;
  border-color: $button-border-color;
  border-radius: .125rem;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: $button-text-color;
  cursor: pointer;
  display: inline-block;
  font-family: unquote($font-base-family);
  font-size: 1rem;
  font-smoothing: subpixel-antialiased;
  font-weight: 300;
  line-height: 1rem;
  margin: 0;
  outline: none;
  padding: .6875rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s;
  width: 100%;

  &:visited {
    color: $button-text-color;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: $button-hover-background-color;
    border-color: $button-hover-border-color;
    text-decoration: none;
  }

  &:disabled,
  &.is--disabled {
    cursor: not-allowed;
    opacity: .5;

    &:active,
    &:focus,
    &:hover {
      background-color: $button-disabled-background-color;
      border-color: $button-disabled-border-color;
    }
  }

  @media only screen and (min-width: $breakpoint-medium) {
    width: auto;
  }
}
