@import 'settings';

// Base styling for links
@mixin vf-b-links {
  // stylelint-disable selector-max-type -- base styles can use type selectors
  a {
    @extend %vf-link-base;
  }

  %vf-link-base {
    @include vf-focus;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;

    color: $color-link;

    &:focus {
      outline-offset: 0;
    }

    &:hover {
      cursor: pointer;
      text-decoration-thickness: 3px;
    }

    &:visited {
      color: $color-link-visited;
    }
  }
  // stylelint-enable selector-max-type
}

.p-navigation a,
footer a,
.p-footer a {
  text-decoration: none;
}
