// tick element variables
$box-size: 1rem;

// Offsets to align tick elements to the baseline of headings.
$box-offsets-top: (
  h1-small-screens: 5,
  h1: 6,
  h2-small-screens: 4,
  h2: 5,
  h3-small-screens: 4,
  h3: 4,
  h4-small-screens: 3,
  h4: 3,
  default-text: 3.333,
  unpadded-text: 2.125,
  muted-heading: 2.333,
  muted-inline-heading: 2,
  table-header: 1.9,
) !default;

@mixin vf-b-tick-elements {
  // Default form checkbox and radio styles
  %vf-tick-elements {
    opacity: 0;
    position: absolute;

    label & {
      // some basic styling for checkboxes inside labels
      float: left;
      margin: $spv-inner--x-small $sph-inner 0 0;
      opacity: 1;
      position: static;
    }

    & + label {
      padding-left: $sph-inner + $box-size;
      position: relative;

      &::before,
      &::after {
        $properties: #{background-color, border-color};
        @include vf-animation($properties);

        position: absolute;
      }

      // container
      &::before {
        content: '';
        height: $box-size;
        left: 0;
        outline-offset: 1px;
        width: $box-size;
      }

      // Align with different text styles
      @media (max-width: $breakpoint-heading-threshold) {
        &:not(.is-h1)::before,
        &:not(.is-h2)::before,
        &:not(.is-h3)::before,
        &:not(.is-h4)::before,
        &:not(.is-muted-heading)::before,
        &:not(.is-inline-label)::before {
          top: #{$sp-unit * map-get($box-offsets-top, default-text) - $box-size};
        }

        &.is-h1::before {
          top: #{$sp-unit * map-get($box-offsets-top, h1-small-screens) - $box-size};
        }

        &.is-h2::before {
          top: #{$sp-unit * map-get($box-offsets-top, h2-small-screens) - $box-size};
        }

        &.is-h3::before {
          top: #{$sp-unit * map-get($box-offsets-top, h3-small-screens) - $box-size};
        }

        &.is-h4::before {
          top: #{$sp-unit * map-get($box-offsets-top, h4-small-screens) - $box-size};
        }

        &.is-inline-label::before {
          top: #{$sp-unit * map-get($box-offsets-top, unpadded-text) - $box-size};
        }

        &.is-muted-heading::before {
          top: #{$sp-unit * map-get($box-offsets-top, muted-heading) - $box-size};
        }

        &.is-muted-inline-heading::before {
          top: #{$sp-unit * map-get($box-offsets-top, muted-inline-heading) - $box-size};
        }

        &.is-table-header::before {
          top: #{$sp-unit * map-get($box-offsets-top, table-header) - $box-size};
        }
      }

      @media (min-width: $breakpoint-heading-threshold) {
        &:not(.is-h1)::before,
        &:not(.is-h2)::before,
        &:not(.is-h3)::before,
        &:not(.is-h4)::before,
        &:not(.is-muted-heading)::before,
        &:not(.is-inline-label)::before {
          top: #{$sp-unit * map-get($box-offsets-top, default-text) - $box-size};
        }

        &.is-h1::before {
          top: #{$sp-unit * map-get($box-offsets-top, h1) - $box-size};
        }

        &.is-h2::before {
          top: #{$sp-unit * map-get($box-offsets-top, h2) - $box-size};
        }

        &.is-h3::before {
          top: #{$sp-unit * map-get($box-offsets-top, h3) - $box-size};
        }

        &.is-h4::before {
          top: #{$sp-unit * map-get($box-offsets-top, h4) - $box-size};
        }

        &.is-inline-label::before {
          top: #{$sp-unit * map-get($box-offsets-top, unpadded-text) - $box-size};
        }

        &.is-muted-heading::before {
          top: #{$sp-unit * map-get($box-offsets-top, muted-heading) - $box-size};
        }

        &.is-muted-inline-heading::before {
          top: #{$sp-unit * map-get($box-offsets-top, muted-inline-heading) - $box-size};
        }

        &.is-table-header::before {
          top: #{$sp-unit * map-get($box-offsets-top, table-header) - $box-size};
        }
      }

      // tick/circle
      &::after {
        content: '';
        opacity: 0;
      }

      &.is-h1 {
        @extend %vf-heading-1;
      }

      &.is-h2 {
        @extend %vf-heading-2;
      }

      &.is-h3 {
        @extend %vf-heading-3;
      }

      &.is-h4 {
        @extend %vf-heading-4;
      }

      &.is-inline-label {
        display: inline;
        padding-top: 0;
      }

      &.is-muted-heading {
        @extend %muted-heading;
      }

      &.is-muted-inline-heading {
        @extend %muted-heading;

        display: inline;
        padding-top: 0;
      }

      &.is-table-header {
        @extend %table-header-label;

        display: inline;
        padding-top: 0;
      }
    }

    &:checked + label::after {
      opacity: 1;
    }

    &:focus + label::before {
      outline: $bar-thickness solid $color-focus;
    }

    &[disabled],
    &[disabled='disabled'] {
      + label {
        @extend %vf-disabled-element;
      }
    }
  }

  [type='checkbox'] {
    @extend %vf-tick-elements;

    // stylelint-disable selector-no-qualifying-type
    & + label {
      // container
      &::before {
        border-radius: $border-radius;
      }

      //tick
      &::after {
        $tick-height: 0.375rem;

        border-bottom: 2px solid;
        border-left: 2px solid;
        height: $tick-height;
        left: $tick-height * 0.5;
        transform: rotate(-45deg);
        width: 0.625rem;
      }

      $tick-offset-top: 0.1875rem;

      // Align with different text styles
      @media (max-width: $breakpoint-heading-threshold) {
        &:not(.is-h1)::after,
        &:not(.is-h2)::after,
        &:not(.is-h3)::after,
        &:not(.is-h4)::after,
        &:not(.is-muted-heading)::after,
        &:not(.is-inline-label)::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, default-text) - $box-size};
        }

        &.is-h1::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, h1-small-screens) - $box-size};
        }

        &.is-h2::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, h2-small-screens) - $box-size};
        }

        &.is-h3::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, h3-small-screens) - $box-size};
        }

        &.is-h4::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, h4-small-screens) - $box-size};
        }

        &.is-inline-label::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, unpadded-text) - $box-size};
        }

        &.is-muted-heading::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, muted-heading) - $box-size};
        }

        &.is-muted-inline-heading::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, muted-inline-heading) - $box-size};
        }

        &.is-table-header::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, table-header) - $box-size};
        }
      }

      @media (min-width: $breakpoint-heading-threshold) {
        &:not(.is-h1)::after,
        &:not(.is-h2)::after,
        &:not(.is-h3)::after,
        &:not(.is-h4)::after,
        &:not(.is-muted-heading)::after,
        &:not(.is-inline-label)::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, default-text) - $box-size};
        }

        &.is-h1::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, h1) - $box-size};
        }

        &.is-h2::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, h2) - $box-size};
        }

        &.is-h3::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, h3) - $box-size};
        }

        &.is-h4::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, h4) - $box-size};
        }

        &.is-inline-label::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, unpadded-text) - $box-size};
        }

        &.is-muted-heading::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, muted-heading) - $box-size};
        }

        &.is-muted-inline-heading::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, muted-inline-heading) - $box-size};
        }

        &.is-table-header::after {
          top: #{$tick-offset-top + $sp-unit * map-get($box-offsets-top, table-header) - $box-size};
        }
      }
    }
    // stylelint-enable selector-no-qualifying-type

    &:checked {
      @extend %checked;
    }
  }

  [type='radio'] {
    @extend %vf-tick-elements;
    $inner-circle-diameter: 0.375rem;
    $circle-offset-top: 0.5 * ($box-size - $inner-circle-diameter);

    // stylelint-disable selector-no-qualifying-type
    & + label {
      &::before,
      &::after {
        border-radius: 50%;
      }

      &::after {
        border-radius: 50%;
        height: $inner-circle-diameter;
        left: #{($box-size - $inner-circle-diameter) * 0.5};
        // top: #{$box-offset-top + 0.5 * ($box-size - $inner-circle-diameter)};
        width: $inner-circle-diameter;
      }

      // Align with different text styles
      @media (max-width: $breakpoint-heading-threshold) {
        &:not(.is-h1)::after,
        &:not(.is-h2)::after,
        &:not(.is-h3)::after,
        &:not(.is-h4)::after,
        &:not(.is-muted-heading)::after,
        &:not(.is-inline-label)::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, default-text) - $box-size};
        }

        &.is-h1::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, h1-small-screens) - $box-size};
        }

        &.is-h2::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, h2-small-screens) - $box-size};
        }

        &.is-h3::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, h3-small-screens) - $box-size};
        }

        &.is-h4::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, h4-small-screens) - $box-size};
        }

        &.is-inline-label::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, unpadded-text) - $box-size};
        }

        &.is-muted-heading::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, muted-heading) - $box-size};
        }

        &.is-muted-inline-heading::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, muted-inline-heading) - $box-size};
        }

        &.is-table-header::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, table-header) - $box-size};
        }
      }

      @media (min-width: $breakpoint-heading-threshold) {
        &:not(.is-h1)::after,
        &:not(.is-h2)::after,
        &:not(.is-h3)::after,
        &:not(.is-h4)::after,
        &:not(.is-muted-heading)::after,
        &:not(.is-inline-label)::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, default-text) - $box-size};
        }

        &.is-h1::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, h1) - $box-size};
        }

        &.is-h2::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, h2) - $box-size};
        }

        &.is-h3::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, h3) - $box-size};
        }

        &.is-h4::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, h4) - $box-size};
        }

        &.is-inline-label::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, unpadded-text) - $box-size};
        }

        &.is-muted-heading::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, muted-heading) - $box-size};
        }

        &.is-muted-inline-heading::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, muted-inline-heading) - $box-size};
        }

        &.is-table-header::after {
          top: #{$circle-offset-top + $sp-unit * map-get($box-offsets-top, table-header) - $box-size};
        }
      }
    }
    // stylelint-enable selector-no-qualifying-type

    &:checked {
      @extend %checked;
    }
  }

  %checked {
    & + label::before {
      background-color: $color-link;
      border-color: $color-link;
    }
  }

  // Theming
  @if ($theme-default-forms == 'dark') {
    [type='checkbox'] {
      @include vf-checkbox-dark-theme;
    }

    [type='radio'] {
      @include vf-radio-dark-theme;
    }

    [type='checkbox'].is-light {
      @include vf-checkbox-light-theme;
    }

    [type='radio'].is-light {
      @include vf-radio-light-theme;
    }
  } @else {
    [type='checkbox'] {
      @include vf-checkbox-light-theme;
    }

    [type='radio'] {
      @include vf-radio-light-theme;
    }

    [type='checkbox'].is-dark {
      @include vf-checkbox-dark-theme;
    }

    [type='radio'].is-dark {
      @include vf-radio-dark-theme;
    }
  }
}

// theme for common properties on radios and checkboxes
@mixin vf-tick-elements-theme(
  // color of the tick element label text
    $color-tick-text,
  // color of the tick element background
    $color-tick-background,
  // color of the tick element border
    $color-tick-border: $colors--light-theme--border-high-contrast
) {
  & + label {
    color: $color-tick-text;

    &::before {
      background: $color-tick-background;
      border: 1px solid $color-tick-border;
    }
  }
}

// theme for checkbox (including common properties)
@mixin vf-checkbox-theme(
  // color of the tick element label text
    $color-tick-text,
  // color of the tick element background
    $color-tick-background,
  // color of the tick element border
    $color-tick-border,
  // color of the checkbox tick
    $color-checkbox-tick
) {
  @include vf-tick-elements-theme($color-tick-text, $color-tick-background, $color-tick-border);

  & + label {
    &::after {
      color: $color-checkbox-tick;
    }
  }
}

@mixin vf-checkbox-light-theme {
  @include vf-checkbox-theme(
    $color-tick-text: $colors--light-theme--text-default,
    $color-tick-background: $colors--light-theme--background-default,
    $color-tick-border: $colors--light-theme--border-high-contrast,
    $color-checkbox-tick: $colors--light-theme--background-default
  );
}

@mixin vf-checkbox-dark-theme {
  @include vf-checkbox-theme(
    $color-tick-text: $colors--dark-theme--text-default,
    $color-tick-background: $colors--dark-theme--background-default,
    $color-tick-border: $colors--dark-theme--border-high-contrast,
    $color-checkbox-tick: $colors--dark-theme--text-default
  );
}

// theme for radio (including common properties)
@mixin vf-radio-theme(
  // color of the tick element label text
    $color-tick-text,
  // color of the tick element background
    $color-tick-background,
  // color of the tick element border
    $color-tick-border,
  // color of the radio dot
    $color-radio-dot
) {
  @include vf-tick-elements-theme($color-tick-text, $color-tick-background, $color-tick-border);

  & + label {
    &::after {
      background-color: $color-radio-dot;
    }
  }
}

@mixin vf-radio-light-theme {
  @include vf-radio-theme(
    $color-tick-text: $colors--light-theme--text-default,
    $color-tick-background: $colors--light-theme--background-default,
    $color-tick-border: $colors--light-theme--border-high-contrast,
    $color-radio-dot: $colors--light-theme--background-default
  );
}

@mixin vf-radio-dark-theme {
  @include vf-radio-theme(
    $color-tick-text: $colors--dark-theme--text-default,
    $color-tick-background: $colors--dark-theme--background-default,
    $color-tick-border: $colors--dark-theme--border-high-contrast,
    $color-radio-dot: $colors--dark-theme--text-default
  );
}
