// tick element variables
$form-tick-box-size: 1rem;
$form-tick-height: 0.375rem;
$form-tick-offset-top: 0.1875rem;

$form-radio-inner-circle-diameter: 0.375rem;
$form-radio-circle-offset: 0.5 * ($form-tick-box-size - $form-radio-inner-circle-diameter);

@mixin vf-b-tick-elements {
  // hide the difficult to style native input
  %vf-hidden-tick-input {
    bottom: 0;
    height: $form-tick-box-size;
    float: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: $form-tick-box-size;
  }

  %vf-tick-wrapper {
    align-items: baseline;
    display: flex;
    position: relative;
  }

  %vf-checkbox-label {
    @extend %vf-tick-wrapper;

    // container
    &::before {
      @extend %vf-pseudo-tick-container;
    }

    //tick
    &::after {
      @extend %vf-tick-checkmark;
    }
  }

  %vf-ticked-checkbox-label {
    &::after {
      opacity: 1;
    }

    // container
    &::before {
      background-color: $color-link;
      border-color: $color-link;
    }
  }

  %vf-radio-label {
    @extend %vf-tick-wrapper;

    // container
    &::before {
      @extend %vf-pseudo-tick-container;
      border-radius: 50%;
    }

    // tick/circle
    &::after {
      @extend %vf-radio-inner-circle;
    }
  }

  %vf-ticked-radio-label {
    // inner radio circle
    &::after {
      background-color: $color-x-light;
      opacity: 1;
    }

    // container
    &::before {
      background-color: $color-link;
      border-color: $color-link;
    }
  }

  // container only properties
  %vf-pseudo-tick-container {
    $properties: #{background-color, border-color};
    @include vf-animation($properties);

    border: 1px solid $color-x-dark;
    content: '';
    display: block;
    flex: 0 0 auto;
    height: $form-tick-box-size;
    left: 0;
    outline-offset: 1px;
    margin-right: $form-tick-box-size;
    position: relative;
    width: $form-tick-box-size;
  }

  %vf-radio-inner-circle {
    $properties: #{background-color, border-color};
    @include vf-animation($properties);

    bottom: #{0.5 * ($form-tick-box-size - $form-radio-inner-circle-diameter)};
    border-radius: 50%;
    content: '';
    display: block;
    flex: 0 0 auto;
    height: $form-radio-inner-circle-diameter;
    left: #{($form-tick-box-size - $form-radio-inner-circle-diameter) * 0.5};
    margin-right: -#{$form-radio-inner-circle-diameter};
    position: relative;
    opacity: 0;
    order: -1;
    width: $form-radio-inner-circle-diameter;
    z-index: 1;
  }

  %vf-tick-checkmark {
    $properties: #{background-color, border-color};
    @include vf-animation($properties);

    bottom: calc(#{0.5 * ($form-tick-box-size - $form-radio-inner-circle-diameter)} + 2px);
    bottom: $form-tick-box-size - $form-tick-height - $form-tick-offset-top;
    border-bottom: 2px solid $color-x-light;
    border-left: 2px solid $color-x-light;
    content: '';
    display: block;
    flex: 0 0 auto;
    height: $form-tick-height;
    left: calc(#{($form-tick-box-size - 0.729rem) * 0.5 + $bar-thickness} + 2px);
    margin-right: -#{$form-radio-inner-circle-diameter};
    position: relative;
    opacity: 0;
    order: -1;
    transform: rotate(-45deg);
    width: 0.625rem;
    z-index: 1;
  }

  %vf-focused-tick-container {
    outline: $bar-thickness solid $color-focus;
  }

  // Default form checkbox and radio styles
  [type='checkbox'],
  [type='radio'] {
    label & {
      // some basic styling for checkboxes inside labels
      float: left;
      margin: $spv-inner--x-small $sph-inner 0 0;
      opacity: 1;
      position: static;
    }
  }

  %vf-tick-elements {
    & + label {
      &.is-inline-label {
        display: inline;
        padding-top: 0;
      }

      &.is-muted-heading {
        @extend %muted-heading;
      }

      &.is-muted-inline-heading {
        @extend %muted-heading;

        display: inline;
        padding-top: 0;
      }

      &.is-table-header {
        @extend %table-header-label;

        display: inline;
        padding-top: 0;
      }
    }

    &[disabled],
    &[disabled='disabled'] + label {
      @extend %vf-disabled-element;
    }

    &:focus + label::before {
      @extend %vf-focused-tick-container;
    }
  }

  [type='checkbox'] {
    @extend %vf-hidden-tick-input;
    @extend %vf-tick-elements;

    // stylelint-disable selector-no-qualifying-type
    & + label {
      @extend %vf-checkbox-label;
    }
    // stylelint-enable selector-no-qualifying-type

    &:checked {
      // tick / inner radio circle
      & + label {
        @extend %vf-ticked-checkbox-label;
      }
    }
  }

  [type='radio'] {
    @extend %vf-hidden-tick-input;
    @extend %vf-tick-elements;

    // stylelint-disable selector-no-qualifying-type
    & + label {
      @extend %vf-radio-label;
    }
    // stylelint-enable selector-no-qualifying-type

    &:checked {
      & + label {
        @extend %vf-ticked-radio-label;
      }
    }
  }
}
//   // Theming
//   @if ($theme-default-forms == 'dark') {
//     [type='checkbox'] {
//       @include vf-checkbox-dark-theme;
//     }

//     [type='radio'] {
//       @include vf-radio-dark-theme;
//     }

//     [type='checkbox'].is-light {
//       @include vf-checkbox-light-theme;
//     }

//     [type='radio'].is-light {
//       @include vf-radio-light-theme;
//     }
//   } @else {
//     [type='checkbox'] {
//       @include vf-checkbox-light-theme;
//     }

//     [type='radio'] {
//       @include vf-radio-light-theme;
//     }

//     [type='checkbox'].is-dark {
//       @include vf-checkbox-dark-theme;
//     }

//     [type='radio'].is-dark {
//       @include vf-radio-dark-theme;
//     }
//   }
// }

// // theme for common properties on radios and checkboxes
// @mixin vf-tick-elements-theme(
//   // color of the tick element label text
//     $color-tick-text,
//   // color of the tick element background
//     $color-tick-background,
//   // color of the tick element border
//     $color-tick-border: $colors--light-theme--border-high-contrast
// ) {
//   & + label,
//   & + .p-checkbox__label {
//     color: $color-tick-text;

//     &::before {
//       background: $color-tick-background;
//       border: 1px solid $color-tick-border;
//     }
//   }
// }

// // theme for checkbox (including common properties)
// @mixin vf-checkbox-theme(
//   // color of the tick element label text
//     $color-tick-text,
//   // color of the tick element background
//     $color-tick-background,
//   // color of the tick element border
//     $color-tick-border,
//   // color of the checkbox tick
//     $color-checkbox-tick
// ) {
//   @include vf-tick-elements-theme($color-tick-text, $color-tick-background, $color-tick-border);

//   & + label,
//   & + .p-checkbox__label {
//     &::after {
//       color: $color-checkbox-tick;
//     }
//   }
// }

// @mixin vf-checkbox-light-theme {
//   @include vf-checkbox-theme(
//     $color-tick-text: $colors--light-theme--text-default,
//     $color-tick-background: $colors--light-theme--background-default,
//     $color-tick-border: $colors--light-theme--border-high-contrast,
//     $color-checkbox-tick: $colors--light-theme--background-default
//   );
// }

// @mixin vf-checkbox-dark-theme {
//   @include vf-checkbox-theme(
//     $color-tick-text: $colors--dark-theme--text-default,
//     $color-tick-background: $colors--dark-theme--background-default,
//     $color-tick-border: $colors--dark-theme--border-high-contrast,
//     $color-checkbox-tick: $colors--dark-theme--text-default
//   );
// }

// // theme for radio (including common properties)
// @mixin vf-radio-theme(
//   // color of the tick element label text
//     $color-tick-text,
//   // color of the tick element background
//     $color-tick-background,
//   // color of the tick element border
//     $color-tick-border,
//   // color of the radio dot
//     $color-radio-dot
// ) {
//   @include vf-tick-elements-theme($color-tick-text, $color-tick-background, $color-tick-border);

//   & + label,
//   & + .p-checkbox__label {
//     &::after {
//       background-color: $color-radio-dot;
//     }
//   }
// }

// @mixin vf-radio-light-theme {
//   @include vf-radio-theme(
//     $color-tick-text: $colors--light-theme--text-default,
//     $color-tick-background: $colors--light-theme--background-default,
//     $color-tick-border: $colors--light-theme--border-high-contrast,
//     $color-radio-dot: $colors--light-theme--background-default
//   );
// }

// @mixin vf-radio-dark-theme {
//   @include vf-radio-theme(
//     $color-tick-text: $colors--dark-theme--text-default,
//     $color-tick-background: $colors--dark-theme--background-default,
//     $color-tick-border: $colors--dark-theme--border-high-contrast,
//     $color-radio-dot: $colors--dark-theme--text-default
//   );
// }
