@import 'settings';

// Form element styles
@mixin vf-b-forms {
  label {
    cursor: pointer;
    display: block;

    @each $state, $color in $states {
      &.has-#{$state} {
        color: $color;
      }
    }
  }

  // Input styles

  [type='text'],
  [type='date'],
  [type='datetime'],
  [type='datatime-local'],
  [type='month'],
  [type='time'],
  [type='week'],
  [type='color'],
  [type='number'],
  [type='search'],
  [type='password'],
  [type='email'],
  [type='url'],
  [type='tel'],
  select {
    @include vf-input-elements;
  }

  [type='file'] {
    @include vf-focus;
    width: 100%;
  }

  [type='reset'] {
    display: none;
  }

  [type='search'] {
    -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    appearance: none;
    border-radius: 0;

    // sass-lint:disable no-vendor-prefixes
    // These vendor prefixes are unique and cannot be added by autoprefixer
    &::-webkit-search-results-decoration {
      display: none;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: searchfield-cancel-button;
      cursor: pointer;
    }
    // sass-lint:enable no-vendor-prefixes
  }

  // Checkbox and radio inputs
  [type='checkbox'],
  [type='radio'] {
    @include vf-tick-elements;
    min-height: $sp-large;

    + label {
      vertical-align: middle;
      width: 100%;
    }
  }

  [type='submit'] {
    background-color: $color-positive;
    color: $color-x-light;

    &:hover {
      background-color: darken($color-positive, 20%);
      cursor: pointer;
    }
  }


  // Select styles
  select {
    -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    appearance: none;
    background: $color-x-light url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjRweCIgd2lkdGg9IjEwcHgiIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAxMCA0Ij4gPHRpdGxlPmFjY29yZGlvbi1vcGVuPC90aXRsZT4gPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+IDxnIGlkPSJmaWx0ZXItcGFuZWwiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSIgZmlsbD0ibm9uZSI+ICA8ZyBpZD0iYWNjb3JkaW9uLW9wZW4iIGZpbGw9IiM4ODgiIHNrZXRjaDp0eXBlPSJNU0FydGJvYXJkR3JvdXAiPiAgIDxwYXRoIGlkPSJjaGV2cm9uIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiBkPSJtNi4zNjEgMC44NjIzYzAuNTE4IDAuMzY1IDEuMDUyIDAuNzc4MSAxLjYwMSAxLjIzOCAwLjU0OSAwLjQ1ODUgMS4wODkgMC45NTE4IDEuNjIxIDEuNDc3MiAwLjE0MiAwLjE0MDQgMC4yODEgMC4yODIxIDAuNDE1IDAuNDIyNWgtMS41NDFjLTAuMzA0LTAuMjg4OC0wLjYyLTAuNTcwOS0wLjk0Ny0wLjg0NjMtMC4xMzc5LTAuMTE2MS0wLjI3NjgtMC4yMjk3LTAuNDE2OC0wLjM0MDgtMC4xNjM2LTAuMTI5Ny0wLjMyODYtMC4yNTU4LTAuNDk1NC0wLjM3ODMtMC4wODUyLTAuMDYyNS0wLjE3MDgtMC4xMjQxLTAuMjU2OC0wLjE4NDYtMC4zOTctMC4yODIxLTAuOTM1LTAuNjI1Ny0xLjMxNS0wLjg0NzZoLTAuMDU0Yy0wLjM4IDAuMjIxOS0wLjkxOCAwLjU2NTUtMS4zMTUgMC44NDc2LTAuMzk4IDAuMjgwNy0wLjc4OCAwLjU4MjktMS4xNjkgMC45MDM3LTAuMzI3IDAuMjc1NC0wLjY0MyAwLjU1NzUtMC45NDcgMC44NDYzaC0xLjU0MWMwLjEzNS0wLjE0MDQgMC4yNzMtMC4yODIxIDAuNDE1LTAuNDIyNSAwLjUzMi0wLjUyNTQgMS4wNzItMS4wMTg3IDEuNjIxLTEuNDc3MiAwLjU1LTAuNDU5OSAxLjA4My0wLjg3MyAxLjYwMS0xLjIzOCAwLjUxOS0wLjM2NDk3IDAuOTczLTAuNjUyNDEgMS4zNjItMC44NjIzIDAuMzkgMC4yMDk4OSAwLjg0NCAwLjQ5NzMzIDEuMzYyIDAuODYyM3oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQuOTk5IDIpIHJvdGF0ZSgxODApIHRyYW5zbGF0ZSgtNC45OTkgLTIpIi8+ICA8L2c+IDwvZz48L3N2Zz4=') no-repeat;
    background-position: right 1.25rem center;
    color: $color-dark;
    min-height: 24px;
    text-indent: .01px;
    text-overflow: '';

    &:hover {
      cursor: pointer;
    }

    &[multiple],
    &[size] {
      background-image: none;
      height: auto;

      option {
        font-weight: 300;
        // margin: $sp-x-small 0;
      }
    }
  }

  // Textarea styles
  textarea {
    @include vf-input-elements;
    // margin-top: $sp-x-small;
    overflow: auto;
    vertical-align: top;
  }

  // Fieldset styles
  fieldset {
    background-color: $color-light;
    border-radius: $border-radius;
    // color: $color-dark;
    // padding: .9375rem 1.25rem;

    h3 {
      border-bottom: 1px dotted $color-mid-dark;
    }
  }

  label {
    @extend %default-text;
  }
}

// Default form input element styles
@mixin vf-input-elements {
  @extend %bordered-text-vertical-padding;
  @include vf-focus;

  appearance: textfield;
  background-color: $color-x-light;
  border: 1px solid $color-mid-light;
  border-radius: $border-radius;
  box-shadow: inset 0 1px 2px $color-input-shadow;
  color: $color-dark;
  font-family: unquote($font-base-family);
  font-weight: 300;
  // margin-bottom: map-get($sp-after--desktop, p) - $spv-nudge;
  outline: none;
  padding-left: $sph-intra--condensed;
  padding-right: $sph-intra--condensed;
  vertical-align: baseline;
  width: 100%;


  table & {
    margin: 0 0 ($spv-intra - $spv-nudge) 0 !important;
    padding: ($spv-nudge - $px) - $spv-intra--condensed $sph-intra;
  }

  &:active {
    border-color: $color-mid-dark;
    color: $color-dark;
    outline: none;
  }

  &::placeholder {
    color: $color-mid-dark;
    opacity: 1;
  }

  &[disabled],
  &[disabled='disabled'] {
    @include vf-disabled-element;
  }

  &[readonly],
  &[readonly='readonly'] {
    @include vf-readonly-element;
  }

  @each $state, $color in $states {
    &.has-#{$state} {
      border: 1px solid $color;
    }
  }
}

$p-computed-height: $spv-nudge * 2 + map-get($line-heights, default-text);

// Default form checkbox and radio styles
@mixin vf-tick-elements {
  @include vf-focus($offset: 0);
  float: left;
  height: $p-computed-height;
  margin-bottom: 0;
  margin-right: $sp-small;
  outline: none;
  padding: 0;
  vertical-align: middle;
  width: auto;

  &[disabled],
  &[disabled='disabled'] {

    + label {
      @include vf-disabled-element;
    }
  }
}

// Disabled form elements
@mixin vf-disabled-element {
  cursor: not-allowed;
  opacity: .5;
}

// Readonly form elements
@mixin vf-readonly-element {
  color: $color-mid-light;
  cursor: default;

  &:hover,
  &:active {
    border-color: $color-mid-dark;
    outline: none;
  }
}
