@import 'settings';
@import 'base_fontfaces';
@import 'base_typography-definitions';
@import 'base_typography-max-widths';
@import 'base_typography-heading-mixins';

// Typographic element styles
@mixin vf-b-typography {
  @include vf-b-typography-fontfaces;
  @include vf-b-typography-definitions;
  @include vf-b-typography-max-widths;

  html {
    // sass-lint:disable no-vendor-prefixes
    // These vendor prefixes are unique and cannot be added by autoprefixer
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    // sass-lint:enable no-vendor-prefixes
    color: $color-dark;
    font-family: unquote($font-base-family);
    // sass-lint:disable no-misspelled-properties
    font-smoothing: subpixel-antialiased;
    // sass-lint:enable no-misspelled-properties
    font-weight: 300;
    // set default line height to match p
    line-height: map-get($line-heights, default-text);

    @if ($increase-font-size-on-larger-screens) {
      @media screen and (max-width: $breakpoint-x-large) {
        font-size: map-get($base-font-sizes, base);
      }

      @media screen and (min-width: $breakpoint-x-large) {
        font-size: map-get($base-font-sizes, large);
        //the rem value is not affected by the change in font-size; it needs to be multiplied by the ratio new font-size/default font-size
        line-height: map-get($line-heights, default-text) * $font-size-ratio--largescreen;
      }
    } @else {
      font-size: map-get($base-font-sizes, base);
    }
  }

  // headings
  h1 {
    @extend %vf-heading-1;
  }

  h2 {
    @extend %vf-heading-2;
  }

  h3 {
    @extend %vf-heading-3;
  }

  h4 {
    @extend %vf-heading-4;
  }

  h5 {
    @extend %vf-heading-5;
  }

  h6 {
    @extend %vf-heading-6;
  }

  p {
    @extend %paragraph;
    @include p-max-width;
  }

  .p-text--default {
    @extend %default-text;
  }

  small,
  .p-text--small {
    @extend %small-text;

    &.dense {
      margin-bottom: map-get($sp-after, small--dense) + map-get($line-heights, default-text) - map-get($line-heights, small) - map-get($nudges, nudge--small);
    }
  }

  // All text elements have extra margin-bottom to keep following block level elements at a comfortable distance.
  // When a text element is followed by another text element, this extra space needs to be compensated for.
  // Notably, the selectors below do not include rules for p + any heading, which usually indicates beginning of next heading/paragraphs group, which requires an increase in white space. This is handled further down.
  h1,
  .p-heading--one,
  h2,
  .p-heading--two,
  h3,
  .p-heading--three,
  h4,
  .p-heading--four,
  h5,
  .p-heading--five,
  h6,
  .p-heading--six,
  .p-muted-heading {
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6,
    & + p:not([class*='p-muted-heading']) {
      @extend %sp--hp;
    }
  }

  //@section Adjusted spacing for headings (or a p) following a paragraph
  p:not([class*='p-heading--']):not([class*='p-muted-heading']) {
    & + h1,
    & + .p-heading--one {
      @extend %sp--ph1;
    }

    & + h2,
    & + .p-heading--two {
      @extend %sp--ph2;
    }

    & + h3,
    & + .p-heading--three {
      @extend %sp--ph3;
    }

    & + h4,
    & + .p-heading--four {
      @extend %sp--ph4;
    }

    & + h5,
    & + .p-heading--five,
    & + h6,
    & + .p-heading--six {
      @extend %sp--ph5;
    }

    & + .p-muted-heading {
      @extend %sp--pmuted;
    }

    & + & {
      @extend %sp--hp;
    }

    // N.B.: selector order matters here - the epmty selector must come after all other rules affecting paragraphs
    &:empty {
      line-height: 0;
      margin: 0;
      padding: 0;
    }
  }

  cite {
    @extend %default-text;
  }

  // misc
  strong {
    @extend %bold;
  }

  sub,
  sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  abbr[title] {
    border-bottom: 0.1em dotted;
    cursor: help;
    text-decoration: none;
  }
}
