@import 'settings';

// Base code styles
@mixin vf-b-code {
  code,
  samp,
  kbd {
    font-family: unquote($font-monospace);
    font-weight: 300;
    text-align: left;
  }


  pre,
  code {
    direction: ltr;
    hyphens: none;
    tab-size: 4;
    word-spacing: normal;
    word-wrap: break-word;
  }

  code {
    @extend %default-text;
    display: inline-block;
    margin-bottom: $spv-nudge-compensation - 2 * $px; // compensates for the borders around <pre>
    white-space: pre-wrap;
  }

  pre {
    background-color: $color-light;
    border: 1px solid $color-mid-light;
    border-radius: $border-radius;
    color: $color-dark;
    display: block;
    margin-bottom: $spv-inter--scaleable;
    margin-top: 0;
    overflow: auto;
    padding-left: $sph-intra;
    padding-right: $sph-intra;
    text-align: left;
    text-shadow: none;
    white-space: nowrap;
  }
}
