@import 'settings';
@mixin default-vertical-spacing {
  margin-top: $sp-unit * 2;

  @media screen and (min-width: #{$breakpoint-medium}) {
    margin-top: $sp-unit * 2;
  }

  @media screen and (min-width: #{$breakpoint-large}) {
    margin-top: $sp-unit;
  }
}

@mixin vf-b-vertical-spacing {
  * {
    + * {
      @include default-vertical-spacing;
    }

    > p:first-child {
      margin-top: 0;
    }

    + h1,
    + .p-heading--one {
      margin-top: $sp-x-large;

      @media screen and (min-width: #{$breakpoint-large}) {
        margin-top: 3.75rem;
      }
    }

    + h2,
    + .p-heading--two,
    + h3,
    + .p-heading--three,
    + h4,
    + .p-heading--four,
    + h5,
    + .p-heading--five,
    + h6,
    + .p-heading--six {
      margin-top: $sp-large;

      @media screen and (min-width: #{$breakpoint-large}) {
        margin-top: $sp-x-large;
      }
    }
  }

  h2,
  .p-heading--two,
  h3,
  .p-heading--three,
  h4,
  .p-heading--four {
    + *,
    + .row {
      margin-top: $sp-x-small;

      @media screen and (min-width: #{$breakpoint-large}) {
        margin-top: $sp-medium;
      }
    }
  }

  .row ~ .row {
    @include default-vertical-spacing;
  }
}
