@mixin vf-b-typography-fontfaces {
  @at-root {
    @font-face {
      font-display: $font-display-option;
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: $font-weight-regular-text;
      src: url('#{$assets-path}27de2815-ubuntubeta0.862wdthwght-webfont.woff2') format('woff2'), url('#{$assets-path}6aae071f-ubuntubeta0.862wdthwght-webfont.woff') format('woff');
    }
  }
}
