// Typographic element styles

@mixin vf-b-typography {

  @if str-index($font-base-family, 'Ubuntu') {
    @font-face {
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 300;
      src: url('#{$assets-path}50afa266-ubuntu-l-webfont.woff2') format('woff2'), url('#{$assets-path}0194407b-ubuntu-l-webfont.woff') format('woff');
    }

    @font-face {
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      src: url('#{$assets-path}1cbafee5-ubuntu-r-webfont.woff2') format('woff2'), url('#{$assets-path}81863185-ubuntu-r-webfont.woff') format('woff');
    }

    @font-face {
      font-family: 'Ubuntu';
      font-style: italic;
      font-weight: 300;
      src: url('#{$assets-path}abb07502-ubuntu-li-webfont.woff2') format('woff2'), url('#{$assets-path}65fc9630-ubuntu-li-webfont.woff') format('woff');
    }

    @font-face {
      font-family: 'Ubuntu';
      font-style: italic;
      font-weight: 400;
      src: url('#{$assets-path}fca66073-ubuntu-ri-webfont.woff2') format('woff2'), url('#{$assets-path}f0898c72-ubuntu-ri-webfont.woff') format('woff');
    }

    @font-face {
      font-family: 'Ubuntu Mono';
      font-style: normal;
      font-weight: 300;
      src: url('#{$assets-path}871f7456-ubuntumono-r-webfont.woff2') format('woff2'), url('#{$assets-path}8df3f408-ubuntumono-r-webfont.woff') format('woff');
    }

    @font-face {
      font-family: 'Ubuntu Mono';
      font-style: normal;
      font-weight: 400;
      src: url('#{$assets-path}871f7456-ubuntumono-r-webfont.woff2') format('woff2'), url('#{$assets-path}8df3f408-ubuntumono-r-webfont.woff') format('woff');
    }
  }

  * {
    // sass-lint:disable no-vendor-prefixes
    // These vendor prefixes are unique and cannot be added by autoprefixer
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    // sass-lint:enable no-vendor-prefixes
    font-smoothing: subpixel-antialiased;
  }

  html {
    font-size: calc(#{$font-base-size} * .9375);

    @media screen and (min-width: $breakpoint-medium) {
      font-size: $font-base-size;
    }
  }

  body {
    color: $color-dark;
    font-family: unquote($font-base-family);
    font-weight: 300;
    line-height: 1.6;

    @media screen and (min-width: $breakpoint-medium) {
      line-height: 1.5;
    }
  }

  /// Base typography
  /// @section type
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  [class^="p-heading--"] {
    font-family: unquote($font-heading-family);
    font-weight: 300;
    margin-bottom: 1.2rem;
    margin-top: 0;

    @media screen and (min-width: $breakpoint-medium) {
      margin-bottom: 1.5rem;
      margin-top: 0;
    }
  }

  p {
    margin-bottom: 1.2rem;
    margin-top: 0;

    @media screen and (min-width: $breakpoint-medium) {
      margin-bottom: 1.5rem;
      margin-top: 0;
    }
  }

  button,
  input,
  select,
  textarea {
    font-family: unquote($font-base-family);
  }

  // headings
  h1,
  %heading-1 {
    font-size: 2.134rem;
    line-height: 1.125;

    @media only screen and (min-width: $breakpoint-medium)  {
      font-size: 2.5rem;
      line-height: 1.2;
    }

    @media only screen and (min-width: $breakpoint-large) {
      font-size: 3rem;
      line-height: 1.25;
    }
  }

  h2,
  %heading-2 {
    font-size: 1.734rem;
    line-height: 1.154;

    @media only screen and (min-width: $breakpoint-medium)  {
      font-size: 2rem;
      line-height: 1.25;
    }

    @media only screen and (min-width: $breakpoint-large) {
      font-size: 2.25rem;
      line-height: 1.167;
    }
  }

  h3,
  %heading-3 {
    font-size: 1.534rem;
    line-height: 1.305;

    @media only screen and (min-width: $breakpoint-medium)  {
      font-size: 1.625rem;
      line-height: 1.154;
    }

    @media only screen and (min-width: $breakpoint-large) {
      font-size: 1.75rem;
      line-height: 1.286;
    }
  }

  h4,
  %heading-4 {
    font-size: 1.334rem;
    line-height: 1.2;

    @media only screen and (min-width: $breakpoint-medium)  {
      font-size: 1.375rem;
      line-height: 1.364;
    }

    @media only screen and (min-width: $breakpoint-large) {
      font-size: 1.5rem;
      line-height: 1.25;
    }
  }

  h5,
  %heading-5 {
    font-size: 1.2rem;
    line-height: 1.334;

    @media only screen and (min-width: $breakpoint-medium)  {
      font-size: 1.188rem;
      line-height: 1.264;
    }

    @media only screen and (min-width: $breakpoint-large) {
      font-size: 1.313rem;
      line-height: 1.143;
    }
  }

  h6,
  %heading-6 {
    font-size: 1.067rem;
    line-height: 1.125;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;

    @media only screen and (min-width: $breakpoint-medium) {
      font-size: 1.063rem;
      line-height: 1.412;
      margin-top: 1.5rem;
    }
  }

  // list spacing
  ol + h2,
  p + h2,
  pre + h2,
  ul + h2,
  ol + h3,
  p + h3,
  pre + h3,
  ul + h3 {
    margin-top: 1.5rem;

    @media only screen and (min-width: $breakpoint-medium)  {
      margin-top: 1.6rem;
    }
  }

  // lists
  ul,
  ol {
    margin-bottom: 1.5rem;
  }

  li {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  li > ul,
  li > ol {
    padding-top: 0;
  }

  li > ul > li:last-of-type,
  li > ol > li:last-of-type {
    padding-bottom: 0;
  }

  // blockquotes
  blockquote {
    margin-left: 0;
    padding-left: 1.5rem;

    > p {
      font-size: 1rem;
      font-style: italic;
      margin-bottom: .8rem;

      @media only screen and (min-width: $breakpoint-medium)  {
        margin-bottom: .75rem;
      }
    }

    > cite {
      font-size: 1rem;
      font-style: normal;
      margin-top: .8rem;

      @media only screen and (min-width: $breakpoint-medium)  {
        margin-top: .75rem;
      }
    }
  }

  // misc
  strong {
    font-weight: 400;
  }

  small {
    font-size: .8125rem;
  }

  sub,
  sup {
    font-size: .75rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    vertical-align: text-top;
  }

  sub {
    vertical-align: text-bottom;
  }
}
