@import 'settings';

@mixin vf-b-lists {
  ol,
  ul {
    margin-bottom: 0;
    margin-left: $sp-medium;
    padding-left: $sp-medium;

    ul,
    ol {
      margin-bottom: 0;
    }

    nav & {
      list-style: none;
      list-style-image: none;
    }

    li {
      + li {
        margin-top: $sp-x-small;
      }

      > ul,
      > ol {
        margin-top: $sp-x-small;
      }
    }
  }

  li {
    margin: 0 0 $sp-x-small;
    padding: 0;
  }

  dl {
    margin-bottom: 0;
  }

  dt {
    @include default-text;
    border-top: 1px dotted $color-mid-dark;
    font-weight: 400;

    &:first-of-type {
      border-top: 0;
    }
  }

  dd {
    @include default-text;
    margin-left: $sp-medium;
    margin-top: $sp-x-small;
  }
}
