// Tables
@mixin vf-b-tables {
  table {
    border: 0;
    border-collapse: collapse;
    margin-bottom: $grid-gutter-width;
    overflow-x: scroll;
    width: 100%;
  }

  th,
  td {
    padding: 1rem .75rem;
  }

  td {
    font-weight: 300;
    text-align: left;
    vertical-align: middle;
  }

  thead {
    th {
      border-collapse: separate;
      border-spacing: 0 .5rem;
      font-weight: 400;
      text-align: left;
    }

    tr {
      border-bottom: 1px solid $color-mid-grey;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $color-warm-grey;
    }

    th {
      font-weight: 400;
      text-align: left;
    }
  }
}
