@mixin vf-lists {

  ol,
  ul {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;

    ul,
    ol, {
      margin-bottom: 0;
    }

    nav & {
      list-style: none;
      list-style-image: none;
    }
  }

  li {
    margin: 0 0 .5rem;
    padding: 0;
  }

  dt {
    font-size: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    font-weight: 400;
    border-top: 1px dotted $color-mid-grey;

    &:first-of-type {
      border-top: 0;
    }
  }

  dd {
    margin-left: $grid-gutter-width;
    margin-top: .5rem;
  }
}
