// Media element styles
@mixin vf-b-media {
  // Corrects overflow displayed oddly in IE9
  svg:not(:root) {
    overflow: hidden;
  }

  img {
    border: 0;
    height: auto;
    margin: $sp-x-large 0;
    max-width: 100%;
  }

  figure {
    display: inline-block;
    margin: 0;

    figcaption {
      display: block;
      font-style: italic;
      text-align: center;
      width: 100%;
    }
  }

  object,
  iframe,
  embed,
  canvas,
  video,
  audio {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
  }

  // Prevents modern browsers from displaying 'audio' without controls
  // Remove excess height in iOS5 devices
  audio:not([controls]) {
    display: none;
    height: 0;
  }

  [hidden] {
    display: none;
  }
}
