// Base styling for links
@mixin vf-b-links {
  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    font-weight: 400;
    transition: border-color .2s;

    &:focus {
      outline: thin dotted $color-warm-grey;
    }

    &:hover {
      border-bottom-color: $color-warm-grey;
    }

    &:visited {
      color: $color-mid-grey;
    }
  }
}
