// ICON THEMES

$colors--light-theme--icon: $color-mid-dark;
$colors--dark-theme--icon: $color-x-light;

@mixin vf-b-themes-icons {
  @at-root {
    :root,
    .is-light,
    .is-paper {
      --vf-theme-light: initial;
      --vf-theme-dark: ;
    }

    [class*='--dark'] [class*="p-icon--"], // backwards compatibility
    [class*="p-icon--"].is-light, // backwards compatibility
    .is-dark {
      --vf-theme-light: ;
      --vf-theme-dark: initial;
    }
  }
}

// based on:
// https://lea.verou.me/blog/2020/10/the-var-space-hack-to-toggle-multiple-values-with-one-custom-property/
// https://lea.verou.me/blog/2021/10/custom-properties-with-defaults/
@mixin vf-themed-property($property, $light-value, $dark-value) {
  #{$property}: var(--vf-theme-light, #{$light-value}) var(--vf-theme-dark, #{$dark-value});
}
