@mixin vf-vertical-rhythm {
  * {
    + * {
      margin-top: $sp-medium;

      @media screen and (min-width: #{$breakpoint-medium}) {
        margin-top: 1.75rem;
      }

      @media screen and (min-width: #{$breakpoint-large}) {
        margin-top: $sp-x-large;
      }
    }

    + h1 {
      margin-top: $sp-x-large;

      @media screen and (min-width: #{$breakpoint-medium}) {
        margin-top: 3.25rem;
      }

      @media screen and (min-width: #{$breakpoint-large}) {
        margin-top: 3.75rem;
      }
    }

    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
      margin-top: $sp-x-large;

      @media screen and (min-width: #{$breakpoint-medium}) {
        margin-top: 1.75rem;
      }

      @media screen and (min-width: #{$breakpoint-large}) {
        margin-top: $sp-x-large;
      }
    }

    + h2,
    + h3,
    + h4 {
      + * {
        margin-top: $sp-small;

        @media screen and (min-width: #{$breakpoint-medium}) {
          margin-top: $sp-small;
        }

        @media screen and (min-width: #{$breakpoint-large}) {
          margin-top: $sp-medium;
        }
      }
    }
  }

  h1 {
    + * {
      margin-top: $sp-small;

      @media screen and (min-width: #{$breakpoint-medium}) {
        margin-top: 1.25rem;
      }
      @media screen and (min-width: #{$breakpoint-large}) {
        margin-top: $sp-large;
      }
    }
  }

  h5,
  h6 {
    + * {
      margin-top: $sp-small;
    }
  }

  p {
    + p {
      margin-top: $sp-medium;

      @media screen and (min-width: #{$breakpoint-medium}) {
        margin-top: $sp-large;
      }
    }
  }

  ol,
  ul {
    li {
      + li {
        margin-top: $sp-x-small;
      }

      > ul,
      > ol {
        margin-top: $sp-x-small;
      }
    }
  }

  form {
    > input {
      margin-top: $sp-x-small;
    }

    > label,
    > input[type="checkbox"],
    > button,
    > input[type="submit"] {
      margin-top: $sp-medium;
    }
  }
}
