@import 'settings';

// Base button styles
@mixin vf-b-button {
  button {
    @extend %vf-button-base;
    @include vf-button-pattern;
  }

  %vf-button-base {
    @include vf-animation(#{background-color, border-color}, fast, in);
    @include vf-focus;

    border-radius: $border-radius;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    justify-content: center;
    line-height: map-get($line-heights, default-text);
    margin: 0 0 $input-margin-bottom 0;
    padding: calc(#{$spv-nudge} - 1px) $sph-inner;
    text-align: center;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }

    &:disabled,
    &.is-disabled {
      cursor: not-allowed;
      opacity: $disabled-element-opacity;
    }

    @media only screen and (max-width: $breakpoint-x-small) {
      width: 100%;
    }

    @media only screen and (min-width: $breakpoint-x-small + 1) {
      width: auto;

      &:not(:last-of-type):not(:only-of-type) {
        margin-right: $sph-outer;
      }
    }

    &.is-dense {
      margin-bottom: $spv-nudge-compensation;
      padding-bottom: calc(#{$spv-nudge - $sp-unit * 0.5} - 1px);
      padding-top: calc(#{$spv-nudge - $sp-unit * 0.5} - 1px);
    }

    // The following three rules address buttons nested in <p>'s;
    p & {
      margin-bottom: $spv-outer--small-scaleable - $spv-nudge;
      margin-top: -#{$spv-nudge};
    }

    p + p > & {
      margin-top: $spv-outer--small - $spv-nudge;
    }

    @media only screen and (max-width: $breakpoint-x-small) {
      p & + & {
        margin-top: $spv-outer--small + $spv-nudge-compensation;
      }
    }
  }
}

/// mixin for all the buttons
/// there are sensible defaults, but you can
/// override colors as desired
@mixin vf-button-pattern(
  $button-background-color: $color-x-light,
  $button-text-color: $color-dark,
  $button-disabled-background-color: $color-transparent,
  $button-disabled-border-color: $colors--light-theme--border-high-contrast,
  $button-border-color: $colors--light-theme--border-high-contrast,
  $button-hover-background-color: scale-color($color-x-light, $lightness: -$hover-background-opacity-amount * 100),
  $button-hover-border-color: $colors--light-theme--border-high-contrast,
  $button-active-background-color: scale-color($color-x-light, $lightness: -$active-background-opacity-amount * 100),
  $button-active-border-color: $colors--light-theme--border-high-contrast
) {
  background-color: $button-background-color;
  border-color: $button-border-color;
  color: $button-text-color;

  &:visited {
    color: $button-text-color;
  }

  &:hover {
    background-color: $button-hover-background-color;
    border-color: $button-hover-border-color;
  }

  &:active {
    background-color: $button-active-background-color;
    border-color: $button-active-border-color;
    transition-duration: 0s;
  }

  &:disabled,
  &.is-disabled {
    &:active,
    &:hover {
      background-color: $button-disabled-background-color;
      border-color: $button-disabled-border-color;
    }
  }

  .p-link--external {
    color: currentColor;
  }
}
