@import 'settings';

// Base styling for links
@mixin vf-b-links {
  a {
    color: $color-link;
    text-decoration: none;

    &:focus {
      outline: thin dotted $color-focus;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &:visited {
      color: $color-link-visited;
    }
  }
}
