@mixin vf-b-placeholders {
  // Placeholders containing used rules in multiple base components and patterns
  // Default settings can be found in _settings_placeholders

  //Styling
  %has-round-corners {
    border-radius: $border-radius;
  }

  %has-highlight {
    box-shadow: $box-shadow;
  }

  %is-bordered {
    border: $border;
  }

  %bg--light {
    background-color: $color-light;
    color: $color-dark;
  }

  %bg--x-light {
    background-color: $color-x-light;
    color: $color-dark;
  }

  // Bars and borders
  %pseudo-border {
    background-color: $color-mid-light;
    content: '';
    height: $px;
    left: 0;
    position: absolute;
    right: 0;
  }

  %pseudo-border--bottom {
    &::after {
      @extend %pseudo-border;
      bottom: 0;
    }
  }

  %pseudo-border--top {
    &::after {
      @extend %pseudo-border;
      top: 0;
    }
  }

  %pseudo-bar {
    position: relative;

    &::before {
      content: '';
      height: $bar-thickness;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
