@import 'settings';

%fixed-width-hr {
  @mixin adjusted-width($size) {
    $gutters-sizes: 2 * map-get($grid-margin-widths, $size);

    max-width: calc($grid-max-width - $gutters-sizes);
    width: calc(100% - $gutters-sizes);
  }

  margin-left: auto;
  margin-right: auto;
  @include adjusted-width(small);

  @media (min-width: $threshold-4-6-col) {
    @include adjusted-width(default);
  }

  .row &,
  .u-fixed-width & {
    width: 100%;
  }
}

// Horizontal rule
@mixin vf-b-hr {
  // stylelint-disable selector-max-type -- base styles can use type selectors
  %light-version {
    --color-hr-line: #{$colors--light-theme--border-default};
  }
  %dark-version {
    --color-hr-line: #{$colors--dark-theme--border-default};
  }

  hr {
    @extend %hr;

    @if ($theme-default-hr == 'dark') {
      @extend %dark-version;
    } @else {
      @extend %light-version;
    }

    &.is-light {
      @extend %light-version;
    }

    &.is-dark {
      @extend %dark-version;
    }
    background-color: var(--color-hr-line);
    margin-bottom: calc($spv--small - 1px);

    &.u-no-margin--bottom {
      // compensate for hr thickness, to make sure it doesn't drift from baseline grid
      @extend %u-no-margin--bottom--hr;
    }

    &.is-muted {
      background-color: $colors--light-theme--border-low-contrast;
    }

    &.is-fixed-width {
      @extend %fixed-width-hr;
    }
  }
}
