@import 'settings';

$color-pre-bg: rgba($color-x-dark, 0.03);
$digit-width: 1ch; // measured width of one character in the monospaced font
$code-sidebar-width: calc(#{$sph-inner} + (4 * #{$digit-width})) !default;

// Base code styles
@mixin vf-b-code {
  code,
  kbd,
  pre,
  samp {
    font-family: unquote($font-monospace);
    font-weight: $font-weight-regular-text;
    text-align: left;

    b,
    strong {
      font-weight: bold;
    }
  }

  code,
  kbd,
  samp {
    background-color: $color-mid-x-light;
    box-shadow: 0 0 0 0.25rem $color-mid-x-light;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  code,
  pre {
    direction: ltr;
    // stylelint-disable property-no-vendor-prefix
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    // stylelint-enable property-no-vendor-prefix
    tab-size: 4;
    word-spacing: normal;
    word-wrap: break-word;
  }

  // Inside pre, code does not behave as an inline element;
  // To ensure multiple lines adhere to the baseline grid, we need to make it a block element.
  pre code {
    background: none;
    box-shadow: none;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
  }

  pre {
    background-color: $color-code-background;
    color: $color-dark;
    display: block;
    margin-bottom: $spv-outer--scaleable;
    margin-top: 0;
    overflow: auto;
    padding: $spv-inner--x-small--scaleable $sph-inner;
    text-align: left;
    text-shadow: none;
    white-space: pre;
  }
}

%leading-linux-prompt-icon {
  &::before {
    @extend %icon;
    @include vf-icon-linux-prompt($color-mid-dark);

    content: '';
    left: $sph-inner;
    position: absolute;
    top: #{$spv-inner--x-small--scaleable + 0.5 * (map-get($line-heights, default-text) - map-get($icon-sizes, default))};
    width: map-get($icon-sizes, default);
  }
}

%code-numbered-line {
  display: inline-block;
  padding: 0 $sph-inner 0 $code-sidebar-width;
  position: relative;
  white-space: pre-wrap;
  width: 100%;

  &:empty::after {
    content: ' ';
    user-select: none;
  }

  &::before {
    color: $color-mid-dark;
    content: counter(line-numbering);
    counter-increment: line-numbering;
    height: 100%;
    left: -$digit-width;
    overflow: hidden;
    padding-right: $sph-inner;
    pointer-events: none;
    position: absolute;
    text-align: right;
    // stylelint-disable property-no-vendor-prefix
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // stylelint-enable property-no-vendor-prefix
    // We're adding a negative left position above of $digit-width,
    // so the width here needs to take that into account
    width: calc(#{$code-sidebar-width} + #{$digit-width});
  }
}
