@import 'base_typography-max-widths';

@mixin vf-b-typography-definitions {
  //@section Heading styling in placeholders
  %vf-heading-1 {
    @include heading-max-width--short;

    font-size: #{map-get($font-sizes, h1-mobile)}rem;
    font-style: normal;
    font-weight: 100;
    line-height: map-get($line-heights, h1-mobile);
    margin-bottom: map-get($sp-after, h1-mobile) - map-get($nudges, nudge--h1-mobile);
    margin-top: 0;
    padding-top: map-get($nudges, nudge--h1-mobile) + map-get($browser-rounding-compensations, h1);

    @media (min-width: $breakpoint-heading-threshold) {
      font-size: #{map-get($font-sizes, h1)}rem;
      line-height: map-get($line-heights, h1);
      margin-bottom: map-get($sp-after, h1) - map-get($nudges, nudge--h1);
      padding-top: map-get($nudges, nudge--h1) + map-get($browser-rounding-compensations, h1);
    }

    @if ($increase-font-size-on-larger-screens) {
      @media (min-width: $breakpoint-x-large) {
        margin-bottom: map-get($sp-after, h1) - map-get($nudges, nudge--h1-large);
        padding-top: map-get($nudges, nudge--h1-large) + map-get($browser-rounding-compensations, h1);
      }
    }

    &.u-no-margin--bottom {
      @extend %u-no-margin--bottom--h1;
    }
  }

  %vf-heading-2 {
    @include heading-max-width--short;

    font-size: #{map-get($font-sizes, h2-mobile)}rem;
    font-style: normal;
    font-weight: 100;
    line-height: map-get($line-heights, h2-mobile);
    margin-bottom: map-get($sp-after, h2-mobile) - map-get($nudges, nudge--h2-mobile);
    margin-top: 0;
    padding-top: map-get($nudges, nudge--h2-mobile) + map-get($browser-rounding-compensations, h2);

    @media (min-width: $breakpoint-heading-threshold) {
      font-size: #{map-get($font-sizes, h2)}rem;
      line-height: map-get($line-heights, h2);
      margin-bottom: map-get($sp-after, h2) - map-get($nudges, nudge--h2);
      padding-top: map-get($nudges, nudge--h2) + map-get($browser-rounding-compensations, h2);
    }

    &.u-no-margin--bottom {
      @extend %u-no-margin--bottom--h2;
    }
  }

  %vf-heading-3 {
    @include heading-max-width--long;

    font-size: #{map-get($font-sizes, h3-mobile)}rem;
    font-style: normal;
    font-weight: 100;
    line-height: map-get($line-heights, h3-mobile);
    margin-bottom: map-get($sp-after, h3-mobile) - map-get($nudges, nudge--h3-mobile);
    margin-top: 0;
    padding-top: map-get($nudges, nudge--h3-mobile);

    @media (min-width: $breakpoint-heading-threshold) {
      font-size: #{map-get($font-sizes, h3)}rem;
      line-height: map-get($line-heights, h3);
      margin-bottom: map-get($sp-after, h3) - map-get($nudges, nudge--h3);
      padding-top: map-get($nudges, nudge--h3) + map-get($browser-rounding-compensations, h3);
    }

    &.u-no-margin--bottom {
      @extend %u-no-margin--bottom--h3;
    }
  }

  %vf-heading-4 {
    @include heading-max-width--long;

    font-size: #{map-get($font-sizes, h4-mobile)}rem;
    font-style: normal;
    font-weight: $font-weight-regular-text;
    line-height: map-get($line-heights, h4-mobile);
    margin-bottom: map-get($sp-after, h4-mobile) - map-get($nudges, nudge--h4-mobile);
    margin-top: 0;
    padding-top: map-get($nudges, nudge--h4-mobile) + map-get($browser-rounding-compensations, h4);

    @media (min-width: $breakpoint-heading-threshold) {
      font-size: #{map-get($font-sizes, h4)}rem;
      line-height: map-get($line-heights, h4);
      margin-bottom: map-get($sp-after, h4) - map-get($nudges, nudge--h4);
      padding-top: map-get($nudges, nudge--h4) + map-get($browser-rounding-compensations, h4);
    }

    @if ($increase-font-size-on-larger-screens) {
      @media (min-width: $breakpoint-x-large) {
        margin-bottom: map-get($sp-after, h4) - map-get($nudges, nudge--h4-large);
        padding-top: map-get($nudges, nudge--h4-large) + map-get($browser-rounding-compensations, h4);
      }
    }

    &.u-no-margin--bottom {
      @extend %u-no-margin--bottom--h4;
    }
  }

  %vf-heading-5 {
    @include p-max-width;

    font-size: 1rem;
    font-style: normal;
    font-weight: $font-weight-bold;
    line-height: map-get($line-heights, default-text);
    margin-bottom: map-get($sp-after, p) - map-get($nudges, nudge--p);
    margin-top: 0;
    padding-top: map-get($nudges, nudge--p) + map-get($browser-rounding-compensations, h5);

    &.u-no-margin--bottom {
      @extend %u-no-margin--bottom--default-text;
    }
  }

  %vf-heading-6 {
    @include p-max-width;

    font-size: 1rem;
    font-style: italic;
    font-weight: $font-weight-regular-text;
    line-height: map-get($line-heights, default-text);
    margin-bottom: map-get($sp-after, p) - map-get($nudges, nudge--p);
    margin-top: 0;
    padding-top: map-get($nudges, nudge--h6) + map-get($browser-rounding-compensations, h6);

    @if ($increase-font-size-on-larger-screens) {
      @media (min-width: $breakpoint-x-large) {
        padding-top: map-get($nudges, nudge--h6-large) + map-get($browser-rounding-compensations, h6);
      }
    }

    &.u-no-margin--bottom {
      @extend %u-no-margin--bottom--default-text;
    }
  }

  %common-default-text-properties {
    line-height: map-get($line-heights, default-text);
    margin-top: 0;
    padding-top: map-get($nudges, nudge--p) + map-get($browser-rounding-compensations, p);
  }

  %default-text {
    @extend %common-default-text-properties;

    margin-bottom: map-get($sp-after, default-text) - map-get($nudges, nudge--p);
  }

  %paragraph {
    @extend %common-default-text-properties;

    margin-bottom: map-get($sp-after, p) - map-get($nudges, nudge--p);

    &:not([class*='p-heading--']):not([class*='p-muted-heading']) + & {
      margin-top: -#{$sp-unit};
    }

    &.u-no-margin--bottom {
      @extend %u-no-margin--bottom--default-text;
    }
  }

  %small-text {
    font-size: #{map-get($font-sizes, small)}rem;
    line-height: map-get($line-heights, small);
    margin-bottom: map-get($sp-after, small) - map-get($nudges, nudge--small);
    padding-top: map-get($nudges, nudge--small) + map-get($browser-rounding-compensations, small);

    @if ($increase-font-size-on-larger-screens) {
      @media (min-width: $breakpoint-x-large) {
        padding-top: map-get($nudges, nudge--small) + map-get($browser-rounding-compensations, small-largescreen);
      }
    }

    &.u-no-margin--bottom {
      @extend %u-no-margin--bottom--small;
    }
  }

  %x-small-text {
    font-size: #{map-get($font-sizes, x-small)}rem;
    font-weight: $font-weight-bold;
    line-height: map-get($line-heights, x-small);
    margin-bottom: map-get($sp-after, x-small) - map-get($nudges, nudge--x-small);
    padding-top: map-get($nudges, nudge--x-small) + map-get($browser-rounding-compensations, small);

    @if ($increase-font-size-on-larger-screens) {
      @media (min-width: $breakpoint-x-large) {
        padding-top: map-get($nudges, nudge--x-small) + map-get($browser-rounding-compensations, small-largescreen);
      }
    }

    &.u-no-margin--bottom {
      @extend %u-no-margin--bottom--small;
    }
  }

  %muted-text {
    color: $colors--light-theme--text-muted;
  }

  %table-header-label {
    @extend %x-small-text;

    text-transform: uppercase;
  }

  %muted-heading {
    @extend %muted-text;
    @extend %table-header-label;

    &.u-no-margin--bottom {
      @extend %u-no-margin--bottom--small;
    }
  }

  %bold {
    font-weight: $font-weight-bold;
  }

  // @section Adjustments to spacing between pairs of text elements e.g. p + h1
  // Placeholder naming: $sp + -- + {preceding element} + {following element}, e.g. for p + h1: $sp--ph1

  %sp--ph1 {
    padding-top: map-get($nudges, nudge--h1-mobile) + $spv-outer--scaleable;

    @media (min-width: $breakpoint-heading-threshold) {
      padding-top: map-get($nudges, nudge--h1) + $spv-outer--scaleable;
    }
  }

  %sp--ph2 {
    padding-top: map-get($nudges, nudge--h2-mobile) + $spv-outer--scaleable;

    @media (min-width: $breakpoint-heading-threshold) {
      padding-top: map-get($nudges, nudge--h2) + $spv-outer--scaleable;
    }
  }

  %sp--ph3 {
    padding-top: map-get($nudges, nudge--h3-mobile) + $spv-outer--scaleable;

    @media (min-width: $breakpoint-heading-threshold) {
      padding-top: map-get($nudges, nudge--h3) + $spv-outer--scaleable;
    }
  }

  %sp--ph4 {
    padding-top: map-get($nudges, nudge--h4-mobile) + $spv-outer--scaleable;

    @media (min-width: $breakpoint-heading-threshold) {
      padding-top: map-get($nudges, nudge--h4) + $spv-outer--scaleable;
    }
  }

  %sp--ph5 {
    padding-top: map-get($nudges, nudge--p) + $spv-outer--scaleable;
  }

  %sp--pmuted {
    padding-top: map-get($nudges, nudge--small) + $spv-outer--scaleable;
  }
}
