@import 'settings';

@mixin vf-b-lists {
  li > ul,
  li > ol {
    margin-bottom: 0;
    padding-top: 0;
  }

  li > ul > li:last-of-type,
  li > ol > li:last-of-type {
    padding-bottom: 0;
  }

  ol,
  ul {
    margin-bottom: $spv-inter--scaleable;
    margin-left: $sph-inter;
    margin-top: 0;
    padding-left: $sph-inter;

    nav & {
      list-style: none;
      list-style-image: none;
    }
  }

  li,
  dl {
    margin: 0;
    padding: 0;
  }

  dd {
    @extend %paragraph;
    margin-left: $sph-intra;
  }

  dt {
    @extend %default-text;
    @extend %bold;

    border-top: 1px solid $color-mid-light;

    &:first-of-type {
      border-top: 0;
    }
  }
}
