@import 'settings';
@import 'base_font-declarations';
@import 'base_measure';
@import 'base_heading-definitions';
@import 'base_heading-mixins';

// Typographic element styles
@mixin vf-b-typography {
  @include vf-b-font-declarations;
  @include vf-b-measure;
  @include vf-b-text-styles;

  html {
    // sass-lint:disable no-vendor-prefixes
    // These vendor prefixes are unique and cannot be added by autoprefixer
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    // sass-lint:enable no-vendor-prefixes
    color: $color-dark;
    font-family: unquote($font-base-family);
    font-size: $font-base-size;
    // sass-lint:disable no-misspelled-properties
    font-smoothing: subpixel-antialiased;
    // sass-lint:enable no-misspelled-properties
    font-weight: 300;
    // set default line height to match p
    line-height: map-get($line-heights, default-text);
  }

  /// Base typography
  /// @section type
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  [class^='p-heading--'] {
    font-family: unquote($font-heading-family);
  }

  button,
  input,
  select,
  textarea {
    font-family: unquote($font-base-family);
  }

  %bold {
    font-weight: 400;
  }

  // misc
  strong {
    @extend %bold;
  }

  cite {
    @extend %default-text;
  }

  sub,
  sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  abbr[title] {
    border-bottom: 0.1em dotted;
    cursor: help;
    text-decoration: none;
  }

  // headings
  h1 {
    @include vf-heading-1;
  }

  h2 {
    @include vf-heading-2;
  }

  h3 {
    @include vf-heading-3;
  }

  h4 {
    @include vf-heading-4;
  }

  h5 {
    @include vf-heading-5;
  }

  h6 {
    @include vf-heading-6;
  }

  p {
    @extend %paragraph;
    @include p-max-width;

    &:empty {
      line-height: 0;
      margin: 0;
      padding: 0;
    }
  }

  small {
    @extend %small-text;

    &.dense {
      margin-bottom: map-get($sp-after, small--dense) + map-get($line-heights, default-text) - map-get($line-heights, small) - map-get($nudges, nudge--small);
    }
  }
}
