@import 'settings';

// Tables
@mixin vf-b-tables {
  table {
    border: 0;
    border-collapse: collapse;
    line-height: map-get($line-heights, default-text);
    margin-bottom: $spv-outer--scaleable;
    overflow-x: auto;
    width: 100%;

    @if ($table-layout-fixed) {
      table-layout: fixed;
    } @else {
      table-layout: auto;
    }
  }

  td,
  th {
    @extend %single-border-text-vpadding--scaling;

    font-weight: 300;
    overflow: hidden;
    padding-left: $sph-inner--small;
    padding-right: $sph-inner--small;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: top;
  }

  thead {
    &::after {
      content: '';
    }

    th {
      @extend %table-header-label;

      line-height: map-get($line-heights, x-small);
      padding-bottom: $spv-inner--large - map-get($nudges, nudge--x-small);
      padding-top: map-get($nudges, nudge--x-small) + map-get($browser-rounding-compensations, small) + $sp-unit;
      text-transform: uppercase;
    }

    tr {
      border-bottom: 1px solid $color-dark;
      vertical-align: top;
    }
  }

  tfoot {
    tr {
      @extend %table-row-border;
    }
  }

  tbody {
    tr {
      &:not(:first-child) {
        @extend %table-row-border;
      }
    }
  }

  %table-row-border {
    border-top: 1px solid $color-mid-light;
  }
}
