@mixin vf-b-typography-fontfaces {
  @at-root {
    @font-face {
      font-family: 'Ubuntu';
      font-stretch: 100%; /*  min and max value for the width axis, expressed as percentage */
      font-style: normal;
      font-weight: 100 800; /*  min and max value for the weight axis */
      src: url('#{$assets-path}75b4015d-UbuntuBeta0.862[wdth,wght].woff2') format('woff2-variations');
    }

    @font-face {
      font-family: 'Ubuntu';
      font-stretch: 100%; /*  min and max value of the width axis expressed as percentage */
      font-style: italic;
      font-weight: 100 800; /*  min and max value of the weight axis */
      src: url('#{$assets-path}fcf71330-UbuntuBeta0.862-Italic[wdth,wght].woff2') format('woff2-variations');
    }
  }
}
