// Base
@import 'base_blockquotes';
@import 'base_box-sizing';
@import 'base_button';
@import 'base_code';
@import 'base_forms';
@import 'base_hr';
@import 'base_links';
@import 'base_lists';
@import 'base_media';
@import 'base_placeholders';
@import 'base_reset';
@import 'base_tables';
@import 'base_typography';

@mixin vf-base {
  // Reset
  @include vf-b-reset;
  // Base
  @include vf-b-blockquotes;
  @include vf-b-box-sizing;
  @include vf-b-button;
  @include vf-b-code;
  @include vf-b-forms;
  @include vf-b-hr;
  @include vf-b-links;
  @include vf-b-lists;
  @include vf-b-media;
  @include vf-b-placeholders;
  @include vf-b-tables;
  @include vf-b-typography;
}
