@mixin vf-lists {

  ol,
  ul {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;

    ul,
    ol {
      margin-bottom: 0;
    }

    nav & {
      list-style: none;
      list-style-image: none;
    }
  }

  li {
    margin: 0 0 .5rem;
    padding: 0;
  }
}
