// Base code styles
@mixin vf-b-code {
  code,
  samp,
  kbd {
    font-family: $font-monospace;
    text-align: left;
  }

  pre,
  code {
    text-align: left;
    white-space: pre-line;
    word-spacing: normal;
    word-wrap: break-word;
    tab-size: 4;
    hyphens: none;
    direction: ltr;
  }

  pre {
    background: $color-dark;
    color: $color-light;
    border: 1px solid $color-mid-grey;
    padding: 1rem;
    border-radius: .5rem;
  }
}
