// Base code styles
@mixin vf-b-code {
  code,
  samp,
  kbd {
    font-family: unquote($font-monospace);
    font-weight: 300;
    text-align: left;
  }

  pre,
  code {
    direction: ltr;
    hyphens: none;
    line-height: 1.5;
    margin: .5rem 0;
    tab-size: 4;
    white-space: pre-wrap;
    word-spacing: normal;
    word-wrap: break-word;
  }

  pre {
    background-color: $color-light;
    border: 1px solid $color-mid-dark;
    border-radius: 2px;
    color: $color-dark;
    overflow: auto;
    padding: 1rem;
    text-align: left;
    text-shadow: none;
  }
}
