// Base styling for links
@mixin vf-b-links {
  a {
    color: $color-link;
    text-decoration: none;

    &:focus {
      outline: thin dotted $color-mid-light;
    }

    &:hover {
      border-bottom: 1px solid $color-link;
      cursor: pointer;
    }

    &:visited {
      color: darken($color-link, 10%);
    }
  }
}
