@import 'settings';

@mixin vf-b-lists {
  li > ul,
  li > ol {
    margin-bottom: 0;
    padding-top: 0;
  }

  li > ul > li:last-of-type,
  li > ol > li:last-of-type {
    padding-bottom: 0;
  }

  ol,
  ul {
    margin-bottom: $spv-inter;
    margin-left: $sph-inter--default;
    margin-top: 0;
    padding-left: $sph-inter--default;

    nav & {
      list-style: none;
      list-style-image: none;
    }
  }

  li,
  dl {
    margin: 0;
    padding: 0;
  }

  dt {
    border-top: 1px dotted $color-mid-dark;
    
    &:first-of-type {
      border-top: 0;
    }
  }

  dd {
    margin-left: $sph-intra;
  }

  dt {
    @extend %default-text;
    @extend %bold;
  }

  dd {
    @extend %paragraph;
    // @if($pad-lists) {
    //   padding-bottom: $multi * $spv-intra--condensed;
    //   padding-top: $multi * $spv-intra--condensed;
    // }
  }
}
