// Form element styles
@mixin vf-b-forms {

  $states: (
    error: $color-negative,
    warning: $color-warning,
    success: $color-positive
  );

  label {
    cursor: pointer;
    display: block;
    margin-bottom: .25rem;

    @each $state, $color in $states {
      &.has-#{$state} {
        color: $color;
      }
    }
  }

  input {

    &[type='text'],
    &[type='number'],
    &[type='search'],
    &[type='password'],
    &[type='email'],
    &[type='url'],
    &[type='tel'] {
      @extend %input-elements;
    }

    &[type='reset'] {
      display: none;
    }

    &[type='search'] {
      -webkit-appearance: none;
      border-radius: 0;
    }

    // Checkbox and radio inputs
    &[type='checkbox'],
    &[type='radio'] {
      @extend %tick-elements;

      + label {
        display: inline;
        margin-left: .3125rem;
        vertical-align: middle;
        width: auto;
      }
    }

    @each $state, $color in $states {
      &.has-#{$state} {
        border: 1px solid $color;

        &:focus {
          border: 1px solid $color;
        }
      }
    }
  }

  form ul {
    margin-left: 0;
    list-style: none;
  }

  // Textarea styles
  textarea {
    @extend %input-elements;
    overflow: auto;
    vertical-align: top;

    &[readonly='readonly'] {
      color: $color-warm-grey;
      cursor: default;

      &:active,
      &:focus {
        border-color: $color-warm-grey;
        outline: none;
      }
    }
  }

  fieldset {
    background-color: $color-light-grey;
    background-position: -.9375rem -.9375rem;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 0;
    margin-bottom: 8px;
    padding: 15px 20px;

    @media only screen and (min-width: $breakpoint-large) {
      padding: 15px 20px;
    }

    h3 {
      border-bottom: 1px dotted $color-mid-grey;
      margin-bottom: 9px;
      padding-bottom: 10px;
    }
  }

  form {
    input,
    select,
    textarea {
      width: 100%;

      &[disabled="disabled"] {
        @extend %disabled-element;
      }
    }
  }
}

// Default form input element styles
%input-elements {
  -webkit-appearance: textfield;
  border-radius: 2px;
  border: 1px solid $color-mid-grey;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .12);
  font-size: 1rem;
  margin: 0;
  outline: none;
  padding: .6956522em .869565em;
  vertical-align: baseline;
  font-weight: 300;

  &:active,
  &:focus {
    border-color: $color-warm-grey;
    outline: none;
  }

  &placeholder {
    color: contrast-friendly-search-color($color-brand);
  }

  &::placeholder {
    color: contrast-friendly-search-color($color-brand);
  }
}

// Default form checkbox and radio styles
%tick-elements {
  border-radius: 2px;
  border: 1px solid $color-mid-grey;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .12);
  height: 14px;
  padding: 0;
  vertical-align: middle;
  width: 14px;

  &[disabled="disabled"] {

    + label {
      @extend %disabled-element;
    }
  }
}

// Disabled form elements
%disabled-element {
  opacity: .5;
  cursor: not-allowed;
}
