@import 'settings';

// Box-sizing FTW!
//https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
@mixin vf-b-box-sizing {
  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
