////
/// Mixins
/// @section mixins
////

/// font size, default 16
@mixin font-size ($size: 16) {
  font-size: ($size / $base)+em;
  margin-bottom: (12 / $size)+em;
}

/// footer styles with parameterised backgrond image
@mixin footer($background) {
  padding: $gutter-width $two-col $gutter-width $four-col;
  margin-bottom: 0;
  background: url($background) no-repeat scroll $one-col center $light-grey;
}

/// clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}
