@charset 'UTF-8';

@media only screen and (min-width : 768px) {
  
  body {
    font-size: 15px;
  }
  
  .one-col, 
  .two-col, 
  .three-col, 
  .four-col, 
  .five-col, 
  .six-col, 
  .seven-col, 
  .eight-col, 
  .nine-col, 
  .ten-col, 
  .eleven-col, 
  .twelve-col, 
  .col {
    float: left;
  }

  .one-col { 
    width: 6.38297%;   
  }
  
  .two-col { 
    width: 14.89361%; 
  }
  
  .three-col { 
    width: 23.40425%; 
  }

  .four-col { 
    width: 31.91489%; 
  }
  
  .five-col { 
    width: 40.42553%; 
  }
  
  .six-col { 
    width: 48.93617%; 
  }
  
  .seven-col { 
    width: 57.4468%;   
  }
  
  .eight-col { 
    width: 65.95744%; 
  }
  
  .nine-col { 
    width: 74.46808%; 
  }
  
  .ten-col { 
    width: 82.97872%; 
  }
  
  .eleven-col { 
    width: 91.48936%; 
  }

  .twelve-col {
    margin-right: 0;
    width: 100%;
  }

  .twelve-col .one-col {
    margin-right: 2.21238%;
    width: 6.3053%;
  }
  
  .twelve-col .two-col {
    margin-right: 2.21238%;
    width: 14.823%;
  }
  
  .twelve-col .three-col {
    margin-right: 2.21238%;
    width: 23.3407%;
  }
  
  .twelve-col .three-col {
    margin-right: 2.21238%;
    width: 48.8938%;
  }

  .twelve-col .four-col {
    margin-right: 2.21238%;
    width: 31.8584%;
  }
  
  .twelve-col .five-col {
    margin-right: 2.21238%;
    width: 40.3761%;
  }

  .twelve-col .six-col {
    margin-right: 2.21238%;
    width: 48.8938%;
  }

  .twelve-col .seven-col {
    margin-right: 2.21238%;
    width: 57.4115%;
  }

  .twelve-col .eight-col {
    margin-right: 2.21238%;
    width: 65.9292%;
  }

  .twelve-col .nine-col {
    margin-right: 2.21238%;
    width: 74.4469%;
  }

  .twelve-col .ten-col {
    margin-right: 2.21238%;
    width: 82.9646%;
  }

  .twelve-col .eleven-col {
    margin-right: 2.21238%;
    width: 91.4823%;
  }

  .twelve-col .twelve-col {
    margin-right: 0;
    width: 100%;
  }

  .eleven-col .one-col {
    margin-right: 2.41837%;
    width: 6.89238%;
  }

  .eleven-col .two-col {
    margin-right: 2.41837%;
    width: 16.20314%;
  }

  .eleven-col .three-col {
    margin-right: 2.41837%;
    width: 25.5139%;
  }

  .eleven-col .four-col {
    margin-right: 2.41837%;
    width: 34.82466%;
  }

  .eleven-col .five-col {
    margin-right: 2.41837%;
    width: 44.13542%;
  }

  .eleven-col .six-col {
    margin-right: 2.41837%;
    width: 53.44619%;
  }
  
  .eleven-col .seven-col {
    margin-right: 2.41837%;
    width: 62.75695%;
  }

  .eleven-col .eight-col {
    margin-right: 2.41837%;
    width: 72.06771%;
  }

  .eleven-col .nine-col {
    margin-right: 2.41837%;
    width: 81.37847%;
  }

  .eleven-col .ten-col {
    margin-right: 2.41837%;
    width: 90.68923%;
  }

  .eleven-col .eleven-col {
    margin-right: 0;
    width: 100%;
  }

  .ten-col .one-col {
    margin-right: 2.66666%;
    width: 7.6%;
  }

  .ten-col .two-col {
    margin-right: 2.66666%;
    width: 17.86666%;
  }

  .ten-col .three-col {
    margin-right: 2.66666%;
    width: 28.13333%;
  }

  .ten-col .four-col {
    margin-right: 2.66666%;
    width: 38.4%;
  }

  .ten-col .five-col {
    margin-right: 2.66666%;
    width: 48.66666%;
  }

  .ten-col .six-col {
    margin-right: 2.66666%;
    width: 58.93333%;
  }

  .ten-col .seven-col {
    margin-right: 2.66666%;
    width: 69.19999%;
  }

  .ten-col .eight-col {
    margin-right: 2.66666%;
    width: 79.46666%;
  }

  .ten-col .nine-col {
    margin-right: 2.66666%;
    width: 89.73333%;
  }

  .ten-col .ten-col {
    margin-right: 0;
    width: 100%;
  }

  .nine-col .one-col {
    margin-right: 2.97176%;
    width: 8.46953%;
  }

  .nine-col .two-col {
    margin-right: 2.97176%;
    width: 19.91084%;
  }

  .nine-col .three-col {
    margin-right: 2.97176%;
    width: 31.35215%;
  }

  .nine-col .four-col {
    margin-right: 2.97176%;
    width: 42.79346%;
  }

  .nine-col .five-col {
    margin-right: 2.97176%;
    width: 54.23476%;
  }

  .nine-col .six-col {
    margin-right: 2.97176%;
    width: 65.67607%;
  }

  .nine-col .seven-col {
    margin-right: 2.97176%;
    width: 77.11738%;
  }

  .nine-col .eight-col {
    margin-right: 2.97176%;
    width: 88.55869%;
  }

  .nine-col .nine-col {
    margin-right: 0;
    width: 100%;
  }

  .eight-col .one-col {
    margin-right: 3.3557%;
    width: 9.56375%;
  }

  .eight-col .two-col {
    margin-right: 3.3557%;
    width: 22.48322%;
  }

  .eight-col .three-col {
    margin-right: 3.3557%;
    width: 35.40268%;
  }

  .eight-col .four-col {
    margin-right: 3.3557%;
    width: 48.32214%;
  }

  .eight-col .five-col {
    margin-right: 3.3557%;
    width: 61.24161%;
  }

  .eight-col .six-col {
    margin-right: 3.3557%;
    width: 74.16107%;
  }

  .eight-col .seven-col {
    margin-right: 3.3557%;
    width: 87.08053%;
  }

  .eight-col .eight-col {
    margin-right: 0;
    width: 100%;
  }

  .seven-col .one-col {
    margin-right: 3.85356%;
    width: 10.98265%;
  }

  .seven-col .two-col {
    margin-right: 3.85356%;
    width: 25.81888%;
  }

  .seven-col .three-col {
    margin-right: 3.85356%;
    width: 40.6551%;
  }

  .seven-col .four-col {
    margin-right: 3.85356%;
    width: 55.49132%;
  }

  .seven-col .five-col {
    margin-right: 3.85356%;
    width: 70.32755%;
  }
  
  .seven-col .six-col {
    margin-right: 3.85356%;
    width: 85.16377%;
  }

  .seven-col .seven-col {
    margin-right: 0;
    width: 100%;
  }

  .six-col .one-col {
    margin-right: 4.52488%;
    width: 12.89592%;
  }

  .six-col .two-col {
    margin-right: 4.52488%;
    width: 30.31674%;
  }

  .six-col .three-col {
    margin-right: 4.52488%;
    width: 47.73755%;
  }
  
  .six-col .four-col {
    margin-right: 4.52488%;
    width: 65.15837%;
  }

  .six-col .five-col {
    margin-right: 4.52488%;
    width: 82.57918%;
  }

  .six-col .six-col {
    margin-right: 0;
    width: 100%;
  }

  .five-col .one-col {
    margin-right: 5.47945%;
    width: 15.61643%;
  }

  .five-col .two-col {
    margin-right: 5.47945%;
    width: 36.71232%;
  }

  .five-col .three-col {
    margin-right: 5.47945%;
    width: 57.80821%;
  }

  .five-col .four-col {
    margin-right: 5.47945%;
    width: 78.9041%;
  }

  .five-col .five-col {
    margin-right: 0;
    width: 100%;
  }

  .four-col .one-col {
    margin-right: 6.94444%;
    width: 19.79166%;
  }

  .four-col .two-col {
    margin-right: 6.94444%;
    width: 46.52777%;
  }

  .four-col .three-col {
    margin-right: 6.94444%;
    width: 73.26388%;
  }

  .four-col .four-col {
    margin-right: 0;
    width: 100%;
  }

  .three-col .one-col {
    margin-right: 9.47867%;
    width: 27.01421%;
  }
  
  .three-col .two-col {
    margin-right: 9.47867%;
    width: 63.5071%;
  }
  
  .three-col .three-col {
    margin-right: 0;
    width: 100%;
  }

  .two-col .one-col {
    margin-right: 14.92537%;
    width: 42.53731%;
  }

  .two-col .two-col {
    margin-right: 0;
    width: 100%;
  }

  .one-col .one-col {
    margin-right: 0;
    width: 100%;
  }

  .twelve-col .last-col {
    margin-right: 0;
  }

  .eleven-col .last-col {
    margin-right: 0;
  }

  .ten-col .last-col {
    margin-right: 0;
  }

  .nine-col .last-col {
    margin-right: 0;
  }

  .eight-col .last-col {
    margin-right: 0;
  }

  .seven-col .last-col {
    margin-right: 0;
  }

  .six-col .last-col {
    margin-right: 0;
  }

  .five-col .last-col {
    margin-right: 0;
  }

  .four-col .last-col {
    margin-right: 0;
  }

  .three-col .last-col {
    margin-right: 0;
  }

  .two-col .last-col {
    margin-right: 0;
  }

  .one-col .last-col {
    margin-right: 0;
  }

  // Main containers
  // @section containers

  .row, 
  #context-footer  { // Clear entire row
    @include rounded_corners(0);
    margin: 0;
    padding: 40px 40px 20px;
  }

  .row:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }

  .row-feature {
    background: none;
  }

  // Columns
  // @section columns

  // inner grid
  .container {
    @include box-sizing;
    margin: $gutter_width $gutter_width 0;
    width: 100%;
  }
  
  // Empty columns
  // Add these to a column to append or prepend
  // empty columns
  // @section empty-columns
  
  .append-one { 
    margin-right: $one_col + $gutter; 
  }
  
  .append-two { 
    margin-right: $two-col   + $gutter; 
  }
  
  .append-three { 
    margin-right: $three-col + $gutter; 
  }
  
  .append-four { 
    margin-right: $four-col + $gutter; 
  }
  
  .append-five { 
    margin-right: $five_col + $gutter; 
  }
  
  .append-six { 
    margin-right: $six-col + $gutter; 
  }
  
  .append-seven { 
    margin-right: $seven-col + $gutter; 
  }
  
  .append-eight { 
    margin-right: $eight-col + $gutter; 
  }
  
  .append-nine { 
    margin-right: $nine-col + $gutter; 
  }
    
  .append-ten { 
    margin-right: $ten-col + $gutter; 
  }
  
  .append-eleven { 
    margin-right: $eleven-col + $gutter;
  }
  
  .prepend-one { 
    margin-left: $one_col + 2.12766%; 
  }
  
  .prepend-two { 
    margin-left: $two-col   + 2.12766%; 
  }
  
  .prepend-three { 
    margin-left: $three-col + 2.12766%; 
  }
  
  .prepend-four { 
    margin-left: $four-col + 2.12766%; 
  }
  
  .prepend-five { 
    margin-left: $five_col + 2.12766%; 
  }
  
  .prepend-six { 
    margin-left: $six-col + $gutter; 
  }
  
  .prepend-seven { 
    margin-left: $seven-col + $gutter; 
  }
  
  .prepend-eight { 
    margin-left: $eight-col + $gutter; 
  }
  
  .prepend-nine { 
    margin-left: $nine-col + $gutter; 
  }
  
  .prepend-ten { 
    margin-left: $ten-col + $gutter; 
  }
  
  .prepend-eleven { 
    margin-left: $eleven-col + $gutter; 
  }
  
  .push-one { 
    margin-left: 57px; 
  }
  
  // Push and pull
  // Use these classes to push elements into the next
  // column and pull it into the previous column
  // @section push-pull
  
  .pull-one, 
  .pull-two, 
  .pull-three, 
  .pull-four, 
  .pull-five, 
  .pull-six, 
  .pull-seven, 
  .pull-eight, 
  .pull-nine, 
  .pull-ten, 
  .pull-eleven {
    float: left;
    position: relative;
  }
  
  .pull-one { 
    margin-left: -$one-col; 
  }
  
  .pull-two { 
    margin-left: -($two-col   + $gutter); 
  }
  
  .pull-three { 
    margin-left: -($three-col + $gutter); 
  }
    
  .pull-four { 
    margin-left: -($four-col + $gutter); 
  }
    
  .pull-five { 
    margin-left: -($four-col + $gutter); 
  }
  
  .pull-six { 
    margin-left: -($six-col + $gutter); 
  }
    
  .pull-seven { 
    margin-left: -($seven-col + $gutter); 
  }
    
  .pull-eight { 
    margin-left: -($eight-col + $gutter); 
  }
  
  .pull-nine { 
    margin-left: -($nine-col + $gutter); 
  }
  
  .pull-ten { 
    margin-left: -($ten-col + $gutter); 
  }
  
  .pull-eleven { 
    margin-left: -($eleven-col + $gutter); 
  }
  
  .push-1, 
  .push-two, 
  .push-three, 
  .push-four, 
  .push-five, 
  .push-six, 
  .push-seven, 
  .push-eight, 
  .push-nine, 
  .push-ten, 
  .push-eleven {
    float: left;
    position: relative;
  }
  
  .push-one { 
    margin: 0 (-($one_col + $gutter)) 0 ($one_col + $gutter); 
  }
  
  .push-two { 
    margin: 0 (-($two-col   + ($gutter * 2))) 0 ($two-col   + ($gutter * 2)); 
  }
  
  .push-three { 
    margin: 0 (-($three-col + ($gutter * 2))) 0 ($three-col + ($gutter * 2)); 
  }
  
  .push-four { 
    margin: 0 (-($four-col + ($gutter * 2))) 0 ($four-col + ($gutter * 2)); 
  }
  
  .push-five { 
    margin: 0 (-($four-col + ($gutter * 2))) 0 ($four-col + ($gutter * 2)); 
  }
  
  .push-six { 
    margin: 0 (-($six-col + ($gutter * 2))) 0 ($six-col + ($gutter * 2)); 
  }
  
  .push-seven { 
    margin: 0 (-($seven-col + ($gutter * 2))) 0 ($seven-col + ($gutter * 2)); 
  }
  
  .push-eight { 
    margin: 0 (-($eight-col + ($gutter * 2))) 0 ($eight-col + ($gutter * 2)); 
  }
  
  .push-nine { 
    margin: 0 (-($nine-col + ($gutter * 2))) 0 ($nine-col + ($gutter * 2)); 
  }
  
  .push-ten { 
    margin: 0 (-($ten-col + ($gutter * 2))) 0 ($ten-col + ($gutter * 2)); 
  }
  
  .push-eleven { 
    margin: 0 (-($eleven-col + ($gutter * 2))) 0 ($eleven-col + ($gutter * 2)); 
  }
  
}