@charset 'UTF-8';

@import 'core-constants';
@import 'core-mixins';

////
/// Ubuntu Super Patterns Stylesheet
/// Contains audience related themes for site-wide application
/// @project    Ubuntu Patterns
/// @author   Web Team at Canonical Ltd
/// @copyright  2012 Canonical Ltd
////

.row-enterprise {
  @include rounded-corners(0);
  background: $canonical-aubergine;
  color: $white;

  .box,
  div {
    background: $canonical-aubergine;
    color: $white;
  }

  a {
    color: $white;
  }
}

.enterprise-dot-pattern {
  background: url('/sites/ubuntu/latest/u/img/patterns/enterprise-dot-pattern.png');
}

.developer-dot-pattern {
  background: url('/sites/ubuntu/latest/u/img/patterns/developer-dot-pattern.png');
}
