@charset "UTF-8";

@media only screen and (min-width : 768px) {
  body {
    font-size: 15px;
  }
	.one-col, 
	.two-col, 
	.three-col, 
	.four-col, 
	.five-col, 
	.six-col, 
	.seven-col, 
	.eight-col, 
	.nine-col, 
	.ten-col, 
	.eleven-col, 
	.twelve-col, 
	.col {
		float: left;
	}

	.one-col 	{ 
  	width: 6.38297%; 	
  }
  
	.two-col 	{ 
  	width: 14.89361%; 
  }
  
	.three-col 	{ 
    width: 23.40425%; 
  }

	.four-col 	{ 
  	width: 31.91489%; 
  }
  
	.five-col 	{ 
  	width: 40.42553%; 
  }
  
	.six-col 	{ 
  	width: 48.93617%; 
  }
  
	.seven-col 	{ 
  	width: 57.4468%; 	
	}
	
	.eight-col 	{ 
  	width: 65.95744%; 
  }
  
	.nine-col 	{ 
  	width: 74.46808%; 
  }
  
	.ten-col 	{ 
  	width: 82.97872%; 
  }
  
	.eleven-col { 
  	width: 91.48936%; 
  }

	.twelve-col {
		margin-right: 0;
		width: 100%;
	}

	 .twelve-col .one-col {
		margin-right: 2.21238%;
		width: 6.3053%;
	}
	
	.twelve-col .two-col {
		margin-right: 2.21238%;
		width: 14.823%;
	}
	
	.twelve-col .three-col {
		width: 23.3407%;
		margin-right: 2.21238%;
	}
	.twelve-col .three-col {
		width: 48.8938%;
		margin-right: 2.21238%;
	}

	.twelve-col .four-col {
		width: 31.8584%;
		margin-right: 2.21238%;
	}
	.twelve-col .five-col {
		width: 40.3761%;
		margin-right: 2.21238%;
	}
	.twelve-col .six-col {
		width: 48.8938%;
		margin-right: 2.21238%;
	}
	.twelve-col .seven-col {
		width: 57.4115%;
		margin-right: 2.21238%;
	}
	.twelve-col .eight-col {
		width: 65.9292%;
		margin-right: 2.21238%;
	}
	.twelve-col .nine-col {
		width: 74.4469%;
		margin-right: 2.21238%;
	}
	.twelve-col .ten-col {
		width: 82.9646%;
		margin-right: 2.21238%;
	}
	.twelve-col .eleven-col {
		width: 91.4823%;
		margin-right: 2.21238%;
	}
	.twelve-col .twelve-col {
		width: 100%;
		margin-right: 0;
	}
	.eleven-col .one-col {
		width: 6.89238%;
		margin-right: 2.41837%;
	}
	.eleven-col .two-col {
		width: 16.20314%;
		margin-right: 2.41837%;
	}
	.eleven-col .three-col {
		width: 25.5139%;
		margin-right: 2.41837%;
	}
	.eleven-col .four-col {
		width: 34.82466%;
		margin-right: 2.41837%;
	}
	.eleven-col .five-col {
		width: 44.13542%;
		margin-right: 2.41837%;
	}
	.eleven-col .six-col {
		width: 53.44619%;
		margin-right: 2.41837%;
	}
	.eleven-col .seven-col {
		width: 62.75695%;
		margin-right: 2.41837%;
	}
	.eleven-col .eight-col {
		width: 72.06771%;
		margin-right: 2.41837%;
	}
	.eleven-col .nine-col {
		width: 81.37847%;
		margin-right: 2.41837%;
	}
	.eleven-col .ten-col {
		width: 90.68923%;
		margin-right: 2.41837%;
	}
	.eleven-col .eleven-col {
		width: 100%;
		margin-right: 0;
	}
	.ten-col .one-col {
		width: 7.6%;
		margin-right: 2.66666%;
	}
	.ten-col .two-col {
		width: 17.86666%;
		margin-right: 2.66666%;
	}
	.ten-col .three-col {
		width: 28.13333%;
		margin-right: 2.66666%;
	}
	.ten-col .four-col {
		width: 38.4%;
		margin-right: 2.66666%;
	}
	.ten-col .five-col {
		width: 48.66666%;
		margin-right: 2.66666%;
	}
	.ten-col .six-col {
		width: 58.93333%;
		margin-right: 2.66666%;
	}
	.ten-col .seven-col {
		width: 69.19999%;
		margin-right: 2.66666%;
	}
	.ten-col .eight-col {
		width: 79.46666%;
		margin-right: 2.66666%;
	}
	.ten-col .nine-col {
		width: 89.73333%;
		margin-right: 2.66666%;
	}
	.ten-col .ten-col {
		width: 100%;
		margin-right: 0;
	}
	.nine-col .one-col {
		width: 8.46953%;
		margin-right: 2.97176%;
	}
	.nine-col .two-col {
		width: 19.91084%;
		margin-right: 2.97176%;
	}
	.nine-col .three-col {
		width: 31.35215%;
		margin-right: 2.97176%;
	}
	.nine-col .four-col {
		width: 42.79346%;
		margin-right: 2.97176%;
	}
	.nine-col .five-col {
		width: 54.23476%;
		margin-right: 2.97176%;
	}
	.nine-col .six-col {
		width: 65.67607%;
		margin-right: 2.97176%;
	}
	.nine-col .seven-col {
		width: 77.11738%;
		margin-right: 2.97176%;
	}
	.nine-col .eight-col {
		width: 88.55869%;
		margin-right: 2.97176%;
	}
	.nine-col .nine-col {
		width: 100%;
		margin-right: 0;
	}
	.eight-col .one-col {
		width: 9.56375%;
		margin-right: 3.3557%;
	}
	.eight-col .two-col {
		width: 22.48322%;
		margin-right: 3.3557%;
	}
	.eight-col .three-col {
		width: 35.40268%;
		margin-right: 3.3557%;
	}
	.eight-col .four-col {
		width: 48.32214%;
		margin-right: 3.3557%;
	}
	.eight-col .five-col {
		width: 61.24161%;
		margin-right: 3.3557%;
	}
	.eight-col .six-col {
		width: 74.16107%;
		margin-right: 3.3557%;
	}
	.eight-col .seven-col {
		width: 87.08053%;
		margin-right: 3.3557%;
	}
	.eight-col .eight-col {
		width: 100%;
		margin-right: 0;
	}
	.seven-col .one-col {
		width: 10.98265%;
		margin-right: 3.85356%;
	}
	.seven-col .two-col {
		width: 25.81888%;
		margin-right: 3.85356%;
	}
	.seven-col .three-col {
		width: 40.6551%;
		margin-right: 3.85356%;
	}
	.seven-col .four-col {
		width: 55.49132%;
		margin-right: 3.85356%;
	}
	.seven-col .five-col {
		width: 70.32755%;
		margin-right: 3.85356%;
	}
	.seven-col .six-col {
		width: 85.16377%;
		margin-right: 3.85356%;
	}
	.seven-col .seven-col {
		width: 100%;
		margin-right: 0;
	}
	.six-col .one-col {
		width: 12.89592%;
		margin-right: 4.52488%;
	}
	.six-col .two-col {
		width: 30.31674%;
		margin-right: 4.52488%;
	}
	.six-col .three-col {
		width: 47.73755%;
		margin-right: 4.52488%;
	}
	.six-col .four-col {
		width: 65.15837%;
		margin-right: 4.52488%;
	}
	.six-col .five-col {
		width: 82.57918%;
		margin-right: 4.52488%;
	}
	.six-col .six-col {
		width: 100%;
		margin-right: 0;
	}
	.five-col .one-col {
		width: 15.61643%;
		margin-right: 5.47945%;
	}
	.five-col .two-col {
		width: 36.71232%;
		margin-right: 5.47945%;
	}
	.five-col .three-col {
		width: 57.80821%;
		margin-right: 5.47945%;
	}
	.five-col .four-col {
		width: 78.9041%;
		margin-right: 5.47945%;
	}
	.five-col .five-col {
		width: 100%;
		margin-right: 0;
	}
	.four-col .one-col {
		width: 19.79166%;
		margin-right: 6.94444%;
	}
	.four-col .two-col {
		width: 46.52777%;
		margin-right: 6.94444%;
	}
	.four-col .three-col {
		width: 73.26388%;
		margin-right: 6.94444%;
	}
	.four-col .four-col {
		width: 100%;
		margin-right: 0;
	}
	.three-col .one-col {
		width: 27.01421%;
		margin-right: 9.47867%;
	}
	.three-col .two-col {
		width: 63.5071%;
		margin-right: 9.47867%;
	}
	.three-col .three-col {
		width: 100%;
		margin-right: 0;
	}
	.two-col .one-col {
		width: 42.53731%;
		margin-right: 14.92537%;
	}
	.two-col .two-col {
		width: 100%;
		margin-right: 0;
	}
	.one-col .one-col {
		width: 100%;
		margin-right: 0;
	}
	 .twelve-col .last-col {
		margin-right: 0;
	}
	.eleven-col .last-col {
		margin-right: 0;
	}
	.ten-col .last-col {
		margin-right: 0;
	}
	.nine-col .last-col {
		margin-right: 0;
	}
	.eight-col .last-col {
		margin-right: 0;
	}
	.seven-col .last-col {
		margin-right: 0;
	}
	.six-col .last-col {
		margin-right: 0;
	}
	.five-col .last-col {
		margin-right: 0;
	}
	.four-col .last-col {
		margin-right: 0;
	}
	.three-col .last-col {
		margin-right: 0;
	}
	.two-col .last-col {
		margin-right: 0;
	}
	.one-col .last-col {
		margin-right: 0;
	}

	 /**
	 * Main containers
	 *
	 * @section containers
	 */



	.row, #context-footer  { /** Clear entire row. */
		@include rounded_corners(0);
		margin: 0;
		padding: 40px 40px 20px;
	}

	.row:after {
	   content: ".";
	   visibility: hidden;
	   display: block;
	   height: 0;
	   clear: both;
	}

	.row-feature {
		background: none;
	}

	/**
	 * Columns
	 *
	 * @section columns
	 */

	/* inner grid */
	.container {
		@include box-sizing;
		margin: $gutter_width $gutter_width 0;
		width: 100%;
	}

	/**
	 * Empty columns
	 *
	 * Add these to a column to append or prepend
	 * empty columns
	 *
	 * @section empty-columns
	 */

	.append-one { margin-right: $one_col + $gutter; }
	.append-two { margin-right: $two_col + $gutter; }
	.append-three { margin-right: $three_col + $gutter; }
	.append-four { margin-right: $four_col + $gutter; }
	.append-five { margin-right: $five_col + $gutter; }
	.append-six { margin-right: $six_col + $gutter; }
	.append-seven { margin-right: $seven_col + $gutter; }
	.append-eight { margin-right: $eight_col + $gutter; }
	.append-nine { margin-right: $nine_col + $gutter; }
	.append-ten { margin-right: $ten_col + $gutter; }
	.append-eleven { margin-right: $eleven_col + $gutter; }

	.prepend-one { margin-left: $one_col + 2.12766%; }
	.prepend-two { margin-left: $two_col + 2.12766%; }
	.prepend-three { margin-left: $three_col + 2.12766%; }
	.prepend-four { margin-left: $four_col + 2.12766%; }
	.prepend-five { margin-left: $five_col + 2.12766%; }
	.prepend-six { margin-left: $six_col + $gutter; }
	.prepend-seven { margin-left: $seven_col + $gutter; }
	.prepend-eight { margin-left: $eight_col + $gutter; }
	.prepend-nine { margin-left: $nine_col + $gutter; }
	.prepend-ten { margin-left: $ten_col + $gutter; }
	.prepend-eleven { margin-left: $eleven_col + $gutter; }

	.push-one { margin-left: 57px; }

	/**
	 * Push and pull
	 *
	 * Use these classes to push elements into the next
	 * column and pull it into the previous column
	 *
	 * @section push-pull
	 */

	.pull-one, .pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten, .pull-eleven {
		float: left;
		position: relative;
	}
	.pull-one { margin-left: -$one_col; }
	.pull-two { margin-left: -($two_col + $gutter); }
	.pull-three { margin-left: -($three_col + $gutter); }
	.pull-four { margin-left: -($four_col + $gutter); }
	.pull-five { margin-left: -($four_col + $gutter); }
	.pull-six { margin-left: -($six_col + $gutter); }
	.pull-seven { margin-left: -($seven_col + $gutter); }
	.pull-eight { margin-left: -($eight_col + $gutter); }
	.pull-nine { margin-left: -($nine_col + $gutter); }
	.pull-ten { margin-left: -($ten_col + $gutter); }
	.pull-eleven { margin-left: -($eleven_col + $gutter); }

	.push-1, .push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten, .push-eleven {
		float: left;
		position: relative;
	}
	.push-one { margin: 0 (-($one_col + $gutter)) 0 ($one_col + $gutter); }
	.push-two { margin: 0 (-($two_col + ($gutter * 2))) 0 ($two_col + ($gutter * 2)); }
	.push-three { margin: 0 (-($three_col + ($gutter * 2))) 0 ($three_col + ($gutter * 2)); }
	.push-four { margin: 0 (-($four_col + ($gutter * 2))) 0 ($four_col + ($gutter * 2)); }
	.push-five { margin: 0 (-($four_col + ($gutter * 2))) 0 ($four_col + ($gutter * 2)); }
	.push-six { margin: 0 (-($six_col + ($gutter * 2))) 0 ($six_col + ($gutter * 2)); }
	.push-seven { margin: 0 (-($seven_col + ($gutter * 2))) 0 ($seven_col + ($gutter * 2)); }
	.push-eight { margin: 0 (-($eight_col + ($gutter * 2))) 0 ($eight_col + ($gutter * 2)); }
	.push-nine { margin: 0 (-($nine_col + ($gutter * 2))) 0 ($nine_col + ($gutter * 2)); }
	.push-ten { margin: 0 (-($ten_col + ($gutter * 2))) 0 ($ten_col + ($gutter * 2)); }
	.push-eleven { margin: 0 (-($eleven_col + ($gutter * 2))) 0 ($eleven_col + ($gutter * 2)); }
}