/// standard colors

/// assets database path
/// usage: background: url(#{$asset-path}/backgrounds/background.jpg) no-repeat 0 0;
$asset-path: '//assets.ubuntu.com/sites/ubuntu/latest/u/img/';

/// transparent to use throughout the site
$transparent:           transparent !default;
/// the theme's core brand colour
$brand-color:           #dd4814 !default;
/// light-orange - used as background on pre text
$light-orange:          #fdf6f2 !default;
/// canonical aubergine
$canonical-aubergine:   #772953 !default;
/// light aubergine (consumer)
$light-aubergine:       #77216f !default;
/// mid aubergine (both)
$mid-aubergine:         #5e2750 !default;
/// dark aubergine (enterprise)
$dark-aubergine:        #2c001e !default;
/// warm grey
$warm-grey:             #888 !default;
/// cool grey
$cool-grey:             #333 !default;
/// mid grey
$mid-grey:              #dfdcd9 !default;
/// light grey
$light-grey:            #f7f7f7 !default;
/// white
$white:                 #fff !default;
/// black
$black:                 #000 !default;
/// row background
$row-background:        #4b1827 !default;

/// red notifications
$error:                 #df382c !default;
/// yellow notifications
$warning:               #eca918 !default;
/// green notifications
$success:               #38b44a !default;
/// cyan notifications
$information:           #19b6ee !default;

/// red, for status that require immediate attention
$status-red:            #df382c !default;
/// grey, for disabled status or ones that don’t require attention
$status-grey:           #888 !default;
/// yellow, for status that require attention
$status-yellow:         #efb73e !default;
/// blue, for status that don’t require action
$status-blue:           #19b6ee !default;
/// green, for positive status
$status-green:          #38b44a !default;

/// box shadows
$box-shadow:            #c2c2c2 !default;
/// code background
$code-bg:               #fffbeb !default;
/// table header background
$table-th:              #fee3d2 !default;

/// box borders
$box-border:            #dfdcd9 !default;

/// This is the global link color, mainly used for links in content
$link-color:            $brand-color !default;
/// Base font colour
$base-color:            #333 !default;

/// grid variables
/// base
$base:              14 !default;
/// gutter width
$gutter-width:      20px !default;
/// grid-gutter
$grid-gutter:       20px !default;
/// gutter
$gutter:            2.12766% !default;

/// one col
$one-col:           6.38297% !default;
/// two col
$two-col:           14.89361% !default;
/// three col
$three-col:         23.40425% !default;
/// four col
$four-col:          31.91489% !default;
/// five col
$five-col:          40.42553% !default;
/// six col
$six-col:           48.93617% !default;
/// seven col
$seven-col:         57.4468% !default;
/// eight col
$eight-col:         65.95744% !default;
/// nine col
$nine-col:          74.46808% !default;
/// ten col
$ten-col:           82.97872% !default;
/// eleven col
$eleven-col:        91.48936% !default;

/// nav background
$nav-bg:            #f0f0f0 !default;
/// nav link colour
$nav-link-color:    #333 !default;
/// nav border dark
$nav-border-dark:   #d4d7d4 !default;
/// nav border light
$nav-border-light:  #f2f2f4 !default;
/// nav hover background
$nav-hover-bg:      #d0d0d0 !default;
/// nav active background
$nav-active-bg:     #ddd !default;

/// resource hover
$resource-hover:    #fafafa !default;

/// resource shadow
$resource-shadow:   #ddd !default;

/// Medium breakpoint
$breakpoint-medium: 768px;

/// Large breakpoint
$breakpoint-large: 984px;

/// Base font size - medium screen
@media only screen and (min-width : 768px) { $base: 15; }

// Base font size - small screen
@media only screen and (min-width: 984px) { $base: 14; }

