/// standard colors

/// assets database path
/// usage: background: url(#{$asset-path}img//backgrounds/background.jpg) no-repeat 0 0;
$asset-path: '//assets.ubuntu.com/sites/ubuntu/latest/u/';

/// transparent to use throughout the site
$transparent:           transparent !default;
/// the theme's core brand colour
$brand-color:           #dd4814 !default;
/// light brand colour
$brand-color-light:     lighten($brand-color, 48%); ///TODO make this a lighter brand color
/// cool grey
$cool-grey:             #333 !default;
/// text colour
$text-color:            $cool-grey !default;
/// warm grey
$warm-grey:             #888 !default;
/// mid grey
$mid-grey:              #dfdcd9 !default;
/// light grey
$light-grey:            #f7f7f7 !default;
/// white
$white:                 #fff !default;
/// black
$black:                 #000 !default;
/// row background
$row-background:        #4b1827 !default;

/// error notifications
$error:                 #df382c !default;
/// warning notifications
$warning:               #eca918 !default;
/// success notifications
$success:               #38b44a !default;
/// information notifications
$information:           #19b6ee !default;

/// box shadows
$box-shadow:            #c2c2c2 !default;
/// code background
$code-bg:               #fffbeb !default;
/// table header background
$table-th:              #fee3d2 !default;

/// box borders
$box-border:            #dfdcd9 !default;

/// This is the global link color, mainly used for links in content
$link-color:            $brand-color !default;

/// grid variables
/// gutter width
$gutter-width:      20px !default;
/// grid-gutter
$grid-gutter:       20px !default;
/// gutter
$gutter:            2.12766% !default;

/// one col
$one-col:           6.38297% !default;
/// two col
$two-col:           14.89361% !default;
/// three col
$three-col:         23.40425% !default;
/// four col
$four-col:          31.91489% !default;
/// five col
$five-col:          40.42553% !default;
/// six col
$six-col:           48.93617% !default;
/// seven col
$seven-col:         57.4468% !default;
/// eight col
$eight-col:         65.95744% !default;
/// nine col
$nine-col:          74.46808% !default;
/// ten col
$ten-col:           82.97872% !default;
/// eleven col
$eleven-col:        91.48936% !default;

/// nav background
$nav-bg:            #f0f0f0 !default;
/// nav link colour
$nav-link-color:    #333 !default;
/// nav border dark
$nav-border-dark:   #d4d7d4 !default;
/// nav border light
$nav-border-light:  #f2f2f4 !default;
/// nav hover background
$nav-hover-bg:      #d0d0d0 !default;
/// nav active background
$nav-active-bg:     #ddd !default;

/// resource hover
$resource-hover:    #fafafa !default;

/// resource shadow
$resource-shadow:   #ddd !default;

// Site maximum width
$site-max-width = 1030px !default;

/// Medium breakpoint
$breakpoint-medium: 768px !default;

/// Large breakpoint
$breakpoint-large: 984px !default;

