/// standard colors

/// assets database path
/// usage: background: url(#{$asset-path}img//backgrounds/background.jpg) no-repeat 0 0;
$asset-path: '//assets.ubuntu.com/sites/ubuntu/latest/u/';

/// transparent to use throughout the site
$transparent:           transparent !default;
/// the theme's core brand colour
$brand-color:           #dd4814 !default;
/// light brand colour
$brand-color-light:     lighten($brand-color, 48%) !default; ///TODO make this a lighter brand color
/// cool grey
$cool-grey:             #333 !default;
/// text colour
$text-color:            $cool-grey !default;
/// warm grey
$warm-grey:             #888 !default;
/// mid grey
$mid-grey:              #cdcdcd !default;
/// light grey
$light-grey:            #f7f7f7 !default;
/// white
$white:                 #fff !default;
/// black
$black:                 #000 !default;
/// row background
$row-background:        #4b1827 !default;

/// error notifications
$error:                 #df382c !default;
/// warning notifications
$warning:               #eca918 !default;
/// success notifications
$success:               #38b44a !default;
/// information notifications
$information:           #19b6ee !default;

/// box shadows
$box-shadow:            #c2c2c2 !default;
/// code background
$code-bg:               #fffbeb !default;
/// table header background
$table-th:              #fee3d2 !default;

/// box borders
$box-border:            #dfdcd9 !default;

/// This is the global link color, mainly used for links in content
$link-color:            $brand-color !default;

/// grid variables
/// gutter width
$gutter-width:      20px !default;

/// number of columns in the grid
$columns:           12 !default;

/// mobile nav
$mobile-nav:     #333 !default;

/// nav active background
$nav-active-bg:     #ddd !default;

// Site maximum width
$site-max-width: 1030px !default;

/// Medium breakpoint
$breakpoint-medium: 768px !default;

/// Large breakpoint
$breakpoint-large: $site-max-width !default;

