////
/// These are settings that will be global to the ubuntudesign framework
///
/// There may be other properties you can set in individual modules as well.
////

/// Standard colours for Ubuntu themes
///
/// Before adding new colours, check whether your colour
/// already has a standard X11 name
/// http://en.wikipedia.org/wiki/X11_color_names#Color_name_chart
///
/// @colordef  ubuntudesign-color(ubuntu-orange) (#dd4814); Ubuntu orange
/// @colordef  ubuntudesign-color(light-orange) (#fdf6f2); Light orange
/// @colordef  ubuntudesign-color(canonical-aubergine) (#772953); Canonical aubergine
/// @colordef  ubuntudesign-color(light-aubergine) (#77216f); Light aubergine
/// @colordef  ubuntudesign-color(mid-aubergine) (#5e2750); Mid aubergine
/// @colordef  ubuntudesign-color(dark-aubergine) (#2c001e); Dark aubergine
/// @colordef  ubuntudesign-color(warm-grey) (#888); Lightish grey
/// @colordef  ubuntudesign-color(cool-grey) (#333); Darkish grey
/// @colordef  white-grey (#f7f7f7); Very light grey
///
/// (Idea from The Guardian: http://guardian.github.io/pasteup-palette/docs/)
$ubuntudesign-colors: (
  ubuntu-orange:         #dd4814,
  light-orange:          #fdf6f2,
  canonical-aubergine:   #772953,
  light-aubergine:       #77216f,
  mid-aubergine:         #5e2750,
  dark-aubergine:        #2c001e,
  warm-grey:             #888,
  cool-grey:             #333,
  white-grey:            #f7f7f7,
  lighter-grey:          #efefef
) !default;

/// Values for the standard grid
$gutter-width: 20px !default;

/// nav background
$nav-bg: #f0f0f0 !default;
/// nav link colour
$nav-link-color: #333 !default;
/// nav border dark
$nav-border-dark: #d4d7d4 !default;
/// nav border light
$nav-border-light: #f2f2f4 !default;
/// nav hover background
$nav-hover-bg: #d0d0d0 !default;
/// nav active background
$nav-active-bg: #ddd !default;
