// Functions used across multiple patterns or utils

// This is to get the variable inserted in an inline svg, we have to strip the #
// and replace with %23
@function vf-url-friendly-color($color) {
  @if type-of($color) != 'color' {
    @warn '#{$fill-color} is not a color.';
    @return false;
  } @else {
    @return '%23' + str-slice('#{$color}', 2, -1);
  }
}

// Test value of bg $color and return light or dark text color accordingly
@function vf-contrast-text-color($color) {
  @if (lightness($color) > 55) {
    @return $color-x-dark; // Lighter background, return dark color
  } @else {
    @return $color-x-light; // Darker background, return light color
  }
}

@mixin external-link-color($color-link: $color-link, $color-icon: currentColor) {
  .p-link--external {
    color: $color-link;

    &::after {
      background-color: $color-icon;
    }
  }
}

// Returns the font color to be presented on the passed background-color
// variable.
@function determine-text-color($background-color) {
  @if (lightness($background-color) > 50) {
    @return $color-dark;
  } @else {
    @return $color-x-light;
  }
}
