@import 'layouts_application-panels';

@mixin vf-l-application {
  .l-application {
    display: grid;
    grid-template-areas:
      'nav  navbar navbar'
      'nav  main   aside'
      'nav  status status';
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
    width: 100vw;
  }

  // Top navigation bar to toggle side navigation on small screens
  .l-navigation-bar {
    grid-area: navbar;
  }

  // Navigation panel/drawer
  .l-navigation {
    bottom: 0;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 103; // consistent with side-navigation component, above global nav

    @media (min-width: $breakpoint-x-small) {
      width: auto;
    }

    &.is-collapsed {
      width: 0;
    }
  }

  $layout-navigation-collapsed-width: 3rem;
  $layout-navigation-expanded-width: 15rem;

  .l-navigation__content {
    width: auto;

    @media (min-width: $breakpoint-x-small) {
      width: $layout-navigation-expanded-width;
    }
  }

  @media (min-width: $breakpoint-small) {
    .l-navigation-bar {
      display: none;
    }

    .l-application {
      grid-template-columns: $layout-navigation-collapsed-width 1fr min-content;
    }

    .l-navigation {
      transition: width 100ms;
      width: $layout-navigation-collapsed-width;

      &.is-collapsed {
        width: $layout-navigation-collapsed-width;
      }
    }

    .l-navigation:hover {
      width: $layout-navigation-expanded-width;
    }

    .l-application.has-pinned-navigation {
      grid-template-columns: min-content 1fr min-content;

      & .l-navigation {
        grid-area: nav;
        position: static;
        width: $layout-navigation-expanded-width;
      }
    }
  }

  @media (min-width: $breakpoint-large) {
    .l-application {
      grid-template-columns: min-content 1fr min-content;
    }

    .l-navigation {
      grid-area: nav;
      position: static;
      width: $layout-navigation-expanded-width;

      &.is-collapsed {
        width: $layout-navigation-expanded-width;
      }
    }
  }

  .l-main {
    grid-area: main;
    overflow-y: auto;
  }

  .l-status {
    grid-area: status;
    z-index: 102;
  }

  .l-aside {
    grid-area: aside;
    z-index: 101; // below side nav, above anything else
  }

  .l-overlay {
    grid-area: main;
    justify-self: right;
    overflow-y: auto;
    z-index: 101; // below side nav, above anything else
  }

  @include vf-l-application-panels;
}
