@mixin vf-l-application-panels {
  $header-padding-bottom: $sp-unit * 6;

  %panel-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: $header-padding-bottom;
    padding-top: $spv-outer--medium;
  }

  %panel-drop-shadow {
    box-shadow: 0 0 2rem 0 rgba($color-x-dark, $shadow-opacity);
  }

  .l-application {
    // temporary, as I don't want to change the global setting
    // TODO: should be in panel, not in application
    & .u-fixed-width {
      max-width: 95rem;
    }
  }

  .p-panel__header {
    @extend %panel-header;
  }

  .p-demo-header-toolbar {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
  }

  .p-demo-navigation_bar {
    background: $color-dark;
    color: $color-light;
    padding: $sp-small;
    text-align: right;
  }

  // Navigation panel/drawer
  .p-panel--navigation {
    .p-panel__header {
      @extend %vf-grid-container-padding;
      @extend %panel-header;

      display: flex;
      justify-content: space-between;

      .p-demo-navigation__pin {
        display: none;
      }

      @media (min-width: $breakpoint-small) {
        .p-demo-navigation__close {
          display: none;
        }

        .p-demo-navigation__pin {
          display: block;
        }
      }

      @media (min-width: $breakpoint-large) {
        .p-demo-controls {
          display: none;
        }
      }
    }

    .p-panel__logo {
      display: block;
      max-height: 1.5rem;
      width: auto;
    }

    &.has-brand-background {
      background: $color-brand-background;
    }
  }

  .p-demo-status {
    @extend %vf-grid-container-padding;

    background-color: $colors--light-theme--background-alt;
    border-top: 1px solid $colors--light-theme--border-low-contrast;
    display: flex;
    justify-content: space-between;
    padding-bottom: $spv-inner--medium;
    padding-top: $spv-inner--medium;
  }

  .p-panel--demo-aside {
    border-left: 1px solid $colors--light-theme--border-low-contrast;
  }

  .p-panel--demo-overlay {
    @extend %panel-drop-shadow;

    background: $colors--light-theme--background-default;
  }
}
