@mixin vf-l-application {
  $header-padding-bottom: $sp-unit * 6;

  %panel-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: $header-padding-bottom;
    padding-top: $spv-outer--medium;
  }

  %panel-drop-shadow {
    box-shadow: 0 0 2rem 0 rgba($color-x-dark, $shadow-opacity);
  }

  .l-application {
    display: grid;
    grid-template-areas:
      'nav  navbar navbar'
      'nav  main   aside'
      'nav  status status';
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
    width: 100vw;

    // temporary, as I don't want to change the global setting
    & .u-fixed-width {
      max-width: 95rem;
    }
  }

  // Top navigation bar to toggle side navigation on small screens
  .l-navigation-bar {
    grid-area: navbar;
  }

  .l-header-toolbar {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
  }

  // Navigation panel/drawer
  .l-navigation {
    bottom: 0;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 102; // consistent with side-navigation component, above global nav

    @media (min-width: $breakpoint-x-small) {
      width: auto;
    }

    &.is-collapsed {
      width: 0;
    }

    &__header {
      @extend %vf-grid-container-padding;
      @extend %panel-header;

      display: flex;
      justify-content: space-between;
    }

    &__logo {
      display: block;
      max-height: 1.5rem;
      width: auto;
    }

    &.has-brand-background {
      background: $color-brand-background;
    }
  }

  $layout-navigation-collapsed-width: 3rem;
  $layout-navigation-expanded-width: 15rem;

  .l-navigation__content {
    width: auto;

    @media (min-width: $breakpoint-x-small) {
      width: $layout-navigation-expanded-width;
    }
  }

  @media (min-width: $breakpoint-small) {
    .l-navigation-bar {
      display: none;
    }

    .l-application {
      grid-template-columns: $layout-navigation-collapsed-width 1fr min-content;
    }

    .l-navigation {
      transition: width 100ms;
      width: $layout-navigation-collapsed-width;

      &.is-collapsed {
        width: $layout-navigation-collapsed-width;
      }
    }

    .l-navigation:hover {
      width: $layout-navigation-expanded-width;
    }

    .l-application.has-pinned-navigation {
      grid-template-columns: min-content 1fr min-content;

      & .l-navigation {
        grid-area: nav;
        position: static;
        width: $layout-navigation-expanded-width;
      }
    }
  }

  @media (min-width: $breakpoint-large) {
    .l-application {
      grid-template-columns: min-content 1fr min-content;
    }

    .l-navigation {
      grid-area: nav;
      position: static;
      width: $layout-navigation-expanded-width;

      &.is-collapsed {
        width: $layout-navigation-expanded-width;
      }
    }
  }

  .l-main {
    grid-area: main;
    overflow-y: auto;

    &__header {
      @extend %panel-header;
    }
  }

  .l-status {
    @extend %vf-grid-container-padding;

    background-color: $colors--light-theme--background-alt;
    border-top: 1px solid $colors--light-theme--border-low-contrast;
    display: flex;
    grid-area: status;
    justify-content: space-between;
    padding-bottom: $spv-inner--medium;
    padding-top: $spv-inner--medium;
    z-index: 103;
  }

  .l-aside {
    border-left: 1px solid $colors--light-theme--border-low-contrast;
    grid-area: aside;
    z-index: 101; // below side nav, above anything else

    &__header {
      @extend %panel-header;
    }
  }

  .l-overlay {
    @extend %panel-drop-shadow;

    background: $colors--light-theme--background-default;
    grid-area: main;
    justify-self: right;
    overflow-y: auto;
    z-index: 101; // below side nav, above anything else

    &__header {
      @extend %panel-header;
    }
  }
}
