@import 'layouts_application-panels';

@mixin vf-l-application {
  .l-application {
    display: grid;
    grid-template-areas:
      'nav  navbar navbar'
      'nav  main   aside'
      'nav  status status';
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
    width: 100vw;
  }

  $panel-drop-shadow: 0 0 2rem 0 rgba($color-x-dark, $shadow-opacity);
  $panel-drop-shadow-transparent: 0 0 0 0 transparent;

  // Top navigation bar to toggle side navigation on small screens
  .l-navigation-bar {
    grid-area: navbar;
  }

  // Navigation panel/drawer
  .l-navigation {
    bottom: 0;
    box-shadow: $panel-drop-shadow;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 103; // consistent with side-navigation component, above global nav

    @media (min-width: $breakpoint-x-small) {
      width: auto;
    }

    &.is-collapsed {
      width: 0;
    }
  }

  $layout-navigation-collapsed-width: 3rem;
  $layout-navigation-expanded-width: 15rem;

  .l-navigation__drawer {
    height: 100vh;
    width: auto;

    @media (min-width: $breakpoint-x-small) {
      width: $layout-navigation-expanded-width;
    }
  }

  @media (min-width: $breakpoint-medium) {
    .l-navigation-bar {
      // use navigation bar as a grid spacer for collapsed navigation
      grid-area: nav;
      overflow: hidden;
      width: $layout-navigation-collapsed-width;
    }

    .l-navigation {
      @include vf-animation(
        $property: (
          width,
          box-shadow,
        ),
        $duration: fast
      );

      box-shadow: $panel-drop-shadow-transparent;
      width: $layout-navigation-collapsed-width;

      &.is-collapsed {
        width: $layout-navigation-collapsed-width;
      }
    }

    .l-navigation:hover {
      box-shadow: $panel-drop-shadow;
      width: $layout-navigation-expanded-width;
    }

    .l-navigation.is-pinned {
      box-shadow: $panel-drop-shadow-transparent;
      grid-area: nav;
      position: static;
      width: $layout-navigation-expanded-width;
    }
  }

  @media (min-width: $breakpoint-large) {
    .l-navigation-bar {
      // hide navigation bar completely when not needed
      display: none;
    }

    .l-navigation {
      box-shadow: none;
      grid-area: nav;
      position: static;
      width: $layout-navigation-expanded-width;

      &:hover {
        box-shadow: none;
      }

      &.is-collapsed {
        width: $layout-navigation-expanded-width;
      }
    }
  }

  .l-main {
    grid-area: main;
    overflow-y: auto;
  }

  .l-status {
    border-top: 1px solid $colors--light-theme--border-low-contrast;
    grid-area: status;
    z-index: 102;
  }

  .l-aside {
    box-shadow: $panel-drop-shadow;
    grid-area: main;
    justify-self: right;
    overflow-y: auto;
    z-index: 101; // below side nav, above anything else

    &.is-pinned {
      border-left: 1px solid $colors--light-theme--border-low-contrast;
      box-shadow: none;
      grid-area: aside;
      justify-self: auto;
    }
  }

  @include vf-l-application-panels;

  // minimal demo styling
  // FIXME: this should be removed from framework SCSS
  // (see https://github.com/canonical-web-and-design/vanilla-framework/issues/3199)
  .l-application.app-demo {
    & > .l-navigation-bar,
    & > .l-navigation .l-navigation__drawer,
    & > .l-main,
    & > .l-aside,
    & > .l-status {
      padding: $spv-inner--large;
    }

    & > .l-navigation-bar,
    & > .l-navigation .l-navigation__drawer {
      background: $color-dark;
    }

    & > .l-navigation-bar {
      padding-bottom: $spv-inner--x-small;
      padding-top: $spv-inner--x-small;
    }

    & > .l-aside {
      background: $color-x-light;
      max-width: 100vw;
      width: 400px;
    }

    & > .l-status {
      background: $color-light;
      padding-bottom: $spv-inner--small;
      padding-top: $spv-inner--small;
    }
  }
}
