@mixin vf-l-documentation {
  body {
    position: relative;
  }

  .l-side-navigation {
    position: fixed;
    z-index: 100;
  }

  .p-navigation__tagged-logo {
    min-width: auto;
  }
  @media (min-width: 1036px) {
    .l-side-navigation {
      align-self: start;
      background: #f7f7f7;
      display: block;
      grid-area: nav;
      height: 100vh;
      overflow: scroll;
      position: sticky;
      top: 0;
    }

    .p-side-navigation .p-side-navigation__drawer {
      background: #f7f7f7;
    }
    .l-documentation {
      display: grid;
      grid-template-areas:
        'navbar navbar'
        'nav    main  ';
      grid-template-columns: 15rem minmax(0, 1fr);
      grid-template-rows: min-content 1fr;
    }
    .l-documentation.no-sidebar {
      grid-template-columns: 0 minmax(0, 1fr);
    }

    .p-navigation__tagged-logo {
      min-width: 13.5rem;
    }

    .side-nav-toggle {
      display: none;
    }
  }

  .l-documentation .l-main .row,
  .l-documentation .l-main .u-fixed-width {
    margin-left: 0;
  }

  .l-documentation.no-sidebar .l-main .row,
  .l-documentation.no-sidebar .l-main .u-fixed-width {
    margin-left: auto;
  }

  @media (min-width: 100rem) {
    .l-documentation {
      grid-template-areas:
        'navbar navbar navbar'
        'nav    main   aside';
      grid-template-columns: 15rem minmax(0, 1fr) 15rem;
    }

    .l-documentation.no-sidebar {
      grid-template-areas:
        'navbar navbar navbar'
        'nav    main   aside';
      grid-template-columns: 0 minmax(0, 1fr) 0;
    }

    .l-documentation .l-main .row,
    .l-documentation .l-main .u-fixed-width {
      margin-left: auto;
    }
  }

  .p-navigation {
    grid-area: navbar;
  }

  .l-main {
    grid-area: main;
  }

  .u-fixed-width.p-navigation__nav {
    /* width: auto; */
    margin: auto;
  }

  .p-navigation--right {
    margin-left: auto;
  }

  @media (min-width: 100rem) {
    .p-navigation__grid {
      display: grid;
      grid-template-areas: 'logo menu search';
      grid-template-columns: 15rem minmax(0, 1fr) 15rem;
      grid-template-rows: min-content;
      overflow: hidden;
      width: 100vw;
    }

    .p-navigation__fixed-width {
      margin-left: auto;
      margin-right: auto;
      max-width: 72rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      width: 100%;
    }
  }
}
