// Equal heights makes all immediate child divs and li's heights equal
@mixin vf-equal-heights {
  @include vf-equal-height;
  @include vf-vertical-divider;
}

@mixin vf-equal-height {
  .u-equal-height {
    @extend %equal-height;
  }

  @include vf-align-vertically();
}

// Sets the element to center an inner element vertically. Has to be used in conjunction with equal-height and if it's an image it'll need u-text-center, too.
@mixin vf-align-vertically {
  @media only screen and (min-width : $breakpoint-medium) {
    .u-equal-height__align-vertically {
      align-items: center;
      justify-content: center;
    }
  }
}

// Vertical divider applies a vertical divider between columns inside parent
@mixin vf-vertical-divider {
  .u-equal-height--vertical-divider {
    @extend %equal-height;
    margin-left: 0;
    padding-left: 0;

    @media only screen and (min-width : $breakpoint-medium) {
      position: relative;

      &__item {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);

        &:before {
          content: '';
          position: absolute;
          right: -($grid-gutter-width / 2);
          top: 0;
          height: 100%;
          width: 1px;
          border-right: 1px dotted $color-warm-grey;
        }
      }

      .last-col,
      &__item:last-of-type {
        padding-right: 0;

        &:before {
          border-right: 0;
        }
      }

      &__item:first-of-type {
        padding-left: 0;
      }
    }

    @media only screen and (max-width : $breakpoint-medium) {
      .u-equal-height--vertical-divider {
        &__item {
          border-bottom: 1px dotted $color-warm-grey;
          padding-bottom: 1rem;
        }

        &__item:last-of-type {
          border-bottom: 0;
          padding-bottom: inherit;
        }
      }
    }
  }
}

// Default equal-height pattern styles
%equal-height {
  @media only screen and (min-width : $breakpoint-medium) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;

    .u-equal-height__item {
      display: flex;
      flex: auto;
      flex-direction: column;
    }
  }
}
