@import 'settings';
@import 'patterns_icons';
@include vf-p-icon-contextual-menu;

@mixin vf-p-pagination {
  .p-pagination {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    &__item {
      margin-right: $sph-intra--condensed;
      width: auto;

      &:first-child,
      &:nth-last-child(2) {
        margin-right: $sph-intra;
      }

      &--truncation {
        margin: .3rem $sph-intra 0 $sph-intra--condensed;
      }
    }

    &__link {
      border-color: $color-mid;
      border-radius: $border-radius;
      border-style: solid;
      border-width: 1px;
      color: $color-x-dark;
      display: block;
      padding: $spv-intra $sph-intra;
      text-decoration: none;


      &.is-disabled {
        opacity: .5;

        &:hover {
          background-color: transparent;
        }
      }

      &:hover,
      &:focus,
      &.is-active {
        background-color: darken($color-x-light, 10%);
        border-color: $color-mid;
        text-decoration: none;
      }

      &:active {
        background-color: darken($color-x-light, 15%);
        border-color: $color-mid;
      }

      &--previous,
      &--next {
        @extend .p-pagination__link; // sass-lint:disable-line placeholder-in-extend
        padding-left: $sph-intra--condensed;
        padding-right: $sph-intra--condensed;
      }

      &--previous .p-icon--contextual-menu {
        transform: rotate(.25turn);
      }

      &--next .p-icon--contextual-menu {
        transform: rotate(-.25turn);
      }
    }
  }
}
