// Default header styling
@mixin vf-p-navigation {
  .p-navigation {
    @extend %clearfix;
    background-color: $color-brand;
    color: $color-x-light;
    margin-bottom: 2rem;
    position: relative;
    width: 100%;

    @media (min-width: $breakpoint-medium) {
      display: flex;
    }

    &__toggle--open,
    &__toggle--close,
    &__link {
      &:visited {
        color: $color-x-light;
      }
    }

    &__link {

      &:hover {
        text-decoration: underline;
      }
    }

    &:target &__toggle--open {
      display: none;
    }

    &__toggle--close {
      display: none;
    }

    &__toggle {

      &--open,
      &--close {
        float: right;
        margin: 1rem;

        @media (min-width: $breakpoint-medium) {
          display: none;
        }
      }
    }

    @media (max-width: $breakpoint-medium) {
      &:target &__toggle--close {
        display: inline-block;
      }
    }

    &__logo {
      align-items: center;
      display: flex;
      float: left;
      font-size: 1.2rem;
      margin: 1rem;

      @media (min-width: $breakpoint-medium) {
        margin: 0 1rem;
      }
    }

    &__link {
      border-bottom: 0;  // For when this class is applied to an <a> directly
      display: block;

      & > a {
        // For when this class is applied to something that contains <a>s, e.g.:
        // <li class="p-navigation__list"><a></a></li>
        border-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $breakpoint-medium) {
        display: block;
        float: left;
        width: auto;
      }
    }

    &__links {
      background-color: $color-mid-light;
      clear: both;
      margin: 0; // For if this class is applied to a <ul>
      padding: 0; // For if this class is applied to a <ul>

      @media (min-width: $breakpoint-medium) {
        background-color: transparent;
        clear: none;
        float: left;
      }


      .p-navigation__link {
        border-left: 1px solid $color-x-light;
        padding: 1rem;

        &:last-of-type {
          border-right: 1px solid $color-x-light;
        }

        @media (max-width: $breakpoint-medium) {
          background-color: $color-light;
          border: 0;
          border-bottom: 1px solid $color-mid-light;
          color: $color-dark;
          text-align: left;

          &:last-of-type {
            border-bottom: 0;
          }
        }
      }
    }

    &__nav {
      display: none;

      @media (min-width: $breakpoint-medium) {
        display: block;
      }
    }

    &:target &__nav {
      display: block;
    }
  }
}
