@import 'settings';

@mixin vf-p-form-password-toggle {
  .p-form-password-toggle {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    .p-button--base {
      @media (max-width: $breakpoint-small) {
        width: auto !important;
      }
    }
  }

  .p-form-password-toggle__label {
    display: inline-block;
    margin-right: $sp-xx-small;
  }
}
