/*
  @classreference
  cta-block:
    CTA Block:
      .p-cta-block:
        Main element of the CTA block.
      "&.is-borderless":
        Borderless variant, to be used to hide top border.
*/

@import 'settings';

@mixin vf-p-cta-block {
  .p-cta-block {
    align-items: baseline;
    border-top: 1px solid $colors--theme--border-low-contrast;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: $spv--x-large;
    padding-top: $spv--small;

    &.is-borderless {
      border: none;
    }
  }
}
