@import 'settings';

@mixin vf-p-side-navigation {
  .p-side-navigation__list {
    @extend %vf-list;

    .p-side-navigation > &:first-child {
      // nudge from top to put text on baseline grid
      padding-top: 0.5 * $spv-inner--x-small;
    }

    & + & {
      @extend %vf-pseudo-border--top;

      &::after {
        left: $sph-inner;
        top: -0.5 * $spv-outer--scaleable; // place border in the middle of the margin
      }
    }
  }

  .p-side-navigation__item--title {
    font-weight: $font-weight-bold;
  }

  .p-side-navigation__text,
  .p-side-navigation__link {
    display: block;
    padding: $spv-inner--x-small $sph-inner--small $spv-inner--x-small $sph-inner;

    &.is-active,
    &.is-selected {
      font-weight: $font-weight-bold;
    }

    // nested 2 or 3 levels
    .p-side-navigation__item .p-side-navigation__item & {
      padding-left: 2 * $sph-inner;
    }

    .p-side-navigation__item .p-side-navigation__item .p-side-navigation__item & {
      padding-left: 3 * $sph-inner;
    }
  }

  .p-side-navigation__link {
    @include vf-focus;

    &:hover {
      text-decoration: none;
    }
  }

  // default light theme
  @include vf-side-navigation-theme;
}

// theme
@mixin vf-side-navigation-theme(
  // default text color in sidebar
    $color-sidenav-text-default: $color-mid-dark,
  // text color of highlighted items
    $color-sidenav-text-active: $color-dark,
  // background color of active/hovered items
    $color-sidenav-item-background-highlight: $color-light,
  // border color of active item
    $color-sidenav-item-border-highlight: $color-brand,
  // border color of items list
    $color-sidenav-list-border: $color-mid-x-light
) {
  .p-side-navigation {
    color: $color-sidenav-text-default;
  }

  .p-side-navigation__list::after {
    background: $color-sidenav-list-border;
  }

  .p-side-navigation__text.is-selected {
    color: $color-sidenav-text-active;
  }

  .p-side-navigation__link {
    &,
    &:visited {
      color: $color-sidenav-text-default;
    }

    &:hover,
    &.is-active,
    &.is-selected {
      color: $color-sidenav-text-active;
    }

    &:hover,
    &.is-active {
      background: $color-sidenav-item-background-highlight;
    }

    &.is-active {
      @include vf-highlight-bar($color-sidenav-item-border-highlight, left);
    }
  }
}
