@import 'settings';

// This file imports Shelves Grid framework
// http://shelvesgrid.org/
// The settings below can be changed in _settings_grid.scss
$shelves-max-width: $grid-max-width;
$shelves-columns: $grid-columns;
$shelves-gutter: $grid-gutter-width;
$shelves-tablet-breakpoint: $breakpoint-medium;
$shelves-mobile-breakpoint: $breakpoint-small;
$shelves-column-name: $grid-col-name;

@import
'grid/shelves',
'grid/shelves-grid';

.wrapper {
  margin-top: 0;
}

// Add vertical padding to add spacing when columns stack on small screens.
[class*="col-"],
.row {
  margin-top: 0;
}

@include on-tablet-down {
  [class*="col-"] + [class*="col-"] {
    margin-top: $grid-gutter-width;
  }
}
