// Image grid to showcase group of images
@mixin vf-p-image-grid {

  .p-image-grid {
    @extend %clearfix;
    display: block;
    text-align: center;

    &__img {
      display: inline-block;
      padding: .5rem;
      text-align: center;
    }
  }
}
