@import 'settings';

@mixin vf-p-heading-icon {
  .p-heading-icon {
    margin-bottom: $spv-inter--regular;

    @media (min-width: $breakpoint-medium) {
      margin-bottom: 0;
    }

    &__header {
      display: flex;
      // Match adjustment of margin-top on paragraphs that are following a heading.
      // Necessary because in this pattern the heading and paragraph are not in the same parent, so h3 + p rules do not apply
      margin-bottom: $spv-p-after-heading-adjustment;

      &.is-stacked {
        display: inherit;
      }
    }

    &__img {
      flex-shrink: 0;
      height: map-get($icon-sizes, heading-icon--small);
      margin-bottom: $spv-intra;
      margin-right: $sph-intra;
      margin-top: -#{$spv-intra};
      width: map-get($icon-sizes, heading-icon--small);

      @media (max-width: $breakpoint-medium) {
        margin-top: 0;
      }

      @media (min-width: $breakpoint-medium) {
        height: map-get($icon-sizes, heading-icon);
        width: map-get($icon-sizes, heading-icon);
      }
    }
  }

  .p-heading-icon--small {
    .p-heading-icon__img {
      height: map-get($icon-sizes, heading-icon--x-small);
      width: map-get($icon-sizes, heading-icon--x-small);

      @media (max-width: $breakpoint-medium) {
        margin-top: $spv-intra--condensed;
      }

      @media (min-width: $breakpoint-medium) {
        height: map-get($icon-sizes, heading-icon--small);
        width: map-get($icon-sizes, heading-icon--small);
        margin-top: 0;
      }
    }
  }
}
