@import 'settings';
$notification-content-vert-padding: $spv-inner--small;
$notification-content-icon-space: 2 * $sph-inner + map-get($icon-sizes, default);
$notification-icon-vert-offset: 0.6rem;
$notification-text-margin-bottom: 0.6rem;

// Notification style patterns
@mixin vf-p-notification {
  // The mixin for basic notification styling
  %vf-notification {
    @extend %vf-is-bordered;
    @extend %vf-bg--x-light;

    background-position: $sph-inner $notification-icon-vert-offset;
    background-repeat: no-repeat;
    background-size: map-get($icon-sizes, default);
    border-radius: 0 $border-radius $border-radius 0;
    margin-bottom: $spv-outer--scaleable;
    margin-top: -1px;
    padding-left: $notification-content-icon-space;
    position: relative;

    &::before {
      left: -1px !important;
    }

    &.is-borderless {
      background-color: transparent;
      background-position-x: 0;
      border-color: transparent;
      margin-top: 0;
      padding: 0 0 0 2 * $sph-inner;

      &::before {
        display: none;
      }
    }

    &.is-inline {
      .p-notification__content {
        margin-bottom: $notification-text-margin-bottom;
        padding-top: map-get($nudges, nudge--p) + map-get($browser-rounding-compensations, h5);
      }

      .p-notification__title,
      .p-notification__message {
        display: inline;
        margin: 0;
        padding: 0;
      }
    }

    &.is-modal {
      @extend %vf-has-box-shadow;

      border-color: transparent;

      .p-notification__actions:only-child {
        margin-left: unset;
      }

      &::before {
        display: none;
      }
    }

    &.is-raised {
      @extend %vf-has-box-shadow--deep;

      border-color: transparent;
    }

    &.is-unread {
      .p-notification__title {
        position: relative;

        &::after {
          @include vf-icon-status-small($color-link);
          @include vf-icon-size($default-icon-size);

          content: '';
          position: absolute;
          top: $notification-icon-vert-offset + map-get($nudges, nudge--small);
        }
      }
    }
  }

  .p-notification__content {
    padding-right: 2 * $sph-inner;
  }

  .p-notification__title {
    @extend %vf-heading-5;

    margin-bottom: 0.1rem;
  }

  .p-notification__message {
    @extend %default-text;

    margin-bottom: $notification-text-margin-bottom;
  }

  .p-notification__close {
    @extend %vf-hide-text;
    @include vf-icon-close($color-mid-dark);

    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: unset;
    border: 0;
    position: absolute;
    right: $sph-inner / 2;
    top: $spv-outer--small;
    width: $default-icon-size;
  }

  .p-notification__meta {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding-right: $sph-inner;
  }

  .p-notification__time {
    @extend %default-text;
    @extend %muted-text;

    margin-bottom: $notification-text-margin-bottom;
  }

  .p-notification__actions {
    display: flex;
    margin-bottom: $notification-text-margin-bottom;

    &:only-child {
      margin-left: auto;
    }
  }

  .p-notification__action {
    margin: 0;

    & + & {
      margin-left: $sph-outer;
    }
  }

  @include vf-notifications-default;
  @include vf-notifications-positive;
  @include vf-notifications-caution;
  @include vf-notifications-negative;
  @include vf-notifications-information;
  @include vf-notifications-deprecated;
}

// Default notification styling
@mixin vf-notifications-default {
  .p-notification {
    @extend %vf-notification;
    @include vf-highlight-bar($color-information, left, true);
    @include vf-icon-info($color-mid-dark);
  }
}

// Positive notification styling
@mixin vf-notifications-positive {
  .p-notification--positive {
    @extend %vf-notification;
    @include vf-highlight-bar($color-positive, left, true);
    @include vf-icon-success;
  }
}

// Caution notification styling
@mixin vf-notifications-caution {
  .p-notification--caution {
    @extend %vf-notification;
    @include vf-highlight-bar($color-caution, left, true);
    @include vf-icon-warning;
  }
}

// Negative notification styling
@mixin vf-notifications-negative {
  .p-notification--negative {
    @extend %vf-notification;
    @include vf-highlight-bar($color-negative, left, true);
    @include vf-icon-error;
  }
}

// Information notification styling
@mixin vf-notifications-information {
  .p-notification--information {
    @extend %vf-notification;
    @include vf-highlight-bar($color-information, left, true);
    @include vf-icon-info($color-mid-dark);
  }
}

@mixin vf-notifications-deprecated {
  @include deprecate('3.0.0', 'Use new notification structure instead') {
    [class='p-notification'],
    [class^='p-notification--'] {
      position: relative;

      .p-notification__response {
        margin-bottom: $notification-text-margin-bottom;
        padding-top: map-get($nudges, nudge--p) + map-get($browser-rounding-compensations, p);
      }

      .p-notification__status {
        @extend %bold;

        display: block;
      }

      .p-notification__status::after,
      .p-notification__action::before {
        content: ' ';
      }

      .p-notification__response,
      .p-notification--floating {
        max-width: unset;
      }

      .p-icon--close {
        background-color: transparent;
        background-size: map-get($icon-sizes, default);
        border: 0;
        padding: $sp-unit;
        position: absolute;
        right: $sph-inner;
        top: $notification-content-vert-padding + $notification-icon-vert-offset;
      }
    }
  }
}
