@mixin vf-p-navigation-reduced {
  .p-navigation--reduced {
    position: relative;

    .p-navigation__logo-tag {
      display: none;
    }

    .p-navigation__tagged-logo {
      .p-navigation__link {
        padding-left: 0;
      }
    }

    .p-navigation__link,
    .p-navigation__logo-title {
      color: $color-x-light;
      line-height: map-get($line-heights, small);
      font-size: 1rem;
    }

    @media (min-width: $breakpoint-navigation-threshold - 1) {
      .p-navigation__items:first-child {
        margin-left: -1rem;
      }

      .p-navigation__link,
      .p-navigation__logo-title {
        color: $color-mid-light;
        font-size: #{map-get($font-sizes, small)}rem;
        line-height: map-get($line-heights, x-small);
        margin: 0;
      }

      .p-navigation__link::after {
        top: 0.75rem;
      }
    }

    .p-navigation__link--search-toggle {
      @media (min-width: $breakpoint-navigation-threshold - 1) {
        &::after {
          top: 0.5rem;
          right: 1.5rem;
        }
      }

      .p-navigation__search-label {
        display: none;
      }
    }

    @media (min-width: $breakpoint-navigation-threshold - 1) {
      &.has-search-open {
        .p-navigation__nav .p-navigation__items {
          display: inline-flex;
        }

        .p-navigation__search {
          background-color: $colors--dark-theme--background-default;
          justify-content: center;
          left: 0;
          padding: 0.625rem 1rem;
          position: absolute;
          top: 2rem;
          width: 100%;

          .p-search-box {
            margin: 0;
            max-width: 50rem;
          }
        }

        .p-navigation.is-secondary {
          display: none;
        }
      }
    }

    @media (min-width: $breakpoint-navigation-threshold) {
      background-color: $color-dark;

      .p-navigation__link {
        padding: 0.5rem 1rem 0.5rem 1rem;
      }

      .p-navigation__item--dropdown-toggle .p-navigation__link {
        padding-right: 2rem;

        &::after {
          top: 0.5rem;
        }
      }

      .p-navigation__item--dropdown-toggle.is-active {
        background-color: $colors--theme--background-default;
      }
    }
  }

  .p-navigation.is-secondary {
    position: sticky;
    top: 0;
    z-index: 9;

    .p-navigation__nav.is-open {
      display: flex;

      .p-navigation__items {
        display: block;
      }
    }

    .p-navigation__toggle--open.is-open {
      transform: rotate(-180deg);
    }
  }
}