// Default list styling
@mixin vf-p-lists {
  @include vf-p-list;
  @include vf-p-list-divided;
  @include vf-p-list-item-state;
  @include vf-p-inline-list;
  @include vf-p-inline-list-middot;
  @include vf-p-stepped-list;
}

@function svg-tick($color) {
  @if type-of($color) != 'color' {
    @warn '#{$color} is not a color.';
    @return false;
  }
  @return url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Ccircle fill='" + url-friendly-color($color) + "' cx='7' cy='7' r='7'/%3E%3Cpath fill='%23fff' d='M6.1 10.813L2.41 8.105l1.184-1.613L5.9 8.187l4.393-4.394 1.414 1.414z' /%3E%3C/svg%3E");
}

// List styling using list class
@mixin vf-p-list {
  .p-list {
    @extend %list;

    &__item {
      margin-bottom: .6667rem;
    }
  }
}

// A list with separators between items
@mixin vf-p-list-divided {
  .p-list--divided {
    @extend %list;

    .p-list__item {
      @extend %list-item;
      @extend %list-item-divided;
    }
  }
}

// Displays item with a tick bullet
@mixin vf-p-list-item-state {
  .is-ticked {
    background-image: svg-tick($color-mid-dark);
    background-position: 0 .25rem;
    background-repeat: no-repeat;
    padding-left: 25px;

    .p-list--divided & {
      background-position: 0 1rem;
    }
  }
}

// Displays a list inline with spacing
@mixin vf-p-inline-list {
  .p-inline-list {
    margin-left: 0;
    padding-left: 0;

    &__item {
      @extend %inline-list-item;
    }
  }
}

// Displays a list inline with items separated by dots
@mixin vf-p-inline-list-middot {
  .p-inline-list--middot {
    margin-left: 0;
    padding-left: 0;

    .p-inline-list__item {
      @extend %inline-list-item;
      position: relative;

      &::after {
        color: $color-mid-dark;
        content: '\00b7';
        font-size: 1.4rem;
        line-height: 0;
        position: absolute;
        right: -1rem;
        top: .55rem;
      }

      &:hover::after {
        color: $color-mid-dark;
      }

      &:last-of-type,
      .last-item {
        &::after {
          content: '';
        }
      }
    }
  }
}

// Displays a step by step list of instructions
@mixin vf-p-stepped-list {
  .p-list-step {
    @extend %clearfix;
    list-style: none;
    margin-left: $grid-gutter-width * 3;
    padding: 0;

    &__title {
      position: relative;
    }

    &__item {
      clear: both;
      margin-left: 0;
      width: 100%;

      &:first-child {
        margin-top: .75rem;
      }
    }
  }

  @media only screen and (min-width: $breakpoint-large) {

    .p-list-step__item:first-child {
      margin-top: 0;
    }

    .p-list-step__title {
      margin-bottom: 0;
    }
  }

  .p-list-step__bullet {
    background: $color-mid-dark;
    border-radius: 50%;
    color: $color-x-light;
    display: inline-block;
    font-size: 1.5rem;
    height: 50px;
    margin-bottom: .625rem;
    margin-left: -$grid-gutter-width * 3;
    margin-right: .34375rem;
    padding: .65rem 1.15rem;
    text-align: center;
    width: 50px;

    @media only screen and (max-width: $breakpoint-large) {
      position: absolute;
      top: -5px;
    }
  }
}

// Placeholder for basic styled lists
%list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

// Placeholder for list items
%list-item {
  margin-bottom: 0;
  padding-bottom: .63rem;
  padding-top: .63rem;
}

%list-item-divided {
  border-bottom: 1px dotted $color-mid-light;

  &:last-of-type,
  .last-item {
    border-bottom: 0;
  }
}

// Placeholder for inline list items
%inline-list-item {
  display: inline;
  list-style: none;
  margin-right: 1.25rem;

  &:last-of-type,
  .last-item {
    margin-right: 0;
  }
}
