@import 'settings';

@mixin vf-p-badge {
  %vf-badge {
    @extend %x-small-text;
    background-color: $color-dark;
    color: white;
    box-sizing: content-box;
    max-width: 4ch;
    overflow: hidden;
    border-radius: 1rem;
    padding: 0 $spv--x-small;
    margin-bottom: 0;
  }

  .p-badge,
  .p-badge--negative {
    @extend %vf-badge;
  }

  .p-badge--negative {
    background-color: $color-negative;
  }
}
