// Default breadcrumbs styling
@mixin vf-p-headings {
  .p-heading {

    &--one {
      @extend %heading-1;
    }

    &--two {
      @extend %heading-2;
    }

    &--three {
      @extend %heading-3;
    }

    &--four {
      @extend %heading-4;
    }

    &--five {
      @extend %heading-5;
    }

    &--six {
      @extend %heading-6;
    }
  }
}
