@import 'settings';

@mixin vf-p-divider {
  .p-divider {
    @extend %vf-row;
  }

  .p-divider__block {
    position: relative;

    @media (max-width: $threshold-6-12-col) {
      padding-bottom: $spv-outer--scaleable;
      padding-top: $spv-inner--scaleable;

      &:not(:first-child) {
        &::before {
          background-color: $color-mid-light;
          content: '';
          height: 1px;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }

    @media (min-width: $threshold-6-12-col) {
      &:not(:first-child)::before {
        background-color: $color-mid-light;
        bottom: 0;
        content: '';
        left: map-get($grid-gutter-widths, large) * -0.5; // "large" here is not a typo. The grid switches to 12 columns at breakpoint medium. Hence the use of large-screen gutter
        position: absolute;
        top: 0;
        width: 1px;
      }
    }
  }
}
