@import 'settings';

@mixin vf-p-subnav {
  @include deprecate('3.0.0', '.p-subnav will be removed, use .p-navigation__item--dropdown-toggle instead') {
    $color-navigation-background: $color-x-light !default;
    $subnav-vertical-padding: $spv-inner--large;

    .p-subnav {
      position: relative;
    }

    .p-subnav::after {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: $spv-inner--large;
      pointer-events: none;
      position: absolute;
      right: map-get($grid-margin-widths, small);
      text-indent: calc(100% + 10rem);
      top: calc(#{$spv-inner--large} + #{map-get($nudges, nudge--x-small)});
      width: map-get($icon-sizes, default);

      @media (min-width: $threshold-4-6-col) {
        right: map-get($grid-margin-widths, medium);
      }

      @media (min-width: $breakpoint-navigation-threshold) {
        right: calc(#{$sph-inner--small} + 1px); // 1px for the border on selects. this aligns it with any selects underneath
      }
    }

    .p-subnav__items,
    .p-subnav__items--right {
      @extend %vf-has-box-shadow;
      @extend %vf-has-round-corners;

      display: none;
      margin: 0;
      min-width: 100%;
      padding: 0;
      z-index: 5;

      @media (min-width: $breakpoint-navigation-threshold) {
        position: absolute;
        // padding applied to .p-navigation__link + line-heigh of the anchor text inside
        top: $subnav-vertical-padding * 2 + map-get($line-heights, default-text);
      }

      @media (max-width: $breakpoint-navigation-threshold - 1) {
        box-shadow: none;
      }
    }

    .p-subnav__items--right {
      right: 0;
    }

    .p-subnav.is-active {
      &::after {
        transform: rotate(180deg);
      }

      .p-subnav__items,
      .p-subnav__items--right {
        display: block;
      }
    }

    %subnav-link {
      padding-right: 2 * $sph-inner--small + map-get($icon-sizes, default); // icon padded with the default padding-right of selects, inputs etc.
    }

    .p-subnav__item {
      @extend %navigation-link-responsive-padding-horizontal;

      display: block;
      padding-bottom: $spv-inner--small;
      padding-top: $spv-inner--small;
      white-space: nowrap;

      @media (min-width: $breakpoint-navigation-threshold) {
        padding-bottom: $spv-inner--medium;
        padding-top: $spv-inner--medium;
      }

      &,
      &:active,
      &:focus,
      &:hover,
      &:visited {
        text-decoration: none;
      }
    }

    .p-subnav > .p-navigation__link {
      // remove nesting in 3.0 when deprecated __link styles are removed
      @extend %subnav-link;
    }

    @include deprecate('3.0.0', 'Use .p-navigation__items, .p-navigation__item, .p-navigation__link classes instead.') {
      // stylelint-disable-next-line selector-max-type -- this is deprecated use, will be removed
      .p-subnav > a {
        @extend %subnav-link;
      }
    }

    // Theming
    @if ($theme-default-nav == 'dark') {
      .p-subnav {
        @include vf-subnav-dark-theme;
      }

      .p-subnav.is-light,
      .p-navigation.is-light .p-subnav {
        @include vf-subnav-light-theme;
      }
    } @else {
      .p-subnav {
        @include vf-subnav-light-theme;
      }

      .p-subnav.is-dark,
      .p-navigation.is-dark .p-subnav {
        @include vf-subnav-dark-theme;
      }
    }
  }
}

@mixin vf-subnav-theme(
  // color of the subnav toggle chevron icon
  $color-subnav-icon,
  // color of the subnav items background
  $color-subnav-background,
  // color of the subnav items text
  $color-subnav-text,
  // color of the subnav items background on hover
  $color-subnav-background-hover,
  // color of the subnav items background on active
  $color-subnav-background-active,
  // color of the subnav items text on hover
  $color-subnav-text-hover,
  // color of the subnav items separator on small screens
  $color-subnav-separator
) {
  &::after {
    @include vf-icon-chevron($color-subnav-icon);
  }

  .p-subnav__items {
    background-color: $color-subnav-background;
  }

  .p-subnav__item {
    background-color: $color-subnav-background;

    &,
    &:active,
    &:focus,
    &:visited {
      color: $color-subnav-text;
    }

    &:hover {
      background-color: $color-subnav-background-hover;
      color: $color-subnav-text-hover;
    }

    &:active {
      background: $color-subnav-background-active;
      color: $color-subnav-text-hover;
    }
  }

  &.is-active > .p-navigation__link {
    background: $color-subnav-background-active;
    color: $color-subnav-text-hover;
  }
}

@mixin vf-subnav-light-theme {
  @include vf-subnav-theme(
    $color-subnav-background: $colors--light-theme--background-default,
    $color-subnav-background-hover: $colors--light-theme--background-alt,
    $color-subnav-background-active: $colors--light-theme--background-active,
    $color-subnav-text: $colors--light-theme--text-default,
    $color-subnav-text-hover: $colors--light-theme--text-default,
    $color-subnav-icon: $color-mid-dark,
    $color-subnav-separator: $colors--light-theme--border-default
  );
}

@mixin vf-subnav-dark-theme {
  // FIXME:
  // $color-subnav-icon color should be $colors--dark-theme--text-muted,
  // but vf-url-friendly-color doesn't support rgba(),
  // so we are using #999 as fallback for now
  @include vf-subnav-theme(
    $color-subnav-background: $colors--dark-theme--background-alt,
    $color-subnav-background-hover: $colors--dark-theme--background-hover,
    $color-subnav-background-active: $colors--dark-theme--background-active,
    $color-subnav-text: $colors--dark-theme--text-default,
    $color-subnav-text-hover: $colors--dark-theme--text-default,
    $color-subnav-icon: $color-mid-x-light,
    $color-subnav-separator: $colors--dark-theme--border-default
  );
}
