@import 'settings';

@mixin vf-p-heading-icon {

  .p-heading-icon {

    color: $color-dark;
    margin-bottom: 2rem;

    @media (min-width: $breakpoint-medium) {
      margin-bottom: 0;
    }

    &__header {
      align-items: center;
      display: flex;
      margin-bottom: 1rem;

      @media (min-width: $breakpoint-large) {
        margin-bottom: 1.5rem;
      }
    }

    &__title {
      @include heading-3;
      margin-bottom: 0;
      margin-top: 0;
    }

    &__img {
      align-self: flex-start;
      flex-shrink: 0;
      height: 2.6666rem;
      margin-right: 1rem;
      width: 2.6666rem;

      @media (min-width: $breakpoint-medium) {
        height: 3.75rem;
        width: 3.75rem;
      }
    }
  }
}

