@import 'settings';

@mixin vf-p-grid-modifications {
  @include deprecate('3.0.0', 'vf-p-grid-modifications mixin will be removed') {
    .row {
      width: 100%;
    }
  }
}

// CSS grid implementation of columns for all screens sizes
@mixin vf-grid-column($col) {
  @supports (display: grid) {
    grid-column-end: span #{$col};

    // reset flex box fallback styles
    margin-left: 0;
    width: auto;

    //nesting
    @if $col > 1 {
      & .row {
        grid-template-columns: repeat($col, minmax(0, 1fr));
      }
    }
  }
}

@mixin vf-p-grid {
  // FIXME: this should be removed from framework SCSS
  // (see https://github.com/canonical-web-and-design/vanilla-framework/issues/3199)
  .grid-demo [class*='#{$grid-column-prefix}'] {
    background: transparentize($color-negative, 0.9);
    margin-bottom: $spv-outer--small;
  }

  .row {
    @extend %vf-row;
  }

  // mobile grid
  @media (max-width: $threshold-4-6-col) {
    @for $i from $grid-columns-small through 1 {
      .row .#{$grid-small-col-prefix}#{$i} {
        @include vf-grid-column($i);

        width: 100%;
      }
    }
  }

  // tablet grid
  @media (min-width: $threshold-4-6-col) and (max-width: $threshold-6-12-col) {
    @for $i from $grid-columns-medium through 1 {
      .row .#{$grid-medium-col-prefix}#{$i} {
        @include vf-grid-column($i);

        width: 100%;
      }
    }
  }

  // desktop grid
  @media (min-width: $threshold-6-12-col) {
    @for $i from $grid-columns through 1 {
      // set col-* to span respective number of columns on desktop
      .row .#{$grid-large-col-prefix}#{$i} {
        // on large screens provide flex box column implementation for IE
        // on smaller screens let them display full width one under another
        @include vf-grid-flex-column($i);
        @include vf-grid-column($i);
      }
    }
  }

  // span full grid on other breakpoints; (to match block level element behaviour)
  @for $i from 1 through $grid-columns-small {
    .row .#{$grid-small-col-prefix}#{$i} {
      @extend %span-full-grid-on-tablet;
      @extend %span-full-grid-on-desktop;
      @extend %display-block;
    }
  }

  @for $i from 1 through $grid-columns-medium {
    .row .#{$grid-medium-col-prefix}#{$i} {
      @extend %span-full-grid-on-mobile;
      @extend %span-full-grid-on-desktop;
      @extend %display-block;
    }
  }

  @for $i from 1 through $grid-columns {
    .row .#{$grid-large-col-prefix}#{$i} {
      @extend %span-full-grid-on-mobile;
      @extend %span-full-grid-on-tablet;
      @extend %display-block;
    }
  }

  // column reordering
  $offsets: (
    (small, 0, $threshold-4-6-col, $grid-columns-small - 1),
    (medium, $threshold-4-6-col, $threshold-6-12-col, $grid-columns-medium - 1),
    (large, $threshold-6-12-col, -1, $grid-columns - 1)
  );

  @each $label, $breakpoint-min, $breakpoint-max, $col-count in $offsets {
    $query: null;
    @if $breakpoint-min == 0 {
      $query: '(max-width: #{$breakpoint-max})';
    } @else if $breakpoint-max == -1 {
      $query: '(min-width: #{$breakpoint-min})';
    } @else {
      $query: '(min-width: #{$breakpoint-min}) and (max-width: #{$breakpoint-max})';
    }

    @media #{$query} {
      @for $i from 1 through $col-count {
        .row [class*='#{$grid-column-prefix}'].#{$grid-column-prefix}start-#{$label}-#{$i} {
          grid-column-start: #{$i};
        }

        .#{$grid-column-prefix}order-#{$label}-#{$i} {
          order: #{$i};
        }
      }
    }
  }

  // variants

  .row.is-bordered {
    position: relative;

    &::before {
      background: $color-mid-light;
      content: '';
      height: 1px;
      margin-bottom: calc(#{$spv-inner--scaleable} - 1px);
      position: absolute;

      @media (max-width: $threshold-4-6-col) {
        left: map-get($grid-margin-widths, small);
        right: map-get($grid-margin-widths, small);
      }

      @media (min-width: $threshold-4-6-col) and (max-width: $threshold-6-12-col) {
        left: map-get($grid-margin-widths, medium);
        right: map-get($grid-margin-widths, medium);
      }

      @media (min-width: $threshold-6-12-col) {
        left: map-get($grid-margin-widths, large);
        right: map-get($grid-margin-widths, large);
      }
    }
  }
}

@mixin vf-l-fluid-breakout(
  $l-fluid-breakout-aside-width: $l-fluid-breakout-aside-width,
  $l-fluid-breakout-main-child-width: $l-fluid-breakout-main-child-width,
  $grid-gap: $sp-unit * 2,
  $suffix: ''
) {
  .l-fluid-breakout#{$suffix} {
    grid-gap: 0 0;

    @media (min-width: $breakpoint-large) {
      @supports (display: grid) {
        display: grid;
        grid-template-columns: minmax($l-fluid-breakout-aside-width, 1fr) minmax($l-fluid-breakout-main-child-width, $l-fluid-breakout-max-width) minmax(
            $l-fluid-breakout-aside-width,
            1fr
          );
        grid-template-rows: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 2 * $l-fluid-breakout-aside-width + $l-fluid-breakout-max-width;
      }
    }

    @media (max-width: $threshold-4-6-col) {
      padding-left: map-get($grid-margin-widths, small);
      padding-right: map-get($grid-margin-widths, small);
    }

    @media (min-width: $threshold-4-6-col) and (max-width: $threshold-6-12-col) {
      padding-left: map-get($grid-margin-widths, medium);
      padding-right: map-get($grid-margin-widths, medium);
    }

    @media (min-width: $threshold-6-12-col) and (max-width: $l-fluid-breakout-3-col-threshold) {
      padding-left: map-get($grid-margin-widths, large);
      padding-right: map-get($grid-margin-widths, large);
    }

    @media (min-width: $l-fluid-breakout-3-col-threshold) {
      padding-left: 0;
      padding-right: 0;
      @supports (display: grid) {
        grid-gap: 0 0;
      }
    }

    .l-fluid-breakout__full {
      @supports (display: grid) {
        grid-row: 1;

        @media (min-width: $breakpoint-large) {
          grid-column: 1 / span 3;
        }

        @media (min-width: $l-fluid-breakout-3-col-threshold) {
          padding-left: map-get($grid-margin-widths, large);
          padding-right: map-get($grid-margin-widths, large);

          // stylelint-disable-next-line max-nesting-depth
          & > * {
            grid-column: auto / auto;
          }
        }
      }
    }

    .l-fluid-breakout__main {
      @supports (display: grid) {
        display: grid;
        grid-gap: 0 $grid-gap;
        grid-row: 1;
        -ms-grid-columns: repeat(3, minmax($l-fluid-breakout-main-child-width, 1fr));
        grid-template-columns: repeat(auto-fit, minmax($l-fluid-breakout-main-child-width, 1fr));

        @media (min-width: $breakpoint-large) {
          grid-column: auto / span 2;

          // stylelint-disable-next-line max-nesting-depth
          &.no-aside {
            grid-column: 2 / span 2;
          }
        }

        @media (min-width: $l-fluid-breakout-3-col-threshold) {
          padding-left: map-get($grid-margin-widths, large);
          padding-right: map-get($grid-margin-widths, large);

          // stylelint-disable-next-line max-nesting-depth
          & > * {
            grid-column: auto / auto;
          }
        }
      }
    }

    %l-fluid-breakout__aside-common-properties {
      @media (min-width: $l-fluid-breakout-3-col-threshold) {
        align-items: start;
        display: flex;
      }

      @supports (display: grid) {
        grid-column-end: span 1;
        grid-column-start: auto;
        grid-row: 1 / 100;
      }
    }

    .l-fluid-breakout__aside {
      @extend %l-fluid-breakout__aside-common-properties;

      @media (min-width: $breakpoint-large) and (max-width: $l-fluid-breakout-3-col-threshold) {
        padding-right: map-get($grid-margin-widths, large);
      }

      @media (min-width: $l-fluid-breakout-3-col-threshold) {
        padding-left: map-get($grid-margin-widths, large);
        padding-right: 0;
      }

      justify-content: flex-end;
    }

    .l-fluid-breakout__aside--right {
      @media (min-width: $breakpoint-large) and (max-width: $l-fluid-breakout-3-col-threshold) {
        padding-left: map-get($grid-margin-widths, large);
      }

      @media (min-width: $l-fluid-breakout-3-col-threshold) {
        padding-right: map-get($grid-margin-widths, large);
      }

      @extend %l-fluid-breakout__aside-common-properties;
    }
  }
}
