@import 'settings';

@mixin vf-p-switch {
  .p-switch {
    $knob-size: $sp-unit * 3;
    align-items: stretch;
    border: 0;
    display: inline-flex;
    height: $knob-size;
    padding: initial;
    position: relative;
    width: $knob-size * 2;

    &:focus {
      outline: 1px solid $color-link;
      outline-offset: 3px;
    }

    :first-child,
    :last-child {
      box-shadow: inset 0 2px 5px 0 transparentize($color-dark, .8);
      line-height: $knob-size;
      margin: 0;
      text-align: center;
      width: 50%;
    }

    :first-child {
      background-color: $color-information;
      border-radius: 2px 0 0 2px;
      color: $color-x-light;
    }

    :last-child {
      background-color: $color-mid-light;
      border-radius: 0 2px 2px 0;
    }

    &::before {
      @include vf-animation($duration: slow);

      background-color: $color-x-light;
      border-radius: $border-radius;
      box-shadow: 0 1px 5px 1px transparentize($color-dark, .8);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      max-height: $sp-x-large;
      padding: 0;
      position: absolute;
      top: 0;
      width: 50%;
    }

    &[aria-checked='true'] {
      &::before {
        left: 50%;
      }
    }

    & span {
      @extend %u-hide-text;
    }
  }
}
