@mixin vf-p-logo-section {
  // deprecated, to be removed in future version
  .p-logo-section__title {
    @extend %small-caps-text;
  }

  $logo-section-item-size: 8rem; // height of the logos on large screens;
  $logo-section-item-gap: 3rem;
  $logo-section-offset: 1rem; // offset by which rows are pulled closer together

  .p-logo-section,
  .p-logo-section--dense {
    .p-logo-section__item {
      display: inline-block;
      margin: 0;
      margin-bottom: calc(-1 * $logo-section-offset); // pull the next row of logos up
      margin-right: $logo-section-item-gap;
      margin-top: calc(-1 * $logo-section-offset); // pull the previous row of logos down
    }

    .p-logo-section__logo {
      display: block;
      height: $logo-section-item-size;
      max-width: none; // prevent logos from squishing on small screens
      width: auto;
    }

    .p-logo-section__items {
      line-height: 0; // prevent space between rows of inline logos

      // compensate for the negative margin on the logos
      padding-bottom: $logo-section-offset;
      padding-top: $logo-section-offset;
    }
  }

  .p-logo-section--dense {
    .p-logo-section__item {
      display: inline-block;
      margin: 0;
      margin-bottom: calc(-0.5 * $logo-section-offset); // pull the next row of logos up
      margin-right: calc(0.5 * $logo-section-item-gap);
      margin-top: calc(-0.5 * $logo-section-offset); // pull the previous row of logos down
    }

    .p-logo-section__logo {
      height: calc(0.5 * $logo-section-item-size);
    }

    .p-logo-section__items {
      padding-bottom: calc(0.5 * $logo-section-offset);
      padding-top: calc(0.5 * $logo-section-offset);
    }
  }
}
