@import 'settings';

@mixin vf-p-rule {
  .p-rule--muted {
    background-color: $colors--theme--border-low-contrast;
  }

  .p-rule--highlight {
    @include vf-highlight-bar($colors--theme--text-default);

    &.is-accent {
      @include vf-highlight-bar($color-accent);
    }
  }
}
