@import 'settings';

@mixin vf-validation-wrapper {
  color: $color-dark;
  position: relative;
}

// form validation styling for form inputs
@mixin vf-p-form-validation {
  .p-form-validation {
    @include vf-validation-wrapper;

    .p-form-validation__input {
      // Not using parent selector here as two classes are required to override atribute selectors in reset
      background-position: calc(100% - #{$sph-intra--condensed}) 50%;
      background-repeat: no-repeat;
    }

    .p-form-validation__icon {
      position: relative;

      &::after {
        position: absolute;
        right: $sp-small;
        top: calc(50% - #{$sp-x-small});
      }
    }

    &__message {
      @extend %small-text;

      input + &,
      .p-form-help-text & {
        margin-top: $spv-intra--condensed--scaleable - $input-margin-bottom; //negates input margin and adds the condensed margin
      }
    }
  }

  .is-error {
    .p-form-validation__input {
      background-image: url('#{$assets-path}4b0cd7fc-icon-error.svg');
      border-color: $color-negative;
    }
  }

  .is-success {
    .p-form-validation__input {
      background-image: url('#{$assets-path}94949185-icon-success.svg');
      border-color: $color-positive;
    }
  }

  .is-caution {
    .p-form-validation__input {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16'%3E%3Cg color='%23000'%3E%3Cpath fill='none' d='M0 0h16v16H0z'/%3E%3Cpath stroke-linejoin='round' fill='#{vf-url-friendly-color($color-caution)}' transform='matrix%282.28 0 0 2.437 -2180.8 -490.52%29' stroke='#{vf-url-friendly-color($color-caution)}' stroke-width='.848' d='M963.07 207.03h-6.15l3.08-5.33z'/%3E%3Cpath d='M7 5v5h2V5H7zm0 6v2h2v-2H7z' fill='%23111'/%3E%3C/g%3E%3C/svg%3E");
      border-color: $color-caution;
    }
  }
}
