@import 'settings';

@mixin vf-p-tabs {
  .p-tabs {
    @extend .p-card--highlighted; // sass-lint:disable-line placeholder-in-extend
    border-radius: 0;
    overflow: hidden;
    padding: 0;
    position: relative;

    &::before {
      background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, $color-x-light);// sass-lint:disable-line no-color-literals
      bottom: 0;
      color: $color-mid-dark;
      content: '\203A';
      display: block;
      font-size: 2rem;
      padding-right: $sp-large;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
      width: 100px;
      z-index: 10;

      @media screen and (min-width: $breakpoint-medium) {
        display: none;
      }
    }

    &__list {
      margin: 0 auto;
      overflow: scroll;
      padding: 0 $sp-xxx-large 0 $sp-large;
      position: relative;
      white-space: nowrap;
      width: 100%;

      @media screen and (min-width: $breakpoint-medium) {
        max-width: $grid-max-width;
        overflow: hidden;
        padding: 0 $sp-large;
      }
    }

    &__item {
      display: inline-block;
      float: none;
      margin: 0;
      padding: 0;
      width: auto;

      @media screen and (min-width: $breakpoint-medium) {
        float: left;
      }
    }

    &__link {
      color: $color-x-dark;
      display: inline-block;
      font-size: .875rem;
      padding: $sp-small;

      &:hover {
        border-bottom: 3px solid $color-mid-light;
        text-decoration: none;
      }

      &[aria-selected="true"] {
        border-bottom: 3px solid $color-mid-dark;
      }

      &:visited {
        color: $color-x-dark !important;
      }
    }
  }
}
