// Default button styling
@mixin vf-p-buttons {
  @include button-plain;
  @include button-neutral;
  @include button-brand;
  @include button-positive;
  @include button-negative;
  @include button-base;
}

@mixin button-plain {
  .p-button {
    @include button-pattern (
      $button-disabled-background-color: $color-x-light,
      $button-disabled-border-color: $color-x-light
    );
  }
}

@mixin button-neutral {
  .p-button--neutral {
    @include button-pattern (
      $button-disabled-border-color: $color-mid-dark
    );
  }
}

@mixin button-brand {
  .p-button--brand {
    @include button-pattern (
      $button-background-color: $color-brand,
      $button-border-color: $color-brand,
      $button-text-color: invert($color-brand),
      $button-hover-background-color: darken($color-brand, 10%),
      $button-hover-border-color: darken($color-brand, 10%),
      $button-disabled-background-color: $color-brand,
      $button-disabled-border-color: $color-brand
    );
  }
}

@mixin button-positive {
  .p-button--positive {
    @include button-pattern (
      $button-background-color: $color-positive,
      $button-border-color: $color-positive,
      $button-text-color: $color-x-light,
      $button-hover-background-color: darken($color-positive, 10%),
      $button-hover-border-color: darken($color-positive, 10%),
      $button-disabled-background-color: $color-positive,
      $button-disabled-border-color: $color-positive
    );
  }
}

@mixin button-negative {
  .p-button--negative {
    @include button-pattern (
      $button-background-color: $color-negative,
      $button-border-color: $color-negative,
      $button-text-color: $color-x-light,
      $button-hover-background-color: darken($color-negative, 10%),
      $button-hover-border-color: darken($color-negative, 10%),
      $button-disabled-background-color: $color-negative,
      $button-disabled-border-color: $color-negative
    );
  }
}

@mixin button-base {
  .p-button--base {
    @include button-pattern (
      $button-background-color: $color-transparent,
      $button-border-color: $color-transparent,
      $button-text-color: $color-dark,
      $button-hover-background-color: rgba(0, 0, 0, .1),
      $button-hover-border-color: $color-transparent
    );
  }
}
