@mixin p-card {
  background: $color-x-light;
  border-radius: 2px;
  margin-bottom: $sp-medium;
  padding: 1.25rem;

  &__title {
    margin: 0 0 $sp-x-small;
  }

  &__content {
    margin-bottom: $sp-medium;
  }

  &__footer {
    border-top: 1px solid $color-mid-light;
    padding-top: $sp-medium;
  }

  &__header {
    border-bottom: 1px solid $color-mid-light;
    font-size: $sp-small;
    margin-bottom: $sp-small;
    padding-bottom: $sp-small;

    > img {
      max-height: $sp-x-large;
    }
  }
}

// Card patterns
@mixin vf-p-card {

  .p-card {
    @include p-card;
    border: 1px solid $color-mid-light;

    & & {
      margin-bottom: 0;
    }
  }

  .p-card--highlighted {
    @include p-card;
    box-shadow: 0 1px 5px 1px transparentize($color-dark, .8);
  }
}
