@import 'settings';

@mixin vf-p-accordion {
  $icon-size: map-get($icon-sizes, default);

  .p-accordion__list {
    list-style-type: none;
    margin: 0 0 $spv-outer--scaleable 0;
    padding: 0;
  }

  .p-accordion__group {
    & + & {
      @extend %vf-pseudo-border--top;
    }
  }

  .p-accordion__tab,
  [class*='p-accordion__tab--'] {
    @extend %single-border-text-vpadding--scaling;
    @include vf-focus;

    // calculate icon top position based on top padding (from %single-border-text-vpadding--scaling)
    // and offset to align it with baseline of accordion tab text element
    $icon-top-position: calc(#{$table-cell-vertical-padding} - 1px + 0.25rem);

    background: {
      position: top $icon-top-position left $sph-inner;
      repeat: no-repeat;
    }

    background-color: inherit;
    border: 0;
    border-radius: 0;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-left: $sph-inner + $icon-size + $sph-inner;
    padding-right: $sph-inner;
    text-align: left;
    transition-duration: 0s;
    width: 100%;
    z-index: 2;

    // aria-selected controls the open and closed state for the accordion tab
    &[aria-expanded='true'] {
      @include vf-icon-minus($color-mid-dark);

      background-size: $icon-size;
    }

    &[aria-expanded='false'] {
      @include vf-icon-plus($color-mid-dark);

      background-size: $icon-size;
    }
  }

  .p-accordion__tab--h3 {
    // calculate icon top position based on top padding (from %single-border-text-vpadding--scaling)
    // and offset to align it with baseline of accordion tab h3 element
    $icon-top-position: calc(#{$table-cell-vertical-padding} - 1px + 0.8rem);

    background-position: top $icon-top-position left $sph-inner;
  }

  .p-accordion__tab--h4 {
    // calculate icon top position based on top padding (from %single-border-text-vpadding--scaling)
    // and offset to align it with baseline of accordion tab h4 element
    $icon-top-position: calc(#{$table-cell-vertical-padding} - 1px + 0.5rem);

    background-position: top $icon-top-position left $sph-inner;
  }

  .p-accordion__panel {
    margin: 0;
    overflow: auto; // include child margins into its height
    padding-left: $sph-inner + $icon-size + $sph-inner * 2;

    // Hides panel content
    &[aria-hidden='true'] {
      display: none;
    }
  }
}
