@mixin vf-p-vertical-spacing {
  * {
    + * {
      margin-top: 1.25rem;

      @media screen and (min-width: #{$breakpoint-medium}) {
        margin-top: 1.75rem;
      }

      @media screen and (min-width: #{$breakpoint-large}) {
        margin-top: $sp-x-large;
      }
    }

    + h1,
    + .p-heading--one {
      margin-top: $sp-x-large;

      @media screen and (min-width: #{$breakpoint-medium}) {
        margin-top: 3.25rem;
      }

      @media screen and (min-width: #{$breakpoint-large}) {
        margin-top: 3.75rem;
      }
    }

    + h2,
    + .p-heading--two,
    + h3,
    + .p-heading--three,
    + h4,
    + .p-heading--four,
    + h5,
    + .p-heading--five,
    + h6,
    + .p-heading--six {
      margin-top: $sp-large;

      @media screen and (min-width: #{$breakpoint-medium}) {
        margin-top: 1.75rem;
      }

      @media screen and (min-width: #{$breakpoint-large}) {
        margin-top: $sp-x-large;
      }
    }

    + h2,
    + .p-heading--two,
    + h3,
    + .p-heading--three,
    + h4,
    + .p-heading--four {
      + * {
        margin-top: $sp-x-small;

        @media screen and (min-width: #{$breakpoint-medium}) {
          margin-top: $sp-small;
        }

        @media screen and (min-width: #{$breakpoint-large}) {
          margin-top: $sp-medium;
        }
      }
    }
  }
}
