@import 'settings';
$response-top-padding: $spv-inner--x-small--scaleable + $bar-thickness;
$response-icon-space: 2 * $sph-inner + map-get($icon-sizes, default);

// Notification style patterns
@mixin vf-p-notification {
  // The mixin for basic notification styling
  %vf-notification {
    @extend %vf-has-round-corners;
    @extend %vf-has-box-shadow;
    @extend %vf-card;

    display: flex;
    overflow: hidden;
    padding: 0;

    .p-icon--close {
      background-color: transparent;
      background-size: map-get($icon-sizes, default);
      border: 0;
      margin: $response-top-padding + 0.5 * (map-get($line-heights, default-text) - map-get($icon-sizes, default)) $sph-inner auto auto;
      padding: $spv-inner--small;
    }
  }

  @include vf-notifications-default;
  @include vf-notifications-positive;
  @include vf-notifications-caution;
  @include vf-notifications-negative;
  @include vf-notifications-information;
}

// Default notification styling
@mixin vf-notifications-default {
  .p-notification {
    @extend %vf-notification;
    @include vf-highlight-bar($color-mid-dark);

    & + & {
      margin-top: $spv-outer--scaleable; // negate bottom margin
    }
  }

  .p-notification__response {
    @extend %u-no-margin--bottom--default-text;

    background-position: $sph-inner $response-top-padding + 0.5 * (map-get($line-heights, default-text) - map-get($icon-sizes, default));
    background-repeat: no-repeat;
    background-size: map-get($icon-sizes, default);
    padding: $response-top-padding $sph-inner $spv-inner--x-small--scaleable;
  }

  .p-notification__status {
    @extend %bold;
  }

  .p-notification__status::after,
  .p-notification__action::before {
    content: ' ';
  }

  .p-notification__response,
  .p-notification--floating {
    max-width: unset;
  }
}

// Positive notification styling
@mixin vf-notifications-positive {
  .p-notification--positive {
    @extend %vf-notification;
    @include vf-highlight-bar($color-positive);

    .p-notification__response {
      @include vf-icon-success;

      padding-left: $response-icon-space;
    }
  }
}

// Caution notification styling
@mixin vf-notifications-caution {
  .p-notification--caution {
    @extend %vf-notification;
    @include vf-highlight-bar($color-caution);

    .p-notification__response {
      @include vf-icon-warning;

      padding-left: $response-icon-space;
    }
  }
}

// Negative notification styling
@mixin vf-notifications-negative {
  .p-notification--negative {
    @extend %vf-notification;
    @include vf-highlight-bar($color-negative);

    .p-notification__response {
      @include vf-icon-error;

      padding-left: $response-icon-space;
    }
  }
}

// Information notification styling
@mixin vf-notifications-information {
  .p-notification--information {
    @extend %vf-notification;
    @include vf-highlight-bar($color-information);
  }
}
