@import 'settings';

@mixin vf-p-strip {
  %section-padding--shallow {
    @media only screen and (max-width: $breakpoint-large) {
      padding-bottom: $spv-inter--shallow-scaleable * 0.5;
      padding-top: $spv-inter--shallow-scaleable * 0.5;
    }
    @media only screen and (min-width: $breakpoint-large) {
      padding-bottom: $spv-inter--shallow-scaleable;
      padding-top: $spv-inter--shallow-scaleable;
    }
  }

  // used in strips and footer
  %section-padding--default {
    @media only screen and (max-width: $breakpoint-large) {
      padding-bottom: $spv-inter--regular-scaleable * 0.5;
      padding-top: $spv-inter--regular-scaleable * 0.5;
    }
    @media only screen and (min-width: $breakpoint-large) {
      padding-bottom: $spv-inter--regular-scaleable;
      padding-top: $spv-inter--regular-scaleable;
    }
  }

  %section-padding--deep {
    @media only screen and (max-width: $breakpoint-large) {
      padding: $spv-inter--deep-scaleable * 0.5 0;
    }

    @media only screen and (min-width: $breakpoint-large) {
      padding: $spv-inter--deep-scaleable 0;
    }
  }

  %vf-strip {
    @extend %section-padding--default;
    clear: both;
    width: 100%;
  }

  @include vf-p-strip-default;
  @include vf-p-strip-accent;
  @include vf-p-strip-image;
  @include vf-p-strip-bordered;
  @include vf-p-strip-shallow;
  @include vf-p-strip-deep;
  @include vf-p-strip-slanted;
}

@mixin vf-p-strip-default {
  .p-strip {
    @extend %vf-strip;
    background-color: transparent;

    &--light {
      @extend %vf-strip;
      background-color: $color-light;
    }

    &--dark {
      @extend %vf-strip;
      background-color: $color-dark;
      color: $color-light;
    }
  }
}

@mixin vf-p-strip-accent {
  .p-strip--accent {
    @extend %vf-strip;
    background-color: $color-accent-background;
    color: vf-determine-text-color($color-accent-background);
  }
}

@mixin vf-p-strip-image {
  .p-strip--image {
    @extend %vf-strip;
    background-repeat: no-repeat;
    background-size: cover;

    &.is-light {
      color: $color-x-dark;
    }

    &.is-dark {
      color: $color-x-light;
    }
  }
}

@mixin vf-p-strip-bordered {
  [class^='p-strip'].is-bordered {
    border-bottom: 1px solid $color-mid-light;
    margin-bottom: -#{$px};
  }
}

@mixin vf-p-strip-shallow {
  [class^='p-strip'].is-shallow {
    @extend %section-padding--shallow;
  }
}

@mixin vf-p-strip-deep {
  [class^='p-strip'].is-deep {
    @extend %section-padding--deep;
  }
}

@mixin vf-p-strip-slanted {
  $assets-path: 'https://assets.ubuntu.com/v1/';
  $horizontal-edge-padding: $spv-inter--regular-scaleable;
  $slanted-edge-padding: $horizontal-edge-padding * 2; // coloured area takes half the rectangle surface area; to visually compensate, we multiply it by 2

  [class^='p-strip'].is-slanted {
    background-image: url('#{$assets-path}a3c29307-hero-bg-snapcraft-1--nowhite.svg'); // b04b115e-hero-bg-snapcraft-1-clean.svg
    background-position: 50% 50%;
    overflow: hidden;
    position: relative;

    @media (max-width: $breakpoint-large) {
      background-size: cover;
      padding: $spv-inter--regular-scaleable 0 $slanted-edge-padding;
    }
    @media (min-width: $breakpoint-large) {
      background-size: 5000px 667px; // actual svg size
      padding: $spv-inter--regular-scaleable 0 $slanted-edge-padding;
    }

    &::after {
      $bleed: -3px; // stretch outside to compensate for aliasing; otherwise edge of image underneath becomes visible as you resize
      background-image: url('#{$assets-path}077b5e59-hero-bg-mask-snapcraft--white-orange--bigger-accent.svg');
      background-position: 100% 100%;
      background-repeat: no-repeat;
      bottom: $bleed;
      content: '';
      left: $bleed;
      position: absolute;
      right: $bleed;
      top: $bleed;
      z-index: 1;

      @media only screen and (max-width: $breakpoint-large) {
        background-size: auto $slanted-edge-padding;
      }

      @media only screen and (min-width: $breakpoint-large) {
        background-size: 100%;
      }
    }
  }
}
