@import 'settings';

@mixin vf-p-table-icons {
  .p-table__cell--with-icon {
    padding-left: 1.5rem;

    [class^='p-icon']:first-child {
      margin-left: -1.5rem;
      margin-right: 0.5rem;
    }
  }
}
