/// Icons
@mixin vf-icon-size($size) {
  height: $size;
  width: $size;
}

@mixin vf-p-icons {

  %icon {
    @include vf-icon-size($sp-medium);
    background: {
      color: currentColor;
      position: center;
      repeat: no-repeat;
      size: contain;
    }
    color: $color-mid-dark;
    display: inline-block;
    margin: 0;
    mask: {
      position: center;
      repeat: no-repeat;
      size: contain;
    }
    padding: 0;
    position: relative;
    text-indent: 999em;
    top: -2px;
    vertical-align: sub;
  }

  .p-icon {
    // Icon library
    &--plus {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charest=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='9' width='9' viewBox='0 0 9 9'%3E%3Cg fill='%23888' fill-rule='evenodd'%3E%3Cpath d='M4 0h1v9H4z'/%3E%3Cpath d='M0 5V4h9v1z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--minus {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='9' width='9' viewBox='0 0 9 9'%3E%3Cpath d='M0 5V4h9v1z' fill='%23888' fill-rule='evenodd'/%3E%3C/svg%3E");
    }

    &--expand {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='15' width='15' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h16v16H0z'/%3E%3C/defs%3E%3Cg fill-rule='evenodd' fill='none'%3E%3Cuse xlink:href='%23a'/%3E%3Cpath stroke='%23888' d='M.5.5h14v14H.5z'/%3E%3Cpath fill='%23888' d='M7 4h1v7H7z'/%3E%3Cpath fill='%23888' d='M4 8V7h7v1z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--collapse {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h15v15H0z'/%3E%3C/defs%3E%3Cg fill-rule='evenodd' fill='none'%3E%3Cuse xlink:href='%23a'/%3E%3Cpath stroke='%23888' d='M.5.5h14v14H.5z'/%3E%3Cpath fill='%23888' d='M4 8V7h7v1z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--chevron {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='4' width='10' viewBox='0 0 10 4'%3E%3Cpath d='M3.637 3.138c-.518-.365-1.052-.778-1.6-1.238C1.486 1.44.946.948.414.423.273.283.135.14 0 0h1.54c.305.29.62.57.948.846.138.116.277.23.417.34.163.13.328.257.495.38.085.062.17.123.257.184.397.282.935.626 1.315.848h.054c.38-.222.918-.566 1.315-.848.4-.28.79-.583 1.17-.904C7.837.57 8.153.29 8.457 0h1.54c-.134.14-.272.282-.414.422C9.05.948 8.51 1.442 7.963 1.9c-.55.46-1.084.873-1.602 1.238S5.39 3.79 5 4c-.39-.21-.845-.497-1.363-.862z' fill='%23888' fill-rule='evenodd'/%3E%3C/svg%3E");
    }

    &--close {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='90' width='90'%3E%3Cg color='%23000'%3E%3Cpath fill='none' d='M0 0h90v90H0z'/%3E%3Cpath d='M14.52 6L6 14.52 36.48 45 6 75.49 14.52 84 45 53.52 75.48 84 84 75.49 53.52 45 84 14.52 75.48 6 45 36.49z' fill='gray'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--help {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16 15.999999' width='16'%3E%3Cpath fill='none' color='%23000' d='M-.003.002h16v16h-16z'/%3E%3Cpath d='M8.004 5.23q-.43 0-.825.11-.395.098-.826.332l-.42-1.145q.457-.258 1.036-.406.59-.16 1.206-.16.74 0 1.22.21.48.197.762.505.283.308.394.677.11.37.11.714 0 .42-.16.75-.147.334-.38.617t-.505.542q-.27.246-.505.517-.234.258-.394.554-.148.295-.148.664v.148q0 .074.012.148h-1.28q-.025-.123-.037-.26-.012-.146-.012-.27 0-.406.135-.726.136-.32.345-.59t.443-.506q.246-.234.456-.467.21-.234.344-.48.136-.247.136-.542 0-.407-.283-.665-.272-.27-.826-.27zM8.984 12.01q0 .43-.283.7-.283.272-.7.272-.407 0-.703-.27-.283-.272-.283-.703 0-.432.283-.703.296-.283.702-.283.417 0 .7.283.284.27.284.702z' fill='%233b3b3b'/%3E%3Cpath d='M2.064 1.002c-.59 0-1.067.476-1.067 1.067v11.866c0 .59.476 1.067 1.067 1.067H13.93c.592 0 1.068-.476 1.068-1.067V2.07c0-.592-.476-1.068-1.067-1.068zm-.067 1h12v12h-12z' fill='%233b3b3b' color='%23000'/%3E%3C/svg%3E");
    }

    &--information {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16 15.999999' width='16'%3E%3Cg color='%23000'%3E%3Cpath d='M2.07 1c-.59 0-1.066.475-1.066 1.066v11.867c0 .59.475 1.067 1.066 1.067h11.867c.59 0 1.066-.476 1.066-1.067V2.066c0-.59-.475-1.066-1.066-1.066zm-.066 1h12v12h-12z' fill='%233b3b3b'/%3E%3Cpath d='M7 4v2h2V4zm0 3v5h2V7z' fill='%233b3b3b'/%3E%3Cpath fill='none' d='M0 0h16v16H0z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--question {
      @extend %icon;
      background-color: $color-transparent;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16 15.999999' width='16'%3E%3Cpath fill='none' color='%23000' d='M-.003.002h16v16h-16z'/%3E%3Cpath d='M7.997.002c-4.41 0-8 3.59-8 8s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8z' fill='%23335280' color='%23000'/%3E%3Cpath d='M8.004 5.23q-.43 0-.825.11-.395.098-.826.332l-.42-1.145q.457-.258 1.036-.406.59-.16 1.206-.16.74 0 1.22.21.48.197.762.505.283.308.394.677.11.37.11.714 0 .42-.16.75-.147.334-.38.617t-.505.542q-.27.246-.505.517-.234.258-.394.554-.148.295-.148.664v.148q0 .074.012.148h-1.28q-.025-.123-.037-.26-.012-.146-.012-.27 0-.406.135-.726.136-.32.345-.59t.443-.506q.246-.234.456-.467.21-.234.344-.48.136-.247.136-.542 0-.407-.283-.665-.272-.27-.826-.27zM8.984 12.01q0 .43-.283.7-.283.272-.7.272-.407 0-.703-.27-.283-.272-.283-.703 0-.432.283-.703.296-.283.702-.283.417 0 .7.283.284.27.284.702z' fill='%23fff'/%3E%3C/svg%3E");
    }

    &--delete {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16 15.999999' width='16'%3E%3Cg color='%23000'%3E%3Cpath opacity='.114' fill='none' d='M0 0h16v16H0z'/%3E%3Cpath opacity='.114' fill='none' d='M0 0h16v16H0z'/%3E%3Cpath opacity='.114' fill='none' d='M0 0h16v16H0z'/%3E%3Cpath style='text-decoration-color:%23000000;isolation:auto;mix-blend-mode:normal;block-progression:tb;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-transform:none' d='M2 4v1h2V4H2zm11 0v1h2V4h-2zM2 6v8.506c0 .822.678 1.5 1.5 1.5h10c.822 0 1.5-.678 1.5-1.5V6h-2v7.506c0 .286-.214.5-.5.5h-8c-.286 0-.5-.214-.5-.5V6H2z' fill='gray' solid-color='%23000000'/%3E%3Cpath d='M6 0v3h1V1h3v2h1V0H6zM5 6h1v6H5zM8 6h1v6H8zM11 6h1v6h-1z' fill='gray'/%3E%3Cpath style='text-decoration-color:%23000000;isolation:auto;mix-blend-mode:normal;block-progression:tb;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-transform:none' d='M3.5 2C2.678 2 2 2.678 2 3.5V5h13V3.5c0-.822-.678-1.5-1.5-1.5h-10zM2 6v8.006h2V6H2zm11 0v8.006h2V6h-2z' fill='gray' solid-color='%23000000'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--error {
      @extend %icon;
      background-color: $color-transparent;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C3.59 0 0 3.59 0 8s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8zm2.828 3.757L8 6.587l-2.828-2.83-1.415 1.415L6.587 8l-2.83 2.828 1.415 1.415L8 9.413l2.828 2.83 1.415-1.415L9.413 8l2.83-2.828-1.415-1.415z' fill='%23c7162b' fill-rule='evenodd'/%3E%3C/svg%3E");
    }

    &--warning {
      @extend %icon;
      background-color: $color-transparent;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16.000017 16.000017' width='16'%3E%3Cg color='%23000'%3E%3Cpath fill='none' d='M0 0h16v16H0z'/%3E%3Cpath stroke-linejoin='round' fill='%23f99b11' transform='matrix(2.28 0 0 2.437 -2180.8 -490.52)' stroke='%23f99b11' stroke-width='.848' d='M963.07 207.03h-6.15l3.08-5.33z'/%3E%3Cpath d='M7 5v5h2V5H7zm0 6v2h2v-2H7z' fill='%23111'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--external-link {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23111' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='%23111' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='%23111' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--contextual-menu {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='14' width='6' viewBox='0 0 6 14'%3E%3Cg fill-rule='evenodd' fill='none'%3E%3Cpath d='M-10-6h26v26h-26z'/%3E%3Cpath fill-rule='nonzero' fill='%23666' d='M0 0v2h6V0M0 6v2h6V6M0 12v2h6v-2'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--menu {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='19' width='25' viewBox='0 0 79 60'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23000' d='M.995 0h78v12h-78zM.995 24h78v12h-78zM.995 48h78v12h-78z'/%3E%3Cpath d='M-5.005-15h90v90h-90z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--code {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16 15.999999' width='16'%3E%3Cpath opacity='.212' fill='none' d='M.005.002h16v16h-16z'/%3E%3Cpath d='M2.67 2.002c-1.777 0-2.665 0-2.665 2.068v8.866c0 2.067.888 2.066 2.666 2.066h10.67c1.777 0 2.665 0 2.665-2.066v-8.8c0-2.133-.888-2.134-2.666-2.134H2.67zm1.28 1.89h1.102v1.143c.34.028.642.078.91.148.268.064.48.128.635.192L6.333 6.42c-.205-.076-.448-.15-.73-.22-.276-.072-.593-.107-.953-.107-.382 0-.67.072-.86.213-.19.134-.285.32-.285.56 0 .142.028.26.084.36.056.092.142.176.255.254.113.07.25.142.412.213.162.063.346.13.55.2.29.114.56.234.815.36.26.12.487.267.678.436.19.162.34.355.445.58.113.227.17.495.17.806 0 .466-.144.868-.433 1.207-.29.34-.766.558-1.43.657v1.324H3.95V11.97c-.508-.035-.922-.102-1.24-.2-.31-.106-.542-.2-.697-.286l.36-1.005c.225.112.496.213.814.305.324.092.692.14 1.1.14.488 0 .824-.073 1.007-.214.19-.147.287-.34.287-.58 0-.164-.038-.305-.116-.425-.078-.12-.187-.227-.328-.32-.14-.09-.31-.175-.508-.252-.19-.078-.404-.158-.637-.243-.217-.077-.436-.166-.655-.265-.212-.1-.405-.218-.582-.36-.17-.148-.306-.324-.412-.53s-.16-.455-.16-.75c0-.488.147-.902.436-1.24.29-.347.734-.568 1.334-.667V3.892zm4.055 8.096h3.99v.996h-3.99v-.996z' fill='gray'/%3E%3C/svg%3E");
    }

    &--search {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16 15.999999' width='16'%3E%3Cg transform='matrix(.667 0 0 .667 -74.67 -285.57)' color='%23000'%3E%3Cpath opacity='.05' fill='none' d='M112 452.36h24v-24h-24z'/%3E%3Cpath style='isolation:auto;mix-blend-mode:normal;block-progression:tb;text-decoration-line:none;text-indent:0;text-transform:none' d='M129.93 444.03l-2.27 2.273 6.07 6.07 2.27-2.27z' fill='gray'/%3E%3Cellipse stroke-linejoin='round' stroke='gray' rx='9.479' ry='9.479' cy='438.86' cx='122.5' stroke-linecap='round' stroke-width='2.041' fill='none'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--success {
      @extend %icon;
      background-color: $color-transparent;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='15' height='15' viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.25 14.5c4.004 0 7.25-3.246 7.25-7.25S11.254 0 7.25 0 0 3.246 0 7.25s3.246 7.25 7.25 7.25zm3.8-10.327l-.066.058L6.25 8.38l-2.776-2.38-.84.948L6.25 10.75l5.5-5.787-.7-.79z' fill='%230f8420' fill-rule='evenodd'/%3E%3C/svg%3E");
    }

    &--copy {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='17' width='16' viewBox='0 0 16 17'%3E%3Cg fill='%23666' fill-rule='evenodd'%3E%3Cpath d='M10.587 1.8h3.26c.47 0 .845.053 1.16.2s.567.412.716.748c.298.67.266 1.49.277 2.613v8.48c-.01 1.12.02 1.942-.277 2.613-.15.335-.4.6-.716.747s-.69.2-1.16.2H4.153c-.472 0-.846-.053-1.16-.2s-.568-.412-.717-.747c-.246-.554-.268-1.21-.273-2.053h.803c.016.854.058 1.428.178 1.707.072.166.15.26.336.348s.478.145.897.145h9.566c.42 0 .712-.057.897-.145.184-.088.263-.182.335-.348.143-.33.175-1.08.185-2.222V5.31c-.01-1.138-.042-1.886-.185-2.217-.072-.166-.15-.26-.335-.348-.185-.088-.477-.145-.897-.145h-3.538c.182-.225.304-.5.342-.8zm-3.174 0c.038.3.16.575.34.8H4.218c-.42 0-.712.057-.896.145-.184.088-.263.182-.335.348-.143.33-.175 1.08-.185 2.216v5.49H2V5.36c.01-1.12-.02-1.94.277-2.612.15-.336.4-.6.716-.748s.69-.2 1.16-.2h3.26z'/%3E%3Cpath fill-rule='nonzero' d='M11.398 1.8v2.4H6.6V1.8h1.6c0 .447.353.8.8.8.445 0 .8-.353.8-.8h1.598z'/%3E%3Cpath fill-rule='nonzero' d='M10.6 1.6c0 .88-.722 1.6-1.6 1.6-.88 0-1.6-.72-1.6-1.6C7.4.72 8.12 0 9 0c.88 0 1.6.72 1.6 1.6zm-.8 0c0-.447-.354-.8-.8-.8-.447 0-.8.353-.8.8 0 .446.353.8.8.8.446 0 .8-.354.8-.8z'/%3E%3Cpath d='M8.4 7.2H14v1H8.4zM8.4 9.6H14v1H8.4zM10 12h4v1h-4z'/%3E%3Cpath fill-rule='nonzero' d='M4.4 10s2.134 1.026 4 2.505h-.002C6.427 14.03 4.4 15 4.4 15v-5z'/%3E%3Cpath d='M0 11.6h4.4v2H0z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--share {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16 15.999999' width='16'%3E%3Cg color='%23000'%3E%3Cpath style='block-progression:tb;text-decoration-line:none;text-indent:0;text-transform:none' d='M11.43.012c-.548.024-1.086.238-1.5.597l-.952.796v.574c0 .544-.05 1.037-.154 1.49-.102.45-.286.838-.543 1.157-.246.33-.577.582-.998.756-.42.185-.953.278-1.59.278-.622 0-1.072-.04-1.568-.11-.93.543-1.363 1.38-1.363 2.492s.53 1.732 1.364 2.53c.442-.053 1.032-.077 1.57-.077.635 0 1.167.093 1.588.278.42.174.752.427 1 .756.256.317.44.7.542 1.15.103.453.154.952.154 1.496v.414l.922.78c.487.44 1.157.673 1.813.63.656-.044 1.29-.364 1.713-.866.425-.502.635-1.18.57-1.833-.066-.653-.407-1.275-.923-1.683l-.65-.55h-1.696c-.44 0-.848-.06-1.23-.182-.38-.114-.71-.3-.992-.55-.273-.243-.49-.553-.65-.934-.16-.37-.242-.817-.242-1.334 0-.517.083-.967.242-1.347.16-.382.377-.692.65-.935.282-.243.613-.428.993-.55.38-.114.788-.17 1.23-.17h1.536l.82-.686c.8-.647 1.117-1.823.753-2.783-.363-.96-1.38-1.63-2.406-1.585z' fill='gray'/%3E%3Cpath opacity='.1' fill='none' d='M-.003.005h16v16h-16z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--user {
      @extend %icon;
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16 15.999999' width='16'%3E%3Cpath opacity='.12' fill='none' color='%23000' d='M15.997 15.998v-16h-16v16z'/%3E%3Cpath style='text-decoration-color:%23000000;font-variant-numeric:normal;text-decoration-line:none;font-variant-position:normal;mix-blend-mode:normal;block-progression:tb;font-feature-settings:normal;shape-padding:0;font-variant-alternates:normal;text-indent:0;font-variant-caps:normal;text-decoration-style:solid;font-variant-ligatures:normal;isolation:auto;text-transform:none' d='M8 0C7.413 0 6.858.11 6.35.33c-.51.208-.956.514-1.33.91h-.004c-.364.4-.645.88-.844 1.427-.2.545-.3 1.143-.3 1.787 0 .653.1 1.256.3 1.802.2.54.48 1.012.844 1.41h.004c.25.264.53.49.84.676-.257.066-.7.144-.955.237-.878.32-1.617.765-2.196 1.333h-.005c-.573.577-1.003 1.258-1.286 2.03h-.003c-.263.765-.394 1.588-.394 2.464v1.572L14.98 16v-1.57c0-.892-.14-1.702-.42-2.468-.268-.776-.7-1.46-1.292-2.04-.58-.566-1.316-1.01-2.194-1.332-.25-.093-.687-.17-.94-.236.31-.187.59-.414.834-.68.373-.398.66-.873.86-1.412.203-.546.3-1.15.3-1.803 0-.646-.098-1.244-.3-1.79-.2-.548-.486-1.028-.86-1.426C10.602.846 10.16.54 9.652.33 9.143.11 8.588 0 8 0z' fill='gray' color='%23000' solid-color='%23000000' white-space='normal'/%3E%3C/svg%3E");
    }

    &--spinner {
      @extend %icon;
      background-color: currentColor;
      mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.49 23.123c2.78 1.125 5.978 1.213 8.975 0 4.247-1.72 6.972-5.603 7.424-9.87l-1.136-.118c-.408 3.86-2.875 7.374-6.717 8.93-2.71 1.098-5.605 1.018-8.118 0l-.43 1.058zm-2.21-1.176c-1.913-1.29-3.475-3.148-4.404-5.45C-1.284 11.146.686 5.15 5.28 2.05l.638.946C1.76 5.802-.02 11.228 1.934 16.068c.84 2.086 2.254 3.766 3.985 4.933l-.64.947zm18.61-11.2c-.115-1.088-.38-2.178-.81-3.242-2.478-6.142-9.457-9.11-15.59-6.628l.43 1.057c5.546-2.245 11.86.44 14.103 5.998.388.963.63 1.95.733 2.933l1.134-.12z' fill='%23666' fill-rule='nonzero'/%3E%3C/svg%3E");
    }

    &--inherit-color {
      color: currentColor;
    }

    // Set a specific icon size
    &--medium {
      @include vf-icon-size(1.25rem);
    }

    &--large {
      @include vf-icon-size($sp-large);
    }

    &--x-large {
      @include vf-icon-size(1.75rem);
    }

    &--x-large {
      @include vf-icon-size(2.25rem);
    }

    &--xx-large {
      @include vf-icon-size($sp-xxx-large);
    }
  }
}
