@import 'settings';

// form validation styling for form inputs
@mixin vf-p-form-validation {
  $icon-size: map-get($icon-sizes, default);

  %vf-validation-wrapper {
    background-position: left, center;
    background-repeat: no-repeat;
    padding-left: calc(#{$icon-size} + #{$sph--small});
    padding-top: 0;
  }

  .p-form-validation__message {
    @extend %small-text;

    margin-top: -$sp-unit;
  }

  .is-success {
    .p-form-validation__input {
      border-bottom-color: $color-positive;
      background-color: $color-positive-background;
    }

    .p-form-validation__message {
      @extend %vf-validation-wrapper;
      @include vf-icon-success($color-positive);

      color: $color-positive;
    }
  }

  .is-caution {
    .p-form-validation__input {
      border-bottom-color: $color-caution;
      background-color: $color-caution-background;
    }

    .p-form-validation__message {
      @extend %vf-validation-wrapper;
      @include vf-icon-warning($color-caution);
    }
  }

  .is-error {
    .p-form-validation__input {
      border-bottom-color: $color-negative;
      background-color: $color-negative-background;
    }

    .p-form-validation__message {
      @extend %vf-validation-wrapper;
      @include vf-icon-error($color-negative);

      color: $color-negative;
    }
  }
}
