@import 'settings';

@mixin vf-p-contextual-menu {
  .p-contextual-menu {
    display: inline-block;
    margin: 0;
    position: relative;
  }

  // Alignment extension to align the menu to the left
  .p-contextual-menu--left {
    @extend .p-contextual-menu; // sass-lint:disable-line placeholder-in-extend

    .p-contextual-menu__dropdown {
      left: 0;

      &::before,
      &::after {
        left: $sp-small;
        right: initial;
      }

      &::after {
        left: $sp-small + 0.1rem;
      }
    }
  }

  // Alignment extension to align the menu to the center of the parent
  .p-contextual-menu--center {
    @extend .p-contextual-menu; // sass-lint:disable-line placeholder-in-extend

    .p-contextual-menu__dropdown {
      // sass-lint:disable no-vendor-prefixes property-sort-order
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);

      &::before,
      &::after {
        left: 50%;
        right: initial;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        // sass-lint:enable no-vendor-prefixes property-sort-order
      }
    }
  }

  // Dropdown element for contextual menu
  .p-contextual-menu__dropdown {
    @extend %vf-has-box-shadow;
    @extend %vf-has-round-corners;
    display: none;
    margin: 0;
    max-width: 21rem;
    min-width: 10rem;
    padding: 0;
    position: absolute;
    right: 0;
    width: fit-content;
    z-index: 1;

    &::before,
    &::after {
      border: {
        bottom-color: transparent;
        bottom-style: solid;
        bottom-width: 8px;
        left: 8px solid transparent;
        right: 8px solid transparent;
      }
      bottom: 100%;
      content: '';
      height: 0;
      pointer-events: none;
      position: absolute;
      right: $sp-small;
      width: 0;
    }

    &::after {
      border: {
        left: 6px solid transparent;
        right: 6px solid transparent;
      }
      right: $sp-small + 0.1rem;
    }

    // When set to false will show the contextual menu
    &[aria-hidden='false'] {
      display: block;
    }
  }

  .p-contextual-menu__group {
    display: block;

    + .p-contextual-menu__group {
      border-top-width: 1px;
      border-top-style: solid;
      margin: -1px 0 0 0;
    }
  }

  .p-contextual-menu__toggle {
    margin-bottom: $spv-inner--small + ($spv-nudge-compensation * 2);
  }

  .p-contextual-menu__dropdown {
    margin-top: -#{$input-margin-bottom};
  }

  .p-contextual-menu__link {
    @include vf-focus;
    border: 0;
    clear: both;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: $spv-inner--x-small $sp-small;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:hover {
      border-radius: $border-radius;
      text-decoration: none;
    }
  }

  .p-contextual-menu__toggle[aria-expanded='true'] .p-contextual-menu__indicator {
    transform: rotate(180deg);
  }

  // Theming
  @if ($theme-default-p-contextual-menu == 'dark') {
    .p-contextual-menu__dropdown {
      @extend %p-contextual-menu__dropdown--dark-theme;
    }

    .p-contextual-menu__group {
      @extend %p-contextual-menu__group--dark-theme;
    }

    .p-contextual-menu__link {
      @extend %p-contextual-menu__link--dark-theme;
    }

    .p-contextual-menu__dropdown.is-light {
      @extend %p-contextual-menu__dropdown--light-theme;
      .p-contextual-menu__group {
        @extend %p-contextual-menu__group--light-theme;
      }

      .p-contextual-menu__link {
        @extend %p-contextual-menu__link--light-theme;
      }
    }
  } @else {
    .p-contextual-menu__dropdown {
      @extend %p-contextual-menu__dropdown--light-theme;
    }
    .p-contextual-menu__group {
      @extend %p-contextual-menu__group--light-theme;
    }

    .p-contextual-menu__link {
      @extend %p-contextual-menu__link--light-theme;
    }

    .p-contextual-menu__dropdown.is-dark {
      @extend %p-contextual-menu__dropdown--dark-theme;

      .p-contextual-menu__group {
        @extend %p-contextual-menu__group--dark-theme;
      }

      .p-contextual-menu__link {
        @extend %p-contextual-menu__link--dark-theme;
      }
    }
  }

  %p-contextual-menu__dropdown--light-theme {
    background: $colors--light-theme--background;

    &::after {
      border-bottom-color: $colors--light-theme--background;
    }
  }

  %p-contextual-menu__group--light-theme {
    & + & {
      border-top-color: $colors--light-theme--border-default;
    }
  }

  %p-contextual-menu__link--light-theme {
    &,
    &:active,
    &:hover,
    &:visited {
      color: $colors--light-theme--text-default;
    }

    &:hover {
      background-color: $colors--light-theme--background-highlighted;
    }
  }

  %p-contextual-menu__dropdown--dark-theme {
    background: $colors--dark-theme--background;

    &::after {
      border-bottom-color: $colors--dark-theme--background;
    }
  }

  %p-contextual-menu__group--dark-theme {
    & + & {
      border-top-color: $colors--dark-theme--border-default;
    }
  }

  %p-contextual-menu__link--dark-theme {
    &,
    &:active,
    &:hover,
    &:visited {
      color: $colors--dark-theme--text-default;
    }

    &:hover {
      background-color: $colors--dark-theme--background-highlighted;
    }
  }
}
