// Search box styles
@mixin vf-search {
  .header-search,
  .search-form {

    [type="search"],
    [type="text"] {
      -webkit-appearance: none;
      background-color: darken($color-brand, 10%);
      box-shadow: none;
      color: $color-cool-grey;
      display: block;
      float: left;
      font-size: 1em;
      margin-bottom: 0;
      padding: 12px 10px;
      transition: all .5s ease-out;
      width: 100%;
    }

    .svg-search-handle {
      fill: $color-cool-grey;
    }

    .svg-search-frame {
      stroke: $color-cool-grey;
    }

    // User agents are required to ignore a rule with an unknown selector. i.e: a group of selectors containing an invalid selector is invalid.
    // So we need separate placeholder rules for each browser. Otherwise the whole group would be ignored by all browsers.
    placeholder {
      color: $color-cool-grey;
      opacity: 1;
    }

    input:placeholder {
      color: $color-cool-grey;
      opacity: 1;
    }

    ::placeholder {
      color: $color-cool-grey;
      opacity: 1;
    }

    [type="search"]:focus {
      background-color: darken($color-brand, 14%);
      border-color: lighten($color-cool-grey, 50%);
    }

    [type=submit] {
      background: none;
      display: block;
      float: left;
      line-height: 0;
      margin-left: -40px;
      overflow: visible;
      padding: 3px 2px;
      width: auto;

      &:hover { background: none; }

      img {
        height: 28px;
        width: 28px;
        margin-top: 2px;
      }
    }
  }

  .banner .search-toggle {
    background-image: svg-search($color-brand);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
    height: 48px;
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -999em;
    top: 0;
    width: 24px;

    .search-toggle__link {
      width: 48px;
      height: 48px;

      &.open {
        display: block;
      }

      &.close {
        display: none;
      }
    }
  }

  // scss-lint:disable NestingDepth, IdSelector
  #site-search:hover {
    form {
      display: block;
    }

    .search-toggle .search-toggle__link {

      &.open {
        display: none;
      }

      &.close {
        display: block;
      }
    }
  }

  // scss-lint:enable NestingDepth, IdSelector
  .header-search,
  .search-form {
    background: $color-light-grey;
    border: 0;
    display: none;
    float: left;
    position: relative;
    margin: 0;
    width: 100%;
    z-index: 3;
  }

  .search-form.active,
  .header-search.active,
  .header-search.open { display: block; }

  .search-form div,
  .header-search div {
    box-shadow: inset 0 -4px 4px -4px rgba(0, 0, 0, .3), inset 0  5px 5px -5px rgba(0, 0, 0, .3);
    background: lighten($color-brand, 7%);
    margin: 10px;
    position: relative;
    z-index: 1;
  }

  .search-form form [type="search"],
  .header-search form [type="search"] {
    background: $color-white;
    border: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3) inset, 0 -1px 3px rgba(0, 0, 0, .2) inset, 0 2px 0 rgba(255, 255, 255, .4);
    color: contrast-friendly-search-color($color-brand);
    display: block;
    float: left;
    font-size: 1em;
    height: auto;
    margin: 0;
    padding: 8px 10px;
    width: 100%;
  }

  .yes-js .header-inner .search-form,
  .yes-js .header-inner .header-search {
    display: none;

    form {
      margin-left: 0;
      margin-right: 0;
      overflow: hidden;
      padding: 10px;
      position: relative;
      top: 0;
      width: 100%;
      z-index: 999;
    }
  }

  @media only screen and (max-width : $breakpoint-small) {

    .banner {
      .search-toggle {
        right: 0;
      }
    }

    .no-svg,
    .opera-mini {
      .search-toggle {
        background-image: url('#{$asset-server}75d8151d-search-white.png');
      }
    }
  }

  @media only screen and (min-width : $breakpoint-small) {
    .banner .search-toggle {
      display: none;
    }
  }

  @media only screen and (min-width : $breakpoint-small) {
    .search-form,
    .header-search {
      background: none;
      border-right: 0 none;
      float: right;
      margin-bottom: 0;
      max-width: 220px;
      overflow: hidden;
      padding: 7px 0 5px 14px;

      form [type="text"],
      form [type="search"] {
        box-shadow: 0 2px 4px rgba(0, 0, 0, .4) inset;
        box-sizing: content-box;
        background-color: darken($color-brand, 10%);
        border: 0 solid darken($color-brand, 12%);
        border-width: 0 0 1px;
        color: contrast-friendly-search-color($color-brand);
        font-size: .813em;
        height: 24px;
        margin-bottom: 0;
        padding: .5em 2.5em .5em .5em;
        transition: all .5s ease 0s;
        width: 86px;

        &:focus {
          background-color: darken($color-brand, 14%);
          border-color: darken($color-brand, 20%);
        }
      }

      .svg-search-handle {
        fill: contrast-friendly-search-color($color-brand);
      }

      .svg-search-frame {
        stroke: contrast-friendly-search-color($color-brand);
      }

      placeholder {
        color: contrast-friendly-search-color($color-brand);
      }

      input:placeholder {
        color: contrast-friendly-search-color($color-brand);
      }

      ::placeholder {
        color: contrast-friendly-search-color($color-brand);
      }
    }
  }

  @media only screen and (min-width :$breakpoint-small) {
    .header-search,
    .search-form {

      .svg-search-handle {
        fill: contrast-friendly-search-color($color-brand);
      }

      .svg-search-frame {
        stroke: contrast-friendly-search-color($color-brand);
      }

      placeholder {
        color: contrast-friendly-search-color($color-brand);
      }

      input:placeholder {
        color: contrast-friendly-search-color($color-brand);
      }

      ::placeholder {
        color: contrast-friendly-search-color($color-brand);
      }
    }
  }

  @media only screen and (max-width : $breakpoint-small) {
    .banner .nav-primary .header-search {
      position: relative;
      top: 0;
      width: 100%;

      [type="search"] {
        background-color: lighten($color-cool-grey, 72%);
        color: contrast-friendly-search-color($color-brand);
      }

      [type="submit"] {
        background-color: $color-transparent;
        height: 38px;
        margin-top: 0;
        width: 32px;

        img,
        svg {
          max-width: none;
        }
      }

      &.open {
        display: block;
      }
    }

    .banner .search-toggle {
      background-image: svg-search($color-brand);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 25px auto;
      cursor: pointer;
      display: block;
      height: 48px;
      position: absolute;
      right: 0;
      text-indent: -99999px;
      width: 48px;
    }

    .no-svg,
    .opera-mini {
      .banner .search-toggle {
        background-image: url('#{$asset-server}2196e362-search-white.svg');
      }
    }

    .opera-mini {
      x:-o-prefocus,
      .banner .search-toggle {
        background-size: 25px auto;
      }
    }
  }

  @media only screen and (min-width: $breakpoint-small) {
    .search-form,
    .header-search {
      display: block;

      .svg-search-handle {
        fill: contrast-friendly-search-color($color-brand);
      }

      .svg-search-frame {
        stroke: contrast-friendly-search-color($color-brand);
      }

      form [type="text"]:focus {
        width: 160px;
      }

      [type="search"],
      [type="text"] {
        padding: 8px 10px;
      }
    }
  }

  @media only screen and (max-width: $site-max-width) {
    .search-form,
    .header-search {
      margin-right: 10px;
    }
  }

  @media only screen and (max-width : $breakpoint-small) {
    .banner .search-toggle {
      right: 48px;
    }
  }

  // search results
  .ubuntu-search,
  .search-results,
  .search-no-results {
    .nav-secondary {
      display: none;
    }

    section > h1,
    section article h1 {
      padding-bottom: 10px;
      font-size: 1.438em;
      margin-bottom: 0;
    }

    section > h1 {
      border-bottom: 1px dotted $color-mid-grey;
    }

    .main-search {
      background-color: transparent;
      margin: 0 0 20px;
      padding: 20px 0;

      [type="search"] {
        border: 1px solid $color-warm-grey;
        float: left;
        font-size: 2em;
        padding: .2em 65px .2em .2em;
        width: 100%;
      }

      [type=submit] {
        width: 32px;
        height: 38px;
        background-repeat: no-repeat;
        background-position: center 8px;
        background-color: $color-transparent;
        background-size: 28px 28px;
        display: block;
        float: left;
        line-height: 0;
        margin-left: -53px;
        margin-top: -4px;
        overflow: visible;
        padding: 4px;
  // scss-lint:disable NestingDepth
        img {
          height: 45px;
          width: 45px;
        }
  // scss-lint:enable NestingDepth
      }

      [type=submit]:hover {
        background: none;
      }
    }

    .search-result h1 .title-main {
      margin-right: 20px;
    }

    .search-result h1 .result-url {
      color: $color-warm-grey;
      display: block;
      overflow: hidden;
      padding-bottom: 2px;
      text-overflow: ellipsis;
      vertical-align: bottom;

      a {
        color: $color-warm-grey;
      }
    }

    .search-result p {
      margin-bottom: 0;
    }

    .num-results {
      display: inline-block;
      margin-left: 20px;
    }

    .bottom-results-total {
      margin: 0;
      overflow: visible;
      padding-top: 20px;
      text-align: center;
      width: 100%;
    }

    .bottom-nav {
      margin-top: -26px;
      overflow: hidden;

      ul {
        margin-bottom: 0;
        margin-left: 0;
        overflow: hidden;
        padding: 0;
      }

      li {
        float: left;
        margin-left: 15px;
      }

      li:first-child {
        margin-left: 0;
      }
    }

    .nav-back {
      float: left;

      li:before {
        color: $color-brand;
        content: '\2039'; /* left chevron &lsaquo; */
        margin-right: 5px;
      }

      .item-extreme:before {
        content: '\2039\2039'; /* double left chevron &lsaquo; */
      }
    }

    .nav-forward {
      float: right;

      li:after {
        color: $color-brand;
        content: '\203A'; /* right chevron&nbsp;&rsaquo; */
        margin-left: 5px;
      }

      .item-extreme:after {
        content: '\203A\203A'; /* double right chevron&nbsp;&rsaquo; */
      }
    }

    .error-notification {
      background-color: $color-white;
      color: $color-cool-grey;
      display: block;
      margin-top: 20px;
      padding: 20px;
      width: 100%;
    }

    .result-line {
      color: $color-warm-grey;
    }

    .results-top {
      border-bottom: 1px dotted $color-mid-grey;
      padding-bottom: .5em;
    }

    .search-container {
      padding-bottom: 0;
    }
  }

  @media only screen and (min-width : $breakpoint-small) {
    .ubuntu-search .main-search [type=submit] {
      margin-left: -60px;
      margin-top: 0;
    }
  }
}

// this is to get the variable inserted in an inline svg, we have to strip the # and replace with %23
// it also checks to see if the color is a light color and adjusts the background color accordingly
@function svg-search-color($color) {
  @if type-of($color) != 'color' {
    @warn "'#{$color}' is not a color'.";
    @return false;
  } @else {
    @if (lightness($color) > 60) {
      @return '%23333'; // Lighter backgorund, return dark color
    } @else {
      @return '%23fff'; // Darker background, return light color
    }
  }
}

// todo: this should probably go into a functions file
// this checks to see if the color is a light color and adjusts text/svg color accordingly
@function contrast-friendly-search-color($color) {
  @if type-of($color) != 'color' {
    @warn "'#{$color}' is not a color'.";
    @return false;
  } @else {
    @if (lightness($color) > 60) {
      @return $color-cool-grey; // Lighter background, return dark color
    } @else {
      @return $color-white; // Darker background, return light color
    }
  }
}

@function svg-search($color) {
  @if type-of($color) != 'color' {
    @warn "'#{$color}' is not a color'.";
    @return false;
  }
  @return url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 90 90'><g color='" + svg-search-color($color) + "'><path fill='none' stroke-width='4' overflow='visible' enable-background='accumulate' d='M0 0h90v90H0z'/><path d='M69 36.5a33 33.5 0 1 1-66 0 33 33.5 0 1 1 66 0z' transform='matrix(.636 0 0 .627 16.114 16.12)' fill='none' stroke='" + svg-search-color($color) + "' stroke-width='9.5' overflow='visible' enable-background='accumulate'/><path d='M55.77 52.92L52.94 55.75l14 14 2.83-2.83-14-14z' font-size='xx-small' fill='" + svg-search-color($color) + "' stroke-width='6' overflow='visible' enable-background='accumulate' font-family='Sans' class='s0'/><path d='M60.97 57.03c-1.55-3.04 1.02-3.63 2.46-0.58 1.44-0.21 3.21 4.29l9.19 9.2c2.68 2.85 3.26 2.46 5.64 2.38-2.38 2.77-2.79-0.08-5.65l-9.19-9.2c-0.73-0.75-1.78-1.19-2.83-1.19z' font-size='xx-small' fill='" + svg-search-color($color) + "' stroke-width='11.8' overflow='visible' enable-background='accumulate' font-family='Sans' class='s0'/></g></svg>");
}
