// Card patterns
@mixin vf-p-card {

  %p-card {
    background: $color-light;
    border-radius: 2px;
    padding: 1rem;

    &__title {
      font-size: 1.5rem;
      margin: 0 0 .5rem;
    }

    &__content {
      margin-bottom: 1rem;
    }

    &__footer {
      border-top: 1px solid $color-mid-dark;
      padding-top: 1rem;
    }
  }

  .p-card {
    @extend %p-card;
    border: 1px solid $color-mid-dark;
  }

  .p-card--highlighted {
    @extend %p-card;
    box-shadow: 0 1px 5px 1px rgba($color-dark, .2);
  }
}
