// Default header styling
@mixin vf-p-header {

  .p-header {
    @extend .clearfix;
    width: 100%;
    background-color: $color-cool-grey;
    color: $color-light;

    &__logo {
      width: 100%;
      padding: 1rem;
      text-align: center;

      &-link {
        border-bottom: 0;
      }
    }

    &__links {
      padding: 1rem;
      background-color: $color-warm-grey;
    }

    &__link {
      display: block;
      border-bottom: 0;
      margin-bottom: .5rem;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (min-width: $breakpoint-medium) {

      &__logo {
        display: inline-block;
        float: left;
        width: auto;
      }

      &__links {
        background-color: transparent;
        float: right;
      }

      &__link {
        display: inline-block;
        width: auto;
        margin: 0 0 0 .5rem;

      }
    }
  }
}
