// Pull quote styling
@mixin vf-p-pull-quotes {

  .p-pull-quote {
    max-width: 75%;

    > p {
      font-size: 1.4375rem;

      &:first-of-type::before,
      &:last-of-type::after {
        font-size: 2.8125rem;
        margin: 4em -.6rem;
      }

      &:first-of-type::before {
        content: '\201C';
        position: relative;
        top: .45rem;
        right: 1.5625rem;
      }
    }

    &__citation {
      font-size: 1.25rem;
      font-style: italic;
      margin-top: 1rem;
      display: inline-block;
    }
  }
}
