@mixin vf-p-set-logo-width($breakpoint: small) {
  $grid-column-count: $grid-columns-small;
  $grid-column-prefix: $grid-small-col-prefix;
  $gutter: map-get($grid-gutter-widths, small);
  $media-query-keyword: max-width;
  $media-query-width: $threshold-4-6-col;
  $logo-column-span: 1;

  @if $breakpoint == medium {
    $grid-column-count: $grid-columns-medium;
    $grid-column-prefix: $grid-medium-col-prefix;
    $gutter: map-get($grid-gutter-widths, medium);
    $media-query-keyword: min-width;
    $media-query-width: $threshold-4-6-col;
    $logo-column-span: 1;
  } @else if $breakpoint == large {
    $grid-column-count: $grid-columns;
    $grid-column-prefix: $grid-large-col-prefix;
    $gutter: map-get($grid-gutter-widths, large);
    $media-query-keyword: min-width;
    $media-query-width: $threshold-6-12-col;
    $logo-column-span: 2;
  }

  @for $i from $grid-column-count through 1 {
    .#{$grid-column-prefix}#{$i} & {
      @media ($media-query-keyword: #{$media-query-width}) {
        $gutters-total: ($i - 1) * $gutter;

        width: calc(#{$gutter * ($logo-column-span - 1)} + #{$logo-column-span * (100% / $i)} - #{$logo-column-span * ($gutters-total / $i)});
      }
    }
  }
}

@mixin vf-p-logo-section {
  .p-logo-section {
    @extend %fixed-width-container;

    .row &,
    .u-fixed-width & {
      @include vf-b-row-reset;
    }
  }

  .p-logo-section__title {
    @extend %x-small-text;

    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  .p-logo-section__items {
    display: flex;
    flex-wrap: wrap;
    gap: 0 map-get($grid-gutter-widths, small);
    justify-content: center;
    width: 100%;

    @media (min-width: $threshold-4-6-col) {
      gap: 0 map-get($grid-gutter-widths, medium);
    }

    @media (min-width: $threshold-6-12-col) {
      gap: 0 map-get($grid-gutter-widths, large);
    }

    [class*='col-'] & {
      justify-content: start;
    }
  }

  .p-logo-section__item {
    $gutter--small: map-get($grid-gutter-widths, small);
    $logo-column-span--small: 1;
    $gutters-total--small: ($grid-columns-small - 1) * $gutter--small;

    $gutter--medium: map-get($grid-gutter-widths, medium);
    $logo-column-span--medium: 1;
    $gutters-total--medium: ($grid-columns-medium - 1) * $gutter--medium;

    $gutter--large: map-get($grid-gutter-widths, large);
    $logo-column-span--large: 2;
    $gutters-total--large: ($grid-columns - 1) * $gutter--large;

    align-items: center;
    display: flex;
    flex: 0 1 auto;
    margin-bottom: $spv-outer--scaleable;
    width: calc(
      #{$gutter--small * ($logo-column-span--small - 1)} + #{$logo-column-span--small * (100% / $grid-columns-small)} - #{$logo-column-span--small *
        ($gutters-total--small / $grid-columns-small)}
    );

    @media (min-width: $threshold-4-6-col) {
      width: calc(
        #{$gutter--medium * ($logo-column-span--medium - 1)} + #{$logo-column-span--medium * (100% / $grid-columns-medium)} - #{$logo-column-span--medium *
          ($gutters-total--medium / $grid-columns-medium)}
      );
    }

    @media (min-width: $threshold-6-12-col) {
      width: calc(
        #{$gutter--large * ($logo-column-span--large - 1)} + #{$logo-column-span--large * (100% / $grid-columns)} - #{$logo-column-span--large *
          ($gutters-total--large / $grid-columns)}
      );
    }

    @include vf-p-set-logo-width($breakpoint: small);
    @include vf-p-set-logo-width($breakpoint: medium);
    @include vf-p-set-logo-width($breakpoint: large);
  }

  .p-logo-section__logo {
    height: auto;
    width: 100%;
  }
}
