@import 'settings';

@mixin vf-p-table-mobile-card {
  .p-table--mobile-card {
    // threshold value for $multi; if less, space between cards, and padding on tdable cells are set to zero;
    $td-threshold: 2;

    td::before,
    tbody th::before {
      @extend %muted-heading;
    }

    @media screen and (max-width: $breakpoint-large) {
      thead {
        display: none;
      }

      tbody {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      tr {
        border-top: 1px solid $color-mid-light;
        display: flex;
        flex-wrap: wrap;
        margin: -1px 0 $spv-outer--small;
        width: 100%;
      }

      td,
      tbody th {
        $td-padding-bottom: if($multi > $td-threshold, $spv-nudge-compensation, 0);
        $td-padding-top: if($multi > $td-threshold, $spv-nudge, 0);
        align-items: flex-start;
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        justify-content: left !important;
        margin: 0;
        overflow: visible;
        padding-bottom: $td-padding-bottom;
        padding-top: $td-padding-top;
        text-align: left !important;
        width: 25%;

        &[aria-label] {
          text-align: right;

          &::before {
            content: attr(aria-label);
            display: block;
            flex: 0 1 auto;
            margin-bottom: $spv-inner--small - map-get($nudges, nudge--small);
            width: 100%;
          }
        }

        &.u-align--right {
          justify-content: unset !important;
        }
      }

      // Styles contextual menus differently within mobile-card tables
      .p-contextual-menu {
        width: 100%;

        // Initial menu item for actions should be hidden
        [role='menuitem'] {
          display: none;
        }
      }

      .p-contextual-menu__dropdown {
        box-shadow: none;
        display: block;
        max-width: 100%;
        position: relative;

        &::before {
          display: none;
        }
      }

      .p-contextual-menu__group {
        padding: 0;

        + .p-contextual-menu__group {
          margin-top: $sp-small;
          padding-top: $sp-small;
        }
      }

      // Any link items should be styled as a button element
      .p-contextual-menu__link {
        border: {
          color: $color-mid-light;
          radius: 0.125rem;
          style: solid;
          width: 1px;
        }
        box-sizing: border-box;
        color: $color-x-dark;
        cursor: pointer;
        display: block;
        line-height: $sp-medium;
        outline: none;
        padding: $sp-small $sp-large;
        text-align: center;
        text-decoration: none;
        width: 100%;

        + .p-contextual-menu__link {
          margin-top: $sp-x-small;
        }
      }
    }
  }
}
