// Footer pattern styling
@mixin vf-p-footer {

  .p-footer {
    font-size: .75rem;
  }

  .p-footer-links {
    margin: 1rem 0 0;
    padding: 0 0 0 .5rem;

    &__item {
      display: block;
      margin-bottom: .25rem;

      &:last-child a:after {
        opacity: 0;
      }
    }

    &__link {
      border-bottom: 0;
      font-size: .75rem;
    }

    @media (min-width: $breakpoint-medium) {
      margin: 0;
      padding: 0;

      &__item {
        display: inline-block;
      }

      &__link {
        margin-right: 1rem;

        &:after {
          content: '\00b7'; // Adds a middle dot
          font-size: 1.5rem;
          position: relative;
          top: .2rem;
          left: .5rem;
        }
      }
    }
  }
}
