@import 'settings';

@mixin vf-quotes {
  color: $color-mid-light;
  display: inline-block;
  font-size: 2.134rem;
  font-weight: bold;
  line-height: $sp-medium;
  max-width: 1.25rem;

  @media (min-width: $breakpoint-medium)  {
    font-size: $sp-xx-large;
  }

  @media (min-width: $breakpoint-large) {
    font-size: $sp-xxx-large;
  }
}

// Pull quote styling
@mixin vf-p-pull-quotes {

  .p-pull-quote {
    border: 0;
    margin: $spv-inter--scaleable 0 $spv-inter--scaleable + $sp-unit;
    overflow: visible;
    padding-left: $sp-x-large;
    padding-right: $sph-intra;
    position: relative;

    @media (min-width: $breakpoint-medium) {
      margin: $sp-large 0 $sp-large;
    }

    > p {
      @extend %vf-heading-3;
      font-style: normal;

      &:first-of-type::before {
        @include vf-quotes;
        content: '\201C\2002'; // Unicode for left double quotation mark +  1/2 em space
        margin-left: -1.5rem;
        padding-right: $sp-large;
        position: relative;
        top: .1rem;

        @media (min-width: $breakpoint-medium)  {
          margin-left: -1.9rem;
          padding-right: 1.9rem;
          top: .4rem;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:last-of-type::after {
        @include vf-quotes;
        content: '\2002\201E'; // Unicode for 1/2 em space + low double quotation mark
        margin-left: $sp-x-small;
        margin-top: -.5rem;
        position: absolute;
      }
    }

    &__citation {
      display: inline-block;
      font-size: 1.25rem;
      font-style: italic;
      line-height: 1.5;
      margin-top: $sp-small;
      width: 100%;
    }
  }
}
