@import 'settings';

@mixin vf-p-chip {
  @include vf-chip-default;
  @include vf-chip-positive;
  @include vf-chip-caution;
  @include vf-chip-negative;
  @include vf-chip-information;
}

@mixin vf-chip-default {
  .p-chip {
    @include vf-chip-base();
  }
}

@mixin vf-chip-positive {
  .p-chip--positive {
    @include vf-chip-base($background-color: #f3fff4, $border-color: $color-positive);
  }
}

@mixin vf-chip-caution {
  .p-chip--caution {
    @include vf-chip-base($background-color: #fff9f0, $border-color: #ec6c04);
  }
}

@mixin vf-chip-negative {
  .p-chip--negative {
    @include vf-chip-base($background-color: #fff5f5, $border-color: $color-negative);
  }
}

@mixin vf-chip-information {
  .p-chip--information {
    @include vf-chip-base($background-color: #f0f7ff, $border-color: $color-information);
  }
}

@mixin vf-chip-base($background-color: $colors--light-theme--background-hover, $border-color: #757575) {
  $chip-line-height: 1rem;
  $base-background-opacity-amount: 0.05;
  $color-background-hover: darken($background-color, 10%);

  @extend %small-text;

  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: $chip-line-height;
  display: inline-flex;
  line-height: $chip-line-height;
  margin: map-get($nudges, nudge--p) $sph--small 0 0;
  max-width: 100%;
  padding-bottom: 0.25rem;
  padding-left: $sph--small;
  padding-right: $sph--small;
  padding-top: 0.25rem;
  user-select: none;
  white-space: nowrap;

  &:hover {
    background-color: $color-background-hover;
  }

  &.is-selected,
  &:active {
    background-color: $colors--light-theme--background-active;
  }

  .p-chip__lead,
  .p-chip__value {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .p-chip__lead {
    $space-between-lead-and-value: 0.25rem;
    @extend %muted-text;
    @extend %x-small-text;

    line-height: $chip-line-height;
    padding-right: $space-between-lead-and-value * 2;
    padding-top: 0.1rem;
    position: relative;
    text-transform: uppercase;

    &::after {
      content: '\00a0:';
      position: absolute;
      right: $space-between-lead-and-value;
    }
  }

  .p-chip__badge {
    @extend %vf-p-chip-badge-base;

    background-color: $color-x-dark;
  }

  .p-chip__badge--negative {
    @extend %vf-p-chip-badge-base;

    background-color: $color-negative;
  }

  .p-chip__value {
    @extend %small-text;

    line-height: $chip-line-height;
    margin-right: $sp-unit * 0.5;
    padding-top: 0.05rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .p-chip__dismiss {
    @include vf-button-pattern(
      $button-background-color: transparent,
      $button-border-color: transparent,
      $button-hover-background-color: transparent,
      $button-hover-border-color: transparent
    );

    border: none;
    display: block;
    flex: 0 0 auto;
    left: 0.25rem;
    line-height: 1rem;
    margin-bottom: 0;
    margin-right: 0.25rem;
    padding: 0;
    position: relative;
    top: 0.05rem;

    [class*='p-icon'] {
      vertical-align: calc(#{0.5 * $cap-height} - #{0.5 * $default-icon-size});
    }
  }

  %vf-p-chip-badge-base {
    border-radius: $chip-line-height;
    color: $color-x-light;
    padding: 0 0.25rem;

    &:last-child {
      margin-right: -0.25rem;
    }
  }
}
