@import 'settings';

// Footer pattern styling
@mixin vf-p-footer {
  .p-footer {
    border-top: 1px solid $color-mid-light;
    font-size: .875rem;
    line-height: 1.5;
    margin-top: auto;
    padding-bottom: $sp-medium;
    padding-top: $sp-medium;

    @at-root {
      body,
      html {
        height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
      }
    }

    @media (min-width: $breakpoint-medium) {
      padding-bottom: $sp-large;
      padding-top: $sp-large;
    }

    &__copy {
      margin-bottom: 0;
    }

    &__links {
      margin: 0;
      padding: $sp-small 0 0;

      @media (min-width: $breakpoint-medium) {
        margin-top: 0;
        padding-top: $sp-medium;
      }
    }

    &__nav {
      margin-top: 0;
    }

    &__item {
      display: block;
      margin-bottom: $sp-xx-small;

      @media (min-width: $breakpoint-medium) {
        display: inline-block;
      }

      &:last-child a::after {
        opacity: 0;
      }
    }

    &__link {
      border-bottom: 0;
      color: $color-dark;

      &:visited {
        color: darken($color-dark, 10%);
      }

      &:hover {
        color: $color-link;
      }

      @media (min-width: $breakpoint-medium) {
        margin-right: $sp-medium;
        position: relative;

        &::after {
          content: '\00b7'; // Adds a middle dot
          display: inline-block;
          font-size: $sp-large;
          position: absolute;
          right: -.75rem;
          top: -.65rem;
        }
      }

      &:hover::after {
        color: $color-dark;
      }
    }
  }
}
