@import 'settings';

@mixin vf-p-equal-height-row {
  .p-equal-height-row {
    @extend %vf-row;
    position: relative;

    // Required to override styles in %vf-row
    @supports (display: grid) {
      grid-gap: 0 map-get($grid-gutter-widths, small);
      grid-template-columns: repeat($grid-columns-small, minmax(0, 1fr));

      @media (min-width: $threshold-6-12-col) {
        grid-gap: 0 map-get($grid-gutter-widths, default);
        grid-template-columns: repeat($grid-columns, minmax(0, 1fr));
      }
    }

    .p-equal-height-row__col {
      // smaller screens each column will have border top by default
      border-top-color: $colors--theme--border-low-contrast;
      border-top-style: solid;
      border-top-width: 1px;
      display: grid;
      grid-column: span $grid-columns-small;
      grid-row: span 4;
      grid-template-rows: subgrid;
      margin-bottom: $spv--small;
      margin-top: -1px;
      position: relative;

      @media screen and ($breakpoint-small <= width < $breakpoint-large) {
        grid-template-columns: subgrid;

        // each column item will take half of the available cols from the parent grid
        .p-equal-height-row__item {
          grid-column: span calc($grid-columns-small / ($grid-columns-small / 2));
        }

        // for medium screen, position the first column item on the left of the grid
        .p-equal-height-row__item:first-child {
          grid-row: span 100; // this needs to be sufficiently large so remaining column items won't get stretched
        }
      }

      // each column item will take half of the available cols from the parent grid
      @media screen and (width >= $breakpoint-large) {
        border: none;
        grid-column: span calc($grid-columns / 4);
        margin-bottom: 0;
      }
    }

    // DIVIDERS

    // For each row or column grid we only have access to two pseudo elements
    // if 1st-divider (::before) is present, assume 2nd-divider (::after) isn't, then 3rd-divider must be (::after)
    // if 2nd-divider (::after) is present, assume 1st-divider (::before) isn't, then 3rd-divider must be (::before)
    &.has-divider-1::before,
    &.has-divider-2::after,
    &.has-divider-3:not(.has-divider-1)::before,
    &.has-divider-3:not(.has-divider-2)::after {
      // row level dividers are not visible on smaller screen sizes
      @extend %vf-pseudo-border;
      background-color: $colors--theme--border-low-contrast; // override border color to be low contrast
      display: none;
    }

    @media screen and (width >= $breakpoint-large) {
      &.has-divider-1::before,
      &.has-divider-2::after,
      &.has-divider-3:not(.has-divider-1)::before,
      &.has-divider-3:not(.has-divider-2)::after {
        display: block;
        grid-column-end: span 12;
        grid-column-start: 1;
        margin: auto;
      }

      &.has-divider-1::before {
        grid-row: 2;
      }

      &.has-divider-2::after {
        grid-row: 3;
      }

      // when 3rd-divider is present and 1st-divider is not present
      &.has-divider-3:not(.has-divider-1)::before,
      // when 3rd-divider is present and 2nd-divider is not present
      &.has-divider-3:not(.has-divider-2)::after,
      // when only 3rd-divider is present
      &.has-divider-3:not(.has-divider-1):not(.has-divider-2)::before {
        grid-row: 4;
      }

      &.has-divider-3:not(.has-divider-1):not(.has-divider-2)::after {
        display: none;
      }
    }
  }

  // support for 25-75 split on large screen size for this pattern
  .row--25-75-on-large > .col,
  .row > .col-9 {
    & .p-equal-height-row {
      grid-template-columns: repeat($grid-columns-small, minmax(0, 1fr));

      @media screen and (width >= $breakpoint-large) {
        grid-template-columns: repeat(9, minmax(0, 1fr));
      }
    }
  }
}
