@mixin patterns-maas-tables {
  // checkbox fixes
  input[type='checkbox'] + label {
    display: inline-block;
    margin-bottom: 0;
    margin-left: $sp-unit;
    margin-top: - .4rem; // nudge-p + td padding-top
    vertical-align: top;
    width: fit-content;
  }

  .faded {
    opacity: .5;
  }

  $breakpoint-first: 1160px;
  $breakpoint-second: 1360px;
  $breakpoint-third: 1920px;

  .p-table--pajama {
    tbody tr:not(:first-child) {
      border: 0;

      &:nth-child(even) {
        background-color: $color-light;
      }

      &:nth-child(even) td {
        padding-bottom: $multi * $spv-intra--condensed;
      }
    }
  }

  .p-table--extra-padding {
    tbody tr:not(:first-child) {
      border: 0;

      td {
        padding-bottom: $spv-intra;
        padding-top: $spv-intra;
      }
    }
  }

  .p-table--borderless {
    tbody tr {
      &:hover {
        background-color: $color-light;
      }

      &:not(:first-child) {
        border: 0;

        td {
          padding-bottom: 0;
          padding-top: 0;
        }
      }
    }
  }

  .p-table--machines {
    .p-icon {
      margin-right: $sph-intra--condensed;
    }
  }

  .p-double-row {
    $icon-space: map-get($icon-sizes, default) + $sph-intra--condensed;

    &--with-icon {
      @extend %vf-clearfix;
    }

    &--with-icon &__p-icon {
      display: block;
      float: left;
      width: map-get($icon-sizes, default);
    }

    &__rows {
      float: left;
      width: calc(100% - #{$icon-space});
    }
  }

  // Machines table custom styles
  .p-table--machines td {
    vertical-align: top;
  }

  td:not(:last-child),
  th:not(:last-child) {
    @media (max-width: $breakpoint-medium) {
      padding-right: $sph-intra;
    }
  }

  // Columns
  .p-table__col,
  .p-table__header,
  .p-table__cell {
    &--checkbox--header {
      @media (max-width: $breakpoint-first - 1px) {
        width: 2%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second) {
        width: 2%;
      }
      @media (min-width: $breakpoint-second) {
        width: 2%;
      }
    }

    &--checkbox {
      @media (max-width: $breakpoint-first - 1px) {
        width: 3%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second) {
        width: 3%;
      }
      @media (min-width: $breakpoint-second) {
        width: 3%;
      }
    }

    &--name {
      @media (max-width: $breakpoint-first - 1px) {
        width: 15%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second) {
        width: 12%;
      }
      @media (min-width: $breakpoint-second) {
        width: 10%;
      }
    }

    &--power {
      @media (max-width: $breakpoint-first - 1px) {
        width: 2%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second) {
        width: 7%;
      }
      @media (min-width: $breakpoint-second) {
        width: 5%;
      }
    }

    &--ip {
      @media (max-width: $breakpoint-first - 1px) {
        width: 12%;
      }
      @media (min-width: $breakpoint-first) and (min-width: $breakpoint-first) {
        width: 12%;
      }
    }

    &--status-icon {
      @media (max-width: $breakpoint-first - 1px) {
        width: 2%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second - 1px) {
        width: 2%;
      }
      @media (min-width: $breakpoint-second) {
        width: 2%;
      }
    }

    &--status {
      @media (max-width: $breakpoint-first - 1px) {
        width: 20%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second - 1px) {
        width: 15%;
      }
      @media (min-width: $breakpoint-second) {
        width: 15%;
      }
    }

    &--events {
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second - 1px) {
        width: 25%;
      }
      @media (min-width: $breakpoint-second) {
        width: 22%;
      }
    }

    &--owner {
      @media (max-width: $breakpoint-first - 1px) {
        width: 8%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second - 1px) {
        width: 6%;
      }
      @media (min-width: $breakpoint-second) {
        width: 5%;
      }
    }

    &--location {
      @media (max-width: $breakpoint-first - 1px) {
        width: 0%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second - 1px) {
        width: 0%;
      }
      @media (min-width: $breakpoint-second) {
        width: 0%;
      }
      @media (min-width: $breakpoint-third) {
        width: 6.55%;
      }
    }

    &--cores {
      @media (max-width: $breakpoint-first - 1px) {
        width: 7%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second - 1px) {
        width: 6%;
      }
      @media (min-width: $breakpoint-second) {
        width: 5%;
      }
    }

    &--ram {
      @media (max-width: $breakpoint-first - 1px) {
        width: 6.5%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second - 1px) {
        width: 6%;
      }
      @media (min-width: $breakpoint-second) {
        width: 4%;
      }
    }

    &--disks {
      @media (max-width: $breakpoint-first - 1px) {
        width: 5%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second - 1px) {
        width: 4%;
      }
      @media (min-width: $breakpoint-second) {
        width: 3%;
      }
    }

    &--storage {
      @media (max-width: $breakpoint-first - 1px) {
        width: 5.5%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second - 1px) {
        width: 5%;
      }
      @media (min-width: $breakpoint-second) {
        width: 4%;
      }
    }

    &--pool {
      @extend %visible-from-breakpoint-first;
      @media (max-width: $breakpoint-first - 1px) {
        width: 5.5%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second - 1px) {
        width: 5%;
      }
      @media (min-width: $breakpoint-second) {
        width: 3%;
      }
    }

    &--zone {
      @extend %visible-from-breakpoint-first;
      @media (max-width: $breakpoint-first - 1px) {
        width: 5.5%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second - 1px) {
        width: 7%;
      }
      @media (min-width: $breakpoint-second) {
        width: 5%;
      }
    }

    &--fabric {
      @extend %visible-from-breakpoint-third;
      @media (max-width: $breakpoint-first - 1px) {
        width: 5.5%;
      }
      @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second - 1px) {
        width: 7%;
      }
      @media (min-width: $breakpoint-second) {
        width: 5%;
      }
    }

    &--gap-0 {
      display: none;
      // @media (max-width: $breakpoint-first - 1px) {
      //   width: 0%;
      // }
      // @media (min-width: $breakpoint-first) and (max-width: $breakpoint-second - 1px) {
      //   width: 0%;
      // }
      // @media (min-width: $breakpoint-second) {
      //   display: block;
      //   width: 3%;
      // }
    }
  }

  // Headers
  .p-table__header--storage,
  .p-table__header--ram {
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
  }

  // Cells
  .p-table__cell--name,
  .p-table__cell--status,
  .p-table__cell--events {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // ICONS
  %p-icon--v-aligned-with-text {
    float: left;
    margin-right: $sph-intra--condensed;
    margin-top: map-get($nudges, nudge--p);
  }

  .p-icon--v-aligned-with-text {
    @extend %p-icon--v-aligned-with-text;
  }

  .p-icon--power-on,
  .p-icon--power-off,
  .p-icon--power-error,
  .p-icon--power-unknown {
    @extend %p-icon--v-aligned-with-text;
}

  .p-icon--power-on {
    @extend %icon;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2215%22%20width%3D%2214%22%3E%3Cpath%20d%3D%22M11.04%202.323l-.324%202.268a5.017%205.017%200%200%201%201.352%203.426c0%202.787-2.274%205.056-5.068%205.056s-5.067-2.269-5.067-5.056a5.02%205.02%200%200%201%201.351-3.426L2.96%202.323A6.935%206.935%200%200%200%200%208.017C0%2011.868%203.14%2015%207%2015s7-3.132%207-6.983a6.933%206.933%200%200%200-2.96-5.694zM6%200h2v7H6V0z%22%20fill%3D%22%230E8420%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
  }

  .p-icon--power-error {
    @extend %icon;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2215%22%20width%3D%2214%22%3E%3Cpath%20d%3D%22M11.04%202.323l-.324%202.268a5.017%205.017%200%200%201%201.352%203.426c0%202.787-2.274%205.056-5.068%205.056s-5.067-2.269-5.067-5.056a5.02%205.02%200%200%201%201.351-3.426L2.96%202.323A6.935%206.935%200%200%200%200%208.017C0%2011.868%203.14%2015%207%2015s7-3.132%207-6.983a6.933%206.933%200%200%200-2.96-5.694zM6%200h2v7H6V0z%22%20fill%3D%22%23C7162B%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
  }

  .p-icon--power-off {
    @extend %icon;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2215%22%20width%3D%2214%22%3E%3Cpath%20d%3D%22M11.04%202.323l-.324%202.268a5.017%205.017%200%200%201%201.352%203.426c0%202.787-2.274%205.056-5.068%205.056s-5.067-2.269-5.067-5.056a5.02%205.02%200%200%201%201.351-3.426L2.96%202.323A6.935%206.935%200%200%200%200%208.017C0%2011.868%203.14%2015%207%2015s7-3.132%207-6.983a6.933%206.933%200%200%200-2.96-5.694zM6%200h2v7H6V0z%22%20fill%3D%22%23CDCDCD%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
  }

  .p-icon--progress-75pct {
    @extend %icon;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='14px' height='15px' viewBox='0 0 14 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 50.2 %2855047%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='table-ideas-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='212' transform='translate%28-378.000000, -694.000000%29' fill='%23B2B1B1'%3E%3Cpath d='M378,704.651753 L385.149439,701.992337 L385.149439,694 C388.975003,694.257575 392,697.513318 392,701.49179 C392,705.63846 388.713821,709 384.660113,709 C381.709929,709 379.16627,707.219542 378,704.651753 Z' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  .p-icon--power-unknown {
    @extend %icon;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='7px' height='12px' viewBox='0 0 7 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 50.2 %2855047%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='prototype--tables' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='207-group-selection' transform='translate%28-333.000000, -143.000000%29'%3E%3Cg id='Group' transform='translate%28333.000000, 141.000000%29'%3E%3Crect id='Rectangle' x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3Cpath d='M2.79224377,3.71191136 C2.40443019,3.71191136 2.03324277,3.7590023 1.67867036,3.8531856 C1.32409795,3.94736889 0.952910526,4.09972194 0.565096953,4.31024931 L0,2.76454294 C0.409974349,2.53185479 0.878113712,2.34626108 1.40443213,2.20775623 C1.93075055,2.06925139 2.47091136,2 3.02493075,2 C3.68975402,2 4.23822499,2.09141183 4.67036011,2.27423823 C5.10249524,2.45706463 5.44598211,2.68697922 5.70083102,2.96398892 C5.95567994,3.24099861 6.13296349,3.54570471 6.23268698,3.87811634 C6.33241047,4.21052798 6.38227147,4.5318544 6.38227147,4.84210526 C6.38227147,5.21883845 6.31302008,5.55678521 6.17451524,5.85595568 C6.03601039,6.15512615 5.8614969,6.43213169 5.65096953,6.68698061 C5.44044216,6.94182953 5.21329762,7.18282435 4.96952909,7.4099723 C4.72576055,7.63712025 4.49861601,7.8698049 4.28808864,8.10803324 C4.07756127,8.34626158 3.90304778,8.59833662 3.76454294,8.86426593 C3.62603809,9.13019524 3.5567867,9.42936122 3.5567867,9.76177285 L3.5567867,9.95290859 C3.5567867,10.0249311 3.56232681,10.0941825 3.5734072,10.1606648 L1.84487535,10.1606648 C1.82271457,10.0498609 1.80609424,9.93074856 1.79501385,9.8033241 C1.78393346,9.67589964 1.77839335,9.55678726 1.77839335,9.44598338 C1.77839335,9.08033058 1.83933457,8.75346404 1.96121884,8.46537396 C2.0831031,8.17728388 2.2382262,7.91135856 2.4265928,7.66759003 C2.61495939,7.4238215 2.81717343,7.19667695 3.033241,6.98614958 C3.24930856,6.77562222 3.4515226,6.56509801 3.6398892,6.35457064 C3.82825579,6.14404327 3.98337889,5.92797895 4.10526316,5.70637119 C4.22714742,5.48476343 4.28808864,5.24099856 4.28808864,4.97506925 C4.28808864,4.60941645 4.16343615,4.30748042 3.91412742,4.06925208 C3.6648187,3.83102374 3.29086122,3.71191136 2.79224377,3.71191136 Z M4.08864266,12.6869806 C4.08864266,13.0747942 3.96122011,13.3905805 3.70637119,13.634349 C3.45152227,13.8781176 3.13573596,14 2.75900277,14 C2.39334997,14 2.08033371,13.8781176 1.8199446,13.634349 C1.55955548,13.3905805 1.42936288,13.0747942 1.42936288,12.6869806 C1.42936288,12.299167 1.55955548,11.9806107 1.8199446,11.7313019 C2.08033371,11.4819932 2.39334997,11.3573407 2.75900277,11.3573407 C3.13573596,11.3573407 3.45152227,11.4819932 3.70637119,11.7313019 C3.96122011,11.9806107 4.08864266,12.299167 4.08864266,12.6869806 Z' id='%3F' fill='%23CDCDCD'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  .p-icon--placeholder {
    @extend %icon;
  }

  // Viewports for density and compactness
  // Classes used:
  //   - .show-from-breakpoint-first: no compactness added, elements are using the most room
  //   - .show-until-breakpoint-first: 1st level of compactness, stacking & grouping enabled
  //   - .compact-2: 2nd lever of compactness, severe grouping & stacking, peotential removal of lower-priority elements
  //   - .detail-0: just the basic information shown
  //   - .detail-1: additional information shown

  %visible-until-breakpoint-first {
    @media (min-width: $breakpoint-first) {
      display: none;
    }
  }

  %visible-from-breakpoint-first {
    @media (max-width: $breakpoint-first - 1px) {
      display: none;
    }
  }

  %visible-until-breakpoint-second {
    @media (min-width: $breakpoint-first) {
      display: none;
    }
  }

  %visible-from-breakpoint-second {
    @media (max-width: $breakpoint-first - 1px) {
      display: none;
    }
  }

  %visible-from-breakpoint-third {
    @media (max-width: $breakpoint-third - 1px) {
      display: none;
    }
  }

  .p-table__cell--location {
    @extend %visible-from-breakpoint-third;
  }

  .show-from-breakpoint-first {
    @extend %visible-from-breakpoint-first;
  }

  .show-from-breakpoint-third {
    @extend %visible-from-breakpoint-third;
  }

  .show-until-breakpoint-first {
    @extend %visible-until-breakpoint-first;
  }

  .detail-0 {
    @extend %visible-until-breakpoint-second;
  }

  .detail-1 {
    @extend %visible-from-breakpoint-second;
  }

  // TESTING

  // grouping headers
  .group-heading__cell {
    background-color: $color-light;
  }


  // potential new pattern for displaying FQDNs
  .p-domain {
    @extend %vf-clearfix;
    display: inline-block;

    &__wrap {
      display: block;
      float: left;
    }

    &__host {
      @extend %bold;
      @extend %default-text;
      color: $color-dark;
    }

    &__suffix {
      @extend %small-text-min-margin;
      color: $color-mid-dark;
    }
  }

  %ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .p-table__second-row {
    @extend %small-text-min-margin;
    @extend %ellipsis;
    color: $color-mid-dark;
    white-space: nowrap;
  }

  .p-domain--off {
    color: $color-mid-light;
  }

  %units {
    &::before {
      content: "\00a0";
      position: relative;
    }
  }

  .p-machines-table__memory-units {
    @extend %de-emphasized-text;
    @extend %units;
  }

  .p-machines-table__storage-units {
    @extend %de-emphasized-text;
    @extend %units;
  }
}
