@import 'settings';

%p-card {
  background: $color-x-light;
  border-radius: 2px;
  color: $color-dark;
  padding: 1.25rem;

  .p-card {
    &__title {
      margin: 0 0 $sp-x-small;
    }

    &__content {
      margin-bottom: $sp-medium;
      margin-top: 0;
    }

    &__footer {
      border-top: 1px solid $color-mid-light;
      margin-top: 0;
      padding-top: $sp-medium;
    }

    &__header {
      border-bottom: 1px solid $color-mid-light;
      font-size: $sp-small;
      margin-bottom: $sp-small;
      padding-bottom: $sp-small;

      > img {
        max-height: $sp-x-large;
      }
    }
  }
}

@mixin vf-p-card {
  @include vf-p-card-default;
  @include vf-p-card-highlighted;
  @include vf-p-card-overlay;
}

@mixin vf-p-card-default {
  .p-card {
    @extend %p-card;
    border: 1px solid $color-mid-light;

    & & {
      margin-top: 0;
    }
  }
}

@mixin vf-p-card-highlighted {
  .p-card--highlighted {
    @extend %p-card;
    box-shadow: 0 1px 5px 1px transparentize($color-dark, .8);
  }
}

@mixin vf-p-card-overlay {
  .p-card--overlay {
    @extend %p-card;
    background: transparentize($color-x-light, .15);
  }
}
