// Image grid to showcase group of images
@mixin vf-p-inline-images {
  .p-inline-images {
    @extend %clearfix;
    display: block;
    list-style: none; // if list is used as wrapper
    text-align: center;

    &__img {
      display: inline-block;
      max-width: calc(50% - 2rem); // 2 items per row
      padding: 1rem;
      text-align: center;
      width: 100%;

      @media (min-width: $breakpoint-small) { // 3 items per row
        max-width: calc(33.3333% - 2rem);
      }

      @media (min-width: $breakpoint-large) { // 4 items per row
        max-width: calc(25% - 2rem);
      }
    }
  }
}
