/*
  @classreference
  cta-block:
    CTA Block:
      .p-cta-block:
        Main element of the CTA block.
      "&.is-borderless":
        Borderless variant, to be used to hide top border and padding.
*/

@import 'settings';

@mixin vf-p-cta-block {
  .p-cta-block {
    align-items: baseline;
    border-top: 1px solid $colors--theme--border-low-contrast;
    display: flex;
    flex-wrap: wrap;
    padding-top: $spv--small;

    &.is-borderless {
      border: none;
      padding-top: 0;
    }
  }
}
