@import 'settings';

@mixin vf-p-form-help-text {
  .p-form-help-text {
    @extend %small-text;

    color: $color-mid-dark;
    margin-top: $sp-unit * 2 - $spv-outer--scaleable; // negate the effect of scaling, as we don't want helper text position to change when the density multiplier changes

    &.is-tick-element {
      margin-left: $sph-inner + $form-tick-box-size;
    }
  }
}
