@import 'settings';

@mixin vf-p-accordion {
  .p-accordion {
    border-bottom: 1px solid $color-mid-light;

    &__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &__group {
      border-top: 1px solid $color-mid-light;
      margin: 0;
    }

    &__tab {
      background: {
        position: top $sp-medium right $sp-medium;
        repeat: no-repeat;
      }
      border: 0;
      //XXX remove !important once this is fixed https://github.com/vanilla-framework/vanilla-framework/issues/1495
      margin-bottom: 0 !important;
      padding-left: $sp-small;
      padding-right: $sp-xx-large;
      text-align: left;
      transition-duration: 0s;
      width: 100%;
      z-index: 2;

      // aria-selected controls the open and closed state for the accordion tab
      &[aria-expanded='true'] {
        @include vf-icon-minus(vf-url-friendly-color($color-mid-dark));
        background-size: $sp-medium;
      }

      &[aria-expanded='false'] {
        @include vf-icon-plus(vf-url-friendly-color($color-mid-dark));
        background-size: $sp-medium;
      }

      &:focus {
        outline: 1px solid $color-link;
        outline-offset: 2px;
      }
    }

    &__panel {
      border-top: 1px solid $color-mid-light;
      margin: 0;
      padding: $sp-small-$px $sp-small $sp-small $sp-large;

      // Hides panel content
      &[aria-hidden='true'] {
        display: none;
      }
    }
  }
}
