@import 'settings';

// Footer pattern styling
@mixin vf-p-footer {
  .p-footer {
    @extend %pseudo-border--top;
    @extend %section-padding--default;

    position: relative;

    &__copy {
      margin-bottom: 0;
    }

    &__links {
      margin: 0;
      padding: 0;

      @media (min-width: $breakpoint-medium) {
        margin-top: 0;
      }
    }

    &__nav {
      margin-top: 0;
    }

    &__item {
      display: block;

      @media (min-width: $breakpoint-medium) {
        display: inline-block;
      }

      &:last-child a::after {
        opacity: 0;
      }
    }

    &__link {
      @extend %paragraph;

      border-bottom: 0;
      color: $color-dark;
      display: inline-block;

      &:visited {
        color: darken($color-dark, 10%);
      }

      &:hover {
        color: $color-link;
      }

      @media (min-width: $breakpoint-medium) {
        margin-right: $sp-medium;
        position: relative;

        &::after {
          content: '\00b7'; // Adds a middle dot
          display: inline-block;
          font-size: $sp-large;
          line-height: 1.5rem;
          position: absolute;
          right: - $sp-unit * 1.5;
          top: map-get($nudges, nudge--p) - $spv-intra--condensed;
        }
      }

      &:hover::after {
        color: $color-dark;
      }
    }
  }
}
