// Default header styling

@mixin vf-p-navigation {
  @include navigation-light;
  @include navigation-dark;
}

@mixin navigation-dark {
  .p-navigation,
  .p-navigation--dark {
    @include navigation-pattern(
      $background-color: $color-dark,
      $border-color: $color-mid-light,
      $text-color: $color-x-light
    )
  }
}

@mixin navigation-light {
  .p-navigation--light {
    @include navigation-pattern(
      $background-color: $color-light,
      $border-color: $color-mid-light,
      $text-color: $color-dark
    );
    border-bottom: 1px solid $color-mid-light;
  }
}

@mixin navigation-pattern (
  $background-color: $color-brand,
  $border-color: $color-x-light,
  $text-color: $color-x-light
) {
  @extend %clearfix;
  background-color: $background-color;
  color: $text-color;
  position: relative;
  width: 100%;

  .row {
    padding: 0;
  }

  .p-navigation {
    &__toggle--open,
    &__toggle--close,
    &__link {
      color: $text-color;

      &:hover {
        border-bottom: 0;
        text-decoration: underline;
      }

      &:visited {
        color: $text-color;
      }
    }

    &__toggle--close {
      display: none;
    }

    &__toggle {
      &--open,
      &--close {
        float: right;
        margin: $sp-small $sp-medium;

        @media (min-width: $breakpoint-navigation-threshold + 1) {
          display: none;
        }
      }
    }

    &__logo {
      @include heading-4;
      align-items: center;
      display: flex;
      float: left;
      margin: $sp-small $sp-x-small;

      @media (min-width: $breakpoint-navigation-threshold + 1) {
        margin: $sp-x-small ($sp-large - $sp-xx-small);
      }
    }

    &__link {
      border-bottom: 0;  // For when this class is applied to an <a> directly
      display: block;

      @media (min-width: $breakpoint-navigation-threshold + 1) {
        display: block;
        float: left;
        width: auto;
      }

      & > a {
        // For when this class is applied to something that contains <a>s, e.g.:
        // <li class="p-navigation__list"><a></a></li>
        border-bottom: 0;
        color: $color-dark;
        font-size: .93333rem;

        @media (min-width: $breakpoint-navigation-threshold + 1) {
          color: $text-color;
          font-size: .875rem;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__links {
      background-color: $color-mid-light;
      clear: both;
      margin: 0; // For if this class is applied to a <ul>
      padding: 0; // For if this class is applied to a <ul>

      @media (min-width: $breakpoint-navigation-threshold + 1) {
        background-color: transparent;
        clear: none;
        float: left;
      }

      .p-navigation__link {
        border-left: 1px solid $color-mid-light;
        padding: $sp-small $sp-x-small;

        @media (max-width: $breakpoint-navigation-threshold) {
          background-color: $color-light;
          border-top: 1px solid $color-mid-light;
          border-left: 0;
          color: $color-dark;
          text-align: left;
        }

        @media (min-width: $breakpoint-navigation-threshold + 1) {
          padding: $sp-small ($sp-large - $sp-xx-small);
        }
      }

      > a {
        // For when this class is applied to something that contains <a>s, e.g.:
        // <li class="p-navigation__list"><a></a></li>
        @media (max-width: $breakpoint-navigation-threshold) {
          color: $color-dark;
          display: block;
        }
      }

      &:last-of-type {
        border-right: 1px solid $color-mid-light;

        @media (max-width: $breakpoint-navigation-threshold) {
          border-bottom: 0;
          border-right: 0;
        }
      }
    }

    &__nav {
      display: none;

      @media (min-width: $breakpoint-navigation-threshold + 1) {
        display: block;
      }
    }
  }
    
  &:target {
    .p-navigation__toggle--open {
      display: none;
    }

    .p-navigation__toggle--close {
      @media (max-width: $breakpoint-navigation-threshold) {
        display: inline-block;
      }
    }
    
    .p-navigation__nav {
      display: block;
    }
  }
}
