/*
  @classreference
  newsletter-signup:
    Newsletter signup:
      .p-newsletter-signup:
        Main element of the newsletter signup component.
      .p-newsletter-signup--25-75:
        Modifier class for a 25-75 split layout.
      .p-newsletter-signup--50-50:
        Modifier class for a 50-50 split layout.
      .p-newsletter-signup--2-col:
        Modifier class for a 2 column layout.
        Takes at most 2 columns on large and medium dimensions.
        Takes full width  on small dimensions.
      .p-newsletter-signup--4-col:
        Modifier class for a 4 column layout.
        Takes at most 4 columns on large and medium dimensions.
        Takes full width  on small dimensions.
*/

@import 'settings';

@mixin vf-p-newsletter-signup {
  .p-newsletter-signup--2-col {
    padding-bottom: 0;

    @media (width < $breakpoint-small) {
      padding-bottom: $spv--strip-regular * 0.5;
    }
  }

  .p-newsletter-signup--4-col {
    padding-bottom: 0;

    @media (width < $breakpoint-large) {
      padding-bottom: $spv--strip-regular * 0.5;
    }
  }
}
