@import 'settings';

@mixin vf-p-pagination {
  .p-pagination {
    display: flex;
    width: 100%;

    &__link {
      display: block;
      flex: 1;
      margin-top: 0;
      padding: $sp-medium;
      position: relative;

      &:first-child {
        padding-left: $sp-x-large;

        @media (max-width: $breakpoint-x-small) {
          display: block;
          max-width: $sp-x-small;
        }
      }

      &:first-child .p-pagination__arrow {
        left: $sp-small;
      }

      &:last-child {
        padding-right: $sp-x-large;
        text-align: right;

        .p-pagination__arrow {
          right: $sp-small;
        }
      }

      &:hover {
        background: $color-light;
        text-decoration: none;
      }
    }

    &__label,
    &__title {
      color: $color-dark;
      display: block;
      margin-top: 0;
      width: 100%;
    }

    &__label {
      margin-bottom: $sp-x-small;
    }

    &__title {
      font-size: 1.125rem;

      @media (min-width: $breakpoint-small) {
        font-size: 1.25rem;
      }
    }

    &__arrow {
      margin: 0;
      position: absolute;
      top: calc(50% - 15px);
    }

    &__text {
      margin-top: 0;

      @media (max-width: $breakpoint-x-small) {
        display: none;
      }
    }
  }
}
