@import 'settings';

/*
  @classreference
  in-page-navigation:
    Root element:
        .p-in-page-navigation:
            in page navigation in default variant.
        "&.is-sticky":
            Sticky version of in page navigation.

    Dropdown toggle:
        .p-in-page-navigation__dropdown-toggle:
            Button to toggle between horizontal and vertical dropdown navigation on small/medium screens.
        .p-in-page-navigation__dropdown-toggle-icon:
            Chevron icon inside the dropdown toggle button.

    Items list heading:
        .p-in-page-navigation__heading:
            Heading for in page navigation items group (text only).

    Items list:
        .p-in-page-navigation__list:
            Group of in page navigation items (usually a `<ul>` element).

    Item element:
        .p-in-page-navigation__item:
            Single item in in page navigation (usually a `<li>` element). May contain nested items lists.

    Item link:
        .p-in-page-navigation__link:
            Single link in the in page navigation.
*/

@mixin vf-p-in-page-navigation {
  // Use a consistent border width for left-highlight and list border
  $in-page-navigation-border-width: 3px; 

  // Shares text styles
  %in-page-navigation__text {
    @include vf-in-page-navigation-spacing-left;

    padding-bottom: $spv--x-small;
    padding-right: 0;
    padding-top: $spv--x-small;

    @media screen and (width < $threshold-4-8-col) {
      padding-right: $spv--large;
    }
  }

  // Shared link styles for large screens and expanded dropdown
  %in-page-navigation__link--vertical {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // Scroll margins for headings withing the parent grid section
  .grid-row:has(.p-in-page-navigation) {
    h2, h3, h4 {
      scroll-margin-top: 72px;

      @media screen and (width >= $threshold-4-8-col) {
        scroll-margin-top: 24px;
      }

      @at-root body:has(.p-navigation.is-sticky) &, body:has(.p-navigation--sliding.is-sticky) & {
        scroll-margin-top: 120px;

        @media screen and (width >= $threshold-4-8-col) {
          scroll-margin-top: 80px;
        }
      }
    }
  }

  // Sticky styles for large screens
  .p-in-page-navigation {
    max-height: 100dvh;
    position: sticky;
    top: $spv--strip-shallow;
  }

  // Sticky styles small/medium screens
  @media screen and (max-width: ($threshold-4-8-col - 1px)) {
    // We make the parent column (of any size) sticky on small/medium screens
    [class^='grid-col']:has(> .p-in-page-navigation) {
      position: sticky;
      z-index: 1;
      top: 0;
    }

    [class^='grid-col']:has(> .p-in-page-navigation) > .p-in-page-navigation {
      position: static;
    }

    // Custom styles for the sticky horizontal layout
    .p-in-page-navigation {
      background-color: $colors--theme--background-default;
      margin-bottom: $spv--strip-shallow;
    }
  }

  // Shared style for the top level navigation list
  .p-in-page-navigation__container > .p-in-page-navigation__list {
    @extend %vf-pseudo-border--left; // Left hand border

    margin-bottom: $spv--strip-regular;
    max-height: 100vh;
    // Allow tooltips to overflow scrollable container
    overflow: visible;

    // Left hand border
    &::before {
      background-color: $colors--theme--border-low-contrast;
      width: $in-page-navigation-border-width;
    }

    @media screen and (width < $threshold-4-8-col) {
      background-color: $colors--theme--background-default;
      padding-left: $spv--large;

      &::before {
        left: $spv--large;
      }

      > .p-in-page-navigation__item {
        scroll-margin-left: $spv--large;
      }
    }
  }

  .p-in-page-navigation__list {
    @extend %vf-list;
    color: $colors--theme--text-inactive;

    &:last-of-type::after {
      content: none;
    }
  }

  .p-in-page-navigation__heading {
    @extend %in-page-navigation__text;
    @extend %common-default-text-properties;
    @extend %small-caps-text;

    display: block;
    font-size: map-get($base-font-sizes, base);
    font-weight: $font-weight-bold;
    margin: 0;
    max-width: none;
    padding-left: unset;
    padding-bottom: $spv--small;

    // We hide the heading on small/medium screens, unless the dropdown is expanded
    @media screen and (width < $threshold-4-8-col) {
      display: none;
    }
  }

  .p-in-page-navigation__link {
    @extend %in-page-navigation__text;
    @extend %in-page-navigation__link--vertical;
    @include vf-focus-themed;

    color: $colors--theme--text-muted;

    &:visited {
      color: $colors--theme--text-muted;
    }

    &:hover {
      color: $colors--theme--text-default;
      text-decoration: none;
    }

    // vf-highlight-bar is rendered above focus outline
    // so we need to hide it on focus
    &:focus::before {
      display: none;
    }

    // Display the highlight when focussing in modern browsers that support
    // focus-visible.
    &:focus:not(:focus-visible)::before {
      display: block;
    }

    // Active state for current navigation item
    &.is-active,
    &[aria-current='true'] {
      @extend %vf-pseudo-border--left;

      color: $colors--theme--text-default;
      cursor: default;

      &::before {
        background-color: $colors--theme--text-default;
        width: $in-page-navigation-border-width;
      }
    }

    // Small/medium screens
    @media screen and (width < $threshold-4-8-col) {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: $spv--medium $spv--large $spv--medium $spv--large;
      max-width: 33.33vw; // Limit link width to 1/3 viewport
      vertical-align: middle;
      line-height: $spv--x-large;

      // Adjust active state pseudo-border for horizontal layout
      &.is-active,
      &[aria-current='true'] {
        &::before {
          height: 50%;
          top: 25%;
        }
      }
    }

    // Small screens only
    @media screen and (width < $threshold-4-small-4-med-col) {
      max-width: 50vw; // Limit link width to 1/2 viewport
    }
  }

  // Dropdown toggle button
  .p-in-page-navigation__dropdown-toggle {
    border: 0;
    margin: 0;
    padding: $spv--large $sph--x-large;
    display: none;
    background-color: $colors--theme--background-default;
    line-height: map-get($icon-sizes, default);

    &:focus {
      @include vf-focus;
    }

    &:hover {
      background: $colors--theme--background-default;
    }

    .p-in-page-navigation__dropdown-toggle-icon {
      height: map-get($icon-sizes, default);
      width: map-get($icon-sizes, default);
    }

    @media screen and (width < $threshold-4-small-4-med-col) {
      .p-in-page-navigation__dropdown-toggle {
        padding: $spv--large $spv--large;
      }
    }
  }

  // Small/medium screens - horizontal layout, dropdown closed
  .p-in-page-navigation__container {
    @media screen and (width < $threshold-4-8-col) {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      position: relative;
      background-color: $colors--theme--background-default;
      margin: 0 (-$spv--x-large); // Break the background out the grid

      // Full-width bottom border using viewport units
      &::after {
        background-color: $colors--theme--border-low-contrast;
        bottom: 0;
        content: '';
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 100%
      }
    }

    @media screen and (width < $threshold-4-small-4-med-col) {
      margin: 0 (-$spv--large); // Break the background out the grid
    }
  }

  // Nested 2nd level of navigation indentation
  .p-in-page-navigation__item .p-in-page-navigation__list .p-in-page-navigation__link {
    // Apply double indentation on large screens
    @media screen and (width >= $threshold-4-8-col) {
      @include vf-in-page-navigation-spacing-left($multiplier: 2);
    }

    // Also apply when dropdown is expanded on small/medium
    @media screen and (width < $threshold-4-8-col) {
      .p-in-page-navigation__container:has(.p-in-page-navigation__list[aria-expanded='true']) & {
        @include vf-in-page-navigation-spacing-left($multiplier: 2);
      }
    }
  }

  // Small/medium screens - expanded dropdown
  .p-in-page-navigation__container:has(.p-in-page-navigation__list[aria-expanded='true']) {
    // Reset link style to large screen styles
    .p-in-page-navigation__link {
      @extend %in-page-navigation__text;
      @extend %in-page-navigation__link--vertical;

      &.is-active,
      &[aria-current='true'] {
        @extend %vf-pseudo-border--left;

        &::before {
          background-color: $colors--theme--text-default;
          width: $in-page-navigation-border-width;
        }
      }
    }

    @media screen and (width < $threshold-4-8-col) {
      background-color: $colors--theme--background-alt;
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: start;

      .p-in-page-navigation__item .p-in-page-navigation__list {
        display: block;
      }

      .p-in-page-navigation__heading {
        display: block;
        padding-top: $spv--medium;
        padding-bottom: $spv--medium;
        padding-left: $spv--large;
        grid-column: 1 / 2;
        grid-row: 1;
      }

      > .p-in-page-navigation__list {
        grid-column: 1 / 2;
        grid-row: 2;
        margin-bottom: $spv--large;
        background-color: $colors--theme--background-alt;
      }

      // Override for when there is no heading
      &:not(:has(> .p-in-page-navigation__heading)) > .p-in-page-navigation__list {
        grid-row: 1;
        margin-top: $spv--medium;
      }

      .p-in-page-navigation__dropdown-toggle {
        grid-column: 2 / 3;
        grid-row: 1;
        justify-self: end;
        background-color: $colors--theme--background-alt;
        display: block;
      }
    }
  }

  // Small/medium screens - collapsed dropdown
  .p-in-page-navigation__container:has(> .p-in-page-navigation__list:not([aria-expanded='true'])) { 
    @media screen and (width < $threshold-4-8-col) {
      .p-in-page-navigation__list {
        grid-column: 1;
        min-width: 0;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        white-space: nowrap;
        margin-bottom: 0;

        scrollbar-width: none; // Firefox
        -ms-overflow-style: none; // IE/Edge
        &::-webkit-scrollbar {
          display: none; // Chrome/Safari/Opera
        }

        // Remove left side border
        &::before {
          content: none;
        }

        .p-in-page-navigation__item {
          display: inline-block;
        }
      }

      // Hide nested lists
      .p-in-page-navigation__item .p-in-page-navigation__list {
        display: none;
      }

      .p-in-page-navigation__dropdown-toggle {
        grid-column: 2;
        justify-self: end;
        display: block;
      }
    }
  }
}

// Helper

// elements in side nav should be aligned from left based on grid margin for given screen size
// additional offset is added when icons are used or for nested navigation levels
@mixin vf-in-page-navigation-spacing-left(
  // property to adjust spacing, defaults to `padding-left`
  $prop: padding-left,
  // how many times grid margin width should be multiplied (for nested navigation levels)
  $multiplier: 1
) {
  #{$prop}: $multiplier * map-get($grid-margin-widths, small);

  @media screen and (width >= $threshold-4-small-4-med-col) {
    #{$prop}: $multiplier * map-get($grid-margin-widths, default);
  }
}
