@import 'settings';

@mixin vf-p-divider {
  .p-divider {
    @media (min-width: $breakpoint-medium) {
      display: flex;
    }

    &__block {
      @media (max-width: $breakpoint-medium) {
        padding-bottom: $spv-inter--scaleable;

        &:not(:first-child) {
          border-top: 1px solid $color-mid-light;
          padding-top: $spv-intra--scaleable - $px; // border compensation
        }
      }

      @media (min-width: $breakpoint-medium) {
        padding-right: 1rem;

        &:not(:nth-child(1))::before {
          border-left: 1px solid $color-mid-light;
          bottom: $sp-unit; // compensate for bottom margin on children
          content: '';
          left: -1.5rem;
          position: absolute;
          top: $sp-unit;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
