@import 'settings';

@mixin vf-p-subnav {
  $color-navigation-background: $color-x-light !default;

  .p-subnav {
    position: relative;
  }

  .p-subnav::after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: $spv-inner--large;
    pointer-events: none;
    position: absolute;
    right: calc(#{$sph-inner--small} + 1px); // 1px for the border on selects. this aligns itr with any selects underneath
    text-indent: calc(100% + 10rem);
    top: $spv-inner--large;
    width: $sph-inner;
  }

  .p-subnav__items,
  .p-subnav__items--right {
    @extend %vf-has-box-shadow;
    @extend %vf-has-round-corners;

    display: none;
    margin: 0;
    min-width: 100%;
    padding: 0;
    z-index: 5;

    @media (min-width: $breakpoint-navigation-threshold + 1) {
      position: absolute;
      top: $spv-inner--medium * 4;
    }

    @media (max-width: $breakpoint-navigation-threshold) {
      box-shadow: none;
    }
  }

  .p-subnav__items--right {
    right: 0;
  }

  .p-subnav.is-active {
    &::after {
      transform: rotate(180deg);
    }

    .p-subnav__items,
    .p-subnav__items--right {
      display: block;
    }
  }

  %subnav-link {
    padding-right: 2 * $sph-inner--small + map-get($icon-sizes, default); // icon padded with the default padding-right of selects, inputs etc.
  }

  .p-subnav > .p-navigation__link {
    // remove nesting in 3.0 when deprecated __link styles are removed
    @extend %subnav-link;
  }

  @include deprecate('3.0.0', 'Use .p-navigation__items, .p-navigation__item, .p-navigation__link classes instead.') {
    .p-subnav > a {
      @extend %subnav-link;
    }
  }

  // Theming
  @if ($theme-default-nav == 'dark') {
    .p-subnav {
      @include vf-subnav-dark-theme;
    }

    .p-subnav.is-light,
    .p-navigation.is-light .p-subnav {
      @include vf-subnav-light-theme;
    }
  } @else {
    .p-subnav {
      @include vf-subnav-light-theme;
    }

    .p-subnav.is-dark,
    .p-navigation.is-dark .p-subnav {
      @include vf-subnav-dark-theme;
    }
  }

  .p-subnav__item {
    display: block;
    white-space: nowrap;

    @media (max-width: $breakpoint-navigation-threshold) {
      padding: $spv-inner--small 0;
    }

    @media (min-width: $breakpoint-navigation-threshold) {
      padding: $spv-inner--medium $sph-inner;
    }

    &,
    &:active,
    &:focus,
    &:hover,
    &:visited {
      text-decoration: none;
    }
  }
}

@mixin vf-subnav-theme(
  // color of the subnav toggle chevron icon
    $color-subnav-icon,
  // color of the subnav items background
    $color-subnav-background,
  // color of the subnav items text
    $color-subnav-text,
  // color of the subnav items text on hover
    $color-subnav-text-hover,
  // color of the subnav items separator on small screens
    $color-subnav-separator
) {
  &::after {
    @include vf-icon-chevron($color-subnav-icon);
  }

  .p-subnav__item {
    background-color: $color-subnav-background;

    &,
    &:active,
    &:focus,
    &:visited {
      color: $color-subnav-text;
    }

    &:hover {
      color: $color-subnav-text-hover;
    }

    &::before {
      @media (max-width: $color-subnav-text-hover) {
        // separator color on small screens
        background: $color-subnav-separator;
      }
    }
  }
}

@mixin vf-subnav-light-theme {
  @include vf-subnav-theme(
    $color-subnav-icon: $colors--light-theme--text-muted,
    $color-subnav-background: $colors--light-theme--background-default,
    $color-subnav-text: $colors--light-theme--text-default,
    $color-subnav-text-hover: $colors--light-theme--text-hover,
    $color-subnav-separator: $colors--light-theme--border-default
  );
}

@mixin vf-subnav-dark-theme {
  // FIXME:
  // $color-subnav-icon color should be $colors--dark-theme--text-muted,
  // but vf-url-friendly-color doesn't support rgba(),
  // so we are using #999 as fallback for now
  @include vf-subnav-theme(
    $color-subnav-icon: #999,
    $color-subnav-background: $colors--dark-theme--background-alt,
    $color-subnav-text: $colors--dark-theme--text-default,
    $color-subnav-text-hover: $colors--dark-theme--text-hover,
    $color-subnav-separator: $colors--dark-theme--border-default
  );
}
