@import 'settings';

@mixin vf-p-badge {
  .p-badge {
    @include vf-animation(#{background-color}, snap, in);

    display: inline-block;
    box-sizing: content-box;
    background: $color-light;
    border-radius: 1rem;
    padding: $sph--x-small $spv--x-small;
    max-width: 4ch;
    overflow: hidden;
  }

}