// Image grid to showcase group of images
@mixin vf-p-inline-images {

  .p-inline-images {
    @extend %clearfix;
    display: block;
    text-align: center;
    list-style: none; // if list is used as wrapper

    &__img {
      display: inline-block;
      padding: .5rem;
      text-align: center;
    }
  }
}
