@import 'settings';

@mixin vf-p-tabs {
  .p-tabs {
    border-radius: 0;
    overflow: hidden;
    padding: 0;
    position: relative;

    &::before {
      bottom: 0;
      color: $color-mid-dark;
      content: '\203A';
      display: block;
      font-size: 2rem;
      line-height: map-get($line-heights, default-text);
      padding-right: $sp-large;
      pointer-events: none;
      position: absolute;
      right: $sp-unit;
      text-align: right;
      top: 15%;
      width: 1rem;
      z-index: 10;

      @media screen and (min-width: $breakpoint-medium) {
        display: none;
      }
    }

    &__list {
      @extend %vf-pseudo-border--bottom;
      margin: 0 auto $spv-intra--scaleable;
      overflow-x: scroll;
      padding: 0;
      position: relative;
      white-space: nowrap;
      width: 100%;

      @media screen and (min-width: $breakpoint-medium) {
        max-width: $grid-max-width;
        overflow: hidden;
      }
    }

    &__item {
      display: inline-block;
      float: none;
      margin: 0;
      padding: 0;
      width: auto;

      @media screen and (min-width: $breakpoint-medium) {
        float: left;
      }

      &:last-child {
        margin-right: $sp-xxx-large;

        @media screen and (min-width: $breakpoint-medium) {
          margin-right: 0;
        }
      }
    }

    &__link {
      color: $color-x-dark;
      display: inline-block;
      padding: $spv-intra--expanded $sph-intra;

      &:visited,
      &:active,
      &:hover {
        color: $color-x-dark;
        text-decoration: none;
      }

      &:hover,
      &[aria-selected="true"] {
        @extend %current-indicator;
      }
    }
  }

  %current-indicator {
    position: relative;

    &::after {
      background: $color-mid-dark;
      bottom: 0;
      content: '';
      height: $bar-thickness;
      left: -1px;
      position: absolute;
      right: -1px;
      z-index: 1;
    }
  }
}
