// Default list styling
@mixin vf-lists {
  @include vf-lists-list();
  @include vf-lists-list-ticks();
  @include vf-lists-no-bullets();
  @include vf-lists-combined-list();
  @include vf-lists-inline-list();
  @include vf-stepped-list();
}

// List styling using list class
@mixin vf-lists-list {
  .list {
    @extend %list;
  }
}

// Displays an ubuntu styled list with tick bullets
@mixin vf-lists-list-ticks() {
  .list-ticks {
    @extend %list-ticks;

    li {
      background-image: svg-tick($color-brand);
    }
  }
}

// Displays a default styled list with no bullets
@mixin vf-lists-no-bullets {
  .no-bullets {
    list-style: none;
    margin-left: 0;
  }
}

// Displays split as one on small screens
@mixin vf-lists-combined-list {
  .combined-list {
    ul,
    div {
      margin-bottom: 0;
    }

    .last-item {
      border-bottom: 1px dotted $warm-grey;
      padding-bottom: 10px;
    }

    .last-col {
      margin-bottom: 20px;

      .last-item {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  @media only screen and (min-width : $breakpoint-medium) {
    .combined-list {
      ul,
      div {
        margin-bottom: 20px;
      }

      .last-item {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

// Displays a list inline with spacing
@mixin vf-lists-inline-list {
  .inline-list {
    margin-left: 0;

    li {
      display: inline;
      list-style: none;
      margin-right: 20px;
    }

    .last-item {
      margin-right: 0;
    }
  }
}

// Displays a step by step list of instructions
@mixin vf-stepped-list {

  .list-step {
    list-style: none;
    margin-left: $gutter-width * 3;
  }

  @media only screen and (max-width : $breakpoint-large) {
    .list-step__item:first-child {
      margin-top: 10px;
    }
  }

  @media only screen and (min-width : $breakpoint-large) {
    .list-step__title {
      margin-bottom: 0;
    }
  }

  .list-step__bullet {
    box-shadow: 0 1px 3px 1px rgba(51, 51, 51, .2);
    background: $white;
    border-radius: 50%;
    padding: .3em .68em;
    display: inline-block;
    color: $link-color;
    margin-right: .34375em;
    margin-bottom: .625em;
    margin-left: -$gutter-width * 3;

    @media only screen and (max-width : $breakpoint-large) {
      position: absolute;
      top: -5px;
    }
  }
}

// The placeholder for basic border bottom lists
%list {
  list-style: none;
  margin-left: 0;

  li {
    border-bottom: 1px dotted $warm-grey;
    margin-bottom: 0;
    padding: 10px 0;
  }

  li:last-of-type,
  .last-item {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

// The placeholder for basic tick lists. This is a plceholder as we use it to extend in themes.
%list-ticks {
  @extend %list;

  li {
    background-repeat: no-repeat;
    background-position: 0 1em;
    padding-left: 25px;
  }
}

// this is to get the variable inserted in an inline svg, we have to strip the # and replace with %23
// it also checks to see if the color is a light color and adjusts the background color accordingly
@function url-friendly-color($color) {
  @if type-of($color) != 'color' {
    @warn "'#{$fill-color}' is not a color'.";
    @return false;
  } @else {
    @if (lightness($color) > 50) {
      @return '%23' + str-slice('#{darken($color, 20%)}', 2, -1)
    } @else {
      @return '%23' + str-slice('#{$color}', 2, -1)
    }
  }
}

@function svg-tick($color) {
  @if type-of($color) != 'color' {
    @warn "'#{$color}' is not a color'.";
    @return false;
  }
  @return url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'><circle fill='" + url-friendly-color($color) + "' cx='7' cy='7' r='7'/><path fill='%23fff' d='M6.1 10.813L2.41 8.105l1.184-1.613L5.9 8.187l4.393-4.394 1.414 1.414z' /></svg>");
}
