@import 'settings';

@mixin vf-p-list-tree {
  %list-tree-icon {
    $icon-size: 1rem;

    content: ' ';
    display: block;
    height: $icon-size;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0.3rem;
    width: $icon-size;
  }

  .p-list-tree__item:not(.p-list-tree__item--group),
  .p-list-tree__toggle {
    color: $colors--theme--text-default;
    cursor: pointer;

    &:hover {
      background: transparent;
      color: $colors--theme--link-default;
      text-decoration: underline;
    }

    &.is-active {
      color: $colors--theme--link-default;
    }
  }

  .p-list-tree {
    list-style-type: none;
    margin-left: $sp-x-small;
    padding-left: 0;

    .p-list-tree {
      display: none;
      margin-left: 0;

      &[aria-hidden='false'] {
        display: block;
      }

      &[aria-hidden='false']::after {
        @extend %list-tree-icon;
        @include vf-icon-chevron-down-themed;
      }
    }
  }

  .p-list-tree__item {
    @include vf-focus-themed;

    margin-top: $sp-xx-small;
    padding-left: map-get($grid-margin-widths, default);
    position: relative;
  }

  .p-list-tree__toggle[aria-expanded='false'] {
    &::after {
      @extend %list-tree-icon;
      @include vf-icon-chevron-right-themed;
    }
  }

  // Hide the default expanded button styling for toggles, unless they are active
  .p-list-tree__toggle[aria-expanded='true']:not(.is-active) {
    background: $colors--theme--background-default;
  }

  .p-list-tree__toggle {
    @include vf-focus-themed;

    background: transparent;
    border: 0;
    font-weight: normal;
    margin: 0 0 0 -1.25rem;
    padding: 0 0.5rem 0 1.5rem;

    transition-duration: 0s;
  }
}
