@import 'settings';

$color-snippet-heading-bg: rgba($color-x-dark, 0.08);
$code-snippet-header-v-spacing: $spv-inner--small;

@mixin vf-p-code-snippet {
  .p-code-snippet {
    margin-bottom: $spv-outer--scaleable;

    &.is-bordered {
      border: 1px solid $colors--light-theme--border-low-contrast;
    }

    .p-code-snippet__block,
    .p-code-snippet__block--icon,
    .p-code-snippet__block--numbered {
      margin: 0;

      &.is-wrapped {
        white-space: pre-wrap;
      }
    }

    .p-code-snippet__block--icon {
      @extend %leading-linux-prompt-icon;

      padding-left: #{$sph-inner + map-get($icon-sizes, default) + $sph-inner--small};
      position: relative;

      &.is-windows-prompt::before {
        @include vf-icon-chevron($color-mid-dark);

        transform: rotate(270deg);
      }

      &.is-url::before {
        @include vf-icon-get-link($color-mid-dark);
      }
    }

    .p-code-snippet__block--numbered {
      counter-reset: line-numbering;
    }

    .p-code-snippet__line {
      @extend %code-numbered-line;
    }

    .p-code-snippet__header {
      align-items: flex-start;
      background-color: $color-code-heading-background;
      display: flex;
      justify-content: space-between;
      padding-left: $sph-inner;
      padding-right: $sph-inner;
    }

    .p-code-snippet__title {
      @extend %vf-heading-5;

      flex: 0 1 auto;
      margin-bottom: $code-snippet-header-v-spacing;
      overflow: hidden;
      padding-top: $code-snippet-header-v-spacing;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .p-code-snippet__dropdown {
      background-color: $color-transparent;
      border: 0;
      color: $color-dark;
      margin-bottom: 0;
      margin-left: $sph-inner--small;
      min-width: min-content;
      padding-bottom: $code-snippet-header-v-spacing;
      padding-left: $sph-inner;
      padding-top: $code-snippet-header-v-spacing;
      width: min-content;
    }

    .p-code-snippet__dropdowns {
      display: flex;
      flex-shrink: 0;

      &:first-child {
        // if no header is present, use this to
        // align the dropdowns to the right
        margin-left: auto;
      }
    }

    .p-code-snippet__dropdown + .p-code-snippet__dropdown {
      border-left: 1px solid $colors--light-theme--border-default;
    }

    .p-code-snippet__header.is-stacked {
      flex-direction: column;

      .p-code-snippet__title {
        white-space: normal;
      }

      .p-code-snippet__dropdowns {
        flex: 1 0 100%;
        justify-content: flex-end;
        width: 100%;
      }

      .p-code-snippet__title + .p-code-snippet__dropdowns {
        border-top: 1px solid $colors--light-theme--border-default;
      }
    }

    // stylelint-disable-next-line selector-max-type
    iframe {
      margin: 0;
      // fixes a Chrome bug where, on larger screens,
      // a .is-bordered snippet's right border would
      // disappear at every other pixel width increment
      width: calc(100% - 1px);
    }
  }
}
