// Full width strip pattern
@mixin vf-p-strip {

  .strip {
    width: 100%;
    clear: both;
    background-color: $color-light;

    &--light {
      background-color: $color-light-grey;
    }

    &--dark {
      background-color: $color-cool-grey;
    }
  }
}
