@import 'settings';

@mixin vf-p-accordion {
  $icon-size: map-get($icon-sizes, default);

  .p-accordion__list {
    list-style-type: none;
    margin: 0 0 $spv-outer--scaleable 0;
    padding: 0;
  }

  .p-accordion__group {
    & + & {
      @extend %vf-pseudo-border--top;
    }
  }

  .p-accordion__tab {
    // calculate icon top position based on top padding (from %single-border-text-vpadding--scaling)
    // and offset to align it with baseline of accordion tab text element
    $icon-top-position: calc(#{$table-cell-vertical-padding + (map-get($line-heights, default-text) - $icon-size) * 0.5});

    @extend %single-border-text-vpadding--scaling;
    @include vf-focus;

    background: {
      color: inherit;
      position: top $icon-top-position left $sph-inner;
      repeat: no-repeat;
    }

    border: 0;
    border-radius: 0;
    font-size: inherit;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-left: $sph-inner + $icon-size + $sph-inner;
    padding-right: $sph-inner;
    text-align: left;
    transition-duration: 0s;
    width: 100%;
    z-index: 2;

    // aria-selected controls the open and closed state for the accordion tab
    &[aria-expanded='true'] {
      @include vf-icon-minus($color-mid-dark);

      // override base expanded button styles
      background-color: inherit;
      background-size: $icon-size;
    }

    &[aria-expanded='false'] {
      @include vf-icon-plus($color-mid-dark);

      background-size: $icon-size;
    }
  }

  .p-accordion__heading {
    margin-bottom: 0;
    max-width: none;
    padding-top: 0;

    > .p-accordion__tab {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
  }

  // stylelint-disable selector-max-type
  h2.p-accordion__heading > .p-accordion__tab,
  .p-heading--2 > .p-accordion__tab {
    $icon-top-position: calc(#{$table-cell-vertical-padding + (map-get($line-heights, h2) - $icon-size) * 0.5});

    background-position-y: $icon-top-position;
  }

  h3.p-accordion__heading > .p-accordion__tab,
  .p-heading--3 > .p-accordion__tab {
    $icon-top-position: calc(#{$table-cell-vertical-padding + (map-get($line-heights, h3) - $icon-size) * 0.5});

    background-position-y: $icon-top-position;
  }

  h4.p-accordion__heading > .p-accordion__tab,
  .p-heading--4 > .p-accordion__tab {
    $icon-top-position: calc(#{$table-cell-vertical-padding + (map-get($line-heights, h4) - $icon-size) * 0.5});

    background-position-y: $icon-top-position;
  }
  // stylelint-enable selector-max-type

  .p-accordion__panel {
    margin: 0;
    overflow: auto; // include child margins into its height
    padding-left: $sph-inner + $icon-size + $sph-inner * 2;

    // Hides panel content
    &[aria-hidden='true'] {
      display: none;
    }

    &.has-tick-elements {
      padding-left: 1em;
    }
  }
}
