@import 'settings';

// Default breadcrumbs styling
@mixin vf-p-headings {
  .p-heading {
    &--one {
      @extend %vf-heading-1;
    }

    &--two {
      @extend %vf-heading-2;
    }

    &--three {
      @extend %vf-heading-3;
    }

    &--four {
      @extend %vf-heading-4;
    }

    &--five {
      @extend %vf-heading-5;
    }

    &--six {
      @extend %vf-heading-6;
    }
  }
}
