@import 'settings';

@mixin vf-p-table-mobile-card {
  .p-table--mobile-card {
    // threshold value for $multi; if less, space between cards, and padding on tdable cells are set to zero; 
    $td-threshold: 2;

    @media screen and (max-width: $breakpoint-large) {
      thead {
        display: none;
      }

      tbody {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      tr {
        $conditional-multi: if($multi > $td-threshold, $multi - 1, 0);
        // align-items: flex-end;
        // background: $color-x-light;
        border: 1px solid $color-mid-light;
        border-radius: $border-radius;
        // box-shadow: 0 1px 5px 1px transparentize($color-dark, .8);
        // margin-bottom: 0 * $conditional-multi * $spv-inters;
        padding: $spv-intra--condensed - $px $sph-intra $spv-intra - $px;
      }

      td,
      tbody th {
        $td-padding-bottom: if($multi > $td-threshold, $spv-nudge-compensation, 0);
        $td-padding-top:  if($multi > $td-threshold, $spv-nudge, 0);

        display: flex;
        justify-content: left !important;
        margin: 0;
        overflow: visible;
        padding-bottom: $td-padding-bottom;
        padding-top: $td-padding-top;
        text-align: left !important;
        width: 100%;

        &[aria-label] {
          text-align: right;

          &::before {
            content: attr(aria-label);
            display: block;
            flex: 0 1 auto;
            font-weight: 400;
            margin: auto 1rem auto 0;
            // text-align: right !important;
            width: 50%;
          }
        }

        &.u-align--right {
          justify-content: unset !important;
        }
      }

      // Styles contextual menus differently within mobile-card tables
      .p-contextual-menu {
        width: 100%;

        // Initial menu item for actions should be hidden
        [role="menuitem"] {
          display: none;
        }

        &__dropdown {
          box-shadow: none;
          display: block;
          max-width: 100%;
          position: relative;

          &::before {
            display: none;
          }
        }

        &__group {
          padding: 0;

          + .p-contextual-menu__group {
            margin-top: $sp-small;
            padding-top: $sp-small;
          }
        }

        // Any link items should be styled as a button element
        &__link {
          border: {
            color: $color-mid-light;
            radius: .125rem;
            style: solid;
            width: 1px;
          }
          box-sizing: border-box;
          color: $color-x-dark;
          cursor: pointer;
          display: block;
          line-height: $sp-medium;
          outline: none;
          padding: $sp-small $sp-large;
          text-align: center;
          text-decoration: none;
          width: 100%;

          + .p-contextual-menu__link {
            margin-top: $sp-x-small;
          }
        }
      }
    }
  }

  // single card on mobile
  @media screen and (max-width: $breakpoint-small) {
    .p-table--mobile-card {
      tr {
        width: 100%;
      }
    }
  }

  //two cards on wider mobile
  @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-large) {
    .p-table--mobile-card {
      tr {
        width: 50%;
      }
    }
  }
}
