// Code and pre styles
@mixin vf-p-code-snippet {

  .code-snippet {
    position: relative;
    overflow: hidden;
    transition: all .2s;
    border-radius: 4px;
    border: 1px solid $color-mid-grey;
    background-color: $color-light;

    &__input {
      font-family: $font-monospace;
      font-size: 1em;
      font-weight: 300;
      width: 100%;
      padding: .7em 1em;
      border: 0;
      background-color: transparent;
      color: $color-warm-grey;
    }

    &__action {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 50px;
      height: 100%;
      text-indent: -9999px;
      background-image: url('#{$assets-path}994e60f9-get-link-url_16.svg');
      background-repeat: no-repeat;
      background-position: center;
      border-left: 1px solid $color-mid-grey;
      background-color: $color-light;
    }
  }

  .code-snippet--dark {
    @extend .code-snippet;
    border: 1px solid $color-mid-grey;
    background-color: $color-dark;

    .code-snippet__input {
      color: $color-mid-grey;
    }

    .code-snippet__action {
      background-color: $color-dark;
    }
  }
}
