@mixin vf-p-navigation-reduced {
  .p-navigation--reduced {
    // height of reduced navigation calculated from line height and padding
    $reduced-nav-height: calc(map-get($line-heights, x-small) + 2 * $spv--small);

    position: relative;
    z-index: 99; // display above sticky top navigation, but below modals/overlays

    // LOGO OVERRIDES FOR REDUCED NAVIGATION

    // orange logo tag is hidden in reduced navigation
    .p-navigation__tagged-logo {
      .p-navigation__logo-tag {
        display: none;
      }
    }

    // reduced nav logo text uses default font size (on small screens)
    .p-navigation__logo-title {
      font-size: #{map-get($font-sizes, default)}rem;
    }

    // REDUCED SIZE OF NAVIGATION ON LARGE SCREENS
    @media (min-width: $breakpoint-navigation-threshold) {
      background-color: $colors--theme--background-alt;

      // adjust font size for reduced nav on large screens
      .p-navigation__link,
      .p-navigation__logo-title {
        color: $colors--theme--text-muted;
        font-size: #{map-get($font-sizes, small)}rem;
        line-height: map-get($line-heights, x-small);
      }

      .p-navigation__link {
        padding-bottom: $spv--small;
        padding-top: $spv--small;
      }

      .p-navigation__item--dropdown-toggle .p-navigation__link {
        &::after {
          @include vf-icon-chevron-muted;
          top: $spv--small;
        }
      }

      .p-navigation__item--dropdown-toggle.is-active {
        background-color: $colors--theme--background-default;

        .p-navigation__link {
          color: $colors--theme--text-default;
        }

        .p-navigation__link::after {
          @include vf-icon-chevron-themed;
        }
      }

      .p-navigation__link--search-toggle {
        &::after {
          @include vf-icon-search-muted;
        }
      }
    }

    // SEARCH IN REDUCED NAVIGATION

    .p-navigation__link--search-toggle {
      // search label is always hidden in reduced navigation
      .p-navigation__search-label {
        display: none;
      }

      @media (min-width: $breakpoint-navigation-threshold) {
        &::after {
          top: $spv--small;
        }
      }
    }

    @media (min-width: $breakpoint-navigation-threshold) {
      &.has-search-open {
        // make sure reduced navigation items remain visible when search is open
        // both classes needed for specificity
        .p-navigation__nav .p-navigation__items {
          display: inline-flex;
        }

        // position the search under the reduced navigation
        .p-navigation__search {
          top: $reduced-nav-height;
        }
      }
    }
  }
}
