// Pull quote styling
@mixin vf-p-pull-quotes {
  %quotes {
    font-size: 2.8125rem;
    font-weight: bold;
    color: $color-warm-grey;
    line-height: 1rem;
  }

  .p-pull-quote {
    max-width: 75%;
    margin: 1rem 0;
    position: relative;
    padding-right: 1.25rem;
    border: 0;

    > p {
      font-size: 1.4375rem;
      margin: 0;
      font-style: normal;

      &:first-of-type::before {
        @extend %quotes;
        margin-left: -2.5rem;
        content: '\201C\2002'; // Unicode for left double quotation mark +  1/2 em space
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:last-of-type::after {
        @extend %quotes;
        content: '\2002\201E'; // Unicode for 1/2 em space + low double quotation mark
      }
    }

    &__citation {
      font-size: 1.25rem;
      font-style: italic;
      margin-top: .75rem;
      display: inline-block;
      line-height: 1.5;
      width: 100%;
    }
  }
}
