@import 'settings';

$cc-button-size: 36px;

@mixin vf-p-code-copyable {
  .p-code-copyable {
    background-color: $color-code-background;
    display: flex;
    margin-bottom: $input-margin-bottom;
    overflow: hidden;
    padding: $spv-inner--x-small--scaleable $sph-inner;
    position: relative;

    & + & {
      margin-top: 0; // overrides p + p
    }
  }

  .p-code-copyable__input {
    background: transparent;
    border: 0;
    font-family: unquote($font-monospace);
    line-height: map-get($line-heights, default-text);
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
  }

  .p-code-copyable__action {
    display: none;
  }
}
