%navigation-toggle {
  @media (min-width: $breakpoint-medium) {
    border-bottom: 0;
  }
}

// Default header styling
@mixin vf-p-navigation {
  .p-navigation {
    @extend %clearfix;
    background-color: $color-brand;
    color: $color-light;
    position: relative;
    width: 100%;

    &__toggle--open,
    &__toggle--close,
    &__link {
      &:visited {
        border-bottom: 0;
        color: $color-light;
      }
    }

    &__toggle--open {
      @extend %navigation-toggle;
    }

    &:target &__toggle--open {
      display: none;
    }

    &__toggle--close {
      @extend %navigation-toggle;
      display: none;
    }

    &:target &__toggle--close {
      display: inline-block;
    }

    &__logo {
      display: inline-block;
      float: left;
      padding: 1rem;

      &-link {
        border-bottom: 0;
      }
    }

    &__links {
      background-color: $color-warm-grey;
      margin: 0;  // For if this class is applied to a <ul>
      padding: 1rem;

      @media (min-width: $breakpoint-medium) {
        background-color: transparent;
        float: right;
      }
    }

    &__nav {
      display: none;

      @media (min-width: $breakpoint-medium) {
        display: block;
      }
    }

    &:target &__nav {
      display: block;
    }

    &__link {
      border-bottom: 0;  // For when this class is applied to an <a> directly
      display: block;
      margin-bottom: .5rem;
      text-align: center;

      &>a {
        // For when this class is applied to something that contains <a>s, e.g.:
        // <li class="p-navigation__list"><a></a></li>
        border-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $breakpoint-medium) {
        display: inline-block;
        margin: 0 0 0 .5rem;
        width: auto;
      }
    }
  }
}
