@import 'settings';

// CSS grid implementation of columns for all screens sizes
@mixin vf-content-grid-column($col) {
  @supports (display: grid) {
    grid-column-end: span #{$col};

    //nesting
    @if $col > 1 {
      & .grid-row {
        grid-template-columns: repeat($col, minmax(0, 1fr));
      }
    }
  }
}

@mixin vf-content-grid-column-reordering($label, $col-count, $reset: false) {
  @for $i from 1 through $col-count {
    .grid-row [class*='#{$content-grid-column-prefix}'].#{$content-grid-column-prefix}start-#{$label}-#{$i} {
      @if $reset {
        grid-column-start: initial;
      } @else {
        grid-column-start: #{$i};
      }
    }

    .#{$content-grid-column-prefix}order-#{$label}-#{$i} {
      @if $reset {
        order: initial;
      } @else {
        order: #{$i};
      }
    }
  }
}

@mixin vf-p-content-grid {
  // FIXME: this should be removed from framework SCSS
  // (see https://github.com/canonical/vanilla-framework/issues/3199)
  .grid-demo .grid-col,
  .grid-demo [class*='#{$content-grid-column-prefix}'] {
    background: $colors--theme--background-negative-default;
    margin-bottom: $spv--small;
  }

  .grid-row {
    @extend %vf-content-grid-row;
  }

  // mobile grid

  // by default medium and large screen col classes should span full width on mobile (to match block level element behaviour)
  %content-grid-span-on-mobile {
    grid-column: auto / span $content-grid-columns-small;
  }

  @for $i from 1 through $content-grid-columns-medium {
    .#{$content-grid-medium-col-prefix}#{$i} {
      @extend %content-grid-span-on-mobile;
      @extend %content-grid-display-block;
    }
  }

  @for $i from 1 through $content-grid-columns {
    .#{$content-grid-large-col-prefix}#{$i} {
      @extend %content-grid-span-on-mobile;
      @extend %content-grid-display-block;
    }
  }

  // col-small-X classes define grid for small screen
  @for $i from $content-grid-columns-small through 1 {
    .#{$content-grid-small-col-prefix}#{$i} {
      @extend %content-grid-display-block;
      @include vf-content-grid-column($i);

      width: 100%;
    }
  }

  // tablet grid

  // on medium/tablet screens, small and large grid class names span full width (to match block level element behaviour)
  %content-grid-span-on-tablet {
    @media (min-width: $content-grid-threshold-small-med-col) {
      grid-column: auto / span $content-grid-columns-medium;
    }
  }

  @for $i from 1 through $content-grid-columns-small {
    .#{$content-grid-small-col-prefix}#{$i} {
      @extend %content-grid-span-on-tablet;
    }
  }

  @for $i from 1 through $content-grid-columns {
    .#{$content-grid-large-col-prefix}#{$i} {
      @extend %content-grid-span-on-tablet;
    }
  }

  // col-medium-X classes define grid for medium screens
  @media (min-width: $content-grid-threshold-small-med-col) {
    @for $i from $content-grid-columns-medium through 1 {
      .#{$content-grid-medium-col-prefix}#{$i} {
        @include vf-content-grid-column($i);

        width: 100%;
      }
    }
  }

  // desktop grid

  // on desktop screens small and medium grid class names span full width (to match block level element behaviour)
  %content-grid-span-on-desktop {
    @media (min-width: $content-grid-threshold-med-large-col) {
      grid-column: auto / span $content-grid-columns;
    }
  }

  @for $i from 1 through $content-grid-columns-small {
    .#{$content-grid-small-col-prefix}#{$i} {
      @extend %content-grid-span-on-desktop;
    }
  }

  @for $i from 1 through $content-grid-columns-medium {
    .#{$content-grid-medium-col-prefix}#{$i} {
      @extend %content-grid-span-on-desktop;
    }
  }

  // col-X class names define grid on large/desktop screens
  @media (min-width: $content-grid-threshold-med-large-col) {
    @for $i from $content-grid-columns through 1 {
      // set col-* to span respective number of columns on desktop
      .#{$content-grid-large-col-prefix}#{$i} {
        // on smaller screens let them display full width one under another
        @include vf-content-grid-column($i);
      }
    }
  }

  // column reordering
  $offsets: (
    (small, 0, $content-grid-threshold-small-med-col, $content-grid-columns-small),
    (medium, $content-grid-threshold-small-med-col, $content-grid-threshold-med-large-col, $content-grid-columns-medium),
    (large, $content-grid-threshold-med-large-col, false, $content-grid-columns)
  );

  @each $label, $breakpoint-min, $breakpoint-reset, $col-count in $offsets {
    @if $breakpoint-min == 0 {
      @include vf-content-grid-column-reordering($label, $col-count);
    } @else {
      @media (min-width: #{$breakpoint-min}) {
        @include vf-content-grid-column-reordering($label, $col-count);
      }
    }

    @if $breakpoint-reset {
      @media (min-width: #{$breakpoint-reset}) {
        @include vf-content-grid-column-reordering($label, $col-count, $reset: true);
      }
    }
  }
}
