@import 'settings';

// Default label styling
@mixin vf-p-chip {
  %p-chip {
    @extend %default-text;

    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    cursor: pointer;
    display: block;
    margin-bottom: $spv-inner--small;
    margin-right: $sph-inner--small;
    padding: $spv-inner--x-small $sph-inner;
    white-space: nowrap;

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }

    &.is-selected {
      background-color: rgba(0, 0, 0, 0.15);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .p-chips {
    @extend %vf-card;
    @extend %vf-has-round-corners;
    @extend %vf-has-box-shadow;

    &__category {
      @extend %muted-text;

      border-top: 1px solid $colors--light-theme--border-low-contrast;
    }

    &__chips-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0 0 $spv-outer--scaleable 0;
      padding-left: 0;
    }

    &__chip {
      @extend %p-chip;

      &--operator {
        @extend %p-chip;
        @extend %muted-heading;

        color: $color-link;
        font-weight: 400;
      }
    }
  }
}
