@import 'settings';

@mixin vf-p-form-password-toggle {
  .p-form-password-toggle {
    display: flex;
    justify-content: space-between;

    .p-form-password-toggle__button {
      @include vf-button-pattern(
        $button-background-color: $color-transparent,
        $button-border-color: $color-transparent,
        $button-hover-border-color: $color-transparent,
        $button-active-border-color: $color-transparent,
        $button-disabled-border-color: $color-transparent
      );

      font-size: #{map-get($font-sizes, small)}rem;
      line-height: map-get($line-heights, small);
      padding: calc(#{map-get($nudges, nudge--small)} - 1px) $sph-inner--small;
      width: auto !important;

      @extend %u-no-margin--bottom--default-text;
    }
  }

  .p-form-password-toggle__label {
    display: inline-block;
    margin-right: $sp-xx-small;
  }
}
