@import 'settings';

@mixin vf-p-list-tree {
  %list-tree-icon {
    $icon-size: 0.9375rem; // 15px

    content: ' ';
    display: block;
    height: $icon-size;
    left: -0.75rem;
    pointer-events: none;
    position: absolute;
    top: 0.4rem;
    width: $icon-size;
  }

  .p-list-tree {
    // Are we really sure we want these gone?
    // border-left: 1px solid $colors--theme--border-default;
    list-style-type: none;
    margin-left: $sp-medium;
    padding: 0 0 0 $sp-x-small;

    .p-list-tree {
      display: none;
      margin-left: 0;

      &[aria-hidden='false'] {
        display: block;
      }

      &[aria-hidden='false']::after {
        @extend %list-tree-icon;
        @include vf-icon-chevron-down-themed;

        // At this point we need to push this icon above the --group icon.
        z-index: 1;
      }
    }
  }

  .p-list-tree__item {
    @include vf-focus-themed;

    margin-top: $sp-xx-small;
    padding-left: 0.8rem;
    position: relative;

    &::before {
      content: ' ';
      display: block;
      height: 1px;
      left: -$sp-x-small;
      pointer-events: none;
      position: absolute;
      top: 0.8rem;
      width: 0.625rem;
    }
  }

  .p-list-tree__toggle[aria-expanded='false'] {
    &::after {
      @extend %list-tree-icon;
      @include vf-icon-chevron-right-themed;
    }
  }

  .p-list-tree__toggle {
    @include vf-focus-themed;

    background: transparent;
    border: 0;
    font-weight: normal;
    margin: 0 0.5rem 0 -1.75rem;
    padding: 0 0.5rem 0 1.75rem;
    transition-duration: 0s;

    &:hover {
      background: transparent;
      color: $colors--theme--link-default;
      text-decoration: underline;
    }
  }
}
