@import 'settings';

// Default breadcrumbs styling
@mixin vf-p-breadcrumbs {
  .p-breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    &__item {
      @extend %default-text;

      display: inline-block;
      margin-bottom: $spv-inter--condensed-scaleable - $spv-nudge;

      &:not(:first-of-type) {
        text-indent: $sph-inter;
      }

      &:not(:first-of-type)::before {
        content: '\203A';
        margin-left: -0.75rem;
        margin-right: 0.5rem;
      }
    }
  }
}
