@import 'settings';

@mixin vf-p-article-pagination {
  %chevron-icon {
    color: $color-mid-dark;
    content: '\203A';
    font-size: 2rem;
    position: absolute;
    top: 1rem;
  }

  .p-article-pagination {
    display: flex;
    width: 100%;

    &__link {
      margin-top: 0;
      padding: $sp-medium;
      position: relative;
      width: 50%;

      &:hover {
        background: $color-light;
        text-decoration: none;
      }

      &--previous {
        @extend .p-article-pagination__link; // sass-lint:disable-line placeholder-in-extend
        padding-left: $sp-xx-large;
        text-align: left;

        @media (max-width: $breakpoint-x-small) {
          width: auto;

          &:only-child {
            width: 100%;
          }

          &:not(:only-child) * {
            display: none;
            max-width: $sp-x-small;
            padding-left: $sp-large;
          }
        }

        &::before {
          @extend %chevron-icon;
          left: $sp-small;
          transform: scaleX(-1);
        }
      }

      &--next {
        @extend .p-article-pagination__link; // sass-lint:disable-line placeholder-in-extend
        padding-right: $sp-xx-large;
        text-align: right;

        @media (max-width: $breakpoint-x-small) {
          width: 100%;
        }

        &:only-child {
          margin-left: auto;
        }

        &::after {
          @extend %chevron-icon;
          right: $sp-small;
        }
      }
    }

    &__label,
    &__title {
      color: $color-dark;
      display: block;
      margin-top: 0;
      width: 100%;
    }

    &__label {
      margin-bottom: $sp-x-small;
    }

    &__title {
      font-size: 1.125rem;

      @media (min-width: $breakpoint-small) {
        font-size: 1.25rem;
      }
    }
  }
}
