@import 'settings';

// Link style patterns
@mixin vf-p-links {
  .p-link {
    // Used for links point at a different domain
    &--external {
      @include link-svg-icon($color-link);
      background-position: 100% top;
      background-repeat: no-repeat;
      background-size: .7rem .7rem;
      padding-right: .9rem;
    }

    @include deprecate('2.0.0', 'This class is no longer required as links now use text-decoration') {
      &--no-underline {
        border: 0;
      }
    }

    &--soft {
      color: $color-dark;

      &:visited {
        color: $color-dark;
        text-decoration: none;
      }

      &:hover {
        color: $color-link;
      }

      &.is-selected {
        font-weight: 400;
      }
    }

    &--strong {
      color: $color-dark;
      font-weight: 400;

      &:visited {
        color: $color-dark;
      }

      &:hover {
        color: $color-link;
        text-decoration: underline;
      }

      &.p-link--external:hover::after {
        @include link-svg-icon($color-dark);
      }
    }

    &--inverted {
      color: $color-light;
      font-weight: 400;

      &:hover {
        color: $color-light;
      }

      &:visited {
        color: darken($color-light, 10%);
      }
    }
  }

  .p-top {
    border-bottom: 1px dotted $color-mid-light;
    clear: both;
    margin: 20px 0;

    &__link {
      background: $color-x-light;
      float: right;
      margin-right: 5px;
      padding: 0 5px;
      position: relative;
      text-decoration: none;
      top: -.725rem;
    }
  }

  .p-link--external.p-link--strong {
    @include link-svg-icon($color-dark);
    color: $color-dark;
  }
}
