@import 'settings';

@mixin vf-p-table-sortable {
  %heading-icon {
    @include vf-icon-chevron;
    @include vf-icon-size(map-get($icon-sizes, default));
    $vertical-offset: 0.5px;

    background: {
      repeat: no-repeat;
      size: 100%;
    }

    content: '';
    display: inline-block;
    margin-left: $sp-x-small;
    vertical-align: calc(#{$vertical-offset} + #{0.5 * $cap-height} - #{0.5 * $default-icon-size});
  }

  .p-table--sortable {
    table-layout: fixed;

    // stylelint-disable selector-no-qualifying-type
    th[role='columnheader'] {
      &[aria-sort] {
        align-items: center;
        cursor: pointer;
        white-space: nowrap;
      }

      &[aria-sort='ascending']::after {
        @extend %heading-icon;
      }

      &[aria-sort='descending']::after {
        @extend %heading-icon;

        -webkit-transform: rotate(180deg); // stylelint-disable-line property-no-vendor-prefix
        transform: rotate(180deg);
      }

      &[aria-sort]:hover {
        color: $color-link;
        text-decoration: underline;
      }
    }
    // stylelint-enable selector-no-qualifying-type
  }
}
