@import 'settings';

// Default status label styling
@mixin vf-p-status {
  @include vf-p-status-validated;
  @include vf-p-status-in-progress;
  @include vf-p-status-new;
  @include vf-p-status-updated;
  @include vf-p-status-deprecated;
}

%vf-status {
  border-radius: 0.125rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: calc(#{$spv-nudge - $sp-unit * 0.5} - 1px) $sph-inner--small * 1.5;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

// Override local variables
@mixin vf-p-status-validated {
  .p-status--validated {
    @extend %vf-status;
    background-color: #006b75;
    color: $color-x-light;
  }
}

@mixin vf-p-status-in-progress {
  .p-status--in-progress {
    @extend %vf-status;
    background-color: $color-caution;
    color: $color-dark;
  }
}

@mixin vf-p-status-new {
  .p-status--new {
    @extend %vf-status;
    background-color: $color-positive;
    color: $color-x-light;
  }
}

@mixin vf-p-status-updated {
  .p-status--updated {
    @extend %vf-status;
    background-color: $color-information;
    color: $color-x-light;
  }
}

@mixin vf-p-status-deprecated {
  .p-status--deprecated {
    @extend %vf-status;
    background-color: $color-negative;
    color: $color-x-light;
  }
}
