// Footer pattern styling
@mixin vf-p-footer {

  .p-footer {
    border-top: 1px dotted $color-x-dark;
    font-size: .75rem;
    padding-top: 1rem;

    @media (min-width: $breakpoint-medium) {
      font-size: .8125rem;
      margin: 0;
      padding: 0;
    }

    &__copy {
      margin-bottom: 0;
    }

    &__links {
      margin: 0;
      padding: .5rem 0;

      @media (min-width: $breakpoint-medium) {
        margin-top: 0;
        padding: 0;
      }
    }

    &__item {
      display: block;
      margin-bottom: .25rem;

      @media (min-width: $breakpoint-medium) {
        display: inline-block;
      }

      &:last-child a::after {
        opacity: 0;
      }
    }

    &__link {
      border-bottom: 0;
      color: $color-warm-grey;
      font-size: .75rem;

      @media (min-width: $breakpoint-medium) {
        font-size: .8125rem;
        margin-right: 1rem;

        &::after {
          content: '\00b7'; // Adds a middle dot
          font-size: 1.5rem;
          left: .5rem;
          position: relative;
          top: .2rem;
        }
      }
    }
  }
}
