@mixin vf-p-banners {
  .p-banner {
    @extend %vf-is-bordered;
    @extend %vf-has-round-corners;
    @extend %vf-has-box-shadow;
    @extend %vf-card;

    background-color: $color-accent;
    color: $color-x-light;
    text-align: center;
  }
}
