@mixin p-card {
  background: $color-x-light;
  border: 1px solid $color-mid-light;
  border-radius: 2px;
  padding: 1.333rem;

  @media (min-width: $breakpoint-medium) {
    padding: 1.25rem;
  }

  &__title {
    font-size: $sp-large;
    margin: 0 0 $sp-x-small;
  }

  &__content {
    margin-bottom: $sp-medium;
    margin-top: 0;
  }

  &__footer {
    border-top: 1px solid $color-mid-light;
    margin-top: 0;
    padding-top: $sp-medium;
  }
}

// Card patterns
@mixin vf-p-card {

  .p-card {
    @include p-card;

    & & {
      margin-top: 0;
    }
  }

  .p-card--highlighted {
    @include p-card;
    box-shadow: 0 1px 5px 1px transparentize($color-dark, .8);
  }
}
