@import 'settings';

@mixin vf-p-table-expanding {
  .p-table-expanding {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    thead,
    tbody {
      display: block; // for IE we need to force display block
      margin: 0;
    }

    tr {
      display: flex;
      margin: 0;
      width: 100%;
      flex: {
        flow: row;
        wrap: wrap;
      }

      + tr {
        margin: 0;
      }
    }

    // stylelint-disable selector-no-qualifying-type
    th,
    td {
      align-items: flex-start;
      display: flex;
      margin: 0;
      word-break: break-word;
      flex: {
        basis: 0;
        flow: row nowrap;
        grow: 1;
      }

      &.p-table-expanding__panel {
        flex-basis: 100%;
        max-width: 100%;

        &[aria-hidden='true'] {
          display: none;
        }

        .row {
          max-width: 100%;
          padding: 0;
          width: 100%;
        }
      }

      &[aria-hidden='true'] {
        display: none;
      }
    }
    // stylelint-enable selector-no-qualifying-type
  }
}
