@import 'settings';

// Default button styling
@mixin vf-p-buttons {
  @include vf-button-plain;
  @include vf-button-neutral;
  @include vf-button-brand;
  @include vf-button-positive;
  @include vf-button-negative;
  @include vf-button-base;
  @include vf-button-inline;
  @include vf-button-icon;
}

@mixin vf-button-plain {
  %p-button {
    @extend %vf-button-base;

    @include vf-button-pattern(
      $button-disabled-background-color: $color-x-light,
      $button-disabled-border-color: $color-x-light,
      $button-active-background-color: darken($color-light, 15%),
      $button-active-border-color: $color-x-light
    );
  }

  .p-button {
    @extend %p-button;
  }
}

@mixin vf-button-neutral {
  %p-button--neutral {
    @extend %vf-button-base;

    @include vf-button-pattern(
      $button-disabled-border-color: $color-mid,
      $button-border-color: $color-mid,
      $button-hover-background-color: darken($color-x-light, 10%),
      $button-hover-border-color: $color-mid,
      $button-active-background-color: darken($color-x-light, 15%),
      $button-active-border-color: $color-mid
    );
  }

  .p-button--neutral {
    @extend %p-button--neutral;
  }
}

@mixin vf-button-brand {
  %p-button--brand {
    @extend %vf-button-base;

    @include vf-button-pattern(
      $button-background-color: $color-brand,
      $button-border-color: $color-brand,
      $button-text-color: vf-contrast-text-color($color-brand),
      $button-hover-background-color: darken($color-brand, 10%),
      $button-hover-border-color: darken($color-brand, 10%),
      $button-disabled-background-color: $color-brand,
      $button-disabled-border-color: $color-brand,
      $button-active-background-color: darken($color-brand, 15%),
      $button-active-border-color: darken($color-brand, 15%)
    );
  }

  .p-button--brand {
    @extend %p-button--brand;
  }
}

@mixin vf-button-positive {
  %p-button--positive {
    @extend %vf-button-base;

    @include vf-button-pattern(
      $button-background-color: $color-positive,
      $button-border-color: $color-positive,
      $button-text-color: $color-x-light,
      $button-hover-background-color: darken($color-positive, 10%),
      $button-hover-border-color: darken($color-positive, 10%),
      $button-disabled-background-color: $color-positive,
      $button-disabled-border-color: $color-positive,
      $button-active-background-color: darken($color-positive, 15%),
      $button-active-border-color: darken($color-positive, 15%)
    );
  }

  .p-button--positive {
    @extend %p-button--positive;
  }
}

@mixin vf-button-negative {
  %p-button--negative {
    @extend %vf-button-base;

    @include vf-button-pattern(
      $button-background-color: $color-negative,
      $button-border-color: $color-negative,
      $button-text-color: $color-x-light,
      $button-hover-background-color: darken($color-negative, 10%),
      $button-hover-border-color: darken($color-negative, 10%),
      $button-disabled-background-color: $color-negative,
      $button-disabled-border-color: $color-negative,
      $button-active-background-color: darken($color-negative, 15%),
      $button-active-border-color: darken($color-negative, 15%)
    );
  }

  .p-button--negative {
    @extend %p-button--negative;
  }
}

@mixin vf-button-base {
  %p-button--base {
    @extend %vf-button-base;

    @include vf-button-pattern(
      $button-background-color: $color-transparent,
      $button-border-color: $color-transparent,
      $button-text-color: $color-x-dark,
      $button-hover-background-color: darken($color-x-light, 10%),
      $button-hover-border-color: $color-transparent,
      $button-active-background-color: darken($color-light, 15%),
      $button-active-border-color: $color-transparent
    );
  }

  .p-button--base {
    @extend %p-button--base;
  }
}

@mixin vf-button-inline {
  [class~='p-button'].is-inline {
    @media (min-width: $breakpoint-medium) {
      margin-left: $sph-outer;
      width: auto;
    }
  }
}

@mixin vf-button-icon {
  [class~='p-button'].has-icon {
    width: auto;

    & [class*='p-icon'] {
      // Apply negative margins to make textless button icon a square
      &:only-child {
        margin-left: -2px;
        margin-right: -2px;
      }

      + * {
        margin-left: $sph-inner--small / 2;
      }
    }
  }
}
