// Default breadcrumbs styling
@mixin vf-p-breadcrumbs {

  .p-breadcrumbs {
    width: 100%;

    &__link {
      font-weight: normal;
      margin-right: 1rem;
      position: relative;

      &::after {
        content: '\203A';
        position: absolute;
        right: -.75rem;
        top: -.15rem;
      }

      &:last-child::after {
        content: ' ';
      }
    }
  }
}
