@import 'settings';

@mixin vf-p-card {
  %p-card {
    background: $color-x-light;
    border-radius: $border-radius;
    color: $color-dark;
    margin-bottom: $spv-inter--scaleable;
    overflow: auto; // prevent overflow of children margins
    padding: $spv-intra--scaleable;
  }

  %has-round-corners {
    border-radius: $border-radius;
  }

  %has-highlight {
    box-shadow: 0 1px 5px 1px transparentize($color-dark, .8);
  }

  %is-bordered {
    border: 1px solid $color-mid-light;
  }

  %bg--grey {
    background-color: $color-light;
  }

  .p-card__image {
    margin-bottom: $spv-inter--condensed-scaleable;
    vertical-align: top;
    width: 100%;
  }

  .p-card__thumbnail {
    max-height: map-get($icon-sizes, thumb--card);
  }

  .p-card__content {
    margin-top: - $sp-unit * 2;
  }

  .p-card__header {
    border-bottom: 1px solid $color-mid-light;
    margin-bottom: $spv-intra--scaleable;

    > .p-link--soft {
      display: inline-block;
      overflow: auto;
    }
  }

  @include vf-p-card-default;
  @include vf-p-card-grey;
  @include vf-p-card-highlighted;
  @include vf-p-card-muted-header;
  @include vf-p-card-overlay;
}

@mixin vf-p-card-default {
  .p-card {
    @extend %is-bordered;
    @extend %has-round-corners;
    @extend %p-card;
    padding: $spv-intra--scaleable - $px;
  }
}

@mixin vf-p-card-highlighted {
  .p-card--highlighted {
    @extend %has-highlight;
    @extend %has-round-corners;
    @extend %p-card;
  }
}

@mixin vf-p-card-muted-header {
  .p-card--muted-header {
    @extend %has-highlight;
    @extend %has-round-corners;
    @extend %p-card;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    position: relative;

    &::before {
      background-color: $color-brand;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    > .p-card__footer {
      @extend %pseudo-border--top;
      margin-top: auto;
      max-width: inherit;
      position: relative;
    }
  }
}

@mixin vf-p-card-overlay {
  .p-card--overlay {
    @extend %p-card;
    background: transparentize($color-x-light, .1);
  }
}

@mixin vf-p-card-grey {
  .p-card--grey {
    @extend %bg--grey;
    @extend %is-bordered;
    @extend %has-round-corners;
    @extend %p-card;
  }
}