// Link style patterns
@mixin vf-p-links {

  @mixin link-svg-icon($color: $color-dark) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='" + url-friendly-color($color) + "' d='M4.867 1.313C.6 1.32.067 1.443.067 4.51v6.4c0 3.2.533 3.2 5.333 3.2h2.133c4.8 0 5.334 0 5.334-3.2v-1.6h-1.6v1.068c0 2.133 0 2.133-4.267 2.133H5.933c-4.266 0-4.266 0-4.266-2.132V5.044c0-1.93.034-2.112 3.2-2.13v-1.6z'/%3E%3Cpath d='M-1-1h16v16H-1'/%3E%3Cpath fill='" + url-friendly-color($color) + "' d='M6.435 2.16c.11-.446 7.113-2.196 7.448-1.86.335.334-1.416 7.335-1.863 7.447-.447.112-5.697-5.14-5.586-5.586z'/%3E%3Cpath fill='" + url-friendly-color($color) + "' d='M9.032 3.38L4.705 7.708l1.767 1.767L10.8 5.148'/%3E%3C/g%3E%3C/svg%3E");
  }

  .p-link {
    // Used for links point at a different domain
    &--external {
      @include link-svg-icon($color-link);
      background-position: 100% top;
      background-repeat: no-repeat;
      background-size: .7rem .7rem;
      padding-right: .9rem;
    }

    &--no-underline {
      border: 0;
    }

    &--soft {
      color: $color-dark;

      &:visited {
        color: $color-dark;
        text-decoration: none;
      }

      &:hover {
        color: $color-link;
      }

      &.is-selected {
        font-weight: 400;
      }
    }

    &--strong {
      color: $color-dark;
      font-weight: 400;

      &:visited {
        color: $color-dark;
      }

      &:hover {
        color: $color-link;
        text-decoration: underline;
      }

      &.p-link--external:hover::after {
        @include link-svg-icon($color-dark);
      }
    }

    &--inverted {
      color: $color-light;
      font-weight: 400;

      &:hover {
        color: $color-light;
      }

      &:visited {
        color: darken($color-light, 10%);
      }
    }
  }

  .p-top {
    border-bottom: 1px dotted $color-mid-light;
    clear: both;
    margin: 20px 0;

    &__link {
      background: $color-x-light;
      float: right;
      margin-right: 5px;
      padding: 0 5px;
      position: relative;
      text-decoration: none;
      top: -.725rem;
    }
  }

  .p-link--external.p-link--strong {
    @include link-svg-icon($color-dark);
    color: $color-dark;
  }
}
