@import 'settings';

@mixin vf-p-icons {
  @include vf-p-icons-common;
  @include vf-p-icon-anchor;
  @include vf-p-icon-plus;
  @include vf-p-icon-minus;
  @include vf-p-icon-expand;
  @include vf-p-icon-collapse;
  @include vf-p-icon-contextual-menu;
  @include vf-p-icon-close;
  @include vf-p-icon-help;
  @include vf-p-icon-info;
  @include vf-p-icon-delete;
  @include vf-p-icon-error;
  @include vf-p-icon-warning;
  @include vf-p-icon-external-link;
  @include vf-p-icon-drag;
  @include vf-p-icon-code;
  @include vf-p-icon-menu;
  @include vf-p-icon-copy;
  @include vf-p-icon-search;
  @include vf-p-icon-success;
  @include vf-p-icon-share;
  @include vf-p-icon-user;
  @include vf-p-icon-question;
  @include vf-p-icon-spinner;
  @include vf-p-icon-facebook;
  @include vf-p-icon-twitter;
  @include vf-p-icon-instagram;
  @include vf-p-icon-linkedin;
  @include vf-p-icon-youtube;
  @include vf-p-icon-canonical;
  @include vf-p-icon-ubuntu;
  @include vf-p-icon-rss;
  @include vf-p-icon-email;
  @include vf-p-icon-sizes;
  @include vf-p-icon-in-button;
}

@mixin vf-p-icons-common {
  %icon {
    @extend %vf-hide-text;
    @include vf-icon-size($default-icon-size);
    $vertical-offset: 0.5px;
    background: {
      position: center;
      repeat: no-repeat;
      size: contain;
    }

    display: inline-block;
    font-size: inherit; // allow icons to match size of parent text element, when set in em
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: calc(#{$vertical-offset} + #{0.5 * $cap-height} - #{0.5 * $default-icon-size});
  }

  h1,
  .p-heading--1,
  .p-heading--one,
  .u-match-h1 {
    [class*='p-icon'] {
      @include vf-icon-size($x-height);

      vertical-align: 0;
    }
  }

  h2,
  .p-heading--2,
  .p-heading--two,
  .u-match-h2 {
    [class*='p-icon'] {
      @include vf-icon-size($x-height);

      vertical-align: 0;
    }
  }

  h3,
  .p-heading--3,
  .p-heading--three,
  .u-match-h3 {
    [class*='p-icon'] {
      @include vf-icon-size($default-icon-size);

      vertical-align: 0;
    }
  }

  h4,
  .p-heading--4,
  .p-heading--four,
  .u-match-h4 {
    [class*='p-icon'] {
      vertical-align: 0;
    }
  }

  %social-icon {
    @extend %vf-hide-text;
    @include vf-icon-size($social-icon-size);

    display: inline-block;
  }
}

/// Icons
@mixin vf-p-icon-anchor {
  .p-icon--anchor {
    @extend %icon;
    @include vf-icon-anchor($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-anchor($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-plus {
  .p-icon--plus {
    @extend %icon;
    @include vf-icon-plus($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-plus($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-minus {
  .p-icon--minus {
    @extend %icon;
    @include vf-icon-minus($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-minus($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-expand {
  .p-icon--expand {
    @extend %icon;
    @include vf-icon-expand($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-expand($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-collapse {
  .p-icon--collapse {
    @extend %icon;
    @include vf-icon-collapse($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-collapse($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-contextual-menu {
  .p-icon--contextual-menu {
    @extend %icon;
    @include vf-icon-contextual-menu($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-contextual-menu($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-close {
  .p-icon--close {
    @extend %icon;
    @include vf-icon-close($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-close($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-help {
  .p-icon--help,
  .p-icon--question {
    @extend %icon;
    @include vf-icon-help($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-help($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-info {
  .p-icon--information {
    @extend %icon;
    @include vf-icon-info($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-info($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-delete {
  .p-icon--delete {
    @extend %icon;
    @include vf-icon-delete($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-delete($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-error {
  .p-icon--error {
    @extend %icon;
    @include vf-icon-error($color-negative);
  }
}

@mixin vf-p-icon-warning {
  .p-icon--warning {
    @extend %icon;
    @include vf-icon-warning($color-caution);
  }
}

@mixin vf-p-icon-external-link {
  .p-icon--external-link {
    @extend %icon;
    @include vf-icon-external-link($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-external-link($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-drag {
  .p-icon--drag {
    @extend %icon;
    @include vf-icon-drag($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-drag($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-code {
  .p-icon--code {
    @extend %icon;
    @include vf-icon-code($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-code($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-menu {
  .p-icon--menu {
    @extend %icon;
    @include vf-icon-menu($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-menu($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-copy {
  .p-icon--copy {
    @extend %icon;
    @include vf-icon-copy($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-copy($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-search {
  .p-icon--search {
    @extend %icon;
    @include vf-icon-search($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-search($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-success {
  .p-icon--success {
    @extend %icon;
    @include vf-icon-success($color-positive);
  }
}

@mixin vf-p-icon-share {
  .p-icon--share {
    @extend %icon;
    @include vf-icon-share($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-share($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-user {
  .p-icon--user {
    @extend %icon;
    @include vf-icon-user($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-user($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-question {
  @include deprecate('3.0.0', 'Use the `p-icon--help` class instead') {
    // moved to vf-p-icon-help
  }
}

@mixin vf-p-icon-spinner {
  .p-icon--spinner {
    @extend %icon;
    @include vf-icon-spinner($color-mid-dark);

    [class*='--dark'] &,
    &.is-light {
      @include vf-icon-spinner($color-mid-x-light);
    }
  }
}

@mixin vf-p-icon-facebook {
  .p-icon--facebook {
    @extend %social-icon;
    @include vf-icon-facebook;
  }
}

@mixin vf-p-icon-twitter {
  .p-icon--twitter {
    @extend %social-icon;
    @include vf-icon-twitter;
  }
}

@mixin vf-p-icon-instagram {
  .p-icon--instagram {
    @extend %social-icon;
    @include vf-icon-instagram;
  }
}

@mixin vf-p-icon-linkedin {
  .p-icon--linkedin {
    @extend %social-icon;
    @include vf-icon-linkedin;
  }
}

@mixin vf-p-icon-youtube {
  .p-icon--youtube {
    @extend %social-icon;
    @include vf-icon-youtube;
  }
}

@mixin vf-p-icon-canonical {
  @include deprecate('3.0.0', 'Removing icon from framework please use an alternative icon from our social set') {
    .p-icon--canonical {
      @extend %social-icon;
      @include vf-icon-canonical;
    }
  }
}

@mixin vf-p-icon-ubuntu {
  @include deprecate('3.0.0', 'Removing icon from framework please use an alternative icon from our social set') {
    .p-icon--ubuntu {
      @extend %social-icon;
      @include vf-icon-ubuntu;
    }
  }
}

@mixin vf-p-icon-rss {
  .p-icon--rss {
    @extend %social-icon;
    @include vf-icon-rss;
  }
}

@mixin vf-p-icon-email {
  .p-icon--email {
    @extend %social-icon;
    @include vf-icon-email;
  }
}

@mixin vf-p-icon-sizes {
  .p-icon--medium {
    @include vf-icon-size(1.25rem);
  }

  .p-icon--large {
    @include vf-icon-size($sp-large);
  }

  .p-icon--x-large {
    @include vf-icon-size(2.25rem);
  }

  .p-icon--xx-large {
    @include vf-icon-size($sp-xxx-large);
  }
}

@mixin vf-p-icon-in-button {
  @include deprecate('3.0.0', 'No longer necessary') {
    // Style overides for icons within a button
    [class*='p-button-'] {
      [class*='p-icon-'] {
        top: 0;
      }
    }
  }
}
