@import 'settings';
$sidebar-width: 4.5rem !default;

@mixin vf-p-code-numbered {
  .p-code-numbered {
    counter-reset: line-numbering;
    padding: 0;
  }

  .p-code-numbered__line {
    display: inline-block;
    padding: $spv-inner--small $sph-inner 0 ($sidebar-width + $sph-inner);
    position: relative;
    width: 100%;

    &:empty {
      display: block;
      min-height: $sp-xx-large;
    }

    &:last-of-type,
    &:last-of-type::before {
      padding-bottom: $spv-inner--small;
    }

    &::before {
      // sass-lint:disable no-vendor-prefixes property-sort-order
      background: $color-x-light;
      border-right: 1px solid $color-mid-light;
      color: $color-mid-dark;
      content: counter(line-numbering);
      counter-increment: line-numbering;
      display: inline-block;
      height: 100%;
      left: 0;
      padding: $spv-inner--small $sph-inner 0 $sph-inner;
      pointer-events: none;
      position: absolute;
      text-align: right;
      top: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      // sass-lint:enable no-vendor-prefixes property-sort-order
      width: $sidebar-width;
    }
  }
}
