@import 'settings';
$knob-size: $sp-unit * 3;

@mixin vf-p-switch {
  .p-switch {
    height: $knob-size;
    margin: 0;
    opacity: 0 !important; // override higher specificity of [type='checkbox'] selector
    position: absolute !important; // override higher specificity of [type='checkbox'] selector
    width: $knob-size * 2;

    &:checked + .p-switch__slider::before {
      left: 50%;
    }

    &:disabled + .p-switch__slider {
      @extend %vf-disabled-element;
    }

    &:focus {
      outline: none;

      + .p-switch__slider {
        outline: $bar-thickness solid $color-focus;
      }
    }
  }

  .p-switch__slider {
    @extend %vf-has-round-corners;

    background: linear-gradient(to right, $color-link 50%, $color-mid-light 50%);
    box-shadow: inset 0 2px 5px 0 transparentize($color-dark, 0.8);
    display: block;
    height: $knob-size;
    margin: $spv-nudge-compensation 0 0 0;
    position: relative;
    width: $knob-size * 2;

    &::before {
      @extend %vf-has-round-corners;
      @extend %vf-has-box-shadow;
      @include vf-animation($duration: slow);

      background: $color-x-light;
      content: '';
      height: $knob-size;
      left: 0;
      position: absolute;
      width: $knob-size;
    }

    // FIXME: we shouldn't be targeting span elements here
    // stylelint-disable-next-line selector-max-type
    & span {
      @extend %vf-hide-text;
    }
  }
}
