@import 'settings';

@mixin vf-p-form-help-text {
  .p-form-help-text {
    @extend %small-text;

    color: $colors--theme--text-muted;
    margin-top: -$sp-unit;

    .is-dense + & {
      margin-top: 0;
    }

    &.is-tick-element {
      margin-left: $sph--large + $form-tick-box-size;
    }
  }
}
