@function fact($num) {
  $fact: 1;
  @if $num > 0 {
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }
  @return $fact;
}

@function rad($angle) {
  $pi: 3.14159265359;
  @return $angle / 180deg * $pi;
}

@function sin($angle) {
  $a: rad($angle);
  $sin: $a;
  @for $n from 1 through 10 {
    $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1)) * pow($a, (2 * $n + 1));
  }
  @return $sin;
}

@mixin vf-p-suru($anchor: bottom-left, $height: 25rem, $angle: 25deg, $color: $color-mid-light, $opacity: 0.25) {
  background-color: $color;
  display: none;
  height: $height;
  opacity: $opacity;
  position: absolute;
  width: #{abs((1 / sin($angle))) * $height};

  .gn-1 &,
  .gn-animated-suru & {
    display: block;
  }

  @if $anchor == bottom-left {
    bottom: 0;
    left: 0;
    right: inherit;
    top: inherit;
    transform: rotate($angle);
    transform-origin: 0 0;
  }

  @if $anchor == bottom-right {
    bottom: 0;
    left: inherit;
    right: 0;
    top: inherit;
    transform: rotate(#{-$angle});
    transform-origin: 100% 0;
  }

  @if $anchor == top-left {
    bottom: inherit;
    left: 0;
    right: inherit;
    top: 0;
    transform: rotate(#{-$angle});
    transform-origin: 0 100%;
  }

  @if $anchor == top-right {
    bottom: inherit;
    left: inherit;
    right: 0;
    top: 0;
    transform: rotate($angle);
    transform-origin: 100% 100%;
  }
}

@mixin vf-p-global-nav {
  $color-primary-row: #2c001e;
  $color-primary-row-small: #262626;
  $color-ubuntu-orange: #e95420;
  $color-nav-bg: #333;

  .gn-container {
    line-height: 1.5rem;
    max-height: 3rem;
    position: sticky;
    top: 0;
    z-index: 10000;

    ~ .p-navigation {
      @include vf-animation($property: all, $duration: brisk);
      font-size: 0.875rem;
      top: 3rem;
      z-index: 1000;

      .p-navigation__logo {
        @include vf-animation($property: all, $duration: brisk);
        background-color: $color-ubuntu-orange;
        height: 2rem;
      }

      .p-navigation__link-anchor {
        @include vf-animation($property: all, $duration: brisk);
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
      }

      .p-search-box {
        @include vf-animation($property: all, $duration: brisk);
        margin-top: auto;
      }

      .p-search-box__input {
        @include vf-animation($property: all, $duration: brisk);
        font-size: 0.875rem;
        height: 1.5rem;
      }
    }

    ~ .p-navigation--secondary {
      @include vf-animation($property: all, $duration: brisk);
      z-index: 1000;
    }

    &.gn-small {
      max-height: 2rem;

      ~ .p-navigation {
        font-size: 1rem;
        top: 2rem;

        .p-navigation__logo {
          height: 3rem;
        }

        .p-navigation__link-anchor {
          padding-bottom: 0.75rem;
          padding-top: 0.75rem;
        }

        .p-search-box {
          margin-top: 0.35rem;
        }

        .p-search-box__input {
          font-size: 1rem;
          height: 36.8px;
        }
      }
    }

    &.gn-1 {
      ~ .p-navigation .p-navigation__logo {
        background-color: $color-nav-bg;
      }

      ~ .p-navigation--secondary {
        top: 5rem;
      }
    }

    &.gn-1.gn-small {
      ~ .p-navigation .p-navigation__logo {
        background-color: $color-ubuntu-orange;
      }
    }

    &.gn-2 {
      ~ .p-navigation {
        top: -2rem;
      }

      ~ .p-navigation--secondary {
        top: 3rem;
      }
    }

    &.gn-2.gn-small {
      ~ .p-navigation--secondary {
        top: 2rem;
      }
    }

    &.gn-3 {
      ~ .p-navigation {
        position: static;
      }

      ~ .p-navigation--secondary {
        position: static;

        .breadcrumbs__link {
          font-size: 1rem;
        }
      }
    }

    &.gn-3.gn-drop-in {
      @include vf-animation($property: all, $duration: brisk);
      top: 0;
    }

    &.gn-3.gn-drop-in.gn-hidden {
      top: -3rem;
    }
  }

  .gn-primary-nav {
    @include vf-animation($property: all, $duration: brisk);
    background-color: $color-primary-row;
    position: relative;
    z-index: 9999;

    .gn-small & {
      background-color: $color-primary-row-small;
    }
  }

  .gn-primary-nav__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;
    padding: 0 0.25rem 0 1.5rem;
  }

  .gn-primary-nav__logo {
    @include vf-animation($property: all, $duration: brisk);
    align-items: center;
    display: flex;
    height: 3rem;
    padding: 0 1.25rem 0 0;
    width: 136px;

    .gn-small & {
      height: 2rem;
      padding-right: 1rem;
      width: 100px;
    }
  }

  %primary-nav-clickable {
    color: $color-x-light;
    margin-top: 0.25rem;
    padding: 0.6rem 1rem 0.65rem 1rem;
    position: relative;
    text-decoration: none;

    &.is-active {
      background: $color-x-light;
      color: $color-dark;
    }

    &:visited {
      color: $color-x-light;
    }

    &:hover {
      text-decoration: none;
    }

    .gn-1 & {
      @include vf-animation($property: all, $duration: brisk);

      &:hover:not(.is-active):not(.is-open) {
        background-color: transparent;
      }

      &:hover:not(.is-active):not(.is-open)::after {
        background-color: $color-ubuntu-orange;
        bottom: 0;
        content: '';
        height: 3px;
        left: 0.25rem;
        position: absolute;
        right: 0.25rem;
        text-decoration: none;
      }
    }

    .gn-2 &,
    .gn-3 & {
      @include vf-animation(
        $property: (
          font-size,
          padding,
          margin
        ),
        $duration: brisk
      );

      &:hover {
        color: $color-mid-light;
      }

      &.is-open:hover {
        color: $color-mid-dark;
      }

      &.is-active:hover {
        color: $color-dark;
      }
    }

    .gn-small & {
      font-size: 0.875rem;
      padding-bottom: 0.25rem;
      padding-top: 0;
    }

    .gn-small.gn-2 &,
    .gn-small.gn-3 & {
      color: $color-mid-light;

      &:hover {
        color: $color-x-light;
      }

      &.is-active,
      &.is-open {
        color: $color-dark;
      }

      &.is-active:hover,
      &.is-open:hover {
        color: $color-mid-dark;
      }
    }
  }

  .gn-primary-nav__link {
    @extend %primary-nav-clickable;

    .gn-2 &,
    .gn-3 & {
      font-size: 0.875rem;
    }
  }

  .gn-primary-nav__button {
    @extend %primary-nav-clickable;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin: 0.25rem 0 0 0 !important;
    padding-right: 2.25rem;

    &:hover,
    &:active,
    &:hover:active {
      background-color: transparent;
    }

    &::before {
      background-image: url("data:image/svg+xml, %3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='chevron_down' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='chevron' fill='#{vf-url-friendly-color($color-x-light)}' transform='translate(8.000000, 8.193853) rotate(90.000000) translate(-8.000000, -8.193853) ' points='4.80614657 14.3333333 8.64539007 8.17730496 4.80614657 2.05437352 6.16312057 1.19385343 11.1938534 8.17730496 6.16312057 15.1938534'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
      background-size: 0.75rem;
      content: '';
      height: 0.75rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 0.75rem;
    }

    &.is-open {
      background: $color-light;
      color: $color-dark;
      margin-top: 0 !important;
      padding-top: 0.85rem;

      &::before {
        background-image: url("data:image/svg+xml, %3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='chevron_down' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='chevron' fill='#{vf-url-friendly-color($color-dark)}' transform='translate(8.000000, 8.193853) rotate(90.000000) translate(-8.000000, -8.193853) ' points='4.80614657 14.3333333 8.64539007 8.17730496 4.80614657 2.05437352 6.16312057 1.19385343 11.1938534 8.17730496 6.16312057 15.1938534'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
        top: 1.25rem;
        transform: rotate(180deg);
      }

      &:hover,
      &:active,
      &:hover:active {
        background-color: $color-light;
      }
    }

    &.is-active {
      padding-right: 1rem;

      &::before {
        content: none;
      }

      &:hover,
      &:active,
      &:hover:active {
        background-color: $color-x-light;
      }
    }

    .gn-small & {
      &::before {
        top: 0.5rem;
      }

      &.is-open {
        padding-top: 0.25rem;
      }

      &.is-open::before {
        top: 0.75rem;
      }
    }

    .gn-1 & {
      &::before {
        @include vf-animation($property: all, $duration: brisk);
      }
    }

    .gn-2 &,
    .gn-3 & {
      &::before {
        @include vf-animation($property: top, $duration: brisk);
      }

      &.is-open:hover {
        color: $color-mid-dark;
      }

      &:not(.is-open)::before {
        opacity: 0.5;
      }
    }

    .gn-full-height & {
      margin-top: 0 !important;
      padding-top: 0.85rem !important;

      &::before {
        top: 1.25rem;
      }
    }

    .gn-full-height.gn-small & {
      padding-top: 0.15rem !important;

      &::before {
        top: 0.7rem;
      }
    }
  }

  .gn-secondary-nav {
    @include vf-animation($property: all, $duration: brisk);
    background: $color-x-light;
    position: absolute;
    top: 3rem;
    width: 100%;

    .gn-small & {
      top: 2rem;
    }
  }

  .gn-secondary-nav__row {
    display: none;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;

    &.is-active {
      display: flex;
    }

    &::after {
      background-color: $color-mid-light;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
    }

    .gn-1 & {
      padding: 0 1.5rem;
    }

    .gn-2 &,
    .gn-3 & {
      padding: 0 1rem 0 0.5rem;
    }

    .gn-3.gn-two-lines & {
      max-width: #{$grid-max-width - 1rem};
      overflow: hidden;
      padding: 0;
      position: relative;

      &::after {
        content: none;
      }
    }
  }

  .gn-secondary-nav__link {
    color: $color-dark;
    position: relative;

    &:visited {
      color: $color-dark;
    }

    .gn-1 & {
      margin-right: 2rem;
      padding: 0.5rem 0;

      &.is-active {
        font-weight: 400;
      }

      &.is-active,
      &:hover,
      &:focus {
        text-decoration: none;

        &::after {
          background-color: $color-ubuntu-orange;
          bottom: 0;
          content: '';
          height: 1px;
          left: -0.5rem;
          position: absolute;
          right: -0.5rem;
          z-index: 1;
        }
      }
    }

    .gn-2 &,
    .gn-3.gn-two-lines & {
      padding: 0.5rem 1rem;

      &.is-active,
      &:hover,
      &:focus {
        text-decoration: none;

        &::after {
          background-color: $color-ubuntu-orange;
          bottom: 0;
          content: '';
          height: 1px;
          left: 0;
          position: absolute;
          right: 0;
          z-index: 2;
        }
      }
    }

    .gn-3 & {
      padding: 0.5rem 1rem;

      &.is-active {
        text-decoration: none;
      }
    }

    .gn-3.gn-orange-active & {
      &:hover,
      &:focus {
        color: $color-link;
        text-decoration: underline;
      }

      &.is-active {
        color: $color-ubuntu-orange;
      }
    }

    .gn-3.gn-two-lines & {
      &::after {
        background-color: $color-mid-light;
        bottom: 0;
        content: '';
        height: 1px;
        left: -100vh;
        position: absolute;
        right: -100vh;
        z-index: 1;
      }
    }
  }

  .gn-dropdown {
    @include vf-animation($property: transform, $duration: brisk);
    position: relative;
    transform: translateY(-100%);
    z-index: 9998;

    &.is-open {
      transform: translateY(0);
    }
  }

  .gn-dropdown__container {
    @include vf-animation($property: transform, $duration: brisk);
    background: $color-light;
    height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 9998;

    &.is-open {
      height: auto;

      &::after {
        background-color: $color-mid-light;
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
      }
    }
  }

  .gn-dropdown__content {
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;
    padding: 1.5rem;
    position: relative;
    z-index: 1000;
  }

  .gn-matrix {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .gn-matrix__item {
    border-top: 1px solid $color-mid-light;
    flex: 1 1 auto;
    flex-wrap: wrap;
    margin: 0;
    padding: 1rem 1rem 1rem 0;
    width: 33.33%;

    &:nth-child(3n + 1) {
      padding-left: 0;
    }

    &:nth-child(3n + 3) {
      border-right: 0;
      padding-right: 0;
    }

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      border-top: 0;
    }
  }

  .gn-matrix__image {
    display: inline-block;
    height: auto;
    margin-bottom: 1rem;
    margin-right: 0.75rem;
    max-height: 2rem;
    max-width: 2rem;
    position: relative;
    top: 0.1rem;
  }

  .gn-matrix__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0;
    padding-right: 1rem;
    width: 100%;
  }

  .gn-matrix__title {
    @extend %vf-heading-4;
    line-height: 2rem;
  }

  .gn-matrix__description {
    font-size: 0.875rem;
    margin: -1rem 0 0.1rem 2.75rem;
  }

  .gn-link {
    color: $color-dark;
    display: inline-flex;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: $color-dark;
    }
  }

  .gn-heading-link {
    padding-top: 0 !important;

    .gn-1 & {
      @extend %vf-heading-4;
      margin-bottom: 0.25rem;
    }

    .gn-2 & {
      @extend %vf-heading-5;
      margin-bottom: 0.6rem;
      padding-top: 0;
    }

    .gn-3 & {
      @extend %default-text;
      font-size: 1rem;
      margin-bottom: 0.5rem;

      & .gn-link {
        color: $color-link;
      }
    }
  }

  .gn-subtitle {
    font-size: 0.875rem;

    .gn-1 & {
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 1rem;
    }

    .gn-2 &,
    .gn-3 & {
      color: $color-mid-dark;
      line-height: 1rem;
      margin-bottom: 0.3rem;
      margin-top: 1.5rem;
      padding-top: 0.2rem;
      text-transform: uppercase;
    }
  }

  .gn-divided-row {
    display: flex;
    justify-content: space-between;
  }

  .gn-divided-row__item {
    flex: 1;
    margin: 0 1rem;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .gn-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .gn-list__item--inline {
    display: inline;
    padding: 0 0.5rem;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  .gn-small-text {
    font-size: 0.875rem;
  }

  .gn-muted-text {
    .gn-1 & {
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
    }

    .gn-2 &,
    .gn-3 & {
      @extend %muted-heading;
      margin-bottom: 0.5rem;
    }
  }

  .gn-heading {
    .gn-1 & {
      @extend %vf-heading-3;
      margin-bottom: 0.5rem;

      &.gn-opportunities {
        @extend %small-text;
        font-weight: 400;
        margin-top: 0.5rem;
      }
    }

    .gn-2 &,
    .gn-3 & {
      @extend %vf-heading-4;
    }
  }

  .gn-overlay {
    @include vf-animation($property: opacity, $duration: brisk);
    background-color: $color-dark;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100vw;
    z-index: 9997;

    &.is-open {
      opacity: 0.5;
      pointer-events: all;
    }
  }

  .gn-controls {
    background: $color-x-light;
    border: 1px solid $color-mid-light;
    bottom: 0.5rem;
    padding: 0 1rem;
    position: fixed;
    right: 0.5rem;
    z-index: 100000;
  }

  .gn-display-flex {
    display: flex;
  }

  .gn-suru--1 {
    @include vf-p-suru($anchor: bottom-left, $height: 25rem, $angle: 25deg);
  }

  .gn-suru--2 {
    @include vf-p-suru($anchor: bottom-right, $height: 30rem, $angle: 50deg);
  }

  .gn-suru--3 {
    @include vf-p-suru($anchor: bottom-right, $height: 17rem, $angle: 8deg);
  }

  .gn-suru--4 {
    @include vf-p-suru($anchor: bottom-left, $height: 48.5rem, $angle: 45deg);
  }

  .gn-suru--5 {
    @include vf-p-suru($anchor: bottom-right, $height: 26rem, $angle: 21deg);
  }

  .gn-suru--6 {
    @include vf-p-suru($anchor: top-left, $height: 15rem, $angle: 45deg);
  }

  .gn-suru--7 {
    @include vf-p-suru($anchor: top-right, $height: 38rem, $angle: 45deg);
  }

  .gn-suru--8 {
    @include vf-p-suru($anchor: bottom-left, $height: 48rem, $angle: 65deg);
  }

  .gn-suru--9 {
    @include vf-p-suru($anchor: bottom-right, $height: 38rem, $angle: 55deg);
  }

  .gn-suru--10 {
    @include vf-p-suru($anchor: bottom-right, $height: 10rem, $angle: 5deg);
  }

  %animated-suru-base {
    @include vf-animation(
      $property: (
        height,
        transform,
        width
      ),
      $duration: sleepy
    );
    transition-duration: 1.5s;
  }

  .gn-animated-suru--1 {
    @extend %animated-suru-base;
    @include vf-p-suru($anchor: bottom-left, $height: 20rem, $angle: 40deg);

    .products & {
      @include vf-p-suru($anchor: bottom-left, $height: 25rem, $angle: 25deg);
    }

    .partners & {
      @include vf-p-suru($anchor: bottom-left, $height: 48.5rem, $angle: 45deg);
    }

    .careers & {
      @include vf-p-suru($anchor: bottom-left, $height: 48rem, $angle: 65deg);
    }
  }

  .gn-animated-suru--2 {
    @extend %animated-suru-base;
    @include vf-p-suru($anchor: bottom-right, $height: 20rem, $angle: 35deg);

    .products & {
      @include vf-p-suru($anchor: bottom-right, $height: 30rem, $angle: 50deg);
    }

    .partners & {
      @include vf-p-suru($anchor: bottom-right, $height: 26rem, $angle: 21deg);
    }

    .careers & {
      @include vf-p-suru($anchor: bottom-right, $height: 38rem, $angle: 55deg);
    }
  }

  .gn-animated-suru--3 {
    @extend %animated-suru-base;
    @include vf-p-suru($anchor: bottom-right, $height: 8rem, $angle: 7deg);

    .products & {
      @include vf-p-suru($anchor: bottom-right, $height: 17rem, $angle: 8deg);
    }

    .partners & {
      @include vf-p-suru($anchor: bottom-right, $height: 1px, $angle: 10deg);
    }

    .careers & {
      @include vf-p-suru($anchor: bottom-right, $height: 10rem, $angle: 5deg);
    }
  }

  .gn-animated-suru--4 {
    @extend %animated-suru-base;
    @include vf-p-suru($anchor: top-left, $height: 5rem, $angle: 40deg);

    .products & {
      @include vf-p-suru($anchor: top-left, $height: 1px, $angle: 45deg);
    }

    .partners & {
      @include vf-p-suru($anchor: top-left, $height: 15rem, $angle: 45deg);
    }

    .careers & {
      @include vf-p-suru($anchor: top-left, $height: 1px, $angle: 45deg);
    }
  }

  .gn-animated-suru--5 {
    @extend %animated-suru-base;
    @include vf-p-suru($anchor: top-right, $height: 10px, $angle: 30deg);

    .products & {
      @include vf-p-suru($anchor: top-right, $height: 1px, $angle: 91deg);
    }

    .partners & {
      @include vf-p-suru($anchor: top-right, $height: 38rem, $angle: 45deg);
    }

    .careers & {
      @include vf-p-suru($anchor: top-right, $height: 1px, $angle: 91deg);
    }
  }
}

// Ubuntu.com navigation

@mixin vf-p-ubuntu-nav {
  $breakpoint-medium: 875px;
  $viewport-threshold: 1281px;
  $sp-medium-small: 1rem * 0.85 !default;
  $sp-medium-large: 1rem * 1.15 !default;
  $grid-max-width: 68rem;
  $circle-of-friends-compensation: 0; // padding compensation to create visually equal margins;
  $contrast-ratio: 5%;
  $color-whitepaper-accent: #772a54;
  $color-mid-x-light: #e5e5e5;
  $ubuntu-logo-svg-width: 81 * 0.0625rem; // width in rems
  $ubuntu-logo-width--desktop: $ubuntu-logo-svg-width + 2 * $grid-margin-width;
  $ubuntu-logo-width--mobile: $ubuntu-logo-svg-width + 2 * $spv-inner--large;
  $color-nav-bg: #333;
  $color-ubuntu-orange: #e95420;
  $nudge--small: 0.55rem;
  $p-small-lh-diff: map-get($line-heights, default-text) - map-get($line-heights, small);
  $nudge--small: 0.55rem;
  $p-small-lh-diff: map-get($line-heights, default-text) - map-get($line-heights, small);

  %small-text-base {
    font-size: 1rem / pow($ms-ratio, 1);
    line-height: map-get($line-heights, small);
    padding-top: $nudge--small;
  }

  %small-text-fixed {
    @extend %small-text-base;
  }

  %small-text--vertically-condensed {
    @extend %small-text-base;
    margin-bottom: map-get($sp-after, small) + $p-small-lh-diff - $nudge--small;
  }

  %smallest-text {
    //Smallest text, used for smaller mutrd headinggs that sit next to .p-p--small
    font-size: 1rem / pow($ms-ratio, 2);
    line-height: 1rem;
    margin-bottom: 0.25rem;
    padding-top: 0.5rem;
  }

  h4,
  .p-heading--four {
    &.is-dense {
      margin-bottom: 1 * $sp-unit - map-get($nudges, nudge--h4);
    }

    &.is-x-dense {
      margin-bottom: 0 * $sp-unit - map-get($nudges, nudge--h4);
    }
  }

  .p-muted-heading--small {
    @extend %smallest-text;
    text-transform: uppercase;
  }

  .p-p--small {
    &:not(.is-v-condensed) {
      @extend %small-text-fixed;
    }

    &.is-v-condensed {
      @extend %small-text--vertically-condensed;
    }

    & + & {
      margin-top: -$p-small-lh-diff;
    }

    .p-text-list--small + & {
      margin-top: -map-get($line-heights, small);
    }
  }

  %p-strip--very-shallow {
    padding-top: $spv-outer--medium;

    &:not(:last-child) {
      padding-bottom: $spv-outer--medium;
    }

    &:last-child {
      padding-bottom: $spv-outer--scaleable;
    }
  }

  %bg--light {
    background-color: $color-light;
    color: $color-dark;
  }

  .bg--light {
    @extend %bg--light;
  }

  .p-hr--subtle {
    opacity: 0.5;
  }

  .p-hr--dense {
    margin-bottom: -0.0625rem;
  }

  .u-float--right {
    float: right;
  }

  html {
    overflow-x: hidden !important; // prevent horizontal overflow full width breakout
  }

  %row-no-margins-on-mobile {
    @media (max-width: $breakpoint-navigation-threshold) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: $breakpoint-navigation-threshold + 1) {
      padding-left: $grid-margin-width;
      padding-right: $grid-margin-width;
    }
  }

  .p-navigation {
    background-color: $color-nav-bg;
    flex-direction: column;
    line-height: 1.5rem;
    position: sticky;
    z-index: 40;

    &::after {
      // disable rule under nav
      background-color: none;
      height: 0;
    }

    &__banner {
      background-color: $color-ubuntu-orange;
      left: -1rem;
      position: relative;
    }

    .p-navigation__dropdown-link--noscript {
      position: relative;

      .p-navigation__link-anchor {
        padding: 0.75rem 1rem;
      }
    }

    &__dropdown-link {
      position: relative;

      &::after {
        @include vf-icon-chevron(vf-url-friendly-color($color-mid-light));
        background-position: top 52% right 50%;
        background-repeat: no-repeat;
        background-size: 0.75rem;
        content: '';
        height: 100%;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        transition: transform 0.1s;
        width: 2rem;
      }

      &.is-selected {
        &::after {
          @include vf-icon-chevron(vf-url-friendly-color($color-dark));
          transform: rotate(-180deg);
        }

        .p-navigation__link-anchor {
          background-color: $color-x-light;
          color: $color-dark;

          &::after {
            background-color: transparent;
          }

          &:focus,
          &:visited {
            background-color: $color-x-light;
            color: $color-dark;
          }

          &:hover {
            background-color: $color-x-light;
            color: $color-dark;
          }
        }
      }
    }

    &__image {
      max-height: 1.5rem;
      max-width: $ubuntu-logo-svg-width;
    }

    &__logo {
      background: $color-ubuntu-orange;
      margin: 0;

      @media (max-width: $breakpoint-x-small - 1) {
        padding-left: $grid-margin-width / 1.5 !important;
        padding-right: 0 !important;
      }

      @media only screen and (max-width: $breakpoint-navigation-threshold) {
        padding-left: $grid-margin-width;
        padding-right: $grid-margin-width - $circle-of-friends-compensation;
      }

      @media only screen and (min-width: $breakpoint-navigation-threshold) {
        padding-left: $spv-inner--large;
        padding-right: $spv-inner--large - $circle-of-friends-compensation;
      }

      .p-navigation__link {
        position: relative;
      }
    }

    & &__nav {
      border-bottom: 0;
      display: flex;
      width: 100%;
    }

    & &__link-anchor {
      @include vf-animation(all, brisk, in);
      color: $color-light;
      display: block;

      @media (max-width: $breakpoint-navigation-threshold) {
        padding: $sph-inner--large $grid-margin-width $sph-inner--large $grid-margin-width;
      }

      @media (min-width: $breakpoint-navigation-threshold + 1) {
        padding: 0.75rem 2rem 0.75rem 1rem;
      }

      &:focus,
      &:visited {
        background-color: $color-nav-bg;
        color: $color-light;
      }

      &:hover {
        background-color: darken($color-nav-bg, 3%);
        color: $color-x-light;
      }
    }

    & &__row {
      @extend %row-no-margins-on-mobile;

      &.row {
        @media (max-width: $breakpoint-x-small) {
          display: block;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }

    &__search {
      align-items: center;
      display: inline-flex;
      flex-grow: 1;
      margin: 0;

      .p-search-box {
        @media only screen and (min-width: $breakpoint-navigation-threshold) {
          margin-right: 0;
          max-width: 12rem;
        }

        &__button {
          padding: 0 0.5rem;
          width: 2rem;
        }

        &__reset {
          right: 2rem;
        }

        &__input {
          border-radius: $border-radius;
        }
      }
    }

    &--secondary {
      background-color: $color-light;
      display: flex;
      line-height: 1.5rem;
      margin-top: 0;
      position: sticky;
      width: 100%;
      z-index: 38;

      @media (max-width: $breakpoint-x-small - 1) {
        padding-bottom: $sp-medium;
        padding-top: $sp-small / 2;
      }

      &__banner {
        background-color: $color-ubuntu-orange;
        border-bottom: 1px solid $color-ubuntu-orange;
        float: left;
        font-weight: 300;

        &:hover {
          color: $color-x-light;
        }
      }

      &__logo {
        @extend %paragraph;
        align-items: center;
        color: $color-x-light;
        display: flex;
        margin-bottom: $sp-unit * 2 - map-get($nudges, nudge--p);
        position: relative;

        @media (max-width: $breakpoint-navigation-threshold - 1) {
          padding-left: $sp-small !important;
          padding-right: 0 !important;
        }

        a {
          border-left: 1px solid rgba(247, 247, 247, 0.3); // sass-lint:disable-line no-color-literals
          color: $color-light !important;
          padding-left: $sp-small;

          @media (max-width: $breakpoint-navigation-threshold - 1) {
            position: relative;
            top: 1px;
          }
        }

        &::after {
          // white separator inside lockup
          @extend %vf-pseudo-border--top;
          display: none;

          @media only screen and (min-width: $breakpoint-navigation-threshold) {
            background-color: $color-light;
            display: block;
            left: $spv-inner--large;
            opacity: 0.3;
            right: $spv-inner--large - $circle-of-friends-compensation;
          }
        }

        @media only screen and (min-width: $breakpoint-navigation-threshold) {
          padding-left: $spv-inner--large;
          padding-right: $spv-inner--large - $circle-of-friends-compensation;
          width: $ubuntu-logo-svg-width + 2 * $spv-inner--large - $circle-of-friends-compensation;
        }
      }

      .breadcrumbs {
        &--secondary {
          @extend .p-inline-list; // sass-lint:disable-line placeholder-in-extend
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 0;
          width: auto;
        }

        &__item {
          color: $color-dark;
          display: inline-flex;
          list-style: none;

          @media (max-width: $breakpoint-x-small - 1) {
            width: 50%;

            .breadcrumbs__link {
              padding-bottom: 0;
            }
          }
        }

        &__chevron {
          font-size: 0.875rem;
          padding: 0.55rem 0 0.2rem 0;
        }

        &__space {
          display: none;

          @media (max-width: $breakpoint-small - 1) {
            display: block;
          }
        }

        &__link {
          font-size: 1rem / pow($ms-ratio, 1); //XXX: move font-sizes to map in vanilla so it can be changed globally
          padding-bottom: 0.5rem;
          padding-left: $sph-inner--large;
          padding-right: $sph-inner--large;
          padding-top: $nudge--small;

          @media (max-width: $breakpoint-x-small - 1) {
            padding-left: 0;
            padding-right: 0;
          }

          &:first-child {
            padding-left: 1rem;
          }

          &.p-link--active {
            color: $color-ubuntu-orange;
          }
        }
      }

      .row {
        @extend %row-no-margins-on-mobile;
      }
    }

    &__toggle--open,
    &__toggle--close {
      color: $color-light !important;
      font-size: 0.875rem;

      @media (max-width: $breakpoint-x-small - 1) {
        margin-right: $grid-margin-width / 1.5 !important;
      }
    }

    &__links {
      @media (max-width: $breakpoint-x-small - 1) {
        font-size: 0.875rem;
      }

      @media (max-width: $breakpoint-navigation-threshold) {
        align-items: stretch;
        display: flex;
        justify-content: center;
        order: 2;

        .p-navigation__dropdown-link {
          flex: 1;
          text-align: center;
        }
      }
    }

    &__dropdown-link {
      &::after {
        @media (max-width: $breakpoint-navigation-threshold) {
          display: none;
        }
      }
    }

    &__search {
      @media (max-width: $breakpoint-navigation-threshold) {
        margin-top: $sp-medium !important;
        order: 1;
      }
    }

    &__link-anchor {
      @media (max-width: $breakpoint-x-small - 1) {
        padding-left: $grid-margin-width / 4 !important;
        padding-right: $grid-margin-width / 4 !important;
      }
    }

    .p-search-box {
      @media (max-width: $breakpoint-x-small - 1) {
        margin-left: $grid-margin-width / 1.5 !important;
        margin-right: $grid-margin-width / 1.5 !important;
      }
    }
  }

  .dropdown-window-overlay {
    background-color: rgba(17, 17, 17, 0.4); // sass-lint:disable-line no-color-literals
    height: 100%;
    opacity: 1;
    position: fixed;
    top: 0;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    z-index: 38;
  }

  .dropdown-window {
    @include vf-animation(all, brisk, in);
    background-color: $color-x-light;
    box-shadow: 0 1px 32px 1px transparentize($color-dark, 0.8);
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 39;

    &.slide-animation {
      box-shadow: none;
    }

    .row {
      padding-left: $grid-margin-width;
      padding-right: $grid-margin-width;
    }

    &__content {
      @extend %p-strip--very-shallow;
      background-color: $color-x-light;
      color: $color-dark;

      &:last-child {
        padding-bottom: $spv-outer--shallow-scaleable / 1.5;
      }

      @media (max-width: $breakpoint-x-small - 1) {
        .p-inline-list--middot.is-x-dense {
          margin-bottom: 0.3rem;
        }
      }
    }

    & .p-inline-list__item {
      @extend %small-text-fixed;
      list-style-type: none;

      &::after {
        @media only screen and (max-width: $breakpoint-medium - 1) {
          display: none;
        }
      }
    }

    &__summary {
      @extend %small-text-fixed;
      @include p-max-width--long;
      margin-bottom: map-get($sp-after, small) * 2 + $p-small-lh-diff - $nudge--small;
    }
  }

  .slide-animation {
    transform: translateY(-101%);
  }

  .fade-animation {
    opacity: 0;
    visibility: hidden;

    .u-visible-nav & {
      opacity: 1;
      transform: none;
      visibility: visible;
    }
  }
}

// XXX: move these to vanilla
h1,
.p-heading--one {
  & + h2,
  & + .p-heading--two {
    margin-top: -2.5rem;
  }
}

h2,
.p-heading--two {
  line-height: 3rem;
}

.p-card--navigation {
  @include vf-p-card;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding: 0;
}

.p-card--light {
  @extend %vf-has-round-corners;
  @include vf-p-card;
  background-color: $color-light;
  flex-direction: column;
  margin-bottom: $spv-outer--small-scaleable;
  padding: $spv-inner--scaleable - 0.0625rem;
  transition: all 0.2s; // sass-lint:disable-line no-transition-all
}

.u-hide--nav-threshold-down {
  @media (max-width: $breakpoint-navigation-threshold - 1) {
    display: none !important;
  }
}

.u-hide--nav-threshold-up {
  @media (min-width: $breakpoint-navigation-threshold) {
    display: none !important;
  }
}

.p-logomark {
  display: inline-block;
  margin-bottom: $spv-inner--scaleable;
  margin-right: $spv-inner--x-small;
  max-height: 4 * $sp-unit;
  max-width: 4 * $sp-unit;
  position: relative;
  top: 0.1rem;
}

.p-button--small {
  @extend %small-text;
  padding-top: $sp-unit * 0.5 + map-get($nudges, nudge--small);
}

// Ubuntu.com sticky tabs

$color-ubuntu-orange: #e95420;

.p-tabs.p-sticky-nav {
  @include vf-animation($property: top, $duration: brisk);
  background-color: $color-x-light;
  border-bottom: 1px solid $color-mid-light;
  border-top: 1px solid $color-mid-light;
  position: sticky;
  z-index: 100;

  .p-tabs__list {
    margin-bottom: 0;
    max-width: $grid-max-width;
    overflow: auto;
    padding: 0 0.5rem;

    &::after {
      content: none;
    }
  }

  .p-tabs__link:hover::before {
    background-color: $color-ubuntu-orange;
  }

  .gn-2 ~ .content & {
    top: 5.5625rem;
  }

  .gn-2.gn-small ~ .content & {
    top: 4.5625rem;
  }

  .gn-3 ~ .content & {
    top: 3rem;
  }

  .gn-3.gn-small ~ .content & {
    top: 2rem;
  }

  .gn-3.gn-drop-in ~ .content & {
    top: 3rem;
  }

  .gn-3.gn-drop-in.gn-hidden ~ .content & {
    top: 0;
  }
}

// Ubuntu.com footer

@mixin full-width-breakout {
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);
  width: 100vw;
}

@mixin footer-title {
  color: $color-mid-dark;
  line-height: 1.5;
  margin-bottom: 0;

  @media only screen and (max-width: $breakpoint-medium) {
    cursor: pointer;
  }
}

$color-shadow: rgba(0, 0, 0, 0.3);

.p-footer {
  border: 0;
  box-shadow: 0 4px 4px -4px $color-shadow inset;
  margin-bottom: 0;
  padding: 0 0 $sp-xx-large 0;

  @media only screen and (min-width: $breakpoint-medium) {
    padding: $sp-xx-large 0;
  }

  @media only screen and (max-width: $breakpoint-medium - 1) {
    &__nav-col {
      width: 100%;
    }
  }

  &__nav {
    border-bottom: 1px solid $color-mid-light;

    @media only screen and (max-width: $breakpoint-medium - 1) {
      margin-top: 0 !important;
    }

    @media only screen and (min-width: $breakpoint-medium) {
      border: 0;
    }

    &.u-clearfix {
      @media only screen and (max-width: $breakpoint-medium - 1) {
        padding-bottom: 0;
      }
    }

    &-col.col-2 {
      @media only screen and (max-width: $breakpoint-medium - 1) {
        margin-top: 0;
      }
    }
  }

  &__divider {
    @include full-width-breakout;
    border: 0;
    border-bottom: 1px solid $color-mid-light;
    border-collapse: separate;
    height: 0;
    margin-top: 2rem;

    @media only screen and (max-width: $breakpoint-medium - 1px) {
      display: none;
    }
  }

  &__links {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: block;
    margin-bottom: 0;

    @media only screen and (max-width: $breakpoint-medium - 1px) {
      margin-top: 0;
    }

    + .p-footer__item {
      @media only screen and (min-width: $breakpoint-medium) {
        margin-top: $sp-large;
      }
    }
  }

  &__title {
    @include footer-title;
    background-image: url('#{$assets-path}7bd1bd7b-arrow_down_9fa097.svg');
    background-position: calc(100% - 10px) 50%;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    border-top: 1px solid $color-mid-light;
    font-size: 0.8125rem;
    max-width: inherit;
    padding: $sp-medium 0;

    @media only screen and (min-width: $breakpoint-medium) {
      background: none;
      border: 0;
      color: $color-dark;
      padding: 0 0 $sp-x-small;
    }

    @media only screen and (min-width: $breakpoint-large) {
      font-size: 0.8125rem;
    }

    a:link,
    a:visited {
      color: $color-mid-dark;
      padding-left: $sp-x-small;

      @media only screen and (min-width: $breakpoint-medium) {
        color: $color-dark;
        font-weight: normal;
        padding-left: 0;
      }
    }

    a::after {
      content: ''; // hide the default > */
    } /// open and close the primary/secondary navs

    + .second-level-nav {
      display: none;

      @media only screen and (min-width: $breakpoint-medium) {
        display: block;
      }
    }

    &.active {
      background-image: url('#{$assets-path}43e2b367-arrow_up_9fa097.png');

      @media only screen and (min-width: $breakpoint-medium) {
        background: none;
      }

      + .second-level-nav {
        display: block;
      }
    }

    &.p-footer__title-text {
      @media only screen and (min-width: $breakpoint-medium) {
        color: $color-dark;
        font-weight: 400;
      }

      @media only screen and (max-width: $breakpoint-medium) {
        padding-left: $sp-x-small;

        a {
          color: $color-mid-dark;
        }
      }
    }
  }

  &__container {
    @media only screen and (max-width: $breakpoint-medium - 1px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__link {
    &:hover {
      color: $color-dark;
    }
  }

  .link-to-top {
    @include footer-title;
    background-image: url('#{$assets-path}e4a5a8c0-picto-upload-warmgrey.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    border-bottom: 1px solid $color-mid-dark;
    display: block;
    left: auto;
    margin-bottom: -1px;
    max-width: inherit;
    padding: $sp-small 0 $sp-small $sp-x-large;
    position: relative;
    z-index: 2;

    @media only screen and (min-width: $breakpoint-medium) {
      display: none;
    }

    a {
      color: $color-mid-dark;
    }
  }

  // second level nav - HTML for this can't be changed as it's used in the main nav also

  .second-level-nav {
    margin: 0;
    padding: 0;

    &.second-level-nav-small {
      @media only screen and (max-width: $breakpoint-small) {
        margin-left: -0.7rem;

        li {
          a {
            color: $color-mid-dark;
          }
        }
      }
    }

    li {
      margin-bottom: 0;

      @media only screen and (max-width: $breakpoint-medium) {
        margin-top: 0;
      }

      a {
        border-top: 1px solid $color-mid-light;
        color: $color-dark;
        display: block;
        font-size: 0.8125rem;
        padding: $sp-medium $sp-small $sp-medium;

        @media only screen and (min-width: $breakpoint-medium) {
          border: 0;
          padding: 0;
        }
      }
    }
  }
}

.p-footer--secondary {
  padding: $sp-large $sp-small 0;

  &__content {
    margin-bottom: $sp-xx-small;
    max-width: inherit;
  }

  @media only screen and (min-width: $breakpoint-medium) {
    padding: 0;
  }

  @media only screen and (max-width: $breakpoint-medium - 1px) {
    margin-top: 0;
  }

  a:hover {
    color: currentColor;
  }

  .p-inline-list__item {
    display: block;

    @media only screen and (min-width: $breakpoint-medium) {
      display: inline-block;
    }

    &::after {
      @media only screen and (max-width: $breakpoint-medium - 1) {
        display: none;
      }
    }
  }
}

// social icons in footer
.p-inline-list-icons {
  @media (max-width: $breakpoint-medium) {
    margin-left: 0;
    margin-top: 1rem;
    padding-left: 0;

    .p-inline-list__item {
      display: inline-block;
    }
  }

  @media only screen and (min-width: $breakpoint-medium) {
    float: right;
    padding-left: 0;
  }

  @media only screen and (min-width: $breakpoint-large) {
    margin-top: $sp-x-small;
  }
}

.p-footer__item--spaced {
  @media only screen and (min-width: $breakpoint-medium) {
    margin-bottom: $sp-large;
  }
}

.p-footer-list-single-child {
  @media only screen and (max-width: $breakpoint-medium) {
    margin-left: $sp-small;
  }
}

.p-footer__nav {
  display: flex;
  justify-content: space-between;
}
