@import 'settings';

@mixin vf-p-cta {
  .p-cta--block {
    display: flex;
    gap: $sph--large;
    align-items: center;
    justify-content: stretch;
    flex-flow: row wrap;
    padding-bottom: $spv--strip-shallow;
  }
}
