// Notification style patterns
@mixin vf-p-notification {
  @include vf-notifications-default;
  @include vf-notifications-positive;
  @include vf-notifications-warning;
  @include vf-notifications-negative;
}

// Default notification styling
@mixin vf-notifications-default {
  .p-notification {
    @extend %notification;

    &__response {
      background-position: 0 4px;
      background-repeat: no-repeat;
      background-size: 16px 16px;
      margin: 0;
      text-align: left;
    }

    &__status {
      font-weight: 400;
      margin-right: .3125rem;
    }

    &__action {
      border-bottom: 0;
      margin-left: .3125rem;
    }
  }
}

// Positive notification styling
@mixin vf-notifications-positive {
  .p-notification--positive {
    @extend %notification;
    border-color: $color-positive;

    .p-notification__response {
      background-image: url('data:image/svg+xml;utf8, <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="notification-success" transform="translate(1.000000, 1.000000)"><g id="Page-3---colours"><g id="Notifications---single"><g id="Group"><g id="ICON"><circle id="circle6710" stroke="#{$color-positive}" stroke-width="1.5" fill="#{$color-positive}" cx="7.2500086" cy="7.2500086" r="7.2500086"></circle><polygon id="path6712" fill="#{$color-light}" points="11.0502986 4.1734486 10.9843986 4.2311486 6.2496486 8.3783686 3.4740786 5.9974286 2.6350186 6.9463086 6.2503386 10.7500186 11.7500086 4.9627786 11.0502986 4.1734886"></polygon></g></g></g></g></g></g></svg>');
      padding-left: 1.5rem;
    }
  }
}

// Warning notification styling
@mixin vf-notifications-warning {
  .p-notification--warning {
    @extend %notification;
    border-color: $color-warning;

    .p-notification__response {
      background-image: url('data:image/svg+xml;utf8, <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="notification-warning" transform="translate(1.000000, 1.000000)"><g id="Page-3---colours"><g id="Notifications---single"><g id="Group"><g id="ICON"><circle id="circle5432" stroke="#{$color-warning}" stroke-width="1.5" fill="#{$color-warning}" cx="7.2500086" cy="7.2500086" r="7.2500086"></circle><path d="M6.2500086,3.2500086 L6.2500086,8.2500086 L8.2500086,8.2500086 L8.2500086,3.2500086 L6.2500086,3.2500086 L6.2500086,3.2500086 L6.2500086,3.2500086 Z M6.2500086,9.2500086 L6.2500086,11.2500086 L8.2500086,11.2500086 L8.2500086,9.2500086 L6.2500086,9.2500086 L6.2500086,9.2500086 L6.2500086,9.2500086 Z" id="rect5434" fill="#{$color-light}"></path></g></g></g></g></g></g></svg>');
      padding-left: 1.5rem;
    }
  }
}

// Negative notification styling
@mixin vf-notifications-negative {
  .p-notification--negative {
    @extend %notification;
    border-color: $color-negative;

    .p-notification__response {
      background-image: url('data:image/svg+xml;utf8, <svg width="16px" height="17px" viewBox="0 0 16 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-3---colours" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Notifications---single" transform="translate(-215.000000, -271.000000)"><g id="Group" transform="translate(205.000000, 254.000000)"><g id="ICON" transform="translate(10.000000, 17.000000)"><rect id="rect6415" x="0" y="0.36218" width="16" height="16"></rect><circle id="circle6417" stroke="#{$color-negative}" stroke-width="1.5" fill="#{$color-negative}" cx="8" cy="8.36218" r="7.2500086"></circle><path d="M5.00001,5.36218 L11.00001,11.36218" id="path6479-8" stroke="#{$color-light}" stroke-width="1.5"></path><path d="M11.00001,5.36218 L5.00001,11.36218" id="path6481-8" stroke="#{$color-light}" stroke-width="1.5"></path></g></g></g></g></svg>');
      padding-left: 1.5rem;
    }
  }
}

// The placeholder for basic notification styling
%notification {
  background-color: $color-light;
  border: 0;
  border-color: $color-mid-dark;
  border-radius: .125rem;
  border-style: solid;
  border-top-width: 3px;
  box-shadow: 0 1px 5px 1px rgba($color-x-dark, .2);
  font-size: 1rem;
  overflow: hidden;
  padding: .625rem;
  text-align: center;
  width: 100%;
}
