@mixin vf-p-divider {

  .p-divider {

    @media (min-width: $breakpoint-medium) {
      display: flex;
    }

    &__block {
      border-bottom: 1px solid $color-mid-light;

      &:last-child {
        border-bottom: 0;
      }

      @media (max-width: $breakpoint-medium) {
        padding-bottom: $sp-large;
      }

      @media (min-width: $breakpoint-medium) {
        border-bottom: 0;
        border-right: 1px solid $color-mid-light;
        padding-right: 1rem;

        &:last-child {
          border-right: 0;
          padding-right: 0;
        }
      }
    }
  }
}
