@import 'settings';

@mixin vf-p-side-navigation-expandable {
  .p-side-navigation__item,
  .p-side-navigation__item--title {
    // position relative for the absolutely positioned `.p-side-navigation__expand` button
    position: relative;
  }
  .p-side-navigation__link.is-expandable,
  .p-side-navigation__text.is-expandable {
    // extra padding to accomodate for `.p-side-navigation__expand` button
    padding-right: 3rem;
  }

  // FIXME: Temporary workaround for unsupported theme colors in vf-icon-chevron
  .p-side-navigation__expand::before {
    @include vf-icon-chevron($colors--light-theme--text-inactive);
  }

  .p-side-navigation__expand.is-light::before {
    @include vf-icon-chevron($colors--light-theme--text-inactive);
  }

  .is-light .p-side-navigation__expand::before {
    @include vf-icon-chevron($colors--light-theme--text-inactive);
  }

  .p-side-navigation__expand.is-paper::before {
      @include vf-icon-chevron($colors--light-theme--text-inactive);
  }

  .is-paper .p-side-navigation__expand::before {
    @include vf-icon-chevron($colors--light-theme--text-inactive);
  }
  
  .p-side-navigation__expand.is-dark::before {
    @include vf-icon-chevron(#999);
  }

  .is-dark .p-side-navigation__expand::before {
    @include vf-icon-chevron(#999);
  }

  .p-side-navigation__expand {
    @include vf-button-base;
    background: none;
    background-color: inherit;
    border: 0;
    border-radius: 0;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding-bottom: $spv--x-small;
    padding-top: $spv--x-small;
    position: absolute;
    right: 0;
    top: 0;

    &::before {
      @extend %icon;
      content: '';
      transform: rotate(-90deg);
      transition: transform 100ms;
    }

    &:hover {
      background: $colors--theme--background-hover;
      color: $colors--theme--text-default;
    }
  }
  
  
  .p-side-navigation__expand[aria-expanded='true']{
    background-color: inherit;
    
    &::before {
      transform: rotate(0deg);
    }
    
    &:hover {
      background: $colors--theme--background-hover;
      color: $colors--theme--text-default;
    }
  }


  // transition
  .p-side-navigation__list {
    @include vf-animation(#{transform, opacity}, fast);
  }
  .p-side-navigation__expand[aria-expanded='false'] + .p-side-navigation__list {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translate3d(0, -0.5rem, 0);
    // disable transition on close
    transition-duration: 0s;
    visibility: hidden;
  }

  .p-side-navigation__expand[aria-expanded='true'] + .p-side-navigation__list {
    height: auto;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  // Theming for the expandable variant
  // @if ($theme-default-p-side-navigation == 'dark') {
  //   .p-side-navigation,
  //   [class*='p-side-navigation--'] {
  //     @include vf-side-navigation-expandable-theme-dark;

  //     &.is-light {
  //       @include vf-side-navigation-expandable-theme-light;
  //     }
  //   }
  // } @else {
  //   .p-side-navigation,
  //   [class*='p-side-navigation--'] {
  //     @include vf-side-navigation-expandable-theme-light;

  //     &.is-dark {
  //       @include vf-side-navigation-expandable-theme-dark;
  //     }
  //   }
  // }
}

