@import 'settings';

@mixin vf-p-table-sortable {
  %heading-icon {
    $vertical-offset: 0.5px;
    @include vf-icon-chevron-themed;
    @include vf-icon-size(map-get($icon-sizes, default));

    background: {
      repeat: no-repeat;
      size: 100%;
    }

    content: '';
    display: inline-block;
    margin-left: $sp-x-small;
    // table heading text is smaller than the icon, so we need to compensate with negative top margin
    margin-top: calc(#{map-get($settings-text-x-small, font-size)}rem - $default-icon-size);
    vertical-align: calc($vertical-offset + 0.5 * $cap-height - 0.5 * $default-icon-size);
  }

  // stylelint-disable selector-max-type -- table elements can use selector types
  table th {
    &[aria-sort] {
      align-items: center;
      cursor: pointer;
      white-space: nowrap;

      // Inherit table header styles
      // The button element is only present for semantic (a11y) purposes - it has no visual styling
      .p-table__sort-button {
        background: transparent;
        border: none;
        color: inherit;
        display: inline;
        font: inherit;
        height: 100%;
        // Cancel the focus outline space to avoid affecting layout
        margin: -2px -#{ $sph--x-small };
        max-width: 100%;
        overflow: inherit;
        // Small spacer for the focus outline
        padding: 2px $sph--x-small;
        text-align: inherit;
        text-indent: inherit;
        text-decoration: inherit;
        text-transform: inherit;
        text-overflow: inherit;
        text-wrap: inherit;
        white-space: inherit;
        width: 100%;
        vertical-align: inherit;  
      }
    }

    &[aria-sort='ascending'] {
      // Apply the sort icon to table headers without sort buttons, for backwards compatibility
      &:not(:has(.p-table__sort-button)), .p-table__sort-button {
        &::after {
          @extend %heading-icon;

          -webkit-transform: rotate(180deg); // stylelint-disable-line property-no-vendor-prefix
          transform: rotate(180deg);
        }
      }
    }

    &[aria-sort='descending'] {
      &:not(:has(.p-table__sort-button)), .p-table__sort-button {
        &::after {
          @extend %heading-icon;
        }
      }
    }

    &[aria-sort]:hover {
      text-decoration: underline;
    }

    // Apply the link color to headers too, for backwards compatibility
    &[aria-sort]:hover, 
    &[aria-sort] .p-table__sort-button:hover, 
    &[aria-sort] .p-table__sort-button:focus {
      color: $colors--theme--link-default;
    }
  }
  // stylelint-enable selector-max-type
}
