// Code and pre styles
@mixin vf-code {

  code,
  samp,
  kbd {
    font-family: 'Ubuntu Mono', 'Consolas', 'Monaco', 'Lucida Console', 'Courier New', Courier, monospace;
    text-align: left;
  }

  pre,
  code {
    text-align: left;
    white-space: pre-line;
    word-spacing: normal;
    word-wrap: break-word;
    tab-size: 4;
    hyphens: none;
    direction: ltr;
  }
}

// Code block styles
@mixin vf-code-block {
  .code-block {
    overflow: auto;
    margin: .5em 0;
    padding: 1em;
    border: 1px solid $color-mid-grey;
    border-radius: .5em;

    .code-block__line {
      float: left;
      clear: both;
      margin: 0;
    }

    &.code-block--terminal {
      color: $white;
      border: 0;
      background-color: $color-cool-grey;
    }

    &.code-block--numbering {
      counter-reset: line-numbering;

      .code-block__line::before {
        width: 1.5em;
        padding-right: 1em; /* space after numbers */
        content: counter(line-numbering);
        counter-increment: line-numbering;
        user-select: none;
        text-align: right;
        pointer-events: none;
        opacity: .5;
      }
    }
  }
}

// Code snippet styles
@mixin vf-code-snippet {
  .code-snippet {
    position: relative;
    overflow: hidden;
    transition: all .2s;
    border: 1px solid $color-mid-grey;
    border-radius: 4px;
    background-color: $white;

    .code-snippet__input {
      font-family: 'Ubuntu Mono', 'Consolas', 'Monaco', 'Lucida Console', 'Courier New', Courier, monospace;
      font-size: 1em;
      font-weight: 300;
      width: 100%;
      padding: .7em 1em;
      color: $color-cool-grey;
      border: 0;
      background: transparent;
    }

    .code-snippet__copy-button {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 50px;
      height: 100%;
      text-indent: -9999px;
      border-left: 1px solid $color-mid-grey;
      background-color: $white;
      background-image: url('#{$asset-server}994e60f9-get-link-url_16.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &.code-snippet--terminal {
      color: $white;
      border-color: $color-cool-grey;
      background-color: $color-cool-grey;

      .code-snippet__input {
        color: $white;
      }

      .code-snippet__copy-button {
        border-left: 0;
      }
    }
  }
}
