// List Grid
@mixin vf-p-matrix {
  .p-matrix {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $breakpoint-small) {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      @extend %clearfix;
      border-top: 1px dotted $color-mid-dark;
      padding: 1rem;

      &:empty {
        display: none; // hide orphans
      }

      &:first-child {
        border-top: 0;
      }

      @media (min-width: $breakpoint-small) { // 3 items per row
        border-right: 1px dotted $color-mid-dark;
        border-top: 1px dotted $color-mid-dark;
        margin-bottom: 0;
        padding-right: 1rem;
        width: calc(33.333% - .666666rem);

        &:empty {
          display: block; // hide orphans
        }

        &:nth-child(-n+3) {
          border-top: 0;
        }

        &:nth-child(2n) {
          border-right: 1px dotted $color-mid-dark;
          padding-right: 1rem;
        }

        &:nth-child(3n) {
          border-right: 0;
          padding-right: 0;
        }
      }
    }

    &__img,
    &__content {
      display: inline-block;
      float: left;
    }

    &__img {
      margin-right: 1rem;
      max-width: calc(30% - 1rem);
    }

    &__content {
      max-width: 70%;
    }

    &__title {
      margin-bottom: .5rem;
    }

    &__desc {
      margin-bottom: 0;
    }

    &__link {
      border-bottom: 0;
    }
  }
}
