// Boxes
@mixin vf-boxes() {
  @include vf-box;
}

@mixin vf-box() {
  .box {
    @extend %box;
  }
}

%box {
  background: $color-light;
  border: 1px solid $color-mid-grey;
  padding: 1.25em $grid-gutter-width;
}
