@import 'settings';
@import 'patterns_icons';
@include vf-p-icon-minus;
@include vf-p-icon-plus;

@mixin vf-p-accordion {
  $icon-size: map-get($icon-sizes, accordion);

  .p-accordion__list {
    list-style-type: none;
    margin: 0 0 $spv-outer--scaleable 0;
    padding: 0;
  }

  .p-accordion__group {
    position: relative;

    & + &::after {
      @extend %vf-pseudo-border--top;
    }
  }

  .p-accordion__tab {
    @extend %single-border-text-vpadding--scaling;
    @include vf-focus;

    $calculated-height: $multi * $spv-inner--x-small * 2 + map-get($line-heights, default-text);
    background: {
      position: top 50% left $sph-inner;
      repeat: no-repeat;
    }
    background-color: inherit;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding-left: $sph-inner + $icon-size + $sph-inner;
    padding-right: $sph-inner;
    text-align: left;
    transition-duration: 0s;
    width: 100%;
    z-index: 2;

    // aria-selected controls the open and closed state for the accordion tab
    &[aria-expanded='true'] {
      @include vf-icon-minus($color-mid-dark);
      background-size: $icon-size;
    }

    &[aria-expanded='false'] {
      @include vf-icon-plus($color-mid-dark);
      background-size: $icon-size;
    }
  }

  .p-accordion__panel {
    margin: 0;
    overflow: auto; // include child margins into its height
    padding-left: $sph-inner + $icon-size + $sph-inner * 2;

    // Hides panel content
    &[aria-hidden='true'] {
      display: none;
    }
  }
}
