/*
  @classreference
  cta-block:
    CTA Block:
      .p-cta-block:
        Main element of the CTA block.
      "&.is-borderless":
        Deprecated modifier class that removed top border and padding before v4.25.0. This is now the default behavior, so this class is no longer needed.
      "&.has-border":
        Deprecated modifier class that adds a top border and padding.
*/

@import 'settings';

@mixin vf-p-cta-block {
  .p-cta-block {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: $spv--x-large;

    &,
      /** deprecated, borderless is now default behavior */
    &.is-borderless {
      border: none;
      padding-top: 0;
    }

    &.has-border {
      border-top: 1px solid $colors--theme--border-low-contrast;
      padding-top: $spv--small;
    }
  }
}
