@mixin vf-p-global-nav {
  $color-primary-row: #2c001e;
  $color-ubuntu-orange: #e95420;

  .gn-container {
    line-height: 1.5rem;
    position: relative;
    z-index: 10000;
  }

  .gn-primary-nav {
    background-color: $color-primary-row;
    position: relative;
    z-index: 9999;
  }

  .gn-primary-nav__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;
    padding: 0 0.25rem 0 1.5rem;
  }

  .gn-primary-nav__logo {
    align-items: center;
    display: flex;
    padding: 0 1.25rem 0 0;
    width: 136px;

    .gn-small & {
      padding-right: 1rem;
      width: 100px;
    }
  }

  %primary-nav-clickable {
    color: $color-x-light;
    margin-top: 0.25rem;
    padding: 0.6rem 1rem 0.65rem 1rem;
    position: relative;
    text-decoration: none;

    &.is-active {
      background: $color-x-light;
      color: $color-dark;
    }

    &:visited:not(.is-active):not(.is-open) {
      color: $color-x-light;
    }

    &:hover {
      text-decoration: none;

      &:not(.is-active):not(.is-open)::after {
        background-color: $color-ubuntu-orange;
        bottom: 0;
        content: '';
        height: 3px;
        left: 0.25rem;
        position: absolute;
        right: 0.25rem;
        text-decoration: none;
      }
    }

    .gn-small & {
      font-size: 0.875rem;
      padding-bottom: 0.25rem;
      padding-top: 0;
    }
  }

  .gn-primary-nav__link {
    @extend %primary-nav-clickable;
  }

  .gn-primary-nav__button {
    @extend %primary-nav-clickable;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin: 0.25rem 0 0 0 !important;
    transition: 0s;

    &:not(.is-active) {
      padding-right: 2.25rem;

      &:hover {
        background-color: transparent;
      }

      &::before {
        background-image: url("data:image/svg+xml, %3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='chevron_down' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='chevron' fill='#{vf-url-friendly-color($color-x-light)}' transform='translate(8.000000, 8.193853) rotate(90.000000) translate(-8.000000, -8.193853) ' points='4.80614657 14.3333333 8.64539007 8.17730496 4.80614657 2.05437352 6.16312057 1.19385343 11.1938534 8.17730496 6.16312057 15.1938534'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
        background-size: 0.75rem;
        content: '';
        height: 0.75rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 0.75rem;

        .gn-small & {
          top: 0.5rem;
        }
      }

      &.is-open {
        background: $color-light;
        color: $color-dark;
        margin-top: 0 !important;
        padding-top: 0.85rem;

        &::before {
          background-image: url("data:image/svg+xml, %3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='chevron_down' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='chevron' fill='#{vf-url-friendly-color($color-dark)}' transform='translate(8.000000, 8.193853) rotate(90.000000) translate(-8.000000, -8.193853) ' points='4.80614657 14.3333333 8.64539007 8.17730496 4.80614657 2.05437352 6.16312057 1.19385343 11.1938534 8.17730496 6.16312057 15.1938534'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
          top: 1.25rem;
          transform: rotate(180deg);

          .gn-small & {
            top: 0.75rem;
          }
        }

        .gn-small & {
          padding-top: 0.25rem;
        }
      }
    }
  }

  .gn-secondary-nav {
    background: $color-x-light;
    position: relative;
  }

  .gn-secondary-nav__row {
    display: none;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;
    padding: 0 1.5rem;

    &.is-active {
      display: flex;
    }

    &::after {
      background-color: $color-mid-light;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }

  .gn-secondary-nav__link {
    color: $color-dark;
    margin-right: 2rem;
    padding: 0.5rem 0;
    position: relative;

    &:visited {
      color: $color-dark;
    }

    &.is-active,
    &:hover,
    &:focus {
      text-decoration: none;

      &::after {
        background-color: $color-ubuntu-orange;
        bottom: 0;
        content: '';
        height: 1px;
        left: -0.5rem;
        position: absolute;
        right: -0.5rem;
        z-index: 1;
      }
    }

    &.is-active {
      font-weight: 400;
    }
  }

  .gn-dropdown {
    display: none;

    &.is-open {
      display: block;
    }
  }

  .gn-dropdown__container {
    background: $color-light;
    display: none;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 9998;

    &.is-open {
      display: block;

      &::after {
        background-color: $color-mid-light;
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
      }
    }
  }

  .gn-dropdown__content {
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;
    padding: 1.5rem;
    position: relative;
    z-index: 1000;
  }

  .gn-matrix {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .gn-matrix__item {
    border-top: 1px solid $color-mid-light;
    flex: 1 1 auto;
    flex-wrap: wrap;
    margin: 0;
    padding: 1rem 1rem 1rem 0;
    width: 33.33%;

    &:nth-child(3n + 1) {
      padding-left: 0;
    }

    &:nth-child(3n + 3) {
      border-right: 0;
      padding-right: 0;
    }

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      border-top: 0;
    }
  }

  .gn-matrix__image {
    display: inline-block;
    height: auto;
    margin-bottom: 1rem;
    margin-right: 0.75rem;
    max-height: 2rem;
    max-width: 2rem;
    position: relative;
    top: 0.1rem;
  }

  .gn-matrix__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0;
    padding-right: 1rem;
    width: 100%;
  }

  .gn-matrix__title {
    @extend %vf-heading-4;
    line-height: 2rem;
  }

  .gn-matrix__description {
    font-size: 0.875rem;
    margin: -1rem 0 0.1rem 2.75rem;
  }

  .gn-link {
    color: $color-dark;
    display: inline-flex;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: $color-dark;
    }
  }

  .gn-subtitle {
    font-size: 0.875rem;
    font-weight: 400;
  }

  .gn-divided-row {
    display: flex;
    justify-content: space-between;
  }

  .gn-divided-row__item {
    flex: 1;
    margin: 0 1rem;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .gn-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .gn-list__item--inline {
    display: inline;
    padding: 0 0.5rem;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  .gn-small-text {
    font-size: 0.875rem;
  }

  .gn-heading {
    margin-bottom: 0.5rem;
  }

  .gn-overlay {
    background-color: $color-dark;
    display: none;
    height: 100vh;
    opacity: 0.5;
    position: fixed;
    width: 100vw;
    z-index: 9997;

    &.is-open {
      display: block;
    }
  }

  .gn-display-flex {
    display: flex;
  }

  %suru-base {
    background-color: $color-mid-light;
    opacity: 0.25;
    position: absolute;
  }

  .gn-suru--1 {
    @extend %suru-base;
    bottom: 0;
    height: 26rem;
    left: 0;
    transform: rotate(16deg);
    transform-origin: 0 0;
    width: 95rem;
  }

  .gn-suru--2 {
    @extend %suru-base;
    height: 30rem;
    right: 0;
    top: 12rem;
    transform: rotate(-50deg);
    transform-origin: 100% 0;
    width: 43rem;
  }

  .gn-suru--3 {
    @extend %suru-base;
    bottom: 0;
    height: 17rem;
    right: 0;
    transform: rotate(-8deg);
    transform-origin: 100% 0;
    width: 127rem;
  }

  .gn-suru--4 {
    @extend %suru-base;
    bottom: 0;
    left: 0;
    top: 0;
    transform: rotate(45deg);
    transform-origin: 0 0;
    width: 81rem;
  }

  .gn-suru--5 {
    @extend %suru-base;
    height: 15rem;
    left: 0;
    top: 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: 25rem;
  }

  .gn-suru--6 {
    @extend %suru-base;
    bottom: 0;
    height: 26rem;
    right: 0;
    transform: rotate(-21deg);
    transform-origin: 100% 0;
    width: 73rem;
  }

  .gn-suru--7 {
    @extend %suru-base;
    height: 58rem;
    right: 0;
    top: 0;
    transform: rotate(-45deg);
    transform-origin: 0 0;
    width: 40rem;
  }

  .gn-suru--8 {
    @extend %suru-base;
    bottom: 0;
    height: 47rem;
    left: 0;
    transform: rotate(65deg);
    transform-origin: 0 0;
    width: 53rem;
  }

  .gn-suru--9 {
    @extend %suru-base;
    bottom: 0;
    height: 40rem;
    right: 0;
    transform: rotate(-55deg);
    transform-origin: 100% 0;
    width: 53rem;
  }

  .gn-suru--10 {
    @extend %suru-base;
    bottom: 0;
    height: 12rem;
    right: 0;
    transform: rotate(-5deg);
    transform-origin: 100% 0;
    width: 130rem;
  }
}
