@import 'settings';

@mixin vf-p-search-and-filter {
  @include vf-search-and-filter;
  @include vf-filter-panel-section;
}

@mixin vf-search-and-filter {
  .p-search-and-filter {
    $height: 2.5rem;

    border: 1px solid $color-mid-dark;
    position: relative;

    .p-search-and-filter__search-container {
      align-items: center;
      background-color: $color-x-light;
      display: flex;
      flex-wrap: wrap;
      height: auto;
      margin: 0;
      min-height: $height;
      overflow: hidden;
      padding: 0 2rem 0 0.5rem;
      position: relative;

      &[data-active='true'] {
        height: auto;
      }

      &[data-empty='false'],
      &[aria-expanded='false'] {
        height: $height;
      }

      .p-chip {
        margin-bottom: 0.5rem;
      }

      .p-search-and-filter__selected-count {
        color: $color-information;
        cursor: pointer;
        position: absolute;
        right: 0.5rem;
        top: 6px;
      }

      &[aria-expanded='false'] {
        .p-chip {
          margin-bottom: 0.5rem;
        }
      }

      &[aria-expanded='true'] {
        height: auto;
        max-height: 100%;

        .p-search-and-filter__selected-count {
          display: none;
        }
      }

      .p-search-box {
        flex-grow: 1;
      }
    }

    .p-icon--search {
      display: none;
    }

    &__panel {
      background: $color-x-light;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      opacity: 1;
      padding: 0.5rem 1rem 0;
      position: absolute;
      transition: opacity 0.25s;
      width: 100%;
      z-index: 9999;

      &[aria-hidden='true'] {
        opacity: 0;
        pointer-events: none;
      }
    }

    .p-search-prompt {
      background: $color-light;
      cursor: pointer;
      margin-left: -1rem;
      margin-right: -1rem;
      overflow: hidden;
      padding: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__clear {
      border: none;
      height: 2rem;
      margin: 0;
      max-width: 48px;
      position: absolute;
      right: 3px;
      top: 3px;
      z-index: 9999;
    }

    .p-search-box {
      display: inline-flex;
      flex: 1;
      margin: -6px 0 0;
      position: relative;

      &__input {
        border: 0;
        box-shadow: none;
        margin-left: -0.5rem;
        margin-right: -2rem;
        min-height: 36px;
        min-width: 6rem;
        padding: 0.5rem;
        position: relative;
        top: 3px;
      }
    }

    .p-chip + .p-search-box {
      margin-left: 0.5rem;
    }

    .p-search-box__button,
    .p-search-box__reset {
      display: none;
    }
  }
}

@mixin vf-filter-panel-section {
  .p-filter-panel-section {
    border-bottom: 1px solid $color-mid-x-light;
    margin: 0;
    padding-bottom: 1rem;

    &:last-child {
      border: 0;
    }

    .p-chip {
      cursor: pointer;

      &__lead {
        display: none;
      }
    }

    &__heading {
      color: $color-mid-dark;
      font-size: 1rem;
      margin-bottom: 0;
    }

    &__chips {
      overflow: hidden;
      padding-right: 1.25rem;
      position: relative;

      &[aria-expanded='false'] {
        max-height: 4rem;
      }
    }

    &__counter {
      bottom: 0;
      color: $color-information;
      cursor: pointer;
      position: absolute;
      right: 0.25rem;
    }
  }
}
