@import 'settings';
@import 'patterns_icons';
@include vf-p-icon-contextual-menu;

@mixin vf-p-pagination {
  %pagination-link {
    border-color: $color-mid;
    border-radius: $border-radius;
    border-style: solid;
    border-width: 1px;
    color: $color-x-dark;
    display: block;
    padding: $spv-intra $sph-intra;
    text-decoration: none;

    &.is-disabled {
      opacity: 0.5;

      &:hover {
        background-color: transparent;
      }
    }

    &:hover,
    &:focus,
    &.is-active {
      background-color: darken($color-x-light, 10%);
      border-color: $color-mid;
      text-decoration: none;
    }

    &:active {
      background-color: darken($color-x-light, 15%);
      border-color: $color-mid;
    }
  }

  .p-pagination {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    &__item {
      margin-right: $sph-intra--condensed;
      width: auto;

      &:first-child,
      &:nth-last-child(2) {
        margin-right: $sph-intra;
      }

      &--truncation {
        margin: 0.3rem $sph-intra 0 $sph-intra--condensed;
      }
    }

    &__link {
      @extend %pagination-link;
    }

    &__link--previous,
    &__link--next {
      @extend %pagination-link;
      padding-left: $sph-intra--condensed;
      padding-right: $sph-intra--condensed;
    }

    &__link--previous .p-icon--contextual-menu {
      transform: rotate(0.25turn);
    }

    &__link--next .p-icon--contextual-menu {
      transform: rotate(-0.25turn);
    }
  }
}
