@import 'settings';

@mixin vf-p-pagination {
  %pagination-link {
    @include vf-focus;

    border-color: $color-mid;
    border-radius: $border-radius;
    border-style: solid;
    border-width: 1px;
    color: $color-dark;
    display: block;
    padding: calc(#{$spv-nudge} - 1px) $sph-inner;
    text-decoration: none;

    &.is-disabled {
      opacity: 0.5;

      &:hover {
        background-color: transparent;
      }
    }

    &:hover,
    &:focus,
    &:visited,
    &.is-active {
      background-color: darken($color-x-light, 10%);
      border-color: $color-mid;
      color: $color-dark;
      text-decoration: none;
    }

    &:active {
      background-color: darken($color-x-light, 15%);
      border-color: $color-mid;
    }
  }

  .p-pagination {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  .p-pagination__item {
    width: auto;

    & + & {
      &:not(:nth-child(2)):not(:nth-last-child(1)) {
        margin-left: $sph-inner--small;
      }

      &:nth-child(2),
      &:nth-last-child(1) {
        margin-left: $sph-outer;
      }
    }

    &--truncation {
      padding: calc(#{$spv-nudge} - 1px) 0;
    }
  }

  .p-pagination__link {
    @extend %pagination-link;
  }

  .p-pagination__link--previous,
  .p-pagination__link--next {
    @extend %pagination-link;

    padding-left: $sph-inner--small;
    padding-right: $sph-inner--small;
  }

  .p-pagination__link--previous .p-icon--contextual-menu {
    transform: rotate(0.25turn);
  }

  .p-pagination__link--next .p-icon--contextual-menu {
    transform: rotate(-0.25turn);
  }
}
