@import 'settings';


@mixin vf-p-strip {

  %section-padding--default {
    @media only screen and (max-width: $breakpoint-large) {
      padding-bottom: $spv-inter--scaleable;
      padding-top: $spv-inter--scaleable;
    }
    @media only screen and (min-width: $breakpoint-large) {
      padding-bottom: $spv-inter--scaleable * 2;
      padding-top: $spv-inter--scaleable * 2; //border compensation
    }
  }

  %vf-strip {
    @extend %section-padding--default;
    clear: both;
    width: 100%;
  }

  @include vf-p-strip-default;
  @include vf-p-strip-accent;
  @include vf-p-strip-image;
  @include vf-p-strip-bordered;
  @include vf-p-strip-shallow;
  @include vf-p-strip-deep;
}

@mixin vf-p-strip-default {
  .p-strip {
    @extend %vf-strip;
    background-color: transparent;

    &--light {
      @extend %vf-strip;
      background-color: $color-light;
    }

    &--dark {
      @extend %vf-strip;
      background-color: $color-dark;
      color: $color-light;
    }
  }
}

@mixin vf-p-strip-accent {
  .p-strip--accent {
    @extend %vf-strip;
    background-color: $color-accent-background;
    color: vf-determine-text-color($color-accent-background);
  }
}

@mixin vf-p-strip-image {
  .p-strip--image {
    @extend %vf-strip;
    background-repeat: no-repeat;
    background-size: cover;

    &.is-light {
      color: $color-x-dark;
    }

    &.is-dark {
      color: $color-x-light;
    }
  }
}

@mixin vf-p-strip-bordered {
  [class^='p-strip'].is-bordered {
    border-bottom: 1px solid $color-mid-light;
  }
}

@mixin vf-p-strip-shallow {
  [class^='p-strip'].is-shallow {
    padding-bottom: $spv-inter--condensed-scaleable;
    padding-top: $spv-inter--condensed-scaleable;
  }
}

@mixin vf-p-strip-deep {
  [class^='p-strip'].is-deep {
    @media only screen and (max-width: $breakpoint-large) {
      padding: $spv-inter--expanded-scaleable * .5 0 $spv-inter--expanded-scaleable * .5;
    }

    @media only screen and (min-width: $breakpoint-large) {
      padding: $spv-inter--expanded-scaleable 0;
    }
  }
}
