@import 'settings';

// List Grid
@mixin vf-p-matrix {
  .p-matrix {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $breakpoint-small) {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      @extend %clearfix;
      border-bottom: 1px solid $color-mid-light;
      border-top: 0;
      display: flex;
      flex-direction: row;
      margin-top: 0;
      padding: $sp-medium 0;

      &:empty {
        display: none; // hide orphans
      }

      @media (min-width: $breakpoint-small) { // 3 items per row
        border-right: 1px solid $color-mid-light;
        margin-bottom: 0;
        padding: $sp-medium;
        width: 33.333%;

        &:empty {
          display: block; // hide orphans
        }

        &:first-child,
        &:nth-child(3n+1) { // 1st column
          padding-left: 0;
        }

        &:last-child {
          border-bottom: 0;
        }

        &:nth-child(3n+1) { // 1st column
          &:nth-last-child(2),
          &:nth-last-child(3) {
            border-bottom: 0;
          }
        }

        &:nth-child(3n+2) { // 2nd column
          &:nth-last-child(2) {
            border-bottom: 0;
          }
        }

        &:nth-child(3n) { // 3rd column
          border-right: 0;
          padding-right: 0;
        }
      }
    }

    &__img,
    &__content {
      align-self: flex-start;
    }

    &__img {
      margin-right: $sp-medium;
      max-width: 3.75rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      @include vf-heading-4;
      margin-bottom: - map-get($nudges, nudge--h4);
    }
  }
}
