//typography

%default-text {
  line-height: map-get($line-heights, default-text);
  margin-bottom: map-get($sp-after, default-text) - map-get($nudges, nudge--p);
  margin-top: - $spv-nudge-negative-offset;
  padding-top: map-get($nudges, nudge--p);
}

%paragraph {
  @extend %default-text;
  margin-bottom: map-get($sp-after, p) - map-get($nudges, nudge--p);
}

%small-text {
  font-size: 1rem / pow($ms-ratio, 1) !important; //because of the reset
  margin-bottom: map-get($sp-after, p) - map-get($nudges, nudge--small);
  padding-top: map-get($nudges, nudge--small);
}

%muted-heading {
  @extend %bold;

  $nudge--muted: map-get($nudges, nudge--muted);
  color: $color-mid-dark;
  font-size: 1rem / pow($ms-ratio, 2);
  margin-bottom:  map-get($sp-after, muted) - $nudge--muted;
  padding-top: $nudge--muted;
  text-transform: uppercase;
}

%sp--ph1 {
  padding-top: map-get($nudges, nudge--h1) + map-get($sp-before--desktop, h1);
}

%sp--ph2 {
  padding-top: map-get($nudges, nudge--h2) + map-get($sp-before--desktop, h2);
}

%sp--ph3 {
  padding-top: map-get($nudges, nudge--h3) + map-get($sp-before--desktop, h3);
}

%sp--ph4 {
  padding-top: map-get($nudges, nudge--h4) + map-get($sp-before--desktop, h4);
}

%sp--ph5 {
  padding-top: map-get($nudges, nudge--p) + map-get($sp-before--desktop, h5);
}

%sp--pmuted {
  padding-top: map-get($nudges, nudge--muted) + map-get($sp-before--desktop, muted);
}

//buttons, inputs
%bordered-text-vertical-padding {
  margin-bottom: $spv-inter--scaleable - $spv-nudge * 2;
  padding-bottom: $spv-nudge - $px;
  padding-top: $spv-nudge - $px;
}

//accordion, table
%single-border-text-vpadding--scaling {
  $bordered-text-padding-top: $multi * $spv-intra--condensed;
  padding-bottom: $bordered-text-padding-top - $px;
  padding-top: $bordered-text-padding-top;
}

%current-indicator {
  position: relative;

  &::after {
    background: $color-mid-dark;
    bottom: 0;
    content: '';
    height: $bar-thickness;
    left: -1px;
    position: absolute;
    right: -1px;
    z-index: 1;
  }
}

%bold {
  font-weight: 400;
}
