// TODO: Variables in this file are not used within Vanilla itself and should be
// removed once it's been confirmed they're not used by consumers of Vanilla

// Generic gray values (used in elements that have not been themed yet)
$color-input-shadow: rgba(#000000, 0.12) !default;

// NON-SEMANTIC COLOURS
$color-label-validated: #006b75;
$color-code-heading-background: rgba(#000000, 0.08);

// Background colours for form elements
$color-positive-background: #edf8eb;
$color-positive-background--hover: #e5f6e2;
$color-positive-background--focus: #e0f4dc;

$color-caution-background: #f8efe8;
$color-caution-background--hover: #f5e7dd;
$color-caution-background--focus: #f3e2d6;

$color-negative-background: #f8e9e8;
$color-negative-background--hover: #f5dfdd;
$color-negative-background--focus: #f3d8d6;

// Dark theme
$colors--dark-theme--text-hover: #c2c2c2 !default; // minimum contrast on primary that satisfies contrast checker AA
