// Global breakpoints
$breakpoint-x-small: 460px !default;
$breakpoint-small: 620px !default;
$breakpoint-medium: 772px !default;
$breakpoint-large: 1036px !default;
$breakpoint-navigation-threshold: $breakpoint-medium !default;
$breakpoint-heading-threshold: $breakpoint-medium !default;
$breakpoint-x-large: 1440px; //speculative threshold between laptops and desktop screens that sit further away from the viewer; used to increase root font size
