$sticky-footer: true;

$ms-ratio: 16 / 14;
$sp-unit-ratio: .5;
$sp-unit: 1rem * $sp-unit-ratio;
$px: .0625rem; // 1px as rem; useful in calculations where sizes are defined in rems. 

$line-heights: (
  h1: 6 * $sp-unit,
  h2: 5 * $sp-unit,
  h3: 4 * $sp-unit,
  h4: 3 * $sp-unit,
  default-text: 3 * $sp-unit
);

// baseline nudges for type scale ratio of (16/14) squared
$nudges: (
  nudge--h1: .45rem,
  nudge--h2: .45rem,
  nudge--h3: .4rem,
  nudge--h4: .3rem,
  nudge--p: .4rem,
  nudge--small: .45rem,
  nudge--muted: 0
);

//scaling factor
$multi: 2;

////////////////////////////////////////////////////////

$spv-nudge-negative-offset: 0 * $sp-unit;
// Variables connecting spacings that should match beteween components

//top: nudge; bottom: unit - nudge; result: height = exact multiple of base unit
$spv-nudge: map-get($nudges, nudge--p);
$spv-nudge-compensation: $sp-unit - $spv-nudge;

// vertical spacing inside components
$spv-intra: $sp-unit;
$spv-intra--scaleable: $spv-intra * $multi;

$spv-intra--condensed: $spv-intra * .5; // buttons margins inside table, 
$spv-intra--condensed--scaleable: $spv-intra--condensed * $multi;

$spv-intra--expanded: $spv-intra * 1.5;

// vertical spacing between components
$spv-inter--condensed: $sp-unit * 1;
$spv-inter--condensed-scaleable: $spv-inter--condensed * $multi;

$spv-inter: $sp-unit * 2;
$spv-inter--scaleable: $spv-inter * $multi;

// spacing between a group of components and its wrapper - strips, views, entire page
$spv-inter--expanded: $sp-unit * 5;
$spv-inter--expanded-scaleable: $spv-inter--expanded * $multi;


// horizontal spacing inside components
$sph-intra--condensed: $sp-unit; // input-elements,
$sph-intra: $sp-unit * 2; // buttons, accordions, tabs, menu, card padding

// horizontal spacing outside components
$sph-inter--default: $sph-intra;

////////////////////////////////////////////////////////

// space before element on desktop
$sp-before--desktop: (
  h1: 3 * $sp-unit,
  h2: 3 * $sp-unit,
  h3: 3 * $sp-unit,
  h4: 2 * $sp-unit,
  h5: 2 * $sp-unit,
  h6: 2 * $sp-unit,
  p: 2 * $sp-unit
);

// space after element on desktop
$sp-after: (
  h1: $spv-inter + $sp-unit,
  h2: $spv-inter + $sp-unit,
  h3: $spv-inter + $sp-unit,
  h4: $spv-inter,
  h5: $spv-inter,
  h6: $spv-inter,
  p: $spv-inter,
  default-text: $sp-unit,
  muted: $spv-inter
);

$icon-sizes: (
  accordion: 1.5 * $sp-unit,
  default: 2 * $sp-unit
);





// old units that will be replaced
$sp-xx-small: $sp-unit * .25 !default;
$sp-x-small: $sp-unit * .5 !default;
$sp-small: $sp-unit !default;
$sp-medium: $sp-unit * 2 !default;
$sp-large: $sp-unit * 3 !default;
$sp-x-large: $sp-unit * 4 !default;
$sp-xx-large: $sp-unit * 5 !default;
$sp-xxx-large: $sp-unit * 6 !default;
$sp-xxxx-large: $sp-unit * 8 !default;
$sp-xxxxx-large: $sp-unit * 12 !default;
