// Global font settings
$font-base-family: '"Ubuntu", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif' !default;
$font-monospace: '"Ubuntu Mono", Consolas, Monaco, Courier, monospace' !default;
$font-heading-family: $font-base-family !default;
$font-import: 'http://fonts.gstatic.com/s/ubuntu/v9/' !default;
$font-allow-cyrillic-greek-latin: false !default;
$increase-fontsize-on-bigger-screens: true !default;
$fontsize-ratio--largescreen: 1.125 !default;
$fontsize-largescreen: #{$fontsize-ratio--largescreen}rem;
$fontsizes: (
  base: 1rem,
  big: $fontsize-largescreen
) !default;
