// deprecated
// the following SCSS variables are deprecated and will be removed in a future release
// they are not used to switch themes anymore, instead use the CSS theme class names `is-light`, `is-dark` or `is-paper`
$theme-default-forms: 'light' !default;
$theme-default-hr: 'light' !default;
$theme-default-nav: 'light' !default;
$theme-default-p-side-navigation: 'light' !default;
$theme-default-p-search-box: 'light' !default;
$theme-default-p-divider: 'light' !default;
$theme-default-p-contextual-menu: 'light' !default;
$theme-default-p-inline-list--middot: 'light' !default;
$theme-default-p-button: 'light' !default;
$theme-default-p-chip: 'light' !default;
$theme-default-p-tabs: 'light' !default;
