// Global spacing settings

$sp-xx-small: 1rem * .25 !default;
$sp-x-small: 1rem * .5 !default;
$sp-small: 1rem * .75 !default;
$sp-medium: 1rem !default;
$sp-large: 1rem * 1.5 !default;
$sp-x-large: 1rem * 2 !default;
$sp-xx-large: 1rem * 2.5 !default;
$sp-xxx-large: 1rem * 3 !default;
