// Global color settings
$color-transparent: transparent !default;

$color-brand: #333 !default;
$color-link: #007aa6 !default;

$color-x-light: #fff !default;
$color-light: #f7f7f7 !default;
$color-mid-x-light: #e5e5e5 !default;
$color-mid-light: #cdcdcd !default;
$color-mid: #999 !default;
$color-mid-dark: #666 !default;
$color-dark: #111 !default;
$color-x-dark: #000 !default;

$color-negative: #c7162b !default;
$color-caution: #f99b11 !default;
$color-positive: #0e8420 !default;
$color-information: #335280 !default;

$color-label-validated: #006b75;

$color-input-shadow: rgba($color-x-dark, 0.12) !default;

$color-accent: $color-brand !default;
$color-accent-background: $color-accent !default;

// for visual outline on :active / :focus elements
$color-focus: #19b6ee !default;

$states: (
  error: $color-negative,
  caution: $color-caution,
  success: $color-positive,
  information: $color-information
);

$colors--white-theme: (
  background: #fff,
  background-highlighted: #f7f7f7,
  border-default: #cdcdcd,
  border-high-contrast: #999,
  text-hover: #757575,
  text-disabled: #666,
  text-default: #111
);

//text-hover: minimum contrast on primary that satisfies contrast checker AA
$colors--dark-theme: (
  background: hsl(0, 0%, 15%),
  background-dark: hsl(0, 0%, 12%),
  background-highlighted: hsl(0, 0%, 17%),
  border-default: hsl(0, 0%, 27%),
  border-high-contrast: hsl(0, 0%, 42%),
  text-hover: hsl(0, 0%, 56%),
  text-default: hsl(0, 0%, 100%)
);
