$theme-default-forms: 'light' !default;
$theme-default-hr: 'light' !default; // deprecated -- use new theme classes instead
$theme-default-nav: 'light' !default;
$theme-default-p-side-navigation: 'light' !default; // deprecated -- use new theme classes instead
$theme-default-p-search-box: 'light' !default;
$theme-default-p-divider: 'light' !default; // deprecated -- use new theme classes instead
$theme-default-p-contextual-menu: 'light' !default; // deprecated -- use new theme classes instead
$theme-default-p-inline-list--middot: 'light' !default; // deprecated -- use new theme classes instead
$theme-default-p-button: 'light' !default;
$theme-default-p-chip: 'light' !default;
$theme-default-p-tabs: 'light' !default; // deprecated -- use new theme classes instead
