// Global color settings

$color-transparent:      transparent !default;

$color-brand:            #333 !default;

$color-highlight:        #e95420 !default;

$color-light-grey:       #f7f7f7 !default;
$color-warm-grey:        #cdcdcd !default;
$color-mid-grey:         #888 !default;
$color-cool-grey:        #333 !default;

$color-light:            #fff !default;
$color-dark:             #000 !default;

$color-negative:         #dc382c !default;
$color-warning:          #eca918 !default;
$color-positive:         #38b44a !default;

<<<<<<< HEAD
$color-input-shadow:     rgba(0, 0, 0, .12) !default;

=======
>>>>>>> b0e88b439b4b691060254985258c76c3cc3c745c
$states: (
  error: $color-negative,
  warning: $color-warning,
  success: $color-positive
);
