// Global font settings
$font-base-family: '"Ubuntu variable", "Ubuntu", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif' !default;
$font-monospace: '"Ubuntu Mono variable", "Ubuntu Mono", Consolas, Monaco, Courier, monospace' !default;
$font-heading-family: $font-base-family !default;
$font-display-option: fallback !default;
$font-allow-cyrillic-greek-latin: false !default;
$increase-font-size-on-larger-screens: true !default;
$font-size-ratio--largescreen: 1.125 !default;
$font-size-largescreen: map-get($settings-text-default, font-size) * $font-size-ratio--largescreen;
$base-font-sizes: (
  base: #{map-get($settings-text-default, font-size)}rem,
  large: #{$font-size-largescreen}rem,
) !default;

// TODO removeme? This variable is not used in Vanilla - worth seeing if it's used downstream.
$font-weight-thin: 300 !default;
$font-weight-regular-text: 400 !default;
$font-weight-bold: 550 !default;
$font-weight-display-heading: 100 !default;

// Heading levels - allow overriding of weights for headings
$font-weight-h1: $font-weight-bold !default;
$font-weight-h2: 180 !default;
$font-weight-h3: $font-weight-bold !default;
$font-weight-h4: 275 !default;
$font-weight-h5: $font-weight-bold !default;
$font-weight-h6: $font-weight-regular-text !default;

// Ubuntu Font metrics
$baseline-position: 0.932em !default; // HHead Ascent from the font file's metrics. Viewable in Fontforge Font Information>OS/2
$cap-height: 0.693em !default;
$x-height: 0.517em !default;
