// Global placeholder settings

$bar-thickness: $px * 3 !default;
$border-radius: $sp-unit * .25 !default;
$border-radius-button: $sp-unit * .5 !default;
$border: $px solid $color-mid-light !default;
$box-shadow: 0 1px 5px 1px transparentize($color-dark, .8) !default;
