@import 'settings_spacing';
@import 'settings_breakpoints';

// Global grid settings
$content-grid-max-width: 80rem !default;
$content-grid-columns-small: 4 !default;
$content-grid-columns-medium: 4 !default;
$content-grid-columns: 8 !default;
$content-grid-threshold-small-med-col: $breakpoint-small !default;
$content-grid-threshold-med-large-col: $breakpoint-large !default;

$content-grid-column-prefix: 'grid-col-' !default;
$content-grid-small-col-prefix: '#{$content-grid-column-prefix}small-' !default;
$content-grid-medium-col-prefix: '#{$content-grid-column-prefix}medium-' !default;
$content-grid-large-col-prefix: #{$content-grid-column-prefix} !default;

$content-grid-gutter-widths: (
  small: $sp-unit * 3,
  default: $sp-unit * 4,
) !default;

$content-grid-margin-widths: (
  small: $sp-unit * 2,
  default: $sp-unit * 3,
) !default;
