// gutter width
$gutter-width:          20px !default;

// number of columns in the grid
$columns:               12 !default;

// Site maximum width
$site-max-width:        1030px !default;

// Threshold to switch to small screen navigation
$navigation-threshold:  620px !default;
