// Global breakpoints
$breakpoint-x-small: 460px !default;
$breakpoint-small: 620px !default;
$breakpoint-medium: 772px !default;
$breakpoint-large: 1036px !default;
$breakpoint-navigation-threshold: $breakpoint-medium !default;
$breakpoint-heading-threshold: $breakpoint-medium !default;
$breakpoint-x-large: 1681px !default; // exclude most laptops
