// Density multiplier
$multi: 2 !default;

// Options
$pad-lists: true !default; // Adds padding to list items

// Typographic scale settings
$ms-ratio: 16 / 14 !default;
$sp-unit-ratio: 0.5 !default;

// Baseline grid settings
$sp-unit: 1rem * $sp-unit-ratio !default;

$font-sizes: (
  x-small: pow($ms-ratio, -2),
  small: pow($ms-ratio, -1),
  root: 1,
  h4-mobile: 1.22176,
  h4: pow($ms-ratio, 2),
  h3-mobile: pow($ms-ratio, 3),
  h3: pow($ms-ratio, 4),
  h2-mobile: 1.83274,
  h2: pow($ms-ratio, 6),
  h1-mobile: pow($ms-ratio, 6),
  h1: pow($ms-ratio, 8),
);

$line-heights: (
  h1: 7 * $sp-unit,
  h2: 6 * $sp-unit,
  h3: 5 * $sp-unit,
  h4: 4 * $sp-unit,
  h1-mobile: 6 * $sp-unit,
  h2-mobile: 5 * $sp-unit,
  h3-mobile: 4 * $sp-unit,
  h4-mobile: 3 * $sp-unit,
  default-text: 3 * $sp-unit,
  small: 2.5 * $sp-unit,
  x-small: 2 * $sp-unit,
) !default;

// baseline nudges for type scale ratio of (16/14)^2
$nudges: (
  nudge--h1-large: 0.15rem,
  nudge--h4-large: 0,
  nudge--h1: 0.2rem,
  nudge--h2: 0.2rem,
  nudge--h3: 0.1rem,
  nudge--h4: 0.05rem,
  nudge--h6: 0.338rem,
  nudge--h6-large: 0.345rem,
  nudge--h1-mobile: 0.165rem,
  nudge--h2-mobile: 0.1rem,
  nudge--h3-mobile: 0.5rem,
  nudge--h4-mobile: 0.3rem,
  nudge--p: 0.4rem,
  nudge--p-ubuntumono: 0.45rem,
  nudge--small: 0.05rem,
  nudge--x-small: 0.25rem,
) !default;

// Correct baseline drift due to browser rounding. (Visible in text > 1000 lines)
// It is applied only to padding-top.
$browser-rounding-compensations: (
  small: 0.0005rem,
  small-largescreen: 0.0006rem,
  p: 0.0005rem,
  h6: 0,
  h5: 0.001rem,
  h4: 0.001rem,
  h3: 0.001rem,
  h2: 0.001rem,
  h1: 0.001rem,
) !default;

////////////////////////////////////////////////////////
// Variables connecting spacings that should be identical

// 1. VERTICAL SPACING
// 1.1 Vertical spacing inside components
$spv-inner--x-small: $sp-unit * 0.5 !default; // buttons margins inside table,
$spv-inner--x-small--scaleable: $spv-inner--x-small * $multi !default;
$spv-inner--small: $sp-unit !default;
$spv-inner--scaleable: $sp-unit * $multi !default; // can be deleted for 3.0
$spv-inner--medium: $sp-unit * 1.5 !default; //vertical padding in: navigation, tabs
$spv-inner--large: $sp-unit * 2;

// 1.2 Vertical spacing between components
$spv-outer--small: $sp-unit !default; //labels
$spv-outer--small-scaleable: $sp-unit * $multi !default;
$spv-outer--medium: $sp-unit * 2 !default;
$spv-outer--scaleable: $sp-unit * (1 + $multi) !default;

// 1.3 Vertical spacing between a group of components and its wrapper - strips, views, entire page
$spv-outer--shallow-scaleable: $spv-outer--scaleable !default;
$spv-outer--regular-scaleable: $sp-unit * 2 * (2 + $multi) !default;
$spv-outer--deep-scaleable: $sp-unit * 2 * (4 + $multi) !default;

// 2. HORIZONTAL SPACING
// 2.1 Horizontal spacing inside components
$sph-inner--x-small: $sp-unit * 0.5 !default; // Not currently used
$sph-inner--small: $sp-unit !default; // input-elements
$sph-inner: $sp-unit * 2 !default; // buttons, accordions, tabs, menu, card padding, stepped-list bullet offset
$sph-inner--large: $sp-unit * 3 !default;
// 2.2 Horizontal spacing outside components
$sph-outer: $sph-inner !default;
$sph-outer--large: $sp-unit * 3 !default; // checboxes, radios, list bullets

// Space after text elements
$sp-after: (
  h1: $spv-outer--small-scaleable,
  h2: $spv-outer--small-scaleable,
  h3: $spv-outer--small-scaleable,
  h4: $spv-outer--small-scaleable,
  p: $spv-outer--scaleable,
  p-dense: $spv-outer--scaleable - $sp-unit,
  h1-mobile: $spv-outer--small-scaleable,
  h2-mobile: $spv-outer--small-scaleable,
  h3-mobile: $spv-outer--small-scaleable,
  h4-mobile: $spv-outer--small-scaleable,
  small: $spv-outer--small-scaleable,
  small--dense: $spv-outer--small-scaleable,
  x-small: $spv-outer--small-scaleable,
  default-text: $sp-unit,
) !default;

// commonly occuring calculations available as variables
$spv-nudge: map-get($nudges, nudge--p) !default; // top: nudge; bottom: unit - nudge; result: height = exact multiple of base unit
$spv-nudge-compensation: $sp-unit - $spv-nudge !default;
$input-margin-bottom: $sp-unit * (2 + $multi) - $spv-nudge * 2;
$input-vertical-padding: calc(#{$spv-nudge} - 1px);

$max-width--default: 40em !default;

$max-widths: (
  long: $max-width--default,
  default: $max-width--default,
  heading--long: $max-width--default,
  heading--short: $max-width--default,
) !default;

$icon-sizes: (
  accordion: $sp-unit * 1.5,
  default: $sp-unit * 2,
  heading-icon--x-small: $sp-unit * 3,
  heading-icon--small: $sp-unit * 4,
  heading-icon: $sp-unit * 5,
  thumb: $sp-unit * 6,
  thumb--large: $sp-unit * 12,
) !default;

$default-icon-size: map-get($icon-sizes, default);

$table-cell-vertical-padding: $spv-inner--x-small--scaleable;

// generic units
$sp-xx-small: $sp-unit * 0.25 !default;
$sp-x-small: $sp-unit * 0.5 !default;
$sp-small: $sp-unit !default;
$sp-medium: $sp-unit * 2 !default;
$sp-large: $sp-unit * 3 !default;
$sp-x-large: $sp-unit * 4 !default;
$sp-xx-large: $sp-unit * 5 !default;
$sp-xxx-large: $sp-unit * 6 !default;
$sp-xxxx-large: $sp-unit * 8 !default;
$sp-xxxxx-large: $sp-unit * 12 !default; // anythng this large should be expressed as a sum of constituent heights. This is not currently used AFAIK  , consider removing for 3.0
