// Options
$sticky-footer: false; // include sticky footer styling. Sets body to display: flex;
$pad-lists: true; // Adds padding to list items

// Typographic scale settings
$ms-ratio: 16 / 14;
$sp-unit-ratio: .5;

// Baseline grid settings
$sp-unit: 1rem * $sp-unit-ratio;
$px: .0625rem; // 1px as rem; useful in calculations where sizes are defined in rems.

//
$line-heights: (
  h1: 7 * $sp-unit,
  h2: 6 * $sp-unit,
  h3: 5 * $sp-unit,
  h4: 4 * $sp-unit,
  default-text: 3 * $sp-unit,
  small: $sp-unit * 2.5
);

// baseline nudges for type scale ratio of (16/14) squared
$nudges: (
  nudge--h1: .2rem,
  nudge--h2: .45rem,
  nudge--h3: .1rem,
  nudge--h4: .05rem,
  nudge--p: .4rem,
  nudge--small: .05rem,
  nudge--muted: 0
);

//scaling factor
$multi: 2;

////////////////////////////////////////////////////////
// Variables connecting spacings that should be identical

// top: nudge; bottom: unit - nudge; result: height = exact multiple of base unit
$spv-nudge: map-get($nudges, nudge--p);
$spv-nudge-compensation: $sp-unit - $spv-nudge;

// 1. VERTICAL SPACING
// 1.1 Vertical spacing inside components
$spv-intra--condensed: $sp-unit * .5; // buttons margins inside table,
$spv-intra--condensed--scaleable: $spv-intra--condensed * $multi;
$spv-intra: $sp-unit;
$spv-intra--scaleable: $spv-intra * $multi;
$spv-intra--expanded: $spv-intra * 1.5; //vertical padding in: navigation, tabs

// 1.2 Vertical spacing between components
$spv-inter--condensed: $sp-unit * 1; //labels
$spv-inter--condensed-scaleable: $sp-unit * $multi;
$spv-inter--scaleable: $sp-unit * (1 + $multi);

// 1.3 Vertical spacing between a group of components and its wrapper - strips, views, entire page
$spv-inter--expanded-scaleable: $sp-unit * 2 * (3 + $multi);

// 2. HORIZONTAL SPACING
// 2.1 Horizontal spacing inside components
$sph-intra--condensed: $sp-unit; // input-elements,
$sph-intra: $sp-unit * 2; // buttons, accordions, tabs, menu, card padding, stepped-list bullet offset
// 2.2 Horizontal spacing outside components
$sph-inter: $sph-intra;
$sph-inter--expanded: $sp-unit * 3; // checboxes, radios, list bullets

$sp-before: (
  h1: $sp-unit * 4,
  h2: $sp-unit * 4,
  h3: $sp-unit * 4,
  h4: $sp-unit * 3,
  h5: $sp-unit * 2,
  h6: $sp-unit * 2,
  p: $sp-unit * 2,
  muted: $sp-unit * 2
);

// space after element on desktop
$sp-after: (
  h1: $sp-unit * 5,
  h2: $sp-unit * 5,
  h3: $sp-unit * 3,
  h4: $sp-unit * 2,
  p: $sp-unit * 3,
  muted: $sp-unit * 2,
  small: $sp-unit * 2,
  default-text: $sp-unit
);

$icon-sizes: (
  accordion: 1.5 * $sp-unit,
  default: 2 * $sp-unit,
  thumb--small: $sp-unit * 6,
  thumb: $sp-unit * 10,
  thumb--large: $sp-unit * 12
);

// generic units
$sp-xx-small: $sp-unit * .25 !default;
$sp-x-small: $sp-unit * .5 !default;
$sp-small: $sp-unit !default;
$sp-medium: $sp-unit * 2 !default;
$sp-large: $sp-unit * 3 !default;
$sp-x-large: $sp-unit * 4 !default;
$sp-xx-large: $sp-unit * 5 !default;
$sp-xxx-large: $sp-unit * 6 !default;
$sp-xxxx-large: $sp-unit * 8 !default;
$sp-xxxxx-large: $sp-unit * 12 !default;
