// Global color settings
$color-transparent: transparent !default;

$color-brand: #333 !default;
$color-link: #007aa6 !default;

$color-x-light: #fff !default;
$color-light: #f7f7f7 !default;
$color-mid-x-light: #e5e5e5 !default;
$color-mid-light: #cdcdcd !default;
$color-mid: #999 !default;
$color-mid-dark: #666 !default;
$color-dark: #111 !default;
$color-x-dark: #000 !default;

$color-negative: #c7162b !default;
$color-caution: #f99b11 !default;
$color-warning: $color-caution !default; // To be removed in version 2.0
$color-positive: #0e8420 !default;
$color-information: #335280 !default;

$color-input-shadow: rgba($color-x-dark, 0.12) !default;

$color-accent: $color-brand !default;
$color-accent-background: $color-accent !default;

// for visual outline on :active / :focus elements
$color-focus: #19b6ee !default;

// for _patterns_grid-list.scss
$grid-border-style: 1px dotted $color-mid-light !default;

// for _patterns_navigation.scss
$color-navigation-background: $color-x-light !default;
$color-navigation-active-bar: $color-mid-dark !default;

// for _patterns_tabs.scss
$color-tabs-active-bar: $color-mid-dark !default;

$states: (
  error: $color-negative,
  caution: $color-caution,
  warning: $color-warning,
  // To be removed in version 2.0
    success: $color-positive,
  information: $color-information
);
