// TODO: Variables in this file are not used within Vanilla itself and should be
// removed once it's been confirmed they're not used by consumers of Vanilla

// Generic gray values (used in elements that have not been themed yet)
$color-input-shadow: $vf-color-base-input-shadow !default;

// NON-SEMANTIC COLOURS
$color-label-validated: $vf-color-form-label-validated;
$color-code-heading-background: $vf-color-code-heading-background;

// Background colours for form elements
$color-positive-background: $vf-color-background-positive;
$color-positive-background--hover: $vf-color-background-positive-hover;
$color-positive-background--focus: $vf-color-background-positive-focus;

$color-caution-background: $vf-color-background-caution;
$color-caution-background--hover: $vf-color-background-caution-hover;
$color-caution-background--focus: $vf-color-background-caution-focus;

$color-negative-background: $vf-color-background-negative;
$color-negative-background--hover: $vf-color-background-negative-hover;
$color-negative-background--focus: $vf-color-background-negative-focus;

// Dark theme
$colors--dark-theme--text-hover: $vf-color-font-hover-dark !default; // minimum contrast on primary that satisfies contrast checker AA
