// Global grid settings
$grid-margin-width:         $sph-inter--expanded !default;
$grid-columns:              12 !default;
$grid-gutter-column-ratio:  1.61803398875; // golden ratio
$grid-gutter-width:         100% / ($grid-columns * $grid-gutter-column-ratio + ($grid-columns - 1)) !default; // gutter expressed as percentage of full width
$grid-max-width:            990px;// + 2 * $grid-margin-width
$grid-col-name:             'col' !default;
