// Options
$sticky-footer: false !default; // include sticky footer styling. Sets body to display: flex;
$pad-lists: true !default; // Adds padding to list items

// Typographic scale settings
$ms-ratio: 16 / 14 !default;
$sp-unit-ratio: .5 !default;

// Baseline grid settings
$sp-unit: 1rem * $sp-unit-ratio !default;
$px: .0625rem !default; // 1px as rem; useful in calculations where sizes are defined in rems.

$line-heights: (
  h1: 7 * $sp-unit,
  h2: 6 * $sp-unit,
  h3: 5 * $sp-unit,
  h4: 4 * $sp-unit,
  h1-mobile: 6 * $sp-unit,
  h2-mobile: 5 * $sp-unit,
  h3-mobile: 4 * $sp-unit,
  h4-mobile: 3 * $sp-unit,
  default-text: 3 * $sp-unit,
  small: $sp-unit * 2.5
) !default;

// baseline nudges for type scale ratio of (16/14) squared
$nudges: (
  nudge--h1: .2rem,
  nudge--h2: .2rem,
  nudge--h3: .1rem,
  nudge--h4: .05rem,
  nudge--h1-mobile: .2rem,
  nudge--h2-mobile: .1rem,
  nudge--h3-mobile: 0,
  nudge--h4-mobile: .3rem,
  nudge--p: .4rem,
  nudge--small: .05rem,
  nudge--muted: 0
) !default;

//scaling factor
$multi: 2 !default;

////////////////////////////////////////////////////////
// Variables connecting spacings that should be identical

// top: nudge; bottom: unit - nudge; result: height = exact multiple of base unit
$spv-nudge: map-get($nudges, nudge--p) !default;
$spv-nudge-compensation: $sp-unit - $spv-nudge !default;

// 1. VERTICAL SPACING
// 1.1 Vertical spacing inside components
$spv-intra--condensed: $sp-unit * .5 !default; // buttons margins inside table,
$spv-intra--condensed--scaleable: $spv-intra--condensed * $multi !default;
$spv-intra: $sp-unit !default;
$spv-intra--scaleable: $spv-intra * $multi !default;
$spv-intra--expanded: $spv-intra * 1.5 !default; //vertical padding in: navigation, tabs

// 1.2 Vertical spacing between components
$spv-inter--condensed: $sp-unit * 1 !default; //labels
$spv-inter--condensed-scaleable: $sp-unit * $multi !default;
$spv-inter--regular: $sp-unit * 2 !default;
$spv-inter--scaleable: $sp-unit * (1 + $multi) !default;

// 1.3 Vertical spacing between a group of components and its wrapper - strips, views, entire page
$spv-inter--shallow-scaleable: $sp-unit * 2 * $multi !default;
$spv-inter--regular-scaleable: $sp-unit * 2 * (2 + $multi) !default;
$spv-inter--deep-scaleable: $sp-unit * 2 * (4 + $multi) !default;

// 2. HORIZONTAL SPACING
// 2.1 Horizontal spacing inside components
$sph-intra--condensed: $sp-unit !default; // input-elements,
$sph-intra: $sp-unit * 2 !default; // buttons, accordions, tabs, menu, card padding, stepped-list bullet offset
// 2.2 Horizontal spacing outside components
$sph-inter: $sph-intra !default;
$sph-inter--expanded: $sp-unit * 3 !default; // checboxes, radios, list bullets

$sp-before: (
  h1: $sp-unit * 4,
  h2: $sp-unit * 4,
  h3: $sp-unit * 4,
  h4: $sp-unit * 3,
  h5: $sp-unit * 2,
  h6: $sp-unit * 2,
  h1-mobile: $sp-unit * 3,
  h2-mobile: $sp-unit * 3,
  h3-mobile: $sp-unit * 3,
  h4-mobile: $sp-unit * 3,
  p: $sp-unit * 2,
  muted: $sp-unit * 2
) !default;

// space after element on desktop
$sp-after: (
  h1: $sp-unit * 5,
  h2: $sp-unit * 4,
  h3: $sp-unit * 3,
  h4: $sp-unit * 2,
  h1-mobile: $sp-unit * 4,
  h2-mobile: $sp-unit * 3,
  h3-mobile: $sp-unit * 2,
  h4-mobile: $sp-unit * 2,
  p: $sp-unit * 3,
  muted: $sp-unit * 2,
  small: $sp-unit * 1,
  small--dense: $sp-unit * 2,
  default-text: $sp-unit
) !default;

$icon-sizes: (
  accordion: 1.5 * $sp-unit,
  default: 2 * $sp-unit,
  thumb--card: 4 * $sp-unit,
  social: 5 * $sp-unit,
  heading-icon--small: $sp-unit * 5,
  thumb--small: $sp-unit * 6,
  heading-icon: $sp-unit * 7.5,
  thumb: $sp-unit * 10,
  thumb--large: $sp-unit * 12
) !default;

// generic units
$sp-xx-small: $sp-unit * .25 !default;
$sp-x-small: $sp-unit * .5 !default;
$sp-small: $sp-unit !default;
$sp-medium: $sp-unit * 2 !default;
$sp-large: $sp-unit * 3 !default;
$sp-x-large: $sp-unit * 4 !default;
$sp-xx-large: $sp-unit * 5 !default;
$sp-xxx-large: $sp-unit * 6 !default;
$sp-xxxx-large: $sp-unit * 8 !default;
$sp-xxxxx-large: $sp-unit * 12 !default;
