// Global animations settings
$animation-duration: (
  snap: 0.1s,
  fast: 0.165s,
  brisk: 0.333s,
  slow: 0.5s,
  sleepy: 1s,
);

$animation-easing: (
  out: cubic-bezier(0.215, 0.61, 0.355, 1),
  in: cubic-bezier(0.55, 0.055, 0.675, 0.19),
);

@mixin vf-animation($property: all, $duration: brisk, $easing: out) {
  transition-duration: map-get($animation-duration, $duration);
  transition-property: $property;
  transition-timing-function: map-get($animation-easing, $easing);
}
