@use 'sass:color';
@import 'settings_spacing';
@import 'settings_colors';

// Global placeholder settings
$bar-thickness: 0.1875rem !default; // 3px at 16px fontsize, expressed in rems so it scales with text if the root font-size changes at a breakpoint
$border-radius: 0; // deprecated, will be removed in future version of Vanilla
$border: $input-border-thickness solid $colors--theme--border-default !default;
$box-shadow:
  0 1px 1px 0 color.scale($color-x-dark, $alpha: -85%),
  0 2px 2px -1px color.scale($color-x-dark, $alpha: -85%),
  0 0 3px 0 color.scale($color-x-dark, $alpha: -80%) !default;
$box-shadow--deep: 0 0 2rem 0 rgba($color-x-dark, $shadow-opacity) !default;
