// Global color settings

$color-transparent:      transparent !default;

$color-brand:            #f7f7f7 !default;
$color-brand-light:      lighten($color-brand, 48%) !default;

$color-highlight:        #e95420 !default;

$color-light-grey:       #f7f7f7 !default;
$color-alto-grey:        #d2d2d2 !default;
$color-mid-grey:         #cdcdcd !default;
$color-warm-grey:        #888 !default;
$color-cool-grey:        #333 !default;

$color-light:            #fff !default;
$color-dark:             #000 !default;

$color-negative:         #df382c !default;
$color-warning:          #eca918 !default;
$color-positive:         #38b44a !default;
