// Row element styles
@mixin vf-rows {
  .row {
    border-bottom: 1px dotted $color-warm-grey;
    clear: both;
    padding: $gutter-width ($gutter-width / 2) 0;
    position: relative;

    br {
      display: none;
    }

    &.no-padding-bottom {
      padding-bottom: 0;
    }

    &::after {
      clear: both;
      content: '.';
      display: block;
      height: 0;
      visibility: hidden;
    }

    &--light {
      background: $white;
    }

    &--dark {
      background: $color-cool-grey;
      color: $white;
    }

    &.row-grey, // retain to ensure backwards compatibility
    &.row--grey {
      background: $color-light-grey;
      border: 0;
      margin-top: -1px;
    }
  }

  .no-border { border: 0; }

  .row-hero {
    margin-top: $gutter-width;
    padding-top: 0;
  }

  .strip {
    width: 100%;
    display: block;
  }

  .strip-inner-wrapper {
    max-width: $site-max-width;
    margin: auto;
  }

  @media only screen and (min-width : $breakpoint-medium) {

    .row-hero {
      margin-top: $gutter-width * 2;
    }

    .row {
      border-radius: 0;
      margin: 0;
      padding: ($gutter-width * 2) $gutter-width $gutter-width;

      &-grey {
        margin-top: -1px;
      }
    }
  }

  @media only screen and (min-width : $breakpoint-medium + 1px) {
    .row br { display: block; }
  }

  @media only screen and (min-width: $breakpoint-large) {

    .row br { display: block; }

    .row { padding: ($gutter-width * 3) $gutter-width ($gutter-width * 2); }

    .no-border { border: 0; }
  }
}
