@import 'settings';

// Show elements with explicit breakpoints
@mixin vf-u-show {

  .u-show {
    display: block !important;

    &--small {
      @media screen and (max-width: $breakpoint-medium) {
        display: block !important;
      }
    }

    &--medium {
      @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
        display: block !important;
      }
    }

    &--large {
      @media screen and (min-width: $breakpoint-large) {
        display: block !important;
      }
    }
  }
}
