@mixin vf-u-vertical-spacing($start: -3, $end: 3) {
  // adds baseline units between the element it is applied to and relatively positioned elements after it.
  // useful when you want to vertically align elements after an h3 in one column and elements after a search field in another.
  // See example in maas-layout.html
  %u-vertical-spacer {
    content: '';
    display: block;
    height: 1px; // needed so any margin applied is taken as part of the flow
    position: relative;
  }

  $slug: u-sv !default;

  @for $i from $start through $end {
    .u-sv#{$i} {
      &::after {
        @extend %u-vertical-spacer;
        // Due to margin collapse, if elements beneath this have a margin top, the margin of this and the next item will be summed up.
        // For predictable results, use single margin direction (https://csswizardry.com/2012/06/single-direction-margin-declarations/)
        // From vanilla 1.7 forward, margin direction is bottom.

        margin-top: calc(#{$sp-unit * $i} - 1px); // subtracting the element height, which is set to 1px above.
      }
    }
  }
}
