@import 'settings';

// Vertically align
@mixin vf-u-vertically-center {
  .u-vertically-center {
    align-items: center !important;
    display: grid;
    justify-content: flex-start;

    > img {
      align-self: center !important;
    }
  }
}
