@import 'settings';

@mixin vf-u-theme-toggle {
  .u-theme-toggle {
    bottom: $spv--x-large;
    position: fixed;
    right: $sp-unit * 30;
    z-index: 100;

    .u-theme-toggle__button {
      border: 0;
      margin: 0;
    }

    .u-theme-toggle__dark {
      background-color: $colors--dark-theme--background-default;
      color: $colors--dark-theme--text-default;
    }

    .u-theme-toggle__light {
      background-color: $colors--light-theme--background-default;
      color: $colors--light-theme--text-default;
    }
    .u-theme-toggle__paper {
      background-color: $color-paper;
      color: $color-x-dark;
    }
  }
}
