// Align all text within an element

// sass-lint:disable no-important
@mixin vf-u-text-align {
  @include vf-u-text-align--center;
  @include vf-u-text-align--left;
  @include vf-u-text-align--right;
}

// Center all text within an element
@mixin vf-u-text-align--center {
  .u-text-align {
    text-align: center !important;
  }
}

// Center all text within an element
@mixin vf-u-text-align--left {
  .u-text-align {
    text-align: left !important;
  }
}

// Center all text within an element
@mixin vf-u-text-align--right {
  .u-text-align {
    text-align: right !important;
  }
}
// sass-lint:enable no-important
