// Create utility class for positioning images at top or bottom of the section

@mixin vf-u-image-position {
  .u-image-position {
    @media (min-width: $breakpoint-medium) {
      position: relative;

      [class*='col-'] {
        position: static;
      }

      &--top {
        position: absolute;
        top: 0;
      }

      &--bottom {
        bottom: 0;
        position: absolute;
      }

      &--left {
        left: 0;
        position: absolute;
      }

      &--right {
        position: absolute;
        right: 0;
      }
    }
  }
}
