// Align all text within an element

@mixin vf-u-text-align {
  @include vf-u-text-align--center;
  @include vf-u-text-align--left;
  @include vf-u-text-align--right;
}

// Center all text within an element
@mixin vf-u-text-align--center {
  .u-text-align--center {
    text-align: center !important;
  }
}

// Left align all text within an element
@mixin vf-u-text-align--left {
  .u-text-align--left {
    text-align: left !important;
  }
}

// Right align all text within an element
@mixin vf-u-text-align--right {
  .u-text-align--right {
    text-align: right !important;
  }
}
