@import 'settings';

@mixin vf-u-baseline-grid {
  $baseline-color: #f00 !default;
  $baseline-offset: 0 !default;
  $baseline-size: $sp-unit !default;

  .u-baseline-grid {
    position: relative;

    &::after {
      background: linear-gradient(to top, transparentize($baseline-color, 0.7), transparentize($baseline-color, 0.7) 1px, transparent 1px, transparent);
      background-size: 100% $baseline-size;
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: $baseline-offset;
      z-index: 100;
    }

    &__toggle {
      bottom: $spv-inter--scaleable;
      position: fixed;
      right: $sph-inter--expanded;
      z-index: 101;
    }
  }
}
