// Positions element out of flow & off screen for screen readers
@mixin vf-u-off-screen {

  // scss-lint:disable ImportantRule

  .u-off-screen {
    position: absolute !important;
    left: -10000px !important;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}
