@import 'settings';

// Hide elements with explicit breakpoints
@mixin vf-u-hide {
  .u-hide-text {
    @extend %vf-hide-text;
  }

  .u-hide {
    display: none !important;

    &--small {
      @media screen and (max-width: $breakpoint-medium) {
        display: none !important;
      }
    }

    &--medium {
      @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
        display: none !important;
      }
    }

    &--large {
      @media screen and (min-width: $breakpoint-large) {
        display: none !important;
      }
    }
  }
}
