// Align all text within an element

@mixin vf-u-align {
  @include vf-u-align--center;
  @include vf-u-align--left;
  @include vf-u-align--right;
}

// Center all text within an element
@mixin vf-u-align--center {
  .u-align--center {
    justify-content: center !important;
    text-align: center !important;
  }
}

// Left align all text within an element
@mixin vf-u-align--left {
  .u-align--left {
    justify-content: flex-start !important;
    text-align: left !important;
  }
}

// Right align all text within an element
@mixin vf-u-align--right {
  .u-align--right {
    justify-content: flex-end !important;
    text-align: right !important;
  }
}
