// Float utilities
@mixin vf-u-floats {
  @include deprecate('2.0.0', 'Use .u-float-right instead') {
    .u-float--right {
      float: right !important;
    }
  }

  @include deprecate('2.0.0', 'Use .u-float-left instead') {
    .u-float--left {
      float: left !important;
    }
  }

  .u-float-right {
    float: right !important;
    margin-top: 0;

    &--small {
      @media (max-width: $breakpoint-small) {
        float: right !important;
        margin-top: 0;
      }
    }

    &--medium {
      @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
        float: right !important;
        margin-top: 0;
      }
    }

    &--large {
      @media (min-width: $breakpoint-large) {
        float: right !important;
        margin-top: 0;
      }
    }
  }

  .u-float-left {
    float: left !important;
    margin-top: 0;

    &--small {
      @media (max-width: $breakpoint-small) {
        float: left !important;
        margin-top: 0;
      }
    }

    &--medium {
      @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
        float: left !important;
        margin-top: 0;
      }
    }

    &--large {
      @media (min-width: $breakpoint-large) {
        float: left !important;
        margin-top: 0;
      }
    }
  }
}
