@import 'settings';

// Vertically align
@mixin vf-u-vertically-center {
  @media (min-width: $breakpoint-medium) {
    .u-vertically-center {
      align-items: center !important;
      display: flex !important;

      > img {
        align-self: center !important;
      }
    }
  }
}
