@import 'settings';

// Show elements with explicit breakpoints
@mixin vf-u-show {
  .u-show {
    // We keep inherit for IE that doesn't support `initial`.
    // It's not ideal (makes things inline/block based on their parent, not their own initial value),
    // but at least makes stuff visible again.
    display: inherit !important;
    display: initial !important;

    &--small {
      @media (max-width: $breakpoint-medium) {
        display: inherit !important;
        display: initial !important;
      }
    }

    &--medium {
      @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
        display: inherit !important;
        display: initial !important;
      }
    }

    &--large {
      @media (min-width: $breakpoint-large) {
        display: inherit !important;
        display: initial !important;
      }
    }
  }
}
