@import 'settings';

// Show elements with explicit breakpoints
@mixin vf-u-show {
  .u-show {
    display: initial !important;
  }

  @media (max-width: $breakpoint-medium) {
    .u-show--small {
      display: initial !important;
    }
  }

  @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
    .u-show--medium {
      display: initial !important;
    }
  }

  @media (min-width: $breakpoint-large) {
    .u-show--large {
      display: initial !important;
    }
  }
}
