@import 'settings';

// Positions element out of flow & off screen for screen readers
@mixin vf-u-off-screen {
  .u-off-screen {
    height: 0 !important;
    left: -10000px !important;
    overflow: hidden !important;
    position: absolute !important;
    top: auto !important;
    width: 1px !important;
  }
}
