@mixin grid-first-col {
  .u-first-col--mobile {
    @media (max-width: $breakpoint-small) {
      margin-left: 0;
    }
  }

  .u-first-col--tablet {
    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
      margin-left: 0;
    }
  }

  .u-first-col--desktop {
    @media (min-width: $breakpoint-medium) {
      margin-left: 0;
    }
  }
}
