@import 'settings';

// Show and hide elements with explicit breakpoints
@mixin vf-u-visibility {
  @include deprecate('2.0.0', 'Use .u-hide instead') {
    .u-hidden {
      display: none !important;

      &--small {
        @media screen and (max-width: $breakpoint-medium) {
          display: none !important;
        }
      }

      &--medium {
        @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
          display: none !important;
        }
      }

      &--large {
        @media screen and (min-width: $breakpoint-large) {
          display: none !important;
        }
      }
    }
  }

  @include deprecate('2.0.0', 'Use .u-show instead') {
    .u-visible {
      display: inherit !important;

      &--small {
        @media screen and (max-width: $breakpoint-medium) {
          display: inherit !important;
        }
      }

      &--medium {
        @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
          display: inherit !important;
        }
      }

      &--large {
        @media screen and (min-width: $breakpoint-large) {
          display: inherit !important;
        }
      }
    }
  }
}
