// Collapse paddings

// sass-lint:disable no-important

@mixin vf-u-padding-collapse {
  .u-no-padding {

    padding: 0 !important;

    &--top {
      padding-top: 0 !important;
    }

    &--right {
      padding-right: 0 !important;
    }

    &--bottom {
      padding-bottom: 0 !important;
    }

    &--left {
      padding-bottom: 0 !important;
    }
  }
}
