// Align all content within an element
@mixin vf-u-justify {
  @include vf-u-justify--center;
  @include vf-u-justify--left;
  @include vf-u-justify--right;
  @include vf-u-justify--flex-start;
  @include vf-u-justify--flex-end; 
  @include vf-u-justify--space-between;
  @include vf-u-justify--space-evenly;
  @include vf-u-justify--space-around;
  @include vf-u-justify--stretch;
  
}

//Center all children content within an element
@mixin vf-u-justify--center {
  .u-justify--center {
    display: flex;    
    justify-content: center !important;
    flex-direction: row;
    &--col {
      display: flex;    
      justify-content: center !important;
      flex-direction: column;
    }
  }
}

//Left align all children content within an element
@mixin vf-u-justify--left {
  .u-justify--left {
    display: flex;    
    justify-content: left !important;
    flex-direction: row;
    &--col {
      display: flex;    
      justify-content: left !important;
      flex-direction: column;
    }
  }
}

//Right align all children content within an element
@mixin vf-u-justify--right {
  .u-justify--right {
    display: flex;    
    justify-content: right !important;
    flex-direction: row;
    &--col {
      display: flex;    
      justify-content: right !important;
      flex-direction: column;
    }
  }
}

//Left all children content within an element
@mixin vf-u-justify--flex-start {
  .u-justify--flex-start {
    display: flex;    
    justify-content: flex-start !important;
    flex-direction: row;
    &--col {
      display: flex;    
      justify-content: flex-start !important;
      flex-direction: column;
    }
  }
}

//Align all children contents within an element with flex-start
@mixin vf-u-justify--flex-end {
  .u-justify--flex-end {
    display: flex;    
    justify-content: flex-end !important;
    flex-direction: row;
    &--col {
      display: flex;    
      justify-content: flex-end !important;
      flex-direction: column;
    }
  }
}

//Space-between all children contents within an element
@mixin vf-u-justify--space-between {
  .u-justify--space-between {
    display: flex;    
    justify-content: space-between !important;
    flex-direction: row;
    &--col {
      display: flex;    
      justify-content: space-between !important;
      flex-direction: column;
    }
  }
}

//Space-evenly all children contents within an element
@mixin vf-u-justify--space-evenly {
  .u-justify--space-evenly {
    display: flex;    
    justify-content: space-evenly !important;
    flex-direction: row;
    &--col {
      display: flex;    
      justify-content: space-evenly !important;
      flex-direction: column;
    }
  }
}

//Space-around all children contents within an element
@mixin vf-u-justify--space-around {
  .u-justify--space-around {
    display: flex;    
    justify-content: space-around !important;
    flex-direction: row;
    &--col {
      display: flex;    
      justify-content: space-around !important;
      flex-direction: column;
    }
  }
}

//Stretch all children contents within an element
@mixin vf-u-justify--stretch {
  .u-justify--stretch {
    display: flex;    
    justify-content: stretch !important;
    flex-direction: row;
    &--col {
      display: flex;    
      justify-content: stretch !important;
      flex-direction: column;
    }
  }
}