// A collect of functions to aid and enhance the users abililty
@mixin vf-helpers {
  @include vf-left;
  @include vf-right;
  @include vf-no-border;
  @include vf-link-top;
  @include vf-caps;
  @include vf-accessibility-aid;
  @include vf-external;
  @include vf-align-center;
  @include vf-no-margin-bottom;
  @include vf-no-padding-bottom;
  @include vf-pull-bottom-right;
  @include vf-pull-bottom-left;
  @include vf-priority-0;
  @include vf-for-small;
  @include vf-video-container;
  @include vf-pull-right;
  @include vf-pull-left;
  @include vf-for-medium;
  @include vf-med-six-col;
}


// Floats an element left
@mixin vf-left {
  .left { float: left; }
}

// Floats an element right
@mixin vf-right {
  .right { float: right; }
}

// Removes the border from element
@mixin vf-no-border {
  .no-border { border: 0; }
}

// Provides a wrapper that positions the link over the rows border
@mixin vf-link-top {
  .link-top {
    font-size: .875em;
    clear: both;
    margin-bottom: 40px;
    margin-top: -40px;

    a {
      background: $color-white;
      margin-right: 10px;
      margin-top: -35px;
      padding: 5px;
      float: right;
    }
  }
}

// Convents text to uppercase
@mixin vf-caps {
  .caps { text-transform: uppercase; }
}

/// Hides containing elements to the left off screen but its available for screen readers
@mixin vf-accessibility-aid {
  .accessibility-aid,
  .off-left {
    position: absolute;
    left: -999em;
  }
}

// Appends an external icon ot the right of the link
@mixin vf-external {
  .external {
    background-size: .7em .7em;
    padding-right: .9em;
    background-image: url('#{$assets-path}f24a8aa0-external-link-orange.svg');
    background-position: 100% top;
    background-repeat: no-repeat;
  }

  .no-svg .external {
    background-image: url('#{$assets-path}f24a8aa0-external-link-orange.svg');
  }
}

// Sets the element to text-align center
@mixin vf-align-center {
  .text-center,
  .align-center { text-align: center; }
}

// Removes margin bottom
@mixin vf-no-margin-bottom {
  .no-margin-bottom { margin-bottom: 0; }
}

// Removes padding bottom
@mixin vf-no-padding-bottom {
  .no-padding-bottom { padding-bottom: 0; }
}

// Aligns the element to the bottom right corner
@mixin vf-pull-bottom-right {
  .pull-bottom-right {
    float: right;
    margin-right: -($grid-gutter-width / 2);
  }

  @media only screen and (min-width : $breakpoint-medium) {
    .pull-bottom-right {
      margin-right: -($grid-gutter-width * 2);
      margin-bottom: -($grid-gutter-width * 2);
    }
  }

  @media only screen and (min-width : $breakpoint-large) {
    .pull-bottom-right {
      margin-right: -($grid-gutter-width * 2);
      margin-bottom: -($grid-gutter-width * 3);
    }
  }
}

// Aligns the element to the bottom left corner
@mixin vf-pull-bottom-left {

  .pull-bottom-left {
    float: left;
    margin-left: -($grid-gutter-width / 2);
  }

  @media only screen and (min-width : $breakpoint-medium) {
    .pull-bottom-left {
      margin-left: -($grid-gutter-width * 2);
      margin-bottom: -($grid-gutter-width * 2);
    }
  }

  @media only screen and (min-width : $breakpoint-large) {
    .pull-bottom-left {
      margin-left: -($grid-gutter-width * 2);
      margin-bottom: -($grid-gutter-width * 3);
    }
  }
}


// By wrapping a video embed it makes the video responsive
@mixin vf-video-container {
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    + .video-title {
      margin-top: 20px;
    }
  }
}

// Aligns the element to the right of the the container
@mixin vf-pull-right {
  .pull-right {
    @media only screen and (max-width : $breakpoint-medium) {
      margin-bottom: $grid-gutter-width;
    }

    float: right;
    margin-right: -($grid-gutter-width * 2);
  }
}

// Aligns the element to the left of the the container
@mixin vf-pull-left {
  .pull-left {
    margin-left: -($grid-gutter-width * 2);
  }
}

// Hides content on small screens
@mixin vf-priority-0 {
  @media only screen and (max-width : $breakpoint-medium - 1) {
    .priority-0,
    .not-for-small {
      display: none;
    }
  }

}

// Display's on medium view and larger
@mixin vf-for-medium {
  .for-tablet,
  .for-medium {
    display: none;

    @media only screen and (min-width: $breakpoint-medium) {
      display: block;
    }
  }
}

// Shows content only on small screens
@mixin vf-for-small {
  @media only screen and (min-width : $breakpoint-medium) {
    .for-mobile,
    .for-small {
      display: none;
    }
  }
}

// Med-six-col is a wrapper for a group three-cols.
// It converts the three-cols to six-cols in medium viewports
@mixin vf-med-six-col {
  .med-six-col {

    @media only screen and (min-width : $breakpoint-medium) and (max-width : $breakpoint-large) {
      .three-col {
        width: 48.93617%;
      }

      .three-col:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}
