// import required files

/// Import settings
@import 'global-settings';

/// vanilla base element styles
// @import 'modules/base';
// @import 'modules/grid';
// @import 'modules/templates';
// @import 'modules/structure';
// @import 'modules/helper-classes';
@import 'modules/typography';
// @import 'modules/header';
// @import 'modules/search';
@import 'modules/footer';
// @import 'modules/contextual-footer';
@import 'modules/buttons';
// @import 'modules/forms';
@import 'modules/rows';
// @import 'modules/images';
// @import 'modules/boxes';
// @import 'modules/arrows';
// @import 'modules/lists';
// @import 'modules/inline-logos';
// @import 'modules/blockquotes';
// @import 'modules/tabbed-content';
// @import 'modules/vertical-divider';
// @import 'modules/slider';
// @import 'modules/tooltips';
// @import 'modules/print';

/// Include all the CSS
@mixin vanilla {
  // @include vf-base;
  // @include vf-grid;
  // @include vf-templates;
  // @include vf-structure;
  // @include vf-helper-classes;
  @include vf-typography;
  @include vf-header;
  // @include vf-search;
  @include vf-footer;
  // @include vf-contextual-footer;
  @include vf-buttons;
  // @include vf-forms;
  @include vf-rows;
  // @include vf-images;
  // @include vf-boxes;
  // @include vf-arrows;
  @include vf-lists;
  // @include vf-inline-logos;
  @include vf-blockquotes;
  // @include vf-tabbed-content;
  // @include vf-vertical-divider;
  // @include vf-slider;
  // @include vf-tooltips;
  // @include vf-print;
}
