// Global Sass functions
@import
'global_functions';

// Settings
@import
'settings_animations',
'settings_assets',
'settings_breakpoints',
'settings_colors',
'settings_grid',
'settings_font';

// Base
@import
'base_blockquotes',
'base_box-sizing',
'base_button',
'base_forms',
'base_code',
'base_images',
'base_links',
'base_lists',
'base_hr',
'base_media',
'base_reset',
'base_tables',
'base_typography';

// Patterns
@import
'patterns_card',
'patterns_breadcrumbs',
'patterns_buttons',
'patterns_code-numbered',
'patterns_code-snippet',
'patterns_footer',
'patterns_grid',
'patterns_headings',
'patterns_matrix',
'patterns_inline-images',
'patterns_links',
'patterns_lists',
'patterns_navigation',
'patterns_notifications',
'patterns_pull-quotes',
'patterns_strip',
'patterns_form-validation';

// Utilities
@import
'utilities_clearfix',
'utilities_floats',
'utilities_equal-height',
'utilities_off-screen',
'utilities_content-align',
'utilities_margin-collapse',
'utilities_padding-collapse',
'utilities_embedded-media',
'utilities_vertically-center',
'utilities_visibility';

// Include all the CSS
@mixin vanilla {
  // Reset
  @include vf-b-reset;
  // Base
  @include vf-b-blockquotes;
  @include vf-b-box-sizing;
  @include vf-b-button;
  @include vf-b-forms;
  @include vf-b-code;
  @include vf-b-links;
  @include vf-b-lists;
  @include vf-p-headings;
  @include vf-b-hr;
  @include vf-b-media;
  @include vf-b-tables;
  @include vf-b-typography;
  // Patterns
  @include vf-p-breadcrumbs;
  @include vf-p-buttons;
  @include vf-p-card;
  @include vf-p-code-numbered;
  @include vf-p-code-snippet;
  @include vf-p-footer;
  @include vf-p-matrix;
  @include vf-p-navigation;
  @include vf-p-links;
  @include vf-p-lists;
  @include vf-p-inline-images;
  @include vf-p-notification;
  @include vf-p-pull-quotes;
  @include vf-p-strip;
  @include vf-p-form-validation;
  // Utilities
  @include vf-u-clearfix;
  @include vf-u-floats;
  @include vf-u-embedded-media;
  @include vf-u-equal-height;
  @include vf-u-align;
  @include vf-u-margin-collapse;
  @include vf-u-padding-collapse;
  @include vf-u-visibility;
  @include vf-u-off-screen;
  @include vf-u-vertically-center;
}
