// import required files

/// Import settings
@import 'global-settings';

/// Import reset
@import 'modules/reset';

/// vanilla base element styles
@import 'modules/helpers';
@import 'modules/blockquotes';
@import 'modules/buttons';
@import 'modules/forms';
@import 'modules/grid';
@import 'modules/header';
@import 'modules/lists';
@import 'modules/rows';
@import 'modules/search';
@import 'modules/typography';
@import 'modules/tables';

/// Include all the CSS
@mixin vanilla {
  @include vf-reset;
  @include vf-helpers;
  @include vf-blockquotes;
  @include vf-buttons;
  @include vf-forms;
  @include vf-grid;
  @include vf-header;
  @include vf-lists;
  @include vf-rows;
  @include vf-search;
  @include vf-typography;
  @include vf-tables;
}
