// Settings
@import
'settings_assets',
'settings_breakpoints',
'settings_colors',
'settings_grid',
'settings_font';

// Base
@import
'base_blockquotes',
'base_code',
'base_images',
'base_links',
'base_lists',
'base_media',
'base_reset',
'base_tables',
'base_typography';

// Layout
@import
'layout_clearfix',
'layout_equal-height',
'layout_grid';

// Patterns
@import
'patterns_card',
'patterns_breadcrumbs',
'patterns_buttons',
'patterns_code',
'patterns_code-snippets',
'patterns_footer',
'patterns_forms',
'patterns_grid-list',
'patterns_header',
'patterns_inline-logos',
'patterns_links',
'patterns_pull-quotes',
'patterns_search';

// Utilities
@import
'utilities_floats',
'utilities_off-screen',
'utilities_text-center',
'utilities_margin-collapse',
'utilities_embedded-media',
'utilities_vertically-center',
'utilities_visibility';

// Include all the CSS
@mixin vanilla {
  // Uncategorised
  @include vf-buttons;
  @include vf-breadcrumbs;
  @include vf-clearfix;
  @include vf-forms;
  @include vf-grid;
  @include vf-lists;
  @include vf-grid-list;
  @include vf-search;
  @include vf-typography;
  @include vf-tables;
  @include vf-inline-logos;
  @include vf-equal-heights;
  // Base
  @include vf-b-blockquotes;
  @include vf-b-code;
  @include vf-b-links;
  @include vf-b-media;
  @include vf-b-reset;
  // Patterns
  @include vf-p-card;
  @include vf-p-code;
  @include vf-p-code-snippets;
  @include vf-p-footer;
  @include vf-p-header;
  @include vf-p-links;
  @include vf-p-header;
  @include vf-p-pull-quotes;
  // Utilities
  @include vf-u-floats;
  @include vf-u-embedded-media;
  @include vf-u-text-center;
  @include vf-u-margin-collapse;
  @include vf-u-visibility;
  @include vf-u-off-screen;
  @include vf-u-vertically-center;
}
