@import 'settings';
@import 'base';

// Patterns
@import
'patterns_accordion',
'patterns_aside',
'patterns_card',
'patterns_contextual-menu',
'patterns_breadcrumbs',
'patterns_buttons',
'patterns_code-numbered',
'patterns_code-snippet',
'patterns_divider',
'patterns_footer',
'patterns_grid',
'patterns_headings',
'patterns_heading-icon',
'patterns_image',
'patterns_matrix',
'patterns_media-object',
'patterns_modal',
'patterns_muted-heading',
'patterns_icons',
'patterns_inline-images',
'patterns_links',
'patterns_list-tree',
'patterns_lists',
'patterns_navigation',
'patterns_notifications',
'patterns_pull-quotes',
'patterns_table-mobile-card',
'patterns_tabs',
'patterns_strip',
'patterns_switch',
'patterns_table-sortable',
'patterns_form-validation',
'patterns_forms',
'patterns_tooltips',
'patterns_table-expanding',
'patterns_tooltips',
'patterns_form-validation';

// Utilities
@import
'utilities_animations',
'utilities_clearfix',
'utilities_floats',
'utilities_equal-height',
'utilities_off-screen',
'utilities_content-align',
'utilities_margin-collapse',
'utilities_padding-collapse',
'utilities_embedded-media',
'utilities_vertically-center',
'utilities_show',
'utilities_hide',
'utilities_image-position',
'utilities_visibility';

// Include all the CSS
@mixin vanilla {
  @include vf-base;
  // Patterns
  @include vf-p-accordion;
  @include vf-p-aside;
  @include vf-p-breadcrumbs;
  @include vf-p-buttons;
  @include vf-p-card;
  @include vf-p-code-numbered;
  @include vf-p-code-snippet;
  @include vf-p-contextual-menu;
  @include vf-p-divider;
  @include vf-p-footer;
  @include vf-p-grid;
  @include vf-p-grid-modifications;
  @include vf-p-headings;
  @include vf-p-heading-icon;
  @include vf-p-image;
  @include vf-p-media-object;
  @include vf-p-modal;
  @include vf-p-matrix;
  @include vf-p-muted-heading;
  @include vf-p-navigation;
  @include vf-p-links;
  @include vf-p-list-tree;
  @include vf-p-lists;
  @include vf-p-tooltips;
  @include vf-p-icons;
  @include vf-p-tooltips;
  @include vf-p-inline-images;
  @include vf-p-notification;
  @include vf-p-pull-quotes;
  @include vf-p-table-mobile-card;
  @include vf-p-strip;
  @include vf-p-switch;
  @include vf-p-table-sortable;
  @include vf-p-tabs;
  @include vf-p-table-expanding;
  @include vf-p-form-validation;
  @include vf-p-forms;
  // Utilities
  @include vf-u-animations;
  @include vf-u-clearfix;
  @include vf-u-floats;
  @include vf-u-embedded-media;
  @include vf-u-equal-height;
  @include vf-u-align;
  @include vf-u-margin-collapse;
  @include vf-u-padding-collapse;
  @include vf-u-hide;
  @include vf-u-image-position;
  @include vf-u-show;
  @include vf-u-off-screen;
  @include vf-u-vertically-center;
  @include vf-u-visibility;
}
