@charset 'UTF-8';
////
/// Ubuntu print Stylesheet

/// @project Ubuntu Patterns
/// @author Web Team at Canonical Ltd
/// @copyright 2012 Canonical Ltd

////

@import 'core-constants';

* {
  background: $white;
  color: $black;
}

body {
  background: $white;
  font-size: 16pt;
  line-height: 1.5;
}

a:link,
a:visited {
  background: transparent;
  color: $warm-grey;
  font-weight: bold;
  text-decoration: underline;
}

nav,
.cookie-policy,
.link-top,
footer {
  display: none;
}

.nav-secondary {
  display: block;
}

.wrapper {
  float: none;
  margin: 0 5%;
  padding-top: 1em;
  width: auto;
}
