@charset "UTF-8";
/**
 * Ubuntu print Stylesheet
 *
 *
 * @project		Ubuntu Patterns
 * @author		Web Team at Canonical Ltd
 * @copyright	2012 Canonical Ltd
 *
 */

* { background: #fff; color: #000; }

body {
	background: white;
	font-size: 16pt;
	line-height: 1.5;
}

a:link, a:visited {
	color: #898989;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
}

nav,
#box-search,
.cookie-policy,
.link-top,
footer {
	display: none;
}

nav.nav-secondary {
	display: block;
}

.wrapper {
	width: auto;
	margin: 0 5%;
	padding: 0;
	padding-top: 1em;
	float: none !important;
}



