@import 'vanilla';
@include vanilla;

.pl-header {
  width: 100%;
  background: #4a4a4a;
  padding: 1rem;
  display: flex;

  &__link {
    color: #fff;

    &, &:hover {
      text-decoration: none;
    }
  }
}

.pl {

  font-family: Ubuntu, sans-serif;
  margin: 0;

  &__heading {
    text-transform: capitalize;
    margin-top: 0;
  }

  &__nav {
    margin-left: auto;
  }

  .topnav-list {
    margin:0;
    padding: 0;
    list-style: none;
    float: right;
    padding-right: 2rem;

    &__item {
      display: inline-block;
      padding-left: 2rem;
      margin-bottom: 0;
    }

    &__link {
      color: #fff;
      text-decoration: none;
      font-weight: 300;
    }
  }

  &,
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__content {
    max-width: 960px;
    line-height: 1.5;
  }

  &__content,
  &__sidenav {
    padding: 1rem;
  }

  &__sidenav {
    order: -1;
    background: #f7f7f7;

    .sidenav-list {
      margin: 0;
      padding: 0;
      list-style: none;

      &__item {
        margin-bottom: 0;
      }

      &__link {
        text-transform: capitalize;
        display: inline-block;
        margin-bottom: .5rem;
        padding-left: .5rem;
        font-size: .875rem;
        text-decoration: none;
        margin-bottom: 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__footer {
    background: #f7f7f7;
    padding: 1rem;
    font-size: .875rem;
    color: darken(#f7f7f7, 25%);

    .inline-list {
      list-style: none;

      padding: 0;
      margin: 0;

      li {
        display: inline;
        font-size: .875rem;
        padding:1rem 0 0;

        &::after {
          content: "•";
          color: #888;
          font-size: 1em;
          padding: 0 .25rem;
        }
        &:last-child::after {
          content: "";
        }
      }
    }
  }

  @media (min-width: 768px) {

    .pl__container {
      flex-direction: row;
      flex: 1;
      min-height: calc(100vh - 100px);
    }
    .pl__content {
      flex: 1;
    }
    .pl__sidenav {
      flex: 0 0 12em;
    }
  }
}
