@import 'vanilla';
@include vanilla;

// Temp styling for Pattern Lib MVP
// This should be superceded by a docs theme

$sidebar-width: 12em;

.pl-header {
  width: 100%;
  background: $cool-grey;
  padding: 1rem;
  display: flex;

  &__link {
    color: $white;

    &,
    &:hover {
      text-decoration: none;
    }
  }
}

.pl {

  margin: 0;

  &__heading {
    text-transform: capitalize;
    margin: 0 0 1rem;
    border-bottom: 1px solid $mid-grey;
  }

  &__nav {
    margin-left: auto;
  }

  .topnav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 2rem;

    &__item {
      display: inline-block;
      padding-left: 2rem;
      margin-bottom: 0;
    }

    &__link {
      color: $white;
      text-decoration: none;
      font-weight: 300;
    }
  }

  &,
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__content {
    max-width: 960px;
    line-height: 1.5;
  }

  &__content,
  &__sidenav {
    padding: 1rem;
  }

  &__sidenav {
    order: -1;
    background: $light-grey;
  }

  .sidenav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
      margin-bottom: 0;
    }

    &__link {
      text-transform: capitalize;
      display: inline-block;
      padding-left: .5rem;
      font-size: .875rem;
      text-decoration: none;
      margin-bottom: 0;
    }

    &__link:hover {
      text-decoration: underline;
    }
  }

  &__footer {
    background: $light-grey;
    padding: 2rem;
    padding-left: calc(#{$sidebar-width} + 2.5rem);
    font-size: .875rem;
    color: darken($light-grey, 25%);

    .inline-list {
      list-style: none;
      padding: 1rem 0 0;
      margin: 0;
    }

    .inline-list__item {
      display: inline;
      font-size: .875rem;
      padding: 1rem 0 0;
    }

    .inline-list__item:after {
      content: '•';
      color: $cool-grey;
      font-size: 1em;
      padding: 0 .25rem;
    }

    .inline-list__item:last-child::after {
      content: '';
    }
  }

  @media (min-width: 768px) {

    .pl__container {
      flex-direction: row;
      flex: 1;
      min-height: calc(100vh - 100px);
    }

    .pl__content {
      flex: 1;
    }

    .pl__sidenav {
      flex: 0 0 $sidebar-width;
    }
  }
}
