// Tables
@mixin vf-tables {
  table {
    border-collapse: collapse;
    border: 0;
    overflow-x: scroll;
    margin-bottom: $grid-gutter-width;
    width: 100%;
  }

  th,
  td {
    padding: 1rem .75rem;
  }

  td {
    text-align: right;
    vertical-align: middle;
  }
  tr {
    border-bottom: 1px solid $color-light-grey;
  }

  thead th {
    border-collapse: separate;
    border-spacing: 0 .5rem;
    font-weight: bold;
    text-align: right;
  }

  tbody th {
    font-weight: 400;
    text-align: left;
  }
}
