// Global font settings

$font-base-family:       'Ubuntu, Arial, "libra sans", sans-serif' !default;

$font-monospace:         '"Ubuntu Mono", Consolas, Monaco, Courier, monospace' !default;

$font-base-size:         16px !default;

$font-heading-family:    $font-base-family !default;
