// Collapse margins
@mixin vf-u-margin-collapse {

  // scss-lint:disable ImportantRule

  .u-no-margin {

    margin: 0 !important;

    &--top {
      margin-top: 0 !important;
    }

    &--right {
      margin-right: 0 !important;
    }

    &--bottom {
      margin-bottom: 0 !important;
    }

    &--left {
      margin-bottom: 0 !important;
    }
  }
}
