@charset "UTF-8";

body footer.global #nav-global li:first-of-type a {
	margin-left: 0;
}

footer.global {
	@include box-sizing;
	@include box-shadow(inset 0 2px 2px -1px #d3d3d3);
	background: none;
	border-top: 0;
	clear: both;
	display: block;
	padding: 30px 10px 20px;
	position: relative;
	width: 100%;


	.legal {
		/* Can be removed once live */
		margin: 0 auto;
		width: 100%; /* 980px / 15px (baseline font); 980px + (60px x 2) = 1100px */
	}

	.legal {
		background-image: none;
		position: relative;
		clear: both;
		min-height: 40px;

		p,
		ul {
			padding-left: 0;
		}
	} // legal

	h2 {
	  font-size: 0.75em;
		line-height: 1.4;
	  margin-bottom: 0;
	  padding-bottom: 0.5em;
	}

	h2, h2 a:link, h2 a:visited {
		color: $cool-grey;
	  font-weight: normal;
	}

	nav ul li h2 a:after { content: ""; }

	ul {	margin: 0; }

	nav ul li.two-col {
		display: inline-block;
		min-height: 10em;
		vertical-align: top;
	}

	nav ul li li {
	  @include font-size (12);
	  font-size: 0.75em;
		margin-bottom: 0;
	}

	ul li li a:link, ul li li a:visited {
		color: $cool-grey;
		margin-bottom: 0;
	}

	ul li li a:hover, ul li li a:active, h2 a:hover, h2 a:active {
		color: $ubuntu-orange;
		//text-decoration: underline;
	}

	.inline li { display: inline; }

	p, ul.inline li a {
		color: $cool-grey;
		font-size: 12px;
		margin-bottom: 0;
	}
	ul.inline li a:hover { color: $ubuntu-orange; }
	
	ul.inline li:after {
		color: $warm-grey;
		content: "\00b7";
		vertical-align: middle;
		margin: 0 5px;
	}
	
	ul.inline li:last-child { width: 120px; }
	
	ul.inline li:last-child:after { content: ""; }
	
	.inline li {
	    float: none;
	    margin-bottom: 0;
	}

	.top-link {
    @include box-shadow(0 -4px 4px -4px rgba(0, 0, 0, 0.3) inset);
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    float: left;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    margin: 0 0 0 -10px;
    padding-right: 20px;
    text-transform: uppercase;
    width: 100%;

    a {
      @include box-sizing();
      background-image: url("#{$asset-path}pictograms/picto-pack/picto-upload-warmgrey.svg");
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      border-bottom: 0 none;
      color: #888888;
      display: block;
      float: none;
      font-weight: 400;
      padding: 12px 0 12px 28px;
    }
	}
} /* End footer.global */

html.no-svg, .opera-mini {
  footer.global .top-link {
    a {
      background-image: url("#{$asset-path}pictograms/picto-pack/picto-upload-warmgrey.png");
    }
  }
}


@media only screen and (max-width : 768px) {
	footer.no-global .legal {
    @include box-sizing(content-box);
		box-shadow: 0 2px 2px -1px #D3D3D3 inset;
		padding-top: 10px;
		margin-left: -10px;
		padding-left: 10px;
		padding-right: 10px;
	}

  #livechat-eye-catcher {
    display: block;
  }

} // end @media only screen and (max-width : 768px)

@media only screen and (min-width : 768px) {

	footer.global .inline li {
	    display: inline;
	    float: left;
	}

} // @media only screen and (min-width : 768px)

@media only screen and (min-width : 769px) {

  footer.global .top-link {
    display: none;
  }

  footer.global .footer-b h2 a i {
		font-style: normal;
    display: inline;
  }

} //@media only screen and (min-width : 769px)

@media only screen and (min-width: 984px) {

	footer.global .legal {
		width: 984px; /* 980px / 15px (baseline font); 980px + (60px x 2) = 1100px */
	}

	footer.global {
		padding: 30px 0 20px;
		
		.legal {
			background: url("#{$asset-path}logos/logo-ubuntu-grey.png") 100% 0 no-repeat;
		}

		.footer-a {
			display: block;
		}
	}



} // end @media only screen and (min-width: 984px)

