@charset 'UTF-8';

form {
	input,
	select,
	textarea {
		@include box-sizing();
		width: 100%;
	}

	.fieldset-submit ul {
	  margin-bottom: 0;
	}

	fieldset {
		.mktError,
		.errMsg,
		.reqMark {
			color: $error;
		}

		.mktFormMsg {
			clear: both;
			display: block;
		}
	}
}

@media only screen and (max-width : 768px) {

} // end @media only screen and (max-width : 768px)

@media only screen and (min-width : 769px) {

} // @media only screen and (min-width : 769px)

@media only screen and (min-width: 984px) {
} // end @media only screen and (min-width: 984px)
