@charset 'UTF-8';
@import '../core-constants';

.left { float: left; }

.right { float: right; }

// additional helper class for shouty text
.caps { text-transform: uppercase; }

img {
  border: 0 none;
  height: auto;
  max-width: 100%;

  &.left { margin-right: 0; }

  &.touch-border { margin-bottom: -3px; }
}

.accessibility-aid,
.off-left {
  position: absolute;
  left: -999em;
}


.external {
  background-size: .7em .7em;
  padding-right: .9em;
  background-image: url('#{$asset-path}external-link-orange.svg');
  background-position: right 1px;
  background-repeat: no-repeat;
}

.opera-mini .external,
.no-svg .external { background-image: url('#{$asset-path}external-link-orange.png'); }

.text-center,
.align-center { text-align: center; }

.no-margin { margin: 0; }

.no-margin-bottom { margin-bottom: 0; }

.no-padding-bottom { padding-bottom: 0; }

.pull-left-20 { margin-left: -20px; }

.pull-right-20 { margin-right: -20px; }

.pull-left-40 { margin-left: -40px; }

.pull-right-40 { margin-right: -41px; }

.no-border { border: 0; }

.link-top {
  @include font-size (14);
  clear: both;
  margin-bottom: 40px;
  margin-top: -40px;

  a {
    background: $white;
    margin-right: 10px;
    margin-top: -17px;
    padding: 5px;
    float: right;
  }
}

.pull-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
  left: auto;
}

.box .pull-bottom-right {
  border-radius: 0 0 4px;
}

.pull-bottom-left { margin-left: -20px; margin-bottom: -21px; }

.pull-top-right { margin-left: -20px; margin-top: -21px; }


.box-image-centered span img,
.row-image-centered span img,
.row.row-image-centered span img,
img {
  &.priority-0 {
    position: absolute;
    left: -999em;
  }
}

.priority-0,
.not-for-small {
  position: absolute;
  left: -999em;
}

// responsive video solution
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  + h3,
  + .video-title {
    margin-top: 20px;
  }
}

@media only screen and (max-width : 768px) {

  .pull-right-40 { margin-right: -30px; }

  .pull-bottom-right,
  .pull-bottom-left { position: static; }

  .pull-bottom-left {
    margin-bottom: 0;
    margin-left: 0;
  }

} // end @media only screen and (max-width : 768px)

@media only screen and (min-width : 768px) {
  .box-image-centered span img,
  .row-image-centered span img,
  .row.row-image-centered span img,

  img {
    &.priority-0 {
      position: relative;
      left: auto;
    }
  }

  .priority-0,
  .not-for-small {
    position: relative;
    left: auto;
  }

  .for-mobile,
  .for-small {
    position: absolute;
    left: -999em;
  }

  .pull-right {
    float: right;
    margin-right: -30px;
  }

  .pull-left {
    margin-left: -30px;
  }

  .touch-border {
    float: left;
    margin-bottom: -30px;
  }

} // end @media only screen and (min-width : 768px)

@media only screen and (min-width : 769px) {

  .left { margin-right: 20px; }

} //@media only screen and (min-width : 769px)

@media only screen and (min-width: 984px) {

  .touch-border {
    float: left;
    margin-bottom: -40px;
  }

  .pull-left { margin-left: -40px; }

  .pull-right {
    float: right;
    margin-right: -40px;
  }

  .for-tablet,
  .for-medium {
    display: none;
  }

  .no-border {
    border: 0;
  }

} // end @media only screen and (min-width: 984px)
