.row.row-image-centered,
.box-image-centered,
.row-image-centered,
.row.row-image-centered {
  padding: 20px 10px 0;
}

.row-box.row-image-centered {
  padding-bottom: 20px;
  padding-top: 20px;
}

.row.row-image-centered {
  padding-bottom: 40px;
  padding-top: 40px;
}

.row-hero.row-image-centered {
  padding-top: 0;
}

.row-image-centered,
.box-image-centered,
.row.row-image-centered {
  //display: block;

  div,
  span {
    //display: block;
    float: none;
  }

  span {
    width: 100%;

    img {
      display: block;
      height: auto;
      padding: 0;
      margin: 0 auto;
      margin-bottom: 20px;
      max-width: 100%;
    }
  }

  p,
  h2,
  h3 {
    float: none;
  }
}

@media only screen and (min-width : 768px) {

  .row-image-centered,
  .row.row-image-centered,
  .box-image-centered {
    box-sizing: border-box;
    display: table;
    padding-bottom: 20px;
    
    div {
      display: table-cell;
      float: none;
      position: relative;
      
      p,
      h2,
      h3 {
        display: block;
        float: left;
        width: 100%;
      }
      
        + span img { // if image is on the right hand side
          margin-bottom: 20px;
          padding-right: 0;
        }
      }

      span {
        display: table-cell;
        float: none;
        position: relative;
        text-align: center;
        top: 0;
        vertical-align: middle;
        width: auto;
      
        img {
          padding-right: 20px; // if image is on the left hand side
        }
      }
  }
  
  ///
    /// alternative to row-image-centered
    /// requires equal-height class on row 
    /// add align-vertically to the div containing the image
    /// http://caniuse.com/transforms2d
  ///
  
  .js .align-vertically {
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    img, 
    div {
      -ms-transform: translateY(-50%); // for IE9
      -webkit-transform: translateY(-50%);
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
} //@media only screen and (min-width : 768px)

.box-image-centered {
  padding-top: 20px;
}

@media only screen and (min-width : 768px) {

  .row.row-image-centered,
  .box-image-centered,
  .row-image-centered,
  .row.row-image-centered {
    padding: 30px;
  }
  
  .box-image-centered div + span img,
  .row-image-centered div + span img,
  .row.row-image-centered div + span img,
  .box-image-centered span img.priority-0,
  .row-image-centered span img.priority-0,
  .row.row-image-centered span img.priority-0 {
    display: table-cell;
    margin-bottom: 0;
    margin-right: auto;
  }

} // @media only screen and (min-width : 768px)

@media only screen and (min-width: 984px) {

  .row.row-image-centered,
  .row-image-centered,
  .row.row-image-centered,
  .box-image-centered {
    box-sizing: border-box;
    display: table;
    padding: 60px 40px 60px;

    div {
      display: table-cell;
      float: none;
      position: relative;

      p,
      h2,
      h3 {
        display: block;
        float: left;
        width: 100%;
      }
      
        + span img { // if image is on the right hand side
          padding-right: 0;
      }
    }

    span {
      display: table-cell;
      float: none;
      position: relative;
      text-align: center;
      top: 0;
      vertical-align: middle;
      width: auto;

      img {
        padding-right: 20px; // if image is on the left hand side
      }
    }
  }

} // end @media only screen and (min-width: 984px)
