.box-image-centered,
.row-image-centered {
  padding: 20px 10px 0;

  &.row {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &.row-box {
    padding-bottom: 20px;
  }

  &.row-hero {
    padding-top: 0;
  }

  div,
  span {
    float: none;
  }

  span {
    width: 100%;

    img {
      display: block;
      height: auto;
      padding: 0;
      margin: 0 auto;
      margin-bottom: 20px;
      max-width: 100%;
    }
  }

  p,
  h2,
  h3 {
    float: none;
  }
}

@media only screen and (min-width : 768px) {

  .row-image-centered,
  .row.row-image-centered,
  .box-image-centered {
    box-sizing: border-box;
    display: table;
    padding-bottom: 20px;

    div {
      display: table-cell;
      float: none;
      position: relative;

      p,
      h2,
      h3 {
        display: block;
        float: left;
        width: 100%;
      }

      + span img { // if image is on the right hand side
        margin-bottom: 20px;
        padding-right: 0;
      }
    }

    span {
      display: table-cell;
      float: none;
      position: relative;
      text-align: center;
      top: 0;
      vertical-align: middle;
      width: auto;

      img {
        padding-right: 20px; // if image is on the left hand side
      }
    }
  }

  ///
    /// alternative to row-image-centered
    /// requires equal-height class on row
    /// add align-vertically to the div containing the image
    /// http://caniuse.com/transforms2d
  ///

  .js .align-vertically {
    transform-style: preserve-3d;

    img,
    div {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
} //@media only screen and (min-width : 768px)

@media only screen and (min-width : 768px) {

  .box-image-centered,
  .row-image-centered,
  .row.row-image-centered {
    padding: 30px;

    div {

      + span img {
        display: table-cell;
        margin-bottom: 0;
        margin-right: auto;
      }
    }

    span {

      .priority-0 {
        display: table-cell;
        margin-bottom: 0;
        margin-right: auto;
      }
    }
  }
} // @media only screen and (min-width : 768px)

@media only screen and (min-width: 984px) {

  .row-image-centered,
  .row.row-image-centered,
  .box-image-centered {
    box-sizing: border-box;
    display: table;
    padding: 60px 40px;

    div {
      display: table-cell;
      float: none;
      position: relative;

      p,
      h2,
      h3 {
        display: block;
        float: left;
        width: 100%;
      }

      + span img { // if image is on the right hand side
        padding-right: 0;
      }
    }

    span {
      display: table-cell;
      float: none;
      position: relative;
      text-align: center;
      top: 0;
      vertical-align: middle;
      width: auto;

      img {
        padding-right: 20px; // if image is on the left hand side
      }
    }
  }
} // end @media only screen and (min-width: 984px)
