MarkupSafe==2.0.1 # workaround for breaking MakrupSafe 2.1.0 release https://github.com/pallets/jinja/issues/1587
canonicalwebteam.flask-base==1.0.0
canonicalwebteam.templatefinder==1.0.0
canonicalwebteam.search==1.0.0
canonicalwebteam.image-template==1.3.1
