<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/build.css" />
    </head>

    <body>
        <div class="row">
            <div class="col-12">
                {% unless page.url == "/" %}
                    <div style="margin:2rem 0">
                      &#8592; <a href="/">Back</a>
                    </div>
                {% endunless %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                 {{ content }}
            </div>
        </div>

    </body>
</html>
