<section class="row" id="0.0.13">
<h3>Version 0.0.47 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.47.css">unminified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.47.min.css">minified</a>)</small></h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.46...v0.0.47">Changes since version 0.0.46</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.46</h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.45...v0.0.46">Changes since version 0.0.45</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.45</h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.44...v0.0.45">Changes since version 0.0.44</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.44</h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.43...v0.0.44">Changes since version 0.0.43</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.43</h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.42...v0.0.43">Changes since version 0.0.42</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.41</h3>
<p>Pre-alpha: another test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.40...v0.0.41">Changes since version 0.0.40</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.15</h3>
<p>Pre-alpha: A test release with no changes.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.14...v0.0.15">Changes since version 0.0.14</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.14</h3>
<p>Pre-alpha: A test release with minor changes.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.13...v0.0.14">Changes since version 0.0.13</a></p>
</section>

<section class="row no-border" id="0.0.13">
<h3>Version 0.0.13</h3>
<p>New modules: Equal heights; Vertical divider. Some extra SCSS helpers. Code style improvements and refactoring.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.12...v0.0.13">Changes since version 0.0.12</a></p>
</section>
