<section class="row" id="0.0.13">
<h3>Version 0.1.0 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.1.0.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.1.0.css">unminified</a>)</small></h3>
<p>Bug fixes; added code snippets pattern</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.78...v0.1.0">Changes since version 0.0.78</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.78 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.78.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.78.css">unminified</a>)</small></h3>
<p>Update Normalize, update README/CONTRIBUTING docs, fix global styling leak</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.77...v0.0.78">Changes since version 0.0.77</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.77 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.77.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.77.css">unminified</a>)</small></h3>
<p>Change default li/p sizing from em to rem </p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.76...v0.0.77">Changes since version 0.0.76</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.76 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.76.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.76.css">unminified</a>)</small></h3>
<p>Add max-width to list grid images</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.75...v0.0.76">Changes since version 0.0.75</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.75 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.75.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.75.css">unminified</a>)</small></h3>
<p>Remove erroneous filename</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.74...v0.0.75">Changes since version 0.0.74</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.74 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.74.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.74.css">unminified</a>)</small></h3>
<p>Remove erroneous duplicate filename</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.73...v0.0.74">Changes since version 0.0.73</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.73 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.73.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.73.css">unminified</a>)</small></h3>
<p>Add external button pattern</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.72...v0.0.73">Changes since version 0.0.72</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.72 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.72.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.72.css">unminified</a>)</small></h3>
<p>Add grid-list component</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.71...v0.0.72">Changes since version 0.0.71</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.71 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.71.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.71.css">unminified</a>)</small></h3>
<p>Updating blockquote selector</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.70...v0.0.71">Changes since version 0.0.70</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.70 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.70.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.70.css">unminified</a>)</small></h3>
<p>Default all settings</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.69...v0.0.70">Changes since version 0.0.69</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.69 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.69.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.69.css">unminified</a>)</small></h3>
<p>Fix for step lists at all viewports</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.68...v0.0.69">Changes since version 0.0.68</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.68 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.68.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.68.css">unminified</a>)</small></h3>
<p>Update the headings component with responsive scaling</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.67...v0.0.68">Changes since version 0.0.67</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.67 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.67.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.67.css">unminified</a>)</small></h3>
<p>Add global styles</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.66...v0.0.67">Changes since version 0.0.66</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.66 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.66.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.66.css">unminified</a>)</small></h3>
<p>Update search contrast settings</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.65...v0.0.66">Changes since version 0.0.65</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.65 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.65.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.65.css">unminified</a>)</small></h3>
<p>Add search to demo</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.64...v0.0.65">Changes since version 0.0.64</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.64 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.64.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.64.css">unminified</a>)</small></h3>
<p>Add full strip wrappers</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.63...v0.0.64">Changes since version 0.0.63</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.63 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.63.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.63.css">unminified</a>)</small></h3>
<p>Update ubuntu orange. Add search form.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.62...v0.0.63">Changes since version 0.0.62</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.62 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.62.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.62.css">unminified</a>)</small></h3>
<p>Latest and greatest build</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.61...v0.0.62">Changes since version 0.0.61</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.61 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.61.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.61.css">unminified</a>)</small></h3>
<p>Bug fixes</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.60...v0.0.61">Changes since version 0.0.60</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.60 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.60.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.60.css">unminified</a>)</small></h3>
<p>Styling tweaks and bug fixes</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.59...v0.0.60">Changes since version 0.0.59</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.59 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.59.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.59.css">unminified</a>)</small></h3>
<p>Testing the release process - no changes</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.58...v0.0.59">Changes since version 0.0.58</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.58 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.58.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.58.css">unminified</a>)</small></h3>
<p>Testing releases still work if I delete the workspace - no changes.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.57...v0.0.58">Changes since version 0.0.57</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.57 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.57.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.57.css">unminified</a>)</small></h3>
<p>A test release - no changes.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.56...v0.0.57">Changes since version 0.0.56</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.56 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.56.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.56.css">unminified</a>)</small></h3>
<p>The latest changes (not necessarily stable)</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.55...v0.0.56">Changes since version 0.0.55</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.55 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.55.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.55.css">unminified</a>)</small></h3>
<p>Bug fixes</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.54...v0.0.55">Changes since version 0.0.54</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.54 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.54.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.54.css">unminified</a>)</small></h3>
<p>Nav fixes, tick lists, some bug fixes with different viewport sizes.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.53...v0.0.54">Changes since version 0.0.53</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.53 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.53.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.53.css">unminified</a>)</small></h3>
<p>Extended helpers.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.52...v0.0.53">Changes since version 0.0.52</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.52 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.52.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.52.css">unminified</a>)</small></h3>
<p>Extended helpers.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.51...v0.0.52">Changes since version 0.0.51</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.51 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.51.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.51.css">unminified</a>)</small></h3>
<p>White space build test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.50...v0.0.51">Changes since version 0.0.50</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.50 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.50.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.50.css">unminified</a>)</small></h3>
<p>Pre-alpha release: The demo page should now work.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.49...v0.0.50">Changes since version 0.0.49</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.49 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.49.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.49.css">unminified</a>)</small></h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.48...v0.0.49">Changes since version 0.0.48</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.48 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.48.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.48.css">unminified</a>)</small></h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.47...v0.0.48">Changes since version 0.0.47</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.47 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.47.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.47.css">unminified</a>)</small></h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.46...v0.0.47">Changes since version 0.0.46</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.46</h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.45...v0.0.46">Changes since version 0.0.45</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.45</h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.44...v0.0.45">Changes since version 0.0.44</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.44</h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.43...v0.0.44">Changes since version 0.0.43</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.43</h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.42...v0.0.43">Changes since version 0.0.42</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.41</h3>
<p>Pre-alpha: another test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.40...v0.0.41">Changes since version 0.0.40</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.15</h3>
<p>Pre-alpha: A test release with no changes.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.14...v0.0.15">Changes since version 0.0.14</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.14</h3>
<p>Pre-alpha: A test release with minor changes.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.13...v0.0.14">Changes since version 0.0.13</a></p>
</section>

<section class="row no-border" id="0.0.13">
<h3>Version 0.0.13</h3>
<p>New modules: Equal heights; Vertical divider. Some extra SCSS helpers. Code style improvements and refactoring.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.12...v0.0.13">Changes since version 0.0.12</a></p>
</section>
