<section class="row" id="0.0.13">
<h3>Version 0.0.55 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.55.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.55.css">unminified</a>)</small></h3>
<p>Bug fixes</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.54...v0.0.55">Changes since version 0.0.54</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.54 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.54.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.54.css">unminified</a>)</small></h3>
<p>Nav fixes, tick lists, some bug fixes with different viewport sizes.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.53...v0.0.54">Changes since version 0.0.53</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.53 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.53.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.53.css">unminified</a>)</small></h3>
<p>Extended helpers.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.52...v0.0.53">Changes since version 0.0.52</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.52 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.52.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.52.css">unminified</a>)</small></h3>
<p>Extended helpers.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.51...v0.0.52">Changes since version 0.0.51</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.51 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.51.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.51.css">unminified</a>)</small></h3>
<p>White space build test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.50...v0.0.51">Changes since version 0.0.50</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.50 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.50.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.50.css">unminified</a>)</small></h3>
<p>Pre-alpha release: The demo page should now work.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.49...v0.0.50">Changes since version 0.0.49</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.49 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.49.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.49.css">unminified</a>)</small></h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.48...v0.0.49">Changes since version 0.0.48</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.48 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.48.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.48.css">unminified</a>)</small></h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.47...v0.0.48">Changes since version 0.0.47</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.47 <small>(<a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.47.min.css">minified</a> | <a href="https://assets.ubuntu.com/v1/vanilla-framework-version-0.0.47.css">unminified</a>)</small></h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.46...v0.0.47">Changes since version 0.0.46</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.46</h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.45...v0.0.46">Changes since version 0.0.45</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.45</h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.44...v0.0.45">Changes since version 0.0.44</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.44</h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.43...v0.0.44">Changes since version 0.0.43</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.43</h3>
<p>Pre-alpha test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.42...v0.0.43">Changes since version 0.0.42</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.41</h3>
<p>Pre-alpha: another test release</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.40...v0.0.41">Changes since version 0.0.40</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.15</h3>
<p>Pre-alpha: A test release with no changes.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.14...v0.0.15">Changes since version 0.0.14</a></p>
</section>

<section class="row" id="0.0.13">
<h3>Version 0.0.14</h3>
<p>Pre-alpha: A test release with minor changes.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.13...v0.0.14">Changes since version 0.0.13</a></p>
</section>

<section class="row no-border" id="0.0.13">
<h3>Version 0.0.13</h3>
<p>New modules: Equal heights; Vertical divider. Some extra SCSS helpers. Code style improvements and refactoring.</p>
<p><a href="https://github.com/ubuntudesign/vanilla-framework/compare/v0.0.12...v0.0.13">Changes since version 0.0.12</a></p>
</section>
