---
layout: default
title: Action feedback
category: _templates
---

<section class="p-strip">
  <div class="row">
    <div class="col-3">
      <h3>Base</h3>
      <h4 class="p-muted-heading">Indeterminate</h4>
      <button class="p-button--base p-action-feedback is-indeterminate is-cancellable js-indeterminate">
        <span class="p-action-feedback__text">Loading...</span>
      </button>
      <h4 class="p-muted-heading">Determinate</h4>
      <button class="p-button--base p-action-feedback is-determinate is-cancellable js-determinate">
        <svg class="p-action-feedback__svg">
          <circle class="p-action-feedback__circle" r="7" cx="8" cy="8"></circle>
        </svg>
        <span class="p-action-feedback__text">75%</span>
      </button>
      <h4 class="p-muted-heading">Determinate steps</h4>
      <button class="p-button--base p-action-feedback is-stepped is-cancellable js-stepped">
        <svg class="p-action-feedback__svg">
          <circle class="p-action-feedback__circle" r="7" cx="8" cy="8"></circle>
        </svg>
        <span class="p-action-feedback__text">2 of 5</span>
      </button>
      <h4 class="p-muted-heading">Non-cancellable</h4>
      <button class="p-button--base p-action-feedback js-noncancel">
        <span class="p-action-feedback__text">Action</span>
      </button>
      <h4 class="p-muted-heading">Done</h4>
      <button class="p-button--base p-action-feedback is-done js-indeterminate">
        <span class="p-action-feedback__text">Done</span>
      </button>
    </div>
    <div class="col-3">
      <h3>Neutral</h3>
      <h4 class="p-muted-heading">Indeterminate</h4>
      <button class="p-button--neutral p-action-feedback is-indeterminate is-cancellable js-indeterminate">
        <span class="p-action-feedback__text">Loading...</span>
      </button>
      <h4 class="p-muted-heading">Determinate</h4>
      <button class="p-button--neutral p-action-feedback is-determinate is-cancellable js-determinate">
        <svg class="p-action-feedback__svg">
          <circle class="p-action-feedback__circle" r="7" cx="8" cy="8"></circle>
        </svg>
        <span class="p-action-feedback__text">75%</span>
      </button>
      <h4 class="p-muted-heading">Determinate steps</h4>
      <button class="p-button--neutral p-action-feedback is-stepped is-cancellable js-stepped">
        <svg class="p-action-feedback__svg">
          <circle class="p-action-feedback__circle" r="7" cx="8" cy="8"></circle>
        </svg>
        <span class="p-action-feedback__text">2 of 5</span>
      </button>
      <h4 class="p-muted-heading">Non-cancellable</h4>
      <button class="p-button--neutral p-action-feedback js-noncancel">
        <span class="p-action-feedback__text">Action</span>
      </button>
      <h4 class="p-muted-heading">Done</h4>
      <button class="p-button--neutral p-action-feedback is-done js-indeterminate">
        <span class="p-action-feedback__text">Done</span>
      </button>
    </div>
    <div class="col-3">
      <h3>Positive</h3>
      <h4 class="p-muted-heading">Indeterminate</h4>
      <button class="p-button--positive p-action-feedback is-indeterminate is-cancellable js-indeterminate">
        <span class="p-action-feedback__text">Saving...</span>
      </button>
      <h4 class="p-muted-heading">Determinate</h4>
      <button class="p-button--positive p-action-feedback is-determinate is-cancellable js-determinate">
          <svg class="p-action-feedback__svg">
            <circle class="p-action-feedback__circle" r="7" cx="8" cy="8"></circle>
          </svg>
        <span class="p-action-feedback__text">75%</span>
      </button>
      <h4 class="p-muted-heading">Determinate steps</h4>
      <button class="p-button--positive p-action-feedback is-stepped is-cancellable js-stepped">
        <svg class="p-action-feedback__svg">
          <circle class="p-action-feedback__circle" r="7" cx="8" cy="8"></circle>
        </svg>
        <span class="p-action-feedback__text">2 of 5</span>
      </button>
      <h4 class="p-muted-heading">Non-cancellable</h4>
      <button class="p-button--positive p-action-feedback js-noncancel">
        <span class="p-action-feedback__text">Save</span>
      </button>
      <h4 class="p-muted-heading">Done</h4>
      <button class="p-button--positive p-action-feedback is-done js-indeterminate">
        <span class="p-action-feedback__text">Saved</span>
      </button>
    </div>
    <div class="col-3">
      <h3>Negative</h3>
      <h4 class="p-muted-heading">Indeterminate</h4>
      <button class="p-button--negative p-action-feedback is-indeterminate is-cancellable js-indeterminate">
        <span class="p-action-feedback__text">Deleting...</span>
      </button>
      <h4 class="p-muted-heading">Determinate</h4>
      <button class="p-button--negative p-action-feedback is-determinate is-cancellable js-determinate">
        <svg class="p-action-feedback__svg">
          <circle class="p-action-feedback__circle" r="7" cx="8" cy="8"></circle>
        </svg>
        <span class="p-action-feedback__text">75%</span>
      </button>
      <h4 class="p-muted-heading">Determinate steps</h4>
      <button class="p-button--negative p-action-feedback is-stepped is-cancellable js-stepped">
        <svg class="p-action-feedback__svg">
          <circle class="p-action-feedback__circle" r="7" cx="8" cy="8"></circle>
        </svg>
        <span class="p-action-feedback__text">2 of 5</span>
      </button>
      <h4 class="p-muted-heading">Non-cancellable</h4>
      <button class="p-button--negative p-action-feedback js-noncancel">
        <span class="p-action-feedback__text">Delete</span>
      </button>
      <h4 class="p-muted-heading">Done</h4>
      <button class="p-button--negative p-action-feedback is-done js-indeterminate">
        <span class="p-action-feedback__text">Deleted</span>
      </button>
    </div>
  </div>
</section>

<script>
const buttons = document.querySelectorAll('.p-action-feedback');
const determinates = document.querySelectorAll('.js-determinate');
const determinateSteps = document.querySelectorAll('.js-stepped');

determinates.forEach(button => setDeterminateProgress(button, 75));
determinateSteps.forEach(button => setSteppedProgress(button, 2, 5));

buttons.forEach(button => {
  button.addEventListener('click', (e) => {
    e.preventDefault();

    if (button.classList.contains('is-done')) {
      resetAction(button);
    } else if (button.classList.contains('is-indeterminate')
      || button.classList.contains('is-determinate')
      || button.classList.contains('is-stepped')) {
      cancelAction(button);
    } else {
      startAction(button);
    }
  });
});

function startAction(button) {
  button.classList.contains('js-indeterminate') && indeterminateAction(button);
  button.classList.contains('js-determinate') && determinateAction(button);
  button.classList.contains('js-stepped') && steppedAction(button);
  button.classList.contains('js-noncancel') && indeterminateAction(button, false);
}

function indeterminateAction(button, cancellable = true) {
  const text = button.querySelector('.p-action-feedback__text');
  button.classList.add('is-indeterminate');
  setCancellableState(button, cancellable);

  if (button.classList.contains('p-button--positive')) {
    text.innerHTML = 'Saving...';
  } else if (button.classList.contains('p-button--negative')) {
    text.innerHTML = 'Deleting...';
  } else {
    text.innerHTML = 'Loading...';
  }

  button.timeout = setTimeout(() => setDoneState(button), 3000);
}

function determinateAction(button, cancellable = true) {
  let value = 0;
  button.classList.add('is-determinate');
  setCancellableState(button, cancellable);
  setDeterminateProgress(button, value);

  button.interval = setInterval(() => {
    if (value < 100) {
      setDeterminateProgress(button, value);
      value += 1;
    } else {
      setDoneState(button);
      clearInterval(button.interval);
    }
  }, 20);
}

function steppedAction(button, cancellable = true) {
  const max = 5;
  let value = 0;
  button.classList.add('is-stepped');
  setCancellableState(button, cancellable);
  setSteppedProgress(button, value, max);

  button.interval = setInterval(() => {
    if (value < max) {
      setSteppedProgress(button, value, max);
      value += 1;
    } else {
      setDoneState(button);
      clearInterval(button.interval);
    }
  }, 500);
}

function setDeterminateProgress(button, percent) {
  const circle = button.querySelector('.p-action-feedback__circle');
  const text = button.querySelector('.p-action-feedback__text');
  const radius = circle.r.baseVal.value;
  const circumference = radius * 2 * Math.PI;
  const offset = circumference - percent / 100 * circumference;

  circle.style.strokeDasharray = `${circumference} ${circumference}`;
  circle.style.strokeDashoffset = offset;
  text.innerHTML = `${percent}%`;
}

function setSteppedProgress(button, count, max) {
  const circle = button.querySelector('.p-action-feedback__circle');
  const text = button.querySelector('.p-action-feedback__text');
  const radius = circle.r.baseVal.value;
  const circumference = radius * 2 * Math.PI;
  const gap = 2;
  let pattern = '';

  if (count) {
    for (let i = 0; i < count; i++) {
      pattern = `${pattern} ${(circumference / max) - gap}`;
      if (i === count - 1) {
        pattern = `${pattern} ${circumference}`;
      } else {
        pattern = `${pattern} ${gap}`;
      }
    }
    text.innerHTML = `${count} of ${max}`;
  } else {
    pattern = '0, 1';
    text.innerHTML = `0 of ${max}`;
  }

  circle.style.strokeDasharray = pattern;
}

function setCancellableState(button, cancellable) {
  if (cancellable) {
    button.classList.add('is-cancellable');
  } else {
    button.disabled = true;
  }
}

function setDoneState(button) {
  const text = button.querySelector('.p-action-feedback__text');

  button.classList.remove('is-indeterminate', 'is-determinate', 'is-stepped', 'is-cancellable');
  button.classList.add('is-done');
  button.disabled = false;

  if (button.classList.contains('p-button--positive')) {
    text.innerHTML = 'Saved';
  } else if (button.classList.contains('p-button--negative')) {
    text.innerHTML = 'Deleted';
  } else {
    text.innerHTML = 'Done';
  }

  button.timeout = setTimeout(() => resetAction(button), 2000);
}

function cancelAction(button) {
  const text = button.querySelector('.p-action-feedback__text');
  let { timeout, interval, cancelling } = button;

  timeout && clearTimeout(timeout);
  interval && clearInterval(interval);
  button.classList.remove('is-cancellable');

  text.innerHTML = 'Cancelling...';
  cancelling = setTimeout(() => resetAction(button), 1000);
}

function resetAction(button) {
  const text = button.querySelector('.p-action-feedback__text');
  let { timeout, interval, cancelling } = button;

  timeout && clearTimeout(timeout);
  interval && clearInterval(interval);
  cancelling && clearTimeout(cancelling);
  button.classList.remove('is-done', 'is-indeterminate', 'is-determinate', 'is-stepped');

  if (button.classList.contains('p-button--positive')) {
    text.innerHTML = 'Save';
  } else if (button.classList.contains('p-button--negative')) {
    text.innerHTML = 'Delete';
  } else {
    text.innerHTML = 'Action';
  }
}
</script>
