---
layout: default
title: Form box shadow
category: _templates
---

<div class="p-strip">
  <div class="row p-divider">
    <div class="col-6 suffix-1">
      <h3>Current styling</h3>
      <h4>Inputs</h4>
      <h5>border: 1px solid #999<br>box-shadow: inset 0 1px 1px rgba(0,0,0,.12)</h5>
      <form>
        <label for="exampleTextInput">Name</label>
        <input type="text" id="exampleTextInput" placeholder="Joe Bloggs" />
      </form>
      <form>
        <label for="exampleTextInput">Email</label>
        <input type="text" id="exampleTextInput" placeholder="joe.bloggs@canonical.com" />
      </form>
      <form>
        <label for="exampleTextInput">Company</label>
        <input type="text" id="exampleTextInput" placeholder="Canonical" />
        <button class="p-button--neutral">Start your free trail</button>
      </form>
      <form class="p-search-box">
        <input type="search" class="p-search-box__input" name="search" placeholder="Search no box-shadow" required>
        <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>
      </form>
      <h4>Controls</h4>
      <h5>border: 1px solid #999<br>box-shadow: inset 0 1px 1px rgba(0,0,0,.12)</h5>
      <form>
        <label for="exampleSelect">Role</label>
        <select name="exampleSelect" id="exampleSelect">
          <option value="" disabled="disabled" selected>Select an option</option>
          <option value="1">Developer</option>
          <option value="2">Designer</option>
          <option value="3">Project manager</option>
        </select>
      </form>
      <form>
        <p>Do you have any pets?</p>
        <input type="radio" name="RadioOptions" id="Radio1" value="option1" checked />
        <label for="Radio1">Yes</label>
        <input type="radio" name="RadioOptions" id="Radio2" value="option2" />
        <label for="Radio2">No</label>
      </form>
      <form>
        <p>Which pets do you have?</p>
        <input type="checkbox" id="checkExample1" />
        <label for="checkExample1">Dog</label>
        <input type="checkbox" id="checkExample2" />
        <label for="checkExample2">Cat</label>
      </form>
      <label>
        Show app notifications
        <input type="checkbox" class="p-switch" checked>
        <div class="p-switch__slider"></div>
      </label>
    </div>

    <div class="col-6 prefix-1 p-divider__block">
      <h3>Proposed styling</h3>
      <h4>Inputs</h4>
      <h5>border: 1px solid #666<br>box-shadow: inset 0 1px 1px rgba(0,0,0,.12)</h5>
      <form>
        <label for="exampleTextInput">Name</label>
        <input type="text" id="exampleTextInput" placeholder="Joe Bloggs" style="border: 1px solid #666;" />
      </form>
      <form>
        <label for="exampleTextInput">Email</label>
        <input type="text" id="exampleTextInput" placeholder="joe.bloggs@canonical.com" style="border: 1px solid #666;" />
      </form>
      <form>
        <label for="exampleTextInput">Company</label>
        <input type="text" id="exampleTextInput" placeholder="Canonical" style="border: 1px solid #666;" />
        <button class="p-button--neutral">Start your free trial</button>
      </form>
      <form class="p-search-box">
        <input type="search" class="p-search-box__input" name="search" placeholder="Search" required style="border: 1px solid #666; box-shadow: inset 0 1px 1px rgba(0,0,0,.12)" />
        <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>
      </form>
      <h4>Controls</h4>
      <h5>border: 1px solid #666<br>box-shadow: none</h5>
      <form>
        <label for="exampleSelect">Role</label>
        <select name="exampleSelect" id="exampleSelect" style="border: 1px solid #666; box-shadow: none;">
          <option value="" disabled="disabled" selected>Select an option</option>
          <option value="1">Developer</option>
          <option value="2">Designer</option>
          <option value="3">Project manager</option>
        </select>
      </form>
      <form>
        <p>Do you have any pets?</p>
        <input type="radio" name="RadioOptions" id="Radio1" value="option1" checked />
        <label for="Radio1">Yes</label>
        <input type="radio" name="RadioOptions" id="Radio2" value="option2" />
        <label for="Radio2">No</label>
      </form>
      <form>
        <p>Which pets do you have?</p>
        <input type="checkbox" id="checkExample1" style="border: 1px solid #666;" />
        <label for="checkExample1">Dog</label>
        <input type="checkbox" id="checkExample2" style="border: 1px solid #666;" />
        <label for="checkExample2">Cat</label>
      </form>
      <label>
        Show app notifications
        <input type="checkbox" class="p-switch" checked style="box-shadow: none;" />
        <div class="p-switch__slider"></div>
      </label>
    </div>
  </div>
</div>
