---
layout: default
title: Docs layout
category: _templates
---
<header id="navigation" class="p-navigation--light">
  <div class="row" style="max-width: 100%">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="#">
              <img src="https://assets.ubuntu.com/v1/d96d86b5-vanilla_black-orange_hex.svg" alt="" class="p-navigation__image" />
            </a>
      </div>
    </div>
    <nav class="p-navigation__nav">
      <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
    </nav>
  </div>
</header>
<div class="row" style="max-width: 100%">
  <div class="col-3">
    <div class="p-navigation--sidebar">
      <div class="sidebar__content js-sidebar-toggle u-hide" aria-hidden="true">
        <select name="exampleSelect" id="exampleSelect">
          <option value="" disabled="disabled" selected="">Select a version</option>
          <option value="1">Version 1</option>
          <option value="2">Version 2</option>
          <option value="3">Version 3</option>
        </select>
        <ul class="p-list sidebar__first-level" data-js="sidebar-first-level">
          <li>
            <a class="sidebar__link" href="#">Section title 1 <i class="p-icon--plus"></i><i class="p-icon--minus"></i></a>
            <ul class="sidebar__second-level">
              <li><a class="sidebar__link" href="#">Second level 1</a></li>
              <li><a class="sidebar__link" href="#">Second level 2</a></li>
              <li><a class="sidebar__link is-selected" href="#">Second level 3 <i class="p-icon--plus"></i><i class="p-icon--minus"></i></a>
                <ul class="sidebar__third-level is-deepest-level">
                  <li><a class="sidebar__link" href="#">Third level 1</a></li>
                  <li><a class="sidebar__link" href="#">Third level 2</a></li>
                  <li><a class="sidebar__link" href="#">Third level 3</a></li>
                  <li><a class="sidebar__link" href="#">Third level 4</a></li>
                  <li><a class="sidebar__link" href="#">Third level 5</a></li>
                </ul>
              </li>
              <li><a class="sidebar__link" href="#">Second level 4</a></li>
              <li><a class="sidebar__link" href="#">Second level 5</a></li>
            </ul>
          </li>
          <li><a class="sidebar__link" href="#">Section title 2 <i class="p-icon--plus"></i><i class="p-icon--minus"></i></a>
            <ul class="sidebar__second-level">
              <li><a class="sidebar__link" href="#">Second level 1</a></li>
              <li><a class="sidebar__link" href="#">Second level 2</a></li>
              <li><a class="sidebar__link" href="#">Second level 3 <i class="p-icon--plus"></i><i class="p-icon--minus"></i></a>
                <ul class="sidebar__third-level is-deepest-level">
                  <li><a class="sidebar__link" href="#">Third level 1</a></li>
                  <li><a class="sidebar__link" href="#">Third level 2</a></li>
                  <li><a class="sidebar__link" href="#">Third level 3</a></li>
                  <li><a class="sidebar__link" href="#">Third level 4</a></li>
                  <li><a class="sidebar__link" href="#">Third level 5</a></li>
                </ul>
              </li>
              <li><a class="sidebar__link" href="#">Second level 4</a></li>
              <li><a class="sidebar__link" href="#">Second level 5</a></li>
            </ul>
          </li>
          <li><a class="sidebar__link" href="#">Section title 3 <i class="p-icon--plus"></i><i class="p-icon--minus"></i></a>
            <ul class="sidebar__second-level">
              <li><a class="sidebar__link" href="#">Second level 1</a></li>
              <li><a class="sidebar__link" href="#">Second level 2</a></li>
              <li><a class="sidebar__link is-selected" href="#">Second level 3 <i class="p-icon--plus"></i><i class="p-icon--minus"></i></a>
                <ul class="sidebar__third-level is-deepest-level">
                  <li><a class="sidebar__link" href="#">Third level 1</a></li>
                  <li><a class="sidebar__link" href="#">Third level 2</a></li>
                  <li><a class="sidebar__link" href="#">Third level 3</a></li>
                  <li><a class="sidebar__link" href="#">Third level 4</a></li>
                  <li><a class="sidebar__link" href="#">Third level 5</a></li>
                </ul>
              </li>
              <li><a class="sidebar__link" href="#">Second level 4</a></li>
              <li><a class="sidebar__link" href="#">Second level 5</a></li>
            </ul>
          </li>
        </ul>
        <hr>
        <ul class="p-list">
          <li><a class="p-link--external sidebar__link" href="#">Supplementary link 1</a></li>
          <li><a class="p-link--external sidebar__link" href="#">Supplementary link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="p-strip">
      <div class="row">
        <div class="col-8">
          <h1>Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ducimus maiores, sunt sequi officia neque sit? Error blanditiis modi mollitia, reprehenderit id illum! Quas suscipit officia vitae voluptatum dolores, facere?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ducimus maiores, sunt sequi officia neque sit? Error blanditiis modi mollitia, reprehenderit id illum! Quas suscipit officia vitae voluptatum dolores, facere?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ducimus maiores, sunt sequi officia neque sit? Error blanditiis modi mollitia, reprehenderit id illum! Quas suscipit officia vitae voluptatum dolores, facere?</p>
        </div>
      </div>
    </div>
  </div>
</div>
