---
layout: default
title: Heading + button strip
category: _templates
---
<!-- h1 -->
<section class="p-strip is-shallow">
  <div class="row u-equal-height">
    <div class="col-10">
      <h1 class="u-min-margin--bottom">Learn how to configure and install MAAS</h1>
      <br class="u-hide--medium u-hide--large">
    </div>
    <div class="col-2">
      <a class="p-button--positive p-link--external u-min-margin--bottom" href="https://docs.maas.io">Get Started</a>
    </div>
  </div>
</section>
<!-- h2 -->
<section class="p-strip--light is-shallow">
  <div class="row">
    <div class="col-8">
      <h2>Test drive the Canonical Distribution of Kubernetes<sup>®</sup> today!</h2>
      <p class="u-no-margin--top"><a href="/kubernetes/install" class="p-button--positive" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'External Link', 'eventAction' : 'Try it now', 'eventLabel' : 'Try it now - Bottom CTA' : undefined });"><span class="p-link--external">Try it now</span></a>&emsp;<a href="/kubernetes/contact-us?product=kubernetes" class="p-button--neutral" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Internal Link', 'eventAction' : 'Contact us', 'eventLabel' : 'Contact us - Bottom CTA' : undefined });">Contact us</a></p>
    </div>
  </div>
</section>
<section class="p-strip is-shallow">
  <div class="row u-equal-height">
    <div class="col-8">
      <h2 class="u-min-margin--bottom">Learn how to configure and install MAAS</h2>
      <br class="u-hide--medium u-hide--large">
    </div>
    <div class="col-4">
      <a class="p-button--positive p-link--external u-min-margin--bottom" href="https://docs.maas.io">Get Started</a>
    </div>
  </div>
</section>
<!-- h3 -->
<section class="p-strip is-bordered is-shallow">
  <div class="row u-equal-height">
    <div class="col-8">
      <h3 class="u-min-margin--bottom">Learn how to configure and install MAAS</h3>
      <br class="u-hide--medium u-hide--large">
    </div>
    <div class="col-4">
      <a class="p-button--positive p-link--external u-min-margin--bottom" href="https://docs.maas.io">Get Started</a>
    </div>
  </div>
</section>
<!-- h4 -->
<section class="p-strip is-bordered is-shallow">
  <div class="row u-equal-height">
    <div class="col-8">
      <h4 class="u-min-margin--bottom">Learn how to configure and install MAAS</h4>
      <br class="u-hide--medium u-hide--large">
    </div>
    <div class="col-4">
      <a class="p-button--positive p-link--external u-min-margin--bottom" href="https://docs.maas.io">Get Started</a>
    </div>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="row u-equal-height">
    <div class="col-8">
      <h4 class="u-min-margin--bottom">Want to understand the core concepts and get a high-level overview of MAAS and its architecture?</h4>
      <br class="u-hide--medium u-hide--large">
    </div>
    <div class="col-4">
      <a class="p-button--positive p-link--external u-min-margin--bottom" href="https://docs.maas.io">Get Started</a>
    </div>
  </div>
</section>