---
layout: default
title: Icon sizes
category: _templates
---

<div class="p-strip is-bordered">
  <div class="row">
    <h1>Icon sizes</h1>
  </div>
</div>

<div class="p-strip is-bordered">
  <div class="row">
    <div class="col-6">
      <h2>Old</h1>
      <div class="p-media-object">
        <img src="https://via.placeholder.com/72x72" class="p-media-object__image">
        <div class="p-media-object__details">
          <h3 class="p-media-object__title">
            <a href="#">Event title</a>
          </h3>
          <p class="p-media-object__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul class="p-media-object__meta-list">
            <li class="p-media-object__meta-list-item">
              <span class="u-off-screen">Topic: </span>CSS frameworks
            </li>
            <li class="p-media-object__meta-list-item--date">
              <span class="u-off-screen">Date: </span>21 - 23 February 2017
            </li>
            <li class="p-media-object__meta-list-item--venue">
              <span class="u-off-screen">Venue: </span>Venue 360
            </li>
            <li class="p-media-object__meta-list-item--location">
              <span class="u-off-screen">Location: </span>Santa Clara, CA
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h2>New</h2>
      <div class="p-media-object">
        <img src="https://via.placeholder.com/72x72" class="p-media-object__image new-size">
        <div class="p-media-object__details">
          <h3 class="p-media-object__title">
            <a href="#">Event title</a>
          </h3>
          <p class="p-media-object__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul class="p-media-object__meta-list">
            <li class="p-media-object__meta-list-item">
              <span class="u-off-screen">Topic: </span>CSS frameworks
            </li>
            <li class="p-media-object__meta-list-item--date">
              <span class="u-off-screen">Date: </span>21 - 23 February 2017
            </li>
            <li class="p-media-object__meta-list-item--venue">
              <span class="u-off-screen">Venue: </span>Venue 360
            </li>
            <li class="p-media-object__meta-list-item--location">
              <span class="u-off-screen">Location: </span>Santa Clara, CA
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered">
  <div class="row">
    <div class="col-6">
      <h2>Old</h2>
      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/a4d31b28-icon-quote.svg" />
          <h3 class="p-heading-icon__title">Lorem ipsum dolor</h3>
        </div>
        <p>sit amet, consectetur adipisicing elit. Enim excepturi, repudiandae blanditiis odio perferendis voluptatibus dolorum, dicta illum quae ipsa voluptatum, sunt quasi? Nulla reiciendis magnam nostrum aliquam, beatae doloribus.</p>
      </div>
    </div>
    <div class="col-6">
      <h2>New</h2>
      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img new-size" src="https://assets.ubuntu.com/v1/a4d31b28-icon-quote.svg" />
          <h3 class="p-heading-icon__title">Lorem ipsum dolor</h3>
        </div>
        <p>sit amet, consectetur adipisicing elit. Enim excepturi, repudiandae blanditiis odio perferendis voluptatibus dolorum, dicta illum quae ipsa voluptatum, sunt quasi? Nulla reiciendis magnam nostrum aliquam, beatae doloribus.</p>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered">
  <div class="row">
    <h2>Old</h2>
    <ul class="p-inline-list">
      <li class="p-inline-list__item">
        <i class="p-icon--facebook"></i>
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--google"></i>
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--twitter"></i>
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--instagram"></i>
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--linkedin"></i>
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--youtube"></i>
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--canonical"></i>
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--ubuntu"></i>
      </li>
    </ul>
  </div>
  <div class="row">
    <h2>New</h2>
    <ul class="p-inline-list">
      <li class="p-inline-list__item">
        <i class="p-icon--facebook new-size"></i>
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--google new-size"></i>
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--twitter new-size"></i>
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--instagram new-size"></i>
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--linkedin new-size"></i>
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--youtube new-size"></i>
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--canonical new-size"></i>
      </li>
      <li class="p-inline-list__item">
        <i class="p-icon--ubuntu new-size"></i>
      </li>
    </ul>
  </div>
</div>