---
layout: default
title: Required form fields
category: _templates
---

<div class="p-strip">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h3>Current styling</h3>
      <h4>MAAS example</h4>
      <form>
        <label for="exampleTextInput">Username (required)</label>
        <input type="text" id="exampleTextInput" placeholder="Username" />
        <p class="p-form-help-text">Required. 150 characters or fewer. Letters, digits and @/./+/-_only.</p>
      </form>
      <form>
        <label for="exampleTextInput">Full name</label>
        <input type="text" id="exampleTextInput" placeholder="Full name" />
      </form>
      <form>
        <div class="p-form-validation is-error">
          <label for="exampleTextInputError">Email address (required)</label>
          <input class="p-form-validation__input" type="text" id="exampleTextInputError" placeholder="Email address">
          <p class="p-form-validation__message">
            <strong>Error:</strong> This field is required.
          </p>
        </div>
      </form>
      <form>
        <label for="exampleTextInput">Company</label>
        <input type="text" id="exampleTextInput" placeholder="Company" />
        <button class="p-button--positive">Save</button>
      </form>
    </div>

    <div class="col-6 p-divider__block">
      <h3>Proposed styling</h3>
      <h4>MAAS example</h4>
      <form>
        <label for="exampleTextInput" class="is-required">Username</label>
        <input type="text" id="exampleTextInput" placeholder="e.g JoeyB" />
        <p class="p-form-help-text">150 characters or fewer. Letters, digits and @/./+/-_only.</p>
      </form>
      <form>
        <label for="exampleTextInput">Full name</label>
        <input type="text" id="exampleTextInput" placeholder="e.g Joe Bloggs" />
      </form>
      <form>
        <div class="p-form-validation is-error">
          <label for="exampleTextInputError" class="is-required">Email address</label>
          <input class="p-form-validation__input" type="text" id="exampleTextInputError" placeholder="e.g joe@bloggs.com">
          <p class="p-form-validation__message">
            <strong>Error:</strong> This field is required.
          </p>
        </div>
      </form>
      <form>
        <label for="exampleTextInput">Company</label>
        <input type="text" id="exampleTextInput" placeholder="e.g Canonical" />
        <button class="p-button--positive">Save</button>
      </form>
    </div>
  </div>
</div>
