---
layout: default
title: Typographic spacing
category: _templates
---

<div class="p-strip is-shallow">
</div>
<style>
  body {
    position: relative;
  }

  .controls-pseudo {
    bottom: .5rem;
    padding: .75rem;
    position: fixed;
    left: .5rem;
    z-index: 101;
  }

  .u-pseudo-baseline-container {
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .u-pseudo-baseline {
    font-size: 0;
    height: 8px;
    margin: 0;
    pointer-events: none;
    position: relative;
    width: 100%;
  }

  @media (min-width: 1680px) {
    .u-pseudo-baseline {
      height: 9px;
    }
  }

  .u-pseudo-baseline::after {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
  }
</style>
    <script>
        var VF_ENV = "DEV";
        if (VF_ENV === "DEV") {
            fragmentFromString = function fragmentFromString(strHTML) {
                var temp = document.createElement('template');
                temp.innerHTML = strHTML;
                return temp.content;
            }

            class baselineGrid {
                constructor() {
                    this.target = document.body;
                    this.baselineHeight = 8;
                    this.baselineContainerClassName = "u-pseudo-baseline-container";
                    this.baselineRowClassName = "u-pseudo-baseline";
                    this.toggleGridClass = "u-hide";
                }
                addBaselineGridToggle() {
                    var controls = fragmentFromString('<div class="controls-pseudo"><label><input type="checkbox" class="p-switch js-pseudo-baseline-toggle" /><div class="p-switch__slider"></div></label></div>');
                    this.target.appendChild(controls);
                }
                appendBaselineRow(parent) {
                    var baseline = document.createElement('div');
                    baseline.classList.add(this.baselineRowClassName);
                    parent.appendChild(baseline);
                }
                baselineCount() {
                    return Math.floor(document.documentElement.scrollHeight / this.baselineHeight);
                }
                create() {
                    var baselineContainer = document.createElement('div'),
                        fragment = document.createDocumentFragment(),
                        documentHeight = document.documentElement.scrollHeight,
                        baselineCount = this.baselineCount(documentHeight);

                    baselineContainer.classList.add(this.baselineContainerClassName);

                    if (!this.showGrid) {
                        baselineContainer.classList.add(this.toggleGridClass);
                    }
                    for (var i = 0; i < baselineCount; i++) {
                        this.appendBaselineRow(baselineContainer);
                    }
                    fragment.appendChild(baselineContainer);
                    this.target.appendChild(fragment);
                    this.baselineContainer = document.querySelector('.u-pseudo-baseline-container');
                }
                initGridToggle(switchBtn) {
                    var toggle = document.querySelector(switchBtn);

                    toggle.addEventListener('click', function (event) {
                        this.baselineContainer.classList.toggle(this.toggleGridClass);
                    }.bind(this));
                }
                update() {
                    this.baselineContainer.remove();
                    this.create();
                }
            }

            class makePragraphs {
                constructor() {
                    this.target = document.body;
                    this.numParagraphs = 1000;
                }
                appendP(parent, i) {
                    var para = document.createElement('h3'),
                        rowNum = "<strong># " + arguments[1] + "</strong>",
                        lorem = " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.";

                    para.innerHTML = rowNum;
                    for (var i = 0; i < 3; i++) {
                      para.innerHTML += lorem;
                    }

                    para.classList.add(this.baselineRowClassName);
                    parent.appendChild(para);
                }
                create() {
                    var pContainer = document.createElement('div'),
                        fragment = document.createDocumentFragment();

                    pContainer.classList.add("p-container");
                    pContainer.classList.add("row");

                    for (var i = 0; i < this.numParagraphs; i++) {
                        this.appendP(pContainer, i);
                    }

                    fragment.appendChild(pContainer);
                    this.target.appendChild(fragment);
                    this.pContainer = document.querySelector('.p-container');
                }
            }

            var bg = new baselineGrid();
            var paras = new makePragraphs();
            document.addEventListener('DOMContentLoaded', () => {
                paras.create();
                bg.create();
                bg.addBaselineGridToggle();
                bg.initGridToggle('.p-switch.js-pseudo-baseline-toggle');
            });
            window.addEventListener('resize', () => { bg.update(); });
        }
    </script>
