---
layout: default
title: Typographic spacing
category: _templates
---

<div class="p-strip--light is-shallow">
  <div class="row" style="max-width: 100%">
    <hr >
  </div>
  <div class="row" style="max-width: 100%">
    <div class="col-2">
      <h1>Something</h1>
      <div class="p-card">
        <header class="p-card__header no-border u-align--center u-vertically-center u-hide--small" style="min-height: 8rem;">
          <a href="http://www.boldmind.co.uk/"><img style="max-height: 65px; height: 65px;" src="https://assets.ubuntu.com/v1/d4e5daf4-logo-boldmind.png" alt="Boldmind logo"></a>
        </header>
        <h1 class="p-card__title">Boldmind</h1>
        <p class="p-card__content">Use data triggers to schedule content.</p>
        <a class="p-link--external" href="https://www.brighttalk.com/webcast/6793/211999?utm_source=ubuntuweb&amp;utm_medium=dspageboldmindbox&amp;utm_campaign=DSwebinar" title="View Boldmind webinar">View webinar</a>
      </div>
    </div>
    <div class="col-2">
      <h2>Something</h2>
      <div class="p-card">
        <header class="p-card__header no-border u-align--center u-vertically-center u-hide--small" style="min-height: 8rem;">
          <a href="http://www.boldmind.co.uk/"><img style="max-height: 65px; height: 65px;" src="https://assets.ubuntu.com/v1/d4e5daf4-logo-boldmind.png" alt="Boldmind logo"></a>
        </header>
        <h2 class="p-card__title">Boldmind</h2>
        <p class="p-card__content">Use data triggers to schedule content.</p>
        <a class="p-link--external" href="https://www.brighttalk.com/webcast/6793/211999?utm_source=ubuntuweb&amp;utm_medium=dspageboldmindbox&amp;utm_campaign=DSwebinar" title="View Boldmind webinar">View webinar</a>
      </div>
    </div>
    <div class="col-2">
      <h3>Something</h3>
      <div class="p-card">
        <header class="p-card__header no-border u-align--center u-vertically-center u-hide--small" style="min-height: 8rem;">
          <a href="http://www.boldmind.co.uk/"><img style="max-height: 65px; height: 65px;" src="https://assets.ubuntu.com/v1/d4e5daf4-logo-boldmind.png" alt="Boldmind logo"></a>
        </header>
        <h3 class="p-card__title">Boldmind</h3>
        <p class="p-card__content">Use data triggers to schedule content.</p>
        <a class="p-link--external" href="https://www.brighttalk.com/webcast/6793/211999?utm_source=ubuntuweb&amp;utm_medium=dspageboldmindbox&amp;utm_campaign=DSwebinar" title="View Boldmind webinar">View webinar</a>
      </div>
    </div>
    <div class="col-2">
      <h4>Something</h4>
      <div class="p-card">
        <header class="p-card__header no-border u-align--center u-vertically-center u-hide--small" style="min-height: 8rem;">
          <a href="http://www.boldmind.co.uk/"><img style="max-height: 65px; height: 65px;" src="https://assets.ubuntu.com/v1/d4e5daf4-logo-boldmind.png" alt="Boldmind logo"></a>
        </header>
        <h4 class="p-card__title">Boldmind</h4>
        <p class="p-card__content">Use data triggers to schedule content.</p>
        <a class="p-link--external" href="https://www.brighttalk.com/webcast/6793/211999?utm_source=ubuntuweb&amp;utm_medium=dspageboldmindbox&amp;utm_campaign=DSwebinar" title="View Boldmind webinar">View webinar</a>
      </div>
    </div>
    <div class="col-2">
      <h5>Something</h5>
      <div class="p-card">
        <header class="p-card__header no-border u-align--center u-vertically-center u-hide--small" style="min-height: 8rem;">
          <a href="http://www.boldmind.co.uk/"><img style="max-height: 65px; height: 65px;" src="https://assets.ubuntu.com/v1/d4e5daf4-logo-boldmind.png" alt="Boldmind logo"></a>
        </header>
        <h5 class="p-card__title">Boldmind</h5>
        <p class="p-card__content">Use data triggers to schedule content.</p>
        <a class="p-link--external" href="https://www.brighttalk.com/webcast/6793/211999?utm_source=ubuntuweb&amp;utm_medium=dspageboldmindbox&amp;utm_campaign=DSwebinar" title="View Boldmind webinar">View webinar</a>
      </div>
    </div>
    <div class="col-2">
      <h6>Something</h6>
      <div class="p-card">
        <header class="p-card__header no-border u-align--center u-vertically-center u-hide--small" style="min-height: 8rem;">
          <a href="http://www.boldmind.co.uk/"><img style="max-height: 65px; height: 65px;" src="https://assets.ubuntu.com/v1/d4e5daf4-logo-boldmind.png" alt="Boldmind logo"></a>
        </header>
        <h3 class="p-card__title">Boldmind</h3>
        <p class="p-card__content">Use data triggers to schedule content.</p>
        <a class="p-link--external" href="https://www.brighttalk.com/webcast/6793/211999?utm_source=ubuntuweb&amp;utm_medium=dspageboldmindbox&amp;utm_campaign=DSwebinar" title="View Boldmind webinar">View webinar</a>
      </div>
    </div>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row" style="max-width: 100%">
    <hr style="margin-bottom: -1px;">
  </div>
  <div class="row" style="max-width: 100%">
    <div class="col-2">
      <h1>H two</h1>
    </div>
    <div class="col-2">
      <button href="#">Confirm</button>
    </div>
    <div class="col-2">
      <h2>H two</h2>
    </div>
    <div class="col-2">
      <button href="#">Confirm</button>
    </div>
    <div class="col-2">
      <h3>H three</h3>
    </div>
    <div class="col-2">
      <button href="#">Confirm</button>
    </div>
  </div>
  <div class="row" style="max-width: 100%">
    <hr style="margin-bottom: -1px;">
  </div>
  <div class="row" style="max-width: 100%">
    <div class="col-6">
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</h4>
    </div>
    <div class="col-2">
      <button href="#">Confirm</button>
    </div>
    <div class="col-2">
      <h5>Heading five</h5>
    </div>
    <div class="col-2">
      <button href="#">Confirm</button>
    </div>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row" style="max-width: 100%">
    <hr >
  </div>
  <div class="row" style="max-width: 100%">
    <div class="col-2">
      <h1>H two</h1>
    </div>
    <div class="col-2">
      <button href="#">Confirm</button>
    </div>
    <div class="col-2">
      <h2>H two</h2>
    </div>
    <div class="col-2">
      <button href="#">Confirm</button>
    </div>
    <div class="col-2">
      <h3>H three</h3>
    </div>
    <div class="col-2">
      <button href="#">Confirm</button>
    </div>
  </div>
  <div class="row" style="max-width: 100%">
    <hr >
  </div>
  <div class="row" style="max-width: 100%">
    <div class="col-6">
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</h4>
    </div>
    <div class="col-2">
      <button href="#">Confirm</button>
    </div>
    <div class="col-2">
      <h5>Heading five</h5>
    </div>
    <div class="col-2">
      <button href="#">Confirm</button>
    </div>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row" style="max-width: 100%">
    <div class="col-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h1>H1 gyj</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
    </div>
    <div class="col-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h2>H two</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
    </div>
    <div class="col-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h3>H three</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
    </div>
    <div class="col-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h4>Heading four</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
    </div>
    <div class="col-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h5>Heading five</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
    </div>
    <div class="col-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h6>Heading six</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <button href="#">Confirm</button>
    </div>
  </div>
</div>

<div class="p-strip is-shallow">
  <div class="row" style="max-width: 100%">
    <hr>
  </div>
  <div class="row" style="max-width: 100%">
    <div class="col-2">
      <p>An eyebrow</p>
      <h1 class="has-eyebrow">Head one gyj</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h1>Head one </h1>
      <button href="#">Confirm</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
    </div>
    <div class="col-2">
      <p>An eyebrow</p>
      <h2 class="has-eyebrow">Heading two</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h2>Heading two</h2>
      <button href="#">Confirm</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
    </div>
    <div class="col-2">
      <p>An eyebrow</p>
      <h3 class="has-eyebrow">Heading three</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h3>Heading three</h3>
      <button href="#">Confirm</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
    </div>
    <div class="col-2">
      <p>An eyebrow</p>
      <h4 class="has-eyebrow">Heading four</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h4>Heading four</h4>
      <button href="#">Confirm</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
    </div>
    <div class="col-2">
      <p>An eyebrow</p>
      <h5 class="has-eyebrow">Heading five</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h5>Heading five</h5>
      <button href="#">Confirm</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
    </div>
    <div class="col-2">
      <p>An eyebrow</p>
      <h6 class="has-eyebrow">Heading six</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h6>Heading six</h6>
      <button href="#">Confirm</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <button href="#">Confirm</button>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row" style="max-width: 100%">
    <hr>
  </div>
  <div class="row" style="max-width: 100%">
    <div class="col-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h1>Head one gyj</h1>
    </div>
    <div class="col-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h2>Heading two</h2>
    </div>
    <div class="col-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h3>Heading three</h3>
    </div>
    <div class="col-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h4>Heading four</h4>
    </div>
    <div class="col-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h5>Heading five</h5>
    </div>
    <div class="col-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <h6>Heading six</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque.</p>
      <button href="#">Confirm</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h1>h1</h1>
      <div class="col-1 u-no-margin--left">
        <h1>h1</h1>
        <h1>h1</h1>
      </div>
      <div class="col-1">
        <h1>h1</h1>
        <h2>h2</h2>
      </div>
      <div class="col-1">
        <h1>h1</h1>
        <h3>h3</h3>
      </div>
      <div class="col-1">
        <h1>h1</h1>
        <h4>h4</h4>
      </div>
      <div class="col-1">
        <h1>h1</h1>
        <h5>h5</h5>
      </div>
      <div class="col-1">
        <h1>h1</h1>
        <h6>h6</h6>
      </div>
    </div>
    <div class="col-6 p-divider__block">
      <p class="p-heading--one">p-heading--one</p>
      <div class="col-1 u-no-margin--left">
        <p class="p-heading--one">h1</p>
        <p class="p-heading--one">h1</p>
      </div>
      <div class="col-1">
        <p class="p-heading--one">h1</p>
        <p class="p-heading--two">h2</p>
      </div>
      <div class="col-1">
        <p class="p-heading--one">h1</p>
        <p class="p-heading--three">h3</p>
      </div>
      <div class="col-1">
        <p class="p-heading--one">h1</p>
        <p class="p-heading--four">h4</p>
      </div>
      <div class="col-1">
        <p class="p-heading--one">h1</p>
        <p class="p-heading--five">h5</p>
      </div>
      <div class="col-1">
        <p class="p-heading--one">h1</p>
        <p class="p-heading--six">h6</p>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h2>h2</h2>
      <div class="col-1 u-no-margin--left">
        <h2>h2</h2>
        <h1>h1</h1>
      </div>
      <div class="col-1">
        <h2>h2</h2>
        <h2>h2</h2>
      </div>
      <div class="col-1">
        <h2>h2</h2>
        <h3>h3</h3>
      </div>
      <div class="col-1">
        <h2>h2</h2>
        <h4>h4</h4>
      </div>
      <div class="col-1">
        <h2>h2</h2>
        <h5>h5</h5>
      </div>
      <div class="col-1">
        <h2>h2</h2>
        <h6>h6</h6>
      </div>
    </div>
    <div class="col-6 p-divider__block">
      <p class="p-heading--two">p-heading--two</p>
      <div class="col-1 u-no-margin--left">
        <p class="p-heading--two">h2</p>
        <p class="p-heading--one">h1</p>
      </div>
      <div class="col-1">
        <p class="p-heading--two">h2</p>
        <p class="p-heading--two">h2</p>
      </div>
      <div class="col-1">
        <p class="p-heading--two">h2</p>
        <p class="p-heading--three">h3</p>
      </div>
      <div class="col-1">
        <p class="p-heading--two">h2</p>
        <p class="p-heading--four">h4</p>
      </div>
      <div class="col-1">
        <p class="p-heading--two">h2</p>
        <p class="p-heading--five">h5</p>
      </div>
      <div class="col-1">
        <p class="p-heading--two">h2</p>
        <p class="p-heading--six">h6</p>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h3>h3</h3>
      <div class="col-1 u-no-margin--left">
        <h3>h3</h3>
        <h1>h1</h1>
      </div>
      <div class="col-1">
        <h3>h3</h3>
        <h2>h2</h2>
      </div>
      <div class="col-1">
        <h3>h3</h3>
        <h3>h3</h3>
      </div>
      <div class="col-1">
        <h3>h3</h3>
        <h4>h4</h4>
      </div>
      <div class="col-1">
        <h3>h3</h3>
        <h5>h5</h5>
      </div>
      <div class="col-1">
        <h3>h3</h3>
        <h6>h6</h6>
      </div>
    </div>
    <div class="col-6 p-divider__block">
      <p class="p-heading--three">p-heading--three</p>
      <div class="col-1 u-no-margin--left">
        <p class="p-heading--three">h3</p>
        <p class="p-heading--one">h1</p>
      </div>
      <div class="col-1">
        <p class="p-heading--three">h3</p>
        <p class="p-heading--two">h2</p>
      </div>
      <div class="col-1">
        <p class="p-heading--three">h3</p>
        <p class="p-heading--three">h3</p>
      </div>
      <div class="col-1">
        <p class="p-heading--three">h3</p>
        <p class="p-heading--four">h4</p>
      </div>
      <div class="col-1">
        <p class="p-heading--three">h3</p>
        <p class="p-heading--five">h5</p>
      </div>
      <div class="col-1">
        <p class="p-heading--three">h3</p>
        <p class="p-heading--six">h6</p>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h4>h4</h4>
      <div class="col-1 u-no-margin--left">
        <h4>h4</h4>
        <h1>h1</h1>
      </div>
      <div class="col-1">
        <h4>h4</h4>
        <h2>h2</h2>
      </div>
      <div class="col-1">
        <h4>h4</h4>
        <h3>h3</h3>
      </div>
      <div class="col-1">
        <h4>h4</h4>
        <h4>h4</h4>
      </div>
      <div class="col-1">
        <h4>h4</h4>
        <h5>h5</h5>
      </div>
      <div class="col-1">
        <h4>h4</h4>
        <h6>h6</h6>
      </div>
    </div>
    <div class="col-6 p-divider__block">
      <p class="p-heading--four">p-heading--four</p>
      <div class="col-1 u-no-margin--left">
        <p class="p-heading--four">h4</p>
        <p class="p-heading--one">h1</p>
      </div>
      <div class="col-1">
        <p class="p-heading--four">h4</p>
        <p class="p-heading--two">h2</p>
      </div>
      <div class="col-1">
        <p class="p-heading--four">h4</p>
        <p class="p-heading--three">h3</p>
      </div>
      <div class="col-1">
        <p class="p-heading--four">h4</p>
        <p class="p-heading--four">h4</p>
      </div>
      <div class="col-1">
        <p class="p-heading--four">h4</p>
        <p class="p-heading--five">h5</p>
      </div>
      <div class="col-1">
        <p class="p-heading--four">h4</p>
        <p class="p-heading--six">h6</p>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h5>h5</h5>
      <div class="col-1 u-no-margin--left">
        <h5>h5</h5>
        <h1>h1</h1>
      </div>
      <div class="col-1">
        <h5>h5</h5>
        <h2>h2</h2>
      </div>
      <div class="col-1">
        <h5>h5</h5>
        <h3>h3</h3>
      </div>
      <div class="col-1">
        <h5>h5</h5>
        <h4>h4</h4>
      </div>
      <div class="col-1">
        <h5>h5</h5>
        <h5>h5</h5>
      </div>
      <div class="col-1">
        <h5>h5</h5>
        <h6>h6</h6>
      </div>
    </div>
    <div class="col-6 p-divider__block">
      <p class="p-heading--five">p-heading--five</p>
      <div class="col-1 u-no-margin--left">
        <p class="p-heading--five">h5</p>
        <p class="p-heading--one">h1</p>
      </div>
      <div class="col-1">
        <p class="p-heading--five">h5</p>
        <p class="p-heading--two">h2</p>
      </div>
      <div class="col-1">
        <p class="p-heading--five">h5</p>
        <p class="p-heading--three">h3</p>
      </div>
      <div class="col-1">
        <p class="p-heading--five">h5</p>
        <p class="p-heading--four">h4</p>
      </div>
      <div class="col-1">
        <p class="p-heading--five">h5</p>
        <p class="p-heading--five">h5</p>
      </div>
      <div class="col-1">
        <p class="p-heading--five">h5</p>
        <p class="p-heading--six">h6</p>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h6>h6</h6>
      <div class="col-1 u-no-margin--left">
        <h6>h6</h6>
        <h1>h1</h1>
      </div>
      <div class="col-1">
        <h6>h6</h6>
        <h2>h2</h2>
      </div>
      <div class="col-1">
        <h6>h6</h6>
        <h3>h3</h3>
      </div>
      <div class="col-1">
        <h6>h6</h6>
        <h4>h4</h4>
      </div>
      <div class="col-1">
        <h6>h6</h6>
        <h5>h5</h5>
      </div>
      <div class="col-1">
        <h6>h6</h6>
        <h6>h6</h6>
      </div>
    </div>
    <div class="col-6 p-divider__block">
      <p class="p-heading--six">p-heading--six</p>
      <div class="col-1 u-no-margin--left">
        <p class="p-heading--six">h6</p>
        <p class="p-heading--one">h1</p>
      </div>
      <div class="col-1">
        <p class="p-heading--six">h6</p>
        <p class="p-heading--two">h2</p>
      </div>
      <div class="col-1">
        <p class="p-heading--six">h6</p>
        <p class="p-heading--three">h3</p>
      </div>
      <div class="col-1">
        <p class="p-heading--six">h6</p>
        <p class="p-heading--four">h4</p>
      </div>
      <div class="col-1">
        <p class="p-heading--six">h6</p>
        <p class="p-heading--five">h5</p>
      </div>
      <div class="col-1">
        <p class="p-heading--six">h6</p>
        <p class="p-heading--six">h6</p>
      </div>
    </div>
  </div>
</div>


<!-- heading plus heading -->
<div class="p-strip is-bordered is-shallow">
  <div class="row">
    <div class="col-6">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
      <h2>Nullam id venenatis turpis, ac tincidunt neque.</h2>
    </div>
    <div class="col-6">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
      <h3>Nullam id venenatis turpis, ac tincidunt neque.</h3>
    </div>
  </div>
  <div class="row"><hr></div>
  <div class="row">
    <div class="col-6">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
      <h4>Nullam id venenatis turpis, ac tincidunt neque.</h4>
    </div>
    <div class="col-6">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
      <h5>Nullam id venenatis turpis, ac tincidunt neque.</h5>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
   <div class="row">
    <div class="col-6">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
      <h2>Nullam id venenatis turpis, ac tincidunt neque.</h2>
    </div>
    <div class="col-6">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
      <h3>Nullam id venenatis turpis, ac tincidunt neque.</h3>
    </div>
  </div>
  <div class="row"><hr></div>
  <div class="row">
    <div class="col-6">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
      <h4>Nullam id venenatis turpis, ac tincidunt neque.</h4>
    </div>
    <div class="col-6">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
      <h5>Nullam id venenatis turpis, ac tincidunt neque.</h5>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row">
    <div class="col-6">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
      <h2>Nullam id venenatis turpis, ac tincidunt neque.</h2>
    </div>
    <div class="col-6">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
      <h3>Nullam id venenatis turpis, ac tincidunt neque.</h3>
    </div>
  </div>
  <div class="row"><hr></div>
  <div class="row">
    <div class="col-6">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
      <h4>Nullam id venenatis turpis, ac tincidunt neque.</h4>
    </div>
    <div class="col-6">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
      <h5>Nullam id venenatis turpis, ac tincidunt neque.</h5>
    </div>
  </div>

</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row">
    <div class="col-6">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
      <h2>Nullam id venenatis turpis, ac tincidunt neque.</h2>
    </div>
    <div class="col-6">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
      <h3>Nullam id venenatis turpis, ac tincidunt neque.</h3>
    </div>
  </div>
  <div class="row"><hr></div>
  <div class="row">
    <div class="col-6">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
      <h4>Nullam id venenatis turpis, ac tincidunt neque.</h4>
    </div>
    <div class="col-6">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
      <h5>Nullam id venenatis turpis, ac tincidunt neque.</h5>
    </div>
  </div>

</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row">
    <div class="col-6">
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
      <h2>Nullam id venenatis turpis, ac tincidunt neque.</h2>
    </div>
    <div class="col-6">
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
      <h3>Nullam id venenatis turpis, ac tincidunt neque.</h3>
    </div>
  </div>
  <div class="row"><hr></div>
  <div class="row">
    <div class="col-6">
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
      <h4>Nullam id venenatis turpis, ac tincidunt neque.</h4>
    </div>
    <div class="col-6">
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
      <h5>Nullam id venenatis turpis, ac tincidunt neque.</h5>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row">
    <div class="col-6">
      <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h5>
      <h2>Nullam id venenatis turpis, ac tincidunt neque.</h2>
    </div>
    <div class="col-6">
      <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h5>
      <h3>Nullam id venenatis turpis, ac tincidunt neque.</h3>
    </div>
  </div>
  <div class="row"><hr></div>
  <div class="row">
    <div class="col-6">
      <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h5>
      <h4>Nullam id venenatis turpis, ac tincidunt neque.</h4>
    </div>
    <div class="col-6">
      <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h5>
      <h5>Nullam id venenatis turpis, ac tincidunt neque.</h5>
    </div>
  </div>
</div>
<div class="p-strip is-bordered is-shallow">
  <div class="row">
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      <h2>Nullam id venenatis turpis, ac tincidunt neque.</h2>
    </div>
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      <h3>Nullam id venenatis turpis, ac tincidunt neque.</h3>
    </div>
  </div>
  <div class="row"><hr></div>
  <div class="row">
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      <h4>Nullam id venenatis turpis, ac tincidunt neque.</h4>
    </div>
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      <h5>Nullam id venenatis turpis, ac tincidunt neque.</h5>
    </div>
  </div>
</div>


<div class="p-strip is-bordered">
  <div class="row">
    <div class="col-6">
      <h1>Nullam id venenatis turpis, ac tincidunt neque.</h1>
      <h2>Nullam id venenatis turpis, ac tincidunt neque.</h2>
      <h1>Nullam id venenatis turpis, ac tincidunt neque.</h1>
      <h3>Nullam id venenatis turpis, ac tincidunt neque.</h3>
      <h1>Nullam id venenatis turpis, ac tincidunt neque.</h1>
      <h4>Nullam id venenatis turpis, ac tincidunt neque.</h4>
      <h1>Nullam id venenatis turpis, ac tincidunt neque.</h1>
      <h5>Nullam id venenatis turpis, ac tincidunt neque.</h5>
    </div>
    <div class="col-6">
      <h1>Nullam id venenatis turpis, ac tincidunt neque.</h1>
      <h2 class="has-eyebrow">Nullam id venenatis turpis, ac tincidunt neque.</h2>
      <h1 class="has-eyebrow">Nullam id venenatis turpis, ac tincidunt neque.</h1>
      <h3 class="has-eyebrow">Nullam id venenatis turpis, ac tincidunt neque.</h3>
      <h1 class="has-eyebrow">Nullam id venenatis turpis, ac tincidunt neque.</h1>
      <h4 class="has-eyebrow">Nullam id venenatis turpis, ac tincidunt neque.</h4>
      <h1 class="has-eyebrow">Nullam id venenatis turpis, ac tincidunt neque.</h1>
      <h5 class="has-eyebrow">Nullam id venenatis turpis, ac tincidunt neque.</h5>
    </div>
  </div>
</div>

<!-- blog text -->

<div class="p-strip is-shallow">
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
    <h1>Heading one</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
    <h2>Heading two</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
    <h3>Heading three</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
    <h4>Heading four</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
    <h5>Heading five</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
    <h6>Heading six</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
  </div>
</div>
