---
layout: default
title: Typographic spacing
category: _templates
---

<div class="p-strip is-bordered is-shallow">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h1>h1</h1>
      <div class="col-1 u-no-margin--left">
        <h1>h1</h1>
        <h1>h1</h1>
      </div>
      <div class="col-1">
        <h1>h1</h1>
        <h2>h2</h2>
      </div>
      <div class="col-1">
        <h1>h1</h1>
        <h3>h3</h3>
      </div>
      <div class="col-1">
        <h1>h1</h1>
        <h4>h4</h4>
      </div>
      <div class="col-1">
        <h1>h1</h1>
        <h5>h5</h5>
      </div>
      <div class="col-1">
        <h1>h1</h1>
        <h6>h6</h6>
      </div>
    </div>
    <div class="col-6 p-divider__block">
      <p class="p-heading--one">p-heading--one</p>
      <div class="col-1 u-no-margin--left">
        <p class="p-heading--one">h1</p>
        <p class="p-heading--one">h1</p>
      </div>
      <div class="col-1">
        <p class="p-heading--one">h1</p>
        <p class="p-heading--two">h2</p>
      </div>
      <div class="col-1">
        <p class="p-heading--one">h1</p>
        <p class="p-heading--three">h3</p>
      </div>
      <div class="col-1">
        <p class="p-heading--one">h1</p>
        <p class="p-heading--four">h4</p>
      </div>
      <div class="col-1">
        <p class="p-heading--one">h1</p>
        <p class="p-heading--five">h5</p>
      </div>
      <div class="col-1">
        <p class="p-heading--one">h1</p>
        <p class="p-heading--six">h6</p>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h2>h2</h2>
      <div class="col-1 u-no-margin--left">
        <h2>h2</h2>
        <h1>h1</h1>
      </div>
      <div class="col-1">
        <h2>h2</h2>
        <h2>h2</h2>
      </div>
      <div class="col-1">
        <h2>h2</h2>
        <h3>h3</h3>
      </div>
      <div class="col-1">
        <h2>h2</h2>
        <h4>h4</h4>
      </div>
      <div class="col-1">
        <h2>h2</h2>
        <h5>h5</h5>
      </div>
      <div class="col-1">
        <h2>h2</h2>
        <h6>h6</h6>
      </div>
    </div>
    <div class="col-6 p-divider__block">
      <p class="p-heading--two">p-heading--two</p>
      <div class="col-1 u-no-margin--left">
        <p class="p-heading--two">h2</p>
        <p class="p-heading--one">h1</p>
      </div>
      <div class="col-1">
        <p class="p-heading--two">h2</p>
        <p class="p-heading--two">h2</p>
      </div>
      <div class="col-1">
        <p class="p-heading--two">h2</p>
        <p class="p-heading--three">h3</p>
      </div>
      <div class="col-1">
        <p class="p-heading--two">h2</p>
        <p class="p-heading--four">h4</p>
      </div>
      <div class="col-1">
        <p class="p-heading--two">h2</p>
        <p class="p-heading--five">h5</p>
      </div>
      <div class="col-1">
        <p class="p-heading--two">h2</p>
        <p class="p-heading--six">h6</p>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h3>h3</h3>
      <div class="col-1 u-no-margin--left">
        <h3>h3</h3>
        <h1>h1</h1>
      </div>
      <div class="col-1">
        <h3>h3</h3>
        <h2>h2</h2>
      </div>
      <div class="col-1">
        <h3>h3</h3>
        <h3>h3</h3>
      </div>
      <div class="col-1">
        <h3>h3</h3>
        <h4>h4</h4>
      </div>
      <div class="col-1">
        <h3>h3</h3>
        <h5>h5</h5>
      </div>
      <div class="col-1">
        <h3>h3</h3>
        <h6>h6</h6>
      </div>
    </div>
    <div class="col-6 p-divider__block">
      <p class="p-heading--three">p-heading--three</p>
      <div class="col-1 u-no-margin--left">
        <p class="p-heading--three">h3</p>
        <p class="p-heading--one">h1</p>
      </div>
      <div class="col-1">
        <p class="p-heading--three">h3</p>
        <p class="p-heading--two">h2</p>
      </div>
      <div class="col-1">
        <p class="p-heading--three">h3</p>
        <p class="p-heading--three">h3</p>
      </div>
      <div class="col-1">
        <p class="p-heading--three">h3</p>
        <p class="p-heading--four">h4</p>
      </div>
      <div class="col-1">
        <p class="p-heading--three">h3</p>
        <p class="p-heading--five">h5</p>
      </div>
      <div class="col-1">
        <p class="p-heading--three">h3</p>
        <p class="p-heading--six">h6</p>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h4>h4</h4>
      <div class="col-1 u-no-margin--left">
        <h4>h4</h4>
        <h1>h1</h1>
      </div>
      <div class="col-1">
        <h4>h4</h4>
        <h2>h2</h2>
      </div>
      <div class="col-1">
        <h4>h4</h4>
        <h3>h3</h3>
      </div>
      <div class="col-1">
        <h4>h4</h4>
        <h4>h4</h4>
      </div>
      <div class="col-1">
        <h4>h4</h4>
        <h5>h5</h5>
      </div>
      <div class="col-1">
        <h4>h4</h4>
        <h6>h6</h6>
      </div>
    </div>
    <div class="col-6 p-divider__block">
      <p class="p-heading--four">p-heading--four</p>
      <div class="col-1 u-no-margin--left">
        <p class="p-heading--four">h4</p>
        <p class="p-heading--one">h1</p>
      </div>
      <div class="col-1">
        <p class="p-heading--four">h4</p>
        <p class="p-heading--two">h2</p>
      </div>
      <div class="col-1">
        <p class="p-heading--four">h4</p>
        <p class="p-heading--three">h3</p>
      </div>
      <div class="col-1">
        <p class="p-heading--four">h4</p>
        <p class="p-heading--four">h4</p>
      </div>
      <div class="col-1">
        <p class="p-heading--four">h4</p>
        <p class="p-heading--five">h5</p>
      </div>
      <div class="col-1">
        <p class="p-heading--four">h4</p>
        <p class="p-heading--six">h6</p>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h5>h5</h5>
      <div class="col-1 u-no-margin--left">
        <h5>h5</h5>
        <h1>h1</h1>
      </div>
      <div class="col-1">
        <h5>h5</h5>
        <h2>h2</h2>
      </div>
      <div class="col-1">
        <h5>h5</h5>
        <h3>h3</h3>
      </div>
      <div class="col-1">
        <h5>h5</h5>
        <h4>h4</h4>
      </div>
      <div class="col-1">
        <h5>h5</h5>
        <h5>h5</h5>
      </div>
      <div class="col-1">
        <h5>h5</h5>
        <h6>h6</h6>
      </div>
    </div>
    <div class="col-6 p-divider__block">
      <p class="p-heading--five">p-heading--five</p>
      <div class="col-1 u-no-margin--left">
        <p class="p-heading--five">h5</p>
        <p class="p-heading--one">h1</p>
      </div>
      <div class="col-1">
        <p class="p-heading--five">h5</p>
        <p class="p-heading--two">h2</p>
      </div>
      <div class="col-1">
        <p class="p-heading--five">h5</p>
        <p class="p-heading--three">h3</p>
      </div>
      <div class="col-1">
        <p class="p-heading--five">h5</p>
        <p class="p-heading--four">h4</p>
      </div>
      <div class="col-1">
        <p class="p-heading--five">h5</p>
        <p class="p-heading--five">h5</p>
      </div>
      <div class="col-1">
        <p class="p-heading--five">h5</p>
        <p class="p-heading--six">h6</p>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h6>h6</h6>
      <div class="col-1 u-no-margin--left">
        <h6>h6</h6>
        <h1>h1</h1>
      </div>
      <div class="col-1">
        <h6>h6</h6>
        <h2>h2</h2>
      </div>
      <div class="col-1">
        <h6>h6</h6>
        <h3>h3</h3>
      </div>
      <div class="col-1">
        <h6>h6</h6>
        <h4>h4</h4>
      </div>
      <div class="col-1">
        <h6>h6</h6>
        <h5>h5</h5>
      </div>
      <div class="col-1">
        <h6>h6</h6>
        <h6>h6</h6>
      </div>
    </div>
    <div class="col-6 p-divider__block">
      <p class="p-heading--six">p-heading--six</p>
      <div class="col-1 u-no-margin--left">
        <p class="p-heading--six">h6</p>
        <p class="p-heading--one">h1</p>
      </div>
      <div class="col-1">
        <p class="p-heading--six">h6</p>
        <p class="p-heading--two">h2</p>
      </div>
      <div class="col-1">
        <p class="p-heading--six">h6</p>
        <p class="p-heading--three">h3</p>
      </div>
      <div class="col-1">
        <p class="p-heading--six">h6</p>
        <p class="p-heading--four">h4</p>
      </div>
      <div class="col-1">
        <p class="p-heading--six">h6</p>
        <p class="p-heading--five">h5</p>
      </div>
      <div class="col-1">
        <p class="p-heading--six">h6</p>
        <p class="p-heading--six">h6</p>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-shallow">
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
    <h1>Heading one</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
    <h2>Heading two</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
    <h3>Heading three</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
    <h4>Heading four</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
    <h5>Heading five</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
    <h6>Heading six</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id venenatis turpis, ac tincidunt neque. Vestibulum dapibus sollicitudin tortor vel lacinia. Etiam et purus eu mi vehicula rhoncus non sit amet justo. Vestibulum quam elit, rhoncus a dolor ac, scelerisque aliquam tellus. Donec eget nisl odio. Suspendisse feugiat erat et.</p>  
  </div>
</div>
