---
layout: default
title: Vertical spacing
category: _templates
---

<div class="p-strip is-bordered is-deep">
  <div class="row">
    <div class="u-equal-height">
      <div class="col-4">
        <h2>Guidelines</h2>
        <p>If you are contributing to Vanilla, make sure to read and follow these guidelines.</p>
        <ul class="p-list--divided">
          <li class="p-list__item">
            <a href="" class="p-link--soft">Accessibility&nbsp;›</a>
          </li>
          <li class="p-list__item">
            <a href="" class="p-link--soft">Browser support&nbsp;›</a>
          </li>
          <li class="p-list__item">
            <a href="" class="p-link--soft">Coding standards&nbsp;›</a>
          </li>
        </ul>
      </div>
      <div class="col-8 prefix-2 u-vertically-center">
        <img src="https://assets.ubuntu.com/v1/4a810e12-guidelines-illustration.svg" alt="">
      </div>
    </div>
  </div>
</div>

<section class="p-strip--dark">
  <div class="row">
    <div class="col-12">
      <h2>Title</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
    <div class="col-6">
      <img src="http://suplugins.com/podium/images/placeholder-05.jpg" alt="" />
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-4 p-card">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
    <div class="col-4 p-card">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
    <div class="col-4 p-card">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p><button class="p-button--neutral">Neutral button</button></p>
    </div>
  </div>
</section>

