{#- Commonly reused data for linked logo section examples -#}
{% set example_list_items = [
  {
    "href": "#",
    "text": "Learn more &rsaquo;",
    "label": "Kubeflow",
    "image_html": '<img class="p-image-container__image" src="https://assets.ubuntu.com/v1/cd89477e-kubeflow-logo-container-vert-fill.png" alt="Kubeflow logo" width="432" height="481" />'
  },
  {
    "href": "#",
    "text": "Learn more &rsaquo;",
    "label": "MLflow",
    "image_html": image(url="https://assets.ubuntu.com/v1/104192d9-mlflow-logo-container-vert-fill.png",
      alt="",
      width="222",
      height="481",
      hi_def=True,
      loading="auto",
      attrs={"class": "p-image-container__image"}
    ) | safe
  },
  {
    "href": "#",
    "text": "Learn more &rsaquo;",
    "label": "Apache Spark",
    "image_html": image(url="https://assets.ubuntu.com/v1/855deda8-apache-spark-logo-container-vert-fill.png",
      alt="",
      width="240",
      height="481",
      hi_def=True,
      loading="auto",
      attrs={"class": "p-image-container__image"}
    ) | safe
  },
  {
    "href": "#",
    "text": "Learn more &rsaquo;",
    "label": "OpenSearch",
    "image_html": image(url="https://assets.ubuntu.com/v1/a8185f91-opensearch-logo-container-vert-fill.png",
      alt="",
      width="330",
      height="481",
      hi_def=True,
      loading="auto",
      attrs={"class": "p-image-container__image"}
    ) | safe
  },
  {
    "href": "#",
    "text": "Learn more &rsaquo;",
    "label": "Kafka",
    "image_html": image(url="https://assets.ubuntu.com/v1/d30de1f1-kafka-logo-container-vert-fill.png",
      alt="",
      width="294",
      height="481",
      hi_def=True,
      loading="auto",
      attrs={"class": "p-image-container__image"}
    ) | safe
  },
  {
    "href": "#",
    "text": "Learn more &rsaquo;",
    "label": "PostgreSQL",
    "image_html": image(url="https://assets.ubuntu.com/v1/f5605b7e-postgre-sql-container-vert-fill.png",
      alt="",
      width="432",
      height="481",
      hi_def=True,
      loading="auto",
      attrs={"class": "p-image-container__image"}
    ) | safe
  },
  {
    "href": "#",
    "text": "Learn more &rsaquo;",
    "label": "MongoDB",
    "image_html": image(url="https://assets.ubuntu.com/v1/efdc8292-mongodb-logo-container-vert-fill.png",
      alt="",
      width="413",
      height="481",
      hi_def=True,
      loading="auto",
      attrs={"class": "p-image-container__image"}
    ) | safe
  },
  {
    "href": "#",
    "text": "Learn more &rsaquo;",
    "label": "MySQL",
    "image_html": image(url="https://assets.ubuntu.com/v1/692e2b1d-mysql-logo-container-vert-fill.png",
      alt="",
      width="300",
      height="481",
      hi_def=True,
      loading="auto",
      attrs={"class": "p-image-container__image"}
    ) | safe
  },
  {
    "href": "#",
    "text": "Learn more &rsaquo;",
    "label": "MySQL",
    "image_html": image(url="https://assets.ubuntu.com/v1/692e2b1d-mysql-logo-container-vert-fill.png",
      alt="",
      width="300",
      height="481",
      hi_def=True,
      loading="auto",
      attrs={"class": "p-image-container__image"}
    ) | safe
  },
  {
    "href": "#",
    "text": "Learn more &rsaquo;",
    "label": "MySQL",
    "image_html": image(url="https://assets.ubuntu.com/v1/692e2b1d-mysql-logo-container-vert-fill.png",
      alt="",
      width="300",
      height="481",
      hi_def=True,
      loading="auto",
      attrs={"class": "p-image-container__image"}
    ) | safe
  }
] %}