# Params
# primary_url: primary CTA button URL
# secondary_url: secondary CTA button URL
# Slots
# primary: primary CTA button text
# secondary: secondary CTA button text
{% macro cta_block(
  primary_url = "#",
  secondary_url = "#"
)-%}
  {% set primary_content = caller('primary') %}
  {% set secondary_content = caller('secondary') %}
  {% set has_secondary = secondary_content|trim|length > 0 %}

<div class="p-cta-block">
  <a href="{{ primary_url }}" class="p-button--positive">{{ primary_content | safe }}</a>
  {% if has_secondary -%}
    <a href="{{ secondary_url }}">{{ secondary_content | safe }}</a>
  {%- endif %}
</div>

{% endmacro %}

