<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Root element</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-code-snippet</code></p></div>
      <div class="col-4 col-medium-3"><p>Main element of the code snippet component.</p></div>
      <div class="col-7 col-medium-5"><hr/></div>
      <div class="col-3 col-medium-2"><p><code>&.is-bordered</code></p></div>
      <div class="col-4 col-medium-3"><p>Bordered variant, to be used when additional content (such as iframes) is used inside the code snippet component.</p></div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Code block</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-code-snippet__block</code></p></div>
      <div class="col-4 col-medium-3"><p>Code block without any additonal styling elements.</p></div>
      <div class="col-7 col-medium-5"><hr/></div>
      <div class="col-3 col-medium-2"><p><code>&.is-wrapped</code></p></div>
      <div class="col-4 col-medium-3"><p>Code block with wrapped content in lines.</p></div>
      <div class="col-7 col-medium-5"><hr/></div>
      <div class="col-3 col-medium-2"><p><code>.p-code-snippet__block--icon</code></p></div>
      <div class="col-4 col-medium-3"><p>Code block that starts with an icon. Default icon is a UNIX prompt. To be used with Linux CLI examples.</p></div>
      <div class="col-7 col-medium-5"><hr/></div>
      <div class="col-3 col-medium-2"><p><code>&.is-windows-prompt</code></p></div>
      <div class="col-4 col-medium-3"><p>Changes the <code>.p-code-snippet__block--icon</code> to use a Windows prompt icon. To be used with Windows CLI examples.</p></div>
      <div class="col-7 col-medium-5"><hr/></div>
      <div class="col-3 col-medium-2"><p><code>&.is-url</code></p></div>
      <div class="col-4 col-medium-3"><p>Changes the <code>.p-code-snippet__block--icon</code> to use a link icon. To be used with URLs.</p></div>
      <div class="col-7 col-medium-5"><hr/></div>
      <div class="col-3 col-medium-2"><p><code>.p-code-snippet__block--numbered</code></p></div>
      <div class="col-4 col-medium-3"><p>Code block with numbered lines of code (to be used with longer pieces of code examples). Requires <code>.p-code-snippet__line</code>.</p></div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Code line</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-code-snippet__line</code></p></div>
      <div class="col-4 col-medium-3"><p>A wrapper around single line of code. Needed with numbered variant of a code block.</p></div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Code block header</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-code-snippet__header</code></p></div>
      <div class="col-4 col-medium-3"><p>A header of a code block. Contains a title and optional dropdowns.</p></div>
      <div class="col-7 col-medium-5"><hr/></div>
      <div class="col-3 col-medium-2"><p><code>&.is-stacked</code></p></div>
      <div class="col-4 col-medium-3"><p>A stacked version of a header (with a title displayed above the dropdowns). To be used when there are multiple dropdowns with a long title.</p></div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Code block title</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-code-snippet__title</code></p></div>
      <div class="col-4 col-medium-3"><p>The title of a code block.</p></div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Dropdowns container</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-code-snippet__dropdowns</code></p></div>
      <div class="col-4 col-medium-3"><p>Container element for any dropdowns in the header.</p></div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Dropdown</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-code-snippet__dropdown</code></p></div>
      <div class="col-4 col-medium-3"><p>An individual dropdown in code block header.</p></div>
    </div>
  </div>
</div>
