<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Root element</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-notification</code></p></div>
      <div class="col-4 col-medium-3"><p>Notification in default variant. Same as <code>.p-notification--information</code></p></div>
      <div class="col-7 col-medium-5"><hr/></div>
      <div class="col-3 col-medium-2"><p><code>.p-notification--information</code></p></div>
      <div class="col-4 col-medium-3"><p>Information notification. Same as default <code>.p-notification</code>.</p></div>
      <div class="col-7 col-medium-5"><hr/></div>
      <div class="col-3 col-medium-2"><p><code>.p-notification--positive</code></p></div>
      <div class="col-4 col-medium-3"><p>Positive notification.</p></div>
      <div class="col-7 col-medium-5"><hr/></div>
      <div class="col-3 col-medium-2"><p><code>.p-notification--caution</code></p></div>
      <div class="col-4 col-medium-3"><p>Caution notification.</p></div>
      <div class="col-7 col-medium-5"><hr/></div>
      <div class="col-3 col-medium-2"><p><code>.p-notification--negative</code></p></div>
      <div class="col-4 col-medium-3"><p>Negative notification.</p></div>
      <div class="col-7 col-medium-5"><hr/></div>
      <div class="col-3 col-medium-2"><p><code>&.is-borderless</code></p></div>
      <div class="col-4 col-medium-3"><p>Borderless variant of notification. Used when notification is embeded into another container element.</p></div>
      <div class="col-7 col-medium-5"><hr/></div>
      <div class="col-3 col-medium-2"><p><code>&.is-inline</code></p></div>
      <div class="col-4 col-medium-3"><p>Inline version of notification with title and message rendered side by side.</p></div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Content container</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-notification__content</code></p></div>
      <div class="col-4 col-medium-3"><p>Container element for notification content (title and message).</p></div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Title</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-notification__title</code></p></div>
      <div class="col-4 col-medium-3"><p>The notification title.</p></div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Message</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-notification__message</code></p></div>
      <div class="col-4 col-medium-3"><p>Text of the notification message.</p></div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Close button</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-notification__close</code></p></div>
      <div class="col-4 col-medium-3"><p>The button to close the notification.</p></div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Meta-data container</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-notification__meta</code></p></div>
      <div class="col-4 col-medium-3"><p>The container element for notification meta-data (timestamp and action buttons).</p></div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Timestamp</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-notification__timestamp</code></p></div>
      <div class="col-4 col-medium-3"><p>Notification timestamp or date.</p></div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Actions container</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-notification__actions</code></p></div>
      <div class="col-4 col-medium-3"><p>Container element for notification action buttons.</p></div>
    </div>
  </div>
</div>
<hr>
<div class="row u-sv3">
  <div class="col-2 col-medium-1"><h4 class="p-heading--5">Action button</h4></div>
  <div class="col-7 col-medium-5">
    <div class="row">
      <div class="col-3 col-medium-2"><p><code>.p-notification__action</code></p></div>
      <div class="col-4 col-medium-3"><p>Single action button.</p></div>
    </div>
  </div>
</div>
