@charset 'UTF-8';

#context-footer {
	@include box-sizing;
	@include font-size (14);
	border-bottom: 0;
	clear: both;
	padding-bottom: 1px;
	padding-top: 0;
	position: relative;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	width: 100%;

	hr {
		@include box-shadow(inset 0 2px 2px -2px #333);
		background: $ubuntu-orange;
		height: 14px;
		margin: 0 0 10px;
		border: 0;
		clear: both;
	}

	div.twelve-col {
		display: table;
		float: none;
		margin-bottom: 7px;
	}

	div div {
		display: block;
		padding-left: 0;
		margin-bottom: 20px;

		div {
			display: block;
			padding-left: 0;
			margin-bottom: 0;
		}

		&.feature-one {
			padding-left: 0;
		}

		&.feature-four {
			margin-bottom: 0;
			margin-right: 0;
		}
	}

	> div {
	  padding-left: 10px;
	  padding-right: 10px;
	}

	ul {
		margin-bottom: 5px;
	}

	li.active {
		display: none;
	}

	h3 {
		@include font-size (16);
		font-weight: normal;
	}

	.list a:after,
	a.link-arrow:after,
	nav ul li h2 a:after {
		content: ' \203A';
	}
}

@media only screen and (min-width : 768px) {

	#context-footer {
    margin-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;

    div + div {
      width: 31%;
    }

    div div.feature-four {
      padding-bottom: 20px;
    }

    hr {
      margin: 0 -30px 40px;
    }

    & > div {
      padding-left: 0;
      padding-right: 0;
    }
  }

} // end @media only screen and (max-width : 768px)

@media only screen and (min-width : 769px) {

} //@media only screen and (min-width : 769px)

@media only screen and (min-width: 984px) {

	#context-footer {
		padding: 0 40px 10px;
	}

	#context-footer div div {
		display: table-cell;
		float: none;
		padding-left: 20px;
		margin-bottom: 0;
	}

	#context-footer hr {
		margin: 0 -40px 40px;
	}


} // end @media only screen and (min-width: 984px)
