@charset 'UTF-8';

.yui3-tooltip-hidden {
  display: none;
}

.yui3-tooltip-content {
  @include box-shadow(0 2px 8px hsla(0, 0%, 0%, .20));
  background: url("#{$asset-path}patterns/grey-textured-background.jpg") repeat scroll 0 0 transparent;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  color: $cool-grey;
  margin-top: -30px;
  max-width: 520px;
  position: relative;
}

.yui3-tooltip .yui3-widget-bd {
  padding: 20px;
  width: 320px;

  * {
    max-width: 100%;
  }

  h5 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 300;
  }

  img {
     float: left;
     margin-right: 10px;
  }

  q {
    border-bottom: 1px dotted $warm-grey;
    border-top: 1px dotted $warm-grey;
    display: block;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 10px 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.yui3-tooltip .yui3-widget-ft,
.yui3-tooltip .yui3-widget-ft div {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  line-height: 0;
  font-size: 0;
}

.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft,
.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft div {
  top: -10px;
  left: 50%;
  margin: 0 0 0 -10px;
  border-width: 0 10px 10px;
  border-color: $box-solid-grey transparent;
}

.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft div {
  top: 0;
  border-color: $box-solid-grey transparent;
}

.tooltip-label {
  @include box-shadow(3px 3px 6px rgba(0, 0, 0, .3));
  @include rounded-corners(4px);
  background: #fff;
  border: 1px solid #dfdcd9;
  display: none;
  font-size: 13px;
  line-height: 1;
  margin: 0;
  padding: 6px 5px;
  position: absolute;
  top: -20px;
  white-space: nowrap;
  z-index: 1000;
}
