@charset 'UTF-8';

.row.vertical-divider {
  padding-bottom: 40px;
}

.vertical-divider div,
.vertical-divider li {
  border-right: 0;
  display: block;
  padding-left: 0;
  padding-right: 0;
}

.vertical-divider-full {
  padding-bottom: 0;

  > div {
    padding-bottom: 40px;
  }
}

.row.vertical-divider-full {
  padding-bottom: 0;
}

@media only screen and (max-width : 767px) {
  .vertical-divider > div,
  .vertical-divider > li {
    border-bottom: 1px dotted $warm-grey;
    padding-bottom: 20px;
  }

  .vertical-divider div:last-of-type,
  .vertical-divider li:last-of-type,
   .inline-icons li:last-of-type {
    border-bottom: 0;
    padding-bottom: 5px;
  }

  .row.vertical-divider {
    padding-bottom: 0;
  }

  .equal-height div,
  .equal-height li {
    height: auto !important;
  }

}

@media only screen and (max-width : 768px) {
} // end @media only screen and (max-width : 768px)

@media only screen and (min-width : 769px) {
} //@media only screen and (min-width : 769px)

@media only screen and (min-width: 984px) {

	.row.vertical-divider {
	  padding-bottom: 60px;
	}

  .vertical-divider {
    > div,
    > li {
      border-right: 1px dotted $warm-grey;
      display: table-cell;
      float: none;
      margin-right: 0;
      padding-left: 20px;
      padding-right: 20px;
      vertical-align: top;
    }

    > div:last-child,
    > li:last-child,
    > div.last-col,
    > li.last-col,
    > div:last-of-type,
    > li:last-of-type {
      border-right: 0;
      padding-right: 0;
    }

    > div:first-child,
    > li:first-child,
    > div.first-col,
    > li.first-col,
    > div:first-of-type,
    > li:first-of-type {
      padding-left: 0;
    }
  }
} // end @media only screen and (min-width: 984px)
