@mixin codehilite {
  /* pygmentize codehilite */
  /* github.css style from: https://github.com/nottrobin/github-pygments-theme */
  .codehilite .hll {color:#595e62;}

  .codehilite .w {color: #333;}
  .codehilite .esc {color:#63a35c;}
  .codehilite .err {color:#333;}
  .codehilite .x {color:#333;}

  .codehilite .k {color:#a71d5d;}
  .codehilite .kc {color:#0086b3;}
  .codehilite .kd {color:#a71d5d;}
  .codehilite .kn {color:#a71d5d;}
  .codehilite .kp {color:#0086b3;}
  .codehilite .kr {color:#0086b3;}
  .codehilite .kt {color:#0086b3;}

  .codehilite .n {color:#333;}
  .codehilite .na {color:#795da3;}
  .codehilite .nb {color:#0086b3;}
  .codehilite .bp {color:#ed6a43;}
  .codehilite .nc {color:#795da3;}
  .codehilite .no {color:#0086b3;}
  .codehilite .nd {color:#333;}
  .codehilite .ni {color:#0086b3;}
  .codehilite .ne {color:#ed6a43;}
  .codehilite .nf {color:#333;}
  .codehilite .py {color:#ed6a43;}
  .codehilite .nl {color:#0086b3;}
  .codehilite .nn {color:#333;}
  .codehilite .nx {color:#795da3;}
  .codehilite .nt {color:#63a35c;}
  .codehilite .nv {color:#183691;}
  .codehilite .vc {color:#ed6a43;}
  .codehilite .vg {color:#ed6a43;}
  .codehilite .vi {color:#ed6a43;}

  .codehilite .l {color:#63a35c;}
  .codehilite .ld {color:#795da3;}

  .codehilite .s {color:#183691;}
  .codehilite .sb {color:#595e62;}
  .codehilite .sc {color:#183691;}
  .codehilite .sd {color:#183691;}
  .codehilite .s2 {color:#183691;}
  .codehilite .se {color:#183691;}
  .codehilite .sh {color:#183691;}
  .codehilite .si {color:#183691;}
  .codehilite .sx {color:#183691;}
  .codehilite .sr {color:#183691;}
  .codehilite .s1 {color:#183691;}
  .codehilite .ss {color:#a71d5d;}

  .codehilite .m {color:#0086b3;}
  .codehilite .mb {color:#0086b3;}
  .codehilite .mf {color:#0086b3;}
  .codehilite .mh {color:#0086b3;}
  .codehilite .mi {color:#0086b3;}
  .codehilite .il {color:#0086b3;}
  .codehilite .mo {color:#0086b3;}

  .codehilite .o {color:#333;}
  .codehilite .ow {color:#a71d5d;}
  .codehilite .p {color:#183691;}

  .codehilite .c {color:#969896;}
  .codehilite .cm {color:#969896;}
  .codehilite .cp {font-weight: bold; color:#1d3e81;}
  .codehilite .c1 {color:#969896;}
  .codehilite .cs {color:#969896;}

  .codehilite .g {color:#0086b3;}
  .codehilite .gd {color:#bd2c00; background-color:#ffecec;}
  .codehilite .ge {color:#b52a1d;}
  .codehilite .gr {color:#b52a1d;}
  .codehilite .gh {font-weight: bold, #1d3e81;}
  .codehilite .gi {color:#55a532;background-color:#eaffea;}
  .codehilite .go {color:#333;}
  .codehilite .gp {color:#333;}
  .codehilite .gs {color:#333;}
  .codehilite .gu {font-weight: bold, #1d3e81;}
  .codehilite .gt {color:#333}
}