@charset "UTF-8";

@import '_settings';
@import '../node_modules/vanilla-framework/scss/build';

@import 'codehilite';
@include codehilite;

/* Vanilla overrides */
p {
  max-width: $p-max-width;

  > iframe {
    margin-top: $spv-inter--regular;
  }
}

th:not(:first-child),
td:not(:first-child) {
  padding-left: $sph-intra--condensed;
  padding-right: $sph-intra--condensed;
}

hr {
  margin-bottom: $spv-inter--scaleable;
}
/* --- */

/* Sidebar navigation */
.p-sidebar-nav {

  &__list {
    @extend .p-list;
    margin-bottom: $spv-intra;
    margin-top: -$spv-intra--condensed;
  }

  &__item {
    padding-bottom: $spv-intra--condensed / 2;
    padding-top: $spv-intra--condensed / 2;
  
    &:first-of-type {
      padding-top: $spv-intra;
    }
  
    &:last-of-type {
      padding-bottom: $spv-intra + $spv-intra--condensed;
    }
  
    .is-active {
      position: relative;

      &::before {
        background-color: $color-mid-light;
        bottom: -$spv-intra--condensed;
        content: '';
        left: -$sph-intra;
        position: absolute;
        top: -$spv-intra--condensed;
        width: $bar-thickness;
      }
    }
  }

  &__item > &__list {
    padding-left: $sph-intra;
  }
}
/* --- */

/* Flex layout */
.docs-container {
  display: flex;
  flex-wrap: wrap;
}

.p-navigation {
  flex-basis: 100%;
}

.p-sidebar {
  border-right: $border;
  flex: 0 0 $sidebar-width;

  @supports (position: sticky) {
    height: 100vh;
    overflow-y: scroll;
    position: sticky;
    top: 0;
  }

  &__banner {
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    padding: $sp-large;
  }

  &__toggle {
    background-size: $sp-medium;
    cursor: pointer;
    padding: $sp-x-large;
  }
}

.p-content {
  margin-top: 0;
  flex: 5;

  &__row {
    @extend .row;
    margin-left: inherit;
    padding: $content-padding;
  }
}

.p-aside {
  flex: 1;
  width: $toc-width;

  @supports (position: sticky) {
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .p-toc__item {
    @extend .p-list__item;
  }
}

.p-footer {
  flex-basis: 100%;
}

@media only screen and (max-width: $breakpoint-medium) {
  .docs-container {
    display: block;
  }

  .p-sidebar {
    border-bottom: $border;
    border-right: 0;
    flex: auto;
    height: inherit;
    position: static;
    overflow: hidden;

    &__content {
      padding: 0 $sp-large $sp-large $sp-large;
    }
  }

  .p-content {
    flex: auto;

    &__row {
      padding-left: $sph-inter--expanded;
    }
  }

  .p-aside {
    display: none;
  }
}
/* --- */

/* Vanilla Docs specific styling */
.p-heading--stylized {
  font-weight: 100;
}

hr.is-deep {
  margin-bottom: $spv-inter--shallow-scaleable;
  margin-top: $spv-inter--scaleable;
}

%list__icon {
  @extend %vf-hide-text;
  @include vf-icon-size($sp-large);
  display: inline-block;
  margin: $spv-intra--condensed $sph-intra $spv-intra--condensed 0;
  position: relative;
  top: -2px;
  vertical-align: middle;
}

.p-list__icon--github {
  @extend %list__icon;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='24' width='24'%3E%3Cdefs%3E%3Cpath id='a' d='M0 23.831h23.695V0H0z'/%3E%3C/defs%3E%3Cg fill-rule='evenodd' fill='none'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath fill='%23181616' mask='url%28%23b%29' d='M11.847 0C5.304 0 0 5.47 0 12.218c0 5.397 3.394 9.976 8.102 11.592.593.112.81-.265.81-.589 0-.29-.011-1.059-.017-2.078-3.295.738-3.99-1.638-3.99-1.638-.54-1.411-1.316-1.787-1.316-1.787-1.076-.758.081-.742.081-.742 1.19.086 1.815 1.259 1.815 1.259 1.057 1.867 2.773 1.327 3.448 1.015.108-.79.413-1.328.752-1.633-2.63-.309-5.397-1.357-5.397-6.039 0-1.333.462-2.423 1.22-3.278-.122-.309-.529-1.55.116-3.233 0 0 .995-.328 3.258 1.253a10.997 10.997 0 0 1 2.966-.411c1.006.004 2.02.139 2.966.41 2.262-1.58 3.255-1.252 3.255-1.252.647 1.682.24 2.924.118 3.233.759.855 1.218 1.945 1.218 3.278 0 4.694-2.77 5.727-5.41 6.029.426.377.805 1.123.805 2.263 0 1.632-.015 2.95-.015 3.351 0 .327.213.707.815.588 4.704-1.619 8.096-6.195 8.096-11.591C23.696 5.47 18.39 0 11.847 0'/%3E%3C/g%3E%3C/svg%3E");
}

.p-list__icon--twitter {
  @extend %list__icon;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12zm-9.813-5.596c-1.062.322-2.084 1.754-1.764 3.376-3.524-.213-5.08-2.1-6.017-3.003-.954 1.683.025 3.318.88 3.847-.452.025-.997-.17-1.268-.339-.103 1.552 1.163 2.628 2.24 2.907-.344.102-.668.117-1.223.034.472 1.561 1.74 1.979 2.686 2.047-1.217 1.055-2.678 1.285-4.267 1.208 4.12 2.518 8.28.969 10.305-1.008 1.7-1.659 2.461-4.144 2.487-6.368.389-.315 1.176-.985 1.39-1.51-.311.12-.925.404-1.565.43.528-.346 1.132-1.038 1.196-1.58-.585.318-1.261.594-1.84.681-1.091-1.052-2.154-1.052-3.24-.722z' fill='%231DA1F2' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.p-list__icon--slack {
  @extend %list__icon;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cg fill-rule='evenodd' fill='none'%3E%3Ccircle cy='12' cx='12' r='12' fill='%23E01A59'/%3E%3Cg fill-rule='nonzero' fill='%23fff'%3E%3Cpath d='M14.42 4.738a1.49 1.49 0 0 0-1.862-.952 1.49 1.49 0 0 0-.952 1.863l3.821 11.75a1.476 1.476 0 0 0 1.795.911c.79-.23 1.265-1.06 1.006-1.823 0-.027-3.808-11.749-3.808-11.749zM8.505 6.655a1.49 1.49 0 0 0-1.863-.952 1.49 1.49 0 0 0-.952 1.864l3.821 11.75a1.474 1.474 0 0 0 1.795.91c.79-.23 1.265-1.06 1.007-1.821 0-.027-3.808-11.75-3.808-11.75z'/%3E%3Cpath d='M19.235 14.461a1.49 1.49 0 0 0 .951-1.863 1.49 1.49 0 0 0-1.863-.952L6.56 15.482a1.474 1.474 0 0 0-.91 1.795c.23.79 1.06 1.265 1.821 1.007.028 0 11.764-3.822 11.764-3.822z'/%3E%3Cpath d='M9.008 17.793c.762-.245 1.755-.57 2.815-.91-.245-.763-.57-1.755-.91-2.816l-2.816.911.911 2.815zM14.937 15.862c1.061-.34 2.054-.667 2.815-.91-.245-.763-.57-1.755-.91-2.816l-2.816.911.911 2.815zM17.303 8.546a1.49 1.49 0 0 0 .952-1.863 1.49 1.49 0 0 0-1.863-.952L4.642 9.552a1.475 1.475 0 0 0-.91 1.795c.23.789 1.06 1.265 1.822 1.007.027 0 11.75-3.808 11.75-3.808z'/%3E%3Cpath d='M7.09 11.864c.762-.245 1.755-.571 2.816-.911-.34-1.06-.667-2.054-.911-2.815l-2.815.911.91 2.815zM13.006 9.947c1.061-.34 2.054-.667 2.815-.912-.34-1.06-.666-2.053-.91-2.815l-2.816.911.911 2.816z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.p-list__item--deep {
  padding: $spv-intra 0;
}
/* --- */
