{%if page_tabs %}
<nav class="p-tabs" aria-label="{{slug}} documentation menu">
  <ul class="p-tabs__list">
    <li class="p-tabs__item">
      <a href="/docs/{{ slug }}" class="p-tabs__link" {% if "/docs/" in path and "/accessibility" not in path
        and "/design-guidelines" not in path %}aria-selected="true" {% endif %}>Implementation</a>
    </li>
    {% if page_tabs.accessibility %}
    <li class="p-tabs__item">
      <a href="/docs/{{ slug }}/accessibility" class="p-tabs__link" {% if "/accessibility" in path
        %}aria-selected="true" {% endif %}>Accessibility</a>
    </li>
    {% endif %}
    {% if page_tabs.design_guidelines %}
    <li class="p-tabs__item">
      <a href="/docs/{{ slug }}/design-guidelines" class="p-tabs__link" {% if "/design-guidelines" in path %}aria-selected="true" {% endif%}>Design guidelines</a>
    </li>
    {% endif %}
  </ul>
</nav>
{%endif%}