{% extends "_layouts/docs.html" %}

{% block title %}{{ document.title }} | Design guidelines{% endblock %}

{% block content %}

<div class="p-strip u-no-padding--top">
  <h1>{{ document.title }}</h1>
</div>

{% include "_layouts/_component_tabs.html" %}

{{ document.body_html | safe }}
<hr />
<p><em>Last updated {{ document.updated }}.</em></p>
<div class="p-notification--information">
  <div class="p-notification__content">
    <p class="p-notification__message">
      <a href="{{ forum_url }}{{ document.topic_path }}">Help improve this document in the forum</a>.
    </p>
  </p>
</div>
{% endblock content %}

