{% extends "_layouts/_root.html" %}

{% block custom_head %}
  <link rel="stylesheet" href="{{ versioned_static('build/css/docs/site.css') }}" />
{% endblock %}

{% block body %}


    {% block banner %}{% endblock %}

    <aside class="l-full-width__sidebar">

      <nav class="p-side-navigation is-sticky is-drawer-hidden" id="side-navigation-drawer" aria-label="Side">

        <div class="u-hide--large p-strip--light is-shallow">
          <div class="u-fixed-width">
            <a href="#side-navigation-drawer" class="p-button has-icon u-no-margin js-drawer-toggle" aria-expanded="false"><i class="p-icon--menu"></i><span>Contents</span></a>
          </div>
        </div>

        <div class="p-side-navigation__overlay js-drawer-toggle" aria-controls="side-navigation-drawer" aria-expanded="false"></div>

          <div class="p-side-navigation__drawer">
            <div class="p-strip is-shallow">
              <div class="p-side-navigation__drawer-header">
                <a href="#" class="p-side-navigation__toggle--in-drawer js-drawer-toggle" aria-controls="side-navigation-drawer">
                  Toggle side navigation
                </a>
              </div>

              {% macro side_nav_item(url, title) -%}
                  <li class="p-side-navigation__item">
                    <a class="p-side-navigation__link" href="{{ url }}" {% if (slug and slug in url) or (url == path) %}aria-current="page"{% endif %}>
                      {{ title | safe | replace("%version", version) }}
                      {% if url in updatedFeatures %}
                        <span class="p-side-navigation__status">
                          {% if updatedFeatures[url]=="New" %}
                          <span class="p-status-label--positive">
                          {% elif updatedFeatures[url]=="Updated" %}
                          <span class="p-status-label--information">
                          {% elif updatedFeatures[url]=="Removed" %}
                          <span class="p-status-label--negative">
                          {% elif updatedFeatures[url]=="Deprecated" %}
                          <span class="p-status-label--negative">
                          {% elif updatedFeatures[url]=="In Progress" %}
                          <span class="p-status-label--caution">    
                          {% endif %}
                          {{ updatedFeatures[url] }}
                          </span>
                        {% endif %}
                    </a>
                  </li>
              {%- endmacro %}
              
              {% for item in sideNavigation %}
              <ul class="p-side-navigation__list">
                <li class="p-side-navigation__item--title"><span class="p-side-navigation__text">{{ item.heading | safe | replace("%version", version) }}</span></li>
                {% for subheading in item.subheadings %}
                {{ side_nav_item(subheading.url, subheading.title) }}
                {% endfor %}
              </ul>
              {% endfor %}

            </div>
          </div>
      </div>
    </aside>
    
    <div class="p-strip is-shallow l-full-width">
      <div class="l-main">
        <div class="row">
          <main class="col-12" id="main-content">
            {% block content %}
              {% if page_tabs %}
              <div class="p-strip u-no-padding--top">
                <h1>{{ title.split('|')[0] }}</h1>
              </div>
              {% endif %}

              {% include "_layouts/_component_tabs.html" %}

              {{ content | safe }}
            {% endblock content %}
          </main>
        </div>
      </div>
    </div>

    <script>
      window.Prism = window.Prism || {};
      Prism.manual = true;
    </script>
    <script defer src="{{ versioned_static('js/prism.min.js') }}"></script>
    <script defer src="{{ versioned_static('js/example.js') }}"></script>
{% endblock %}
