{% extends "_layouts/_root.html" %}

{% block custom_head %}
  <link rel="stylesheet" href="{{ versioned_static('build/css/docs/site.css') }}" />
{% endblock %}

{% block body %}


    {% block banner %}{% endblock %}

    <div class="p-strip">
    <div class="row">
      <aside class="col-3">
        <nav class="p-side-navigation" id="side-navigation-drawer">
          <a href="#side-navigation-drawer" class="p-side-navigation__toggle js-drawer-toggle" aria-controls="side-navigation-drawer">
            Toggle side navigation
          </a>

          <div class="p-side-navigation__overlay js-drawer-toggle" aria-controls="side-navigation-drawer"></div>

          <div class="p-side-navigation__drawer">
            <div class="p-side-navigation__drawer-header">
              <a href="#" class="p-side-navigation__toggle--in-drawer js-drawer-toggle" aria-controls="side-navigation-drawer">
                Toggle side navigation
              </a>
            </div>

            {% macro side_nav_item(url, title, label) -%}
                <li class="p-side-navigation__item">
                  <a class="p-side-navigation__link" href="{{ url }}" {% if path == url %}aria-current="page"{% endif %}>
                    {{ title }}
                    {% if label %}
                      <span class="p-side-navigation__status"><span class="p-label--{{ label|lower }}">{{ label|capitalize }}</span></span>
                    {% endif %}
                  </a>
                </li>
            {%- endmacro %}

            <ul class="p-side-navigation__list">
              <li class="p-side-navigation__item--title"><span class="p-side-navigation__text">Welcome</span></li>
              {{ side_nav_item("/docs", "Get started") }}
              {{ side_nav_item("/docs/building-vanilla", "Building with Vanilla") }}
              {{ side_nav_item("/docs/customising-vanilla", "Customising Vanilla") }}
              {{ side_nav_item("https://github.com/canonical-web-and-design/vanilla-framework/releases/latest", "What’s new in " ~ version) }}
            </ul>

            <ul class="p-side-navigation__list">
              <li class="p-side-navigation__item--title"><span class="p-side-navigation__text">Base elements</span></li>
              {{ side_nav_item("/docs/base/code", "Code") }}
              {{ side_nav_item("/docs/base/forms", "Forms") }}
              {{ side_nav_item("/docs/base/reset", "Reset") }}
              {{ side_nav_item("/docs/base/separators", "Separators") }}
              {{ side_nav_item("/docs/base/tables", "Tables") }}
              {{ side_nav_item("/docs/base/typography", "Typography") }}
            </ul>

            <ul class="p-side-navigation__list">
              <li class="p-side-navigation__item--title"><span class="p-side-navigation__text">Components</span></li>
              {{ side_nav_item("/docs/patterns/accordion", "Accordion") }}
              {{ side_nav_item("/docs/patterns/breadcrumbs", "Breadcrumbs") }}
              {{ side_nav_item("/docs/patterns/buttons", "Buttons") }}
              {{ side_nav_item("/docs/patterns/card", "Cards") }}
              {{ side_nav_item("/docs/patterns/chip", "Chips") }}
              {{ side_nav_item("/docs/patterns/contextual-menu", "Contextual menu") }}
              {{ side_nav_item("/docs/patterns/grid", "Grid") }}
              {{ side_nav_item("/docs/patterns/heading-icon", "Heading icon") }}
              {{ side_nav_item("/docs/patterns/icons", "Icons") }}
              {{ side_nav_item("/docs/patterns/images", "Images") }}
              {{ side_nav_item("/docs/patterns/inline-images", "Inline images") }}
              {{ side_nav_item("/docs/patterns/labels", "Labels") }}
              {{ side_nav_item("/docs/patterns/links", "Links", "new") }}
              {{ side_nav_item("/docs/patterns/list-tree", "List tree") }}
              {{ side_nav_item("/docs/patterns/lists", "Lists") }}
              {{ side_nav_item("/docs/patterns/logo-section", "Logo section") }}
              {{ side_nav_item("/docs/patterns/matrix", "Matrix") }}
              {{ side_nav_item("/docs/patterns/media-object", "Media object") }}
              {{ side_nav_item("/docs/patterns/modal", "Modal") }}
              {{ side_nav_item("/docs/patterns/muted-heading", "Muted heading") }}
              {{ side_nav_item("/docs/patterns/navigation", "Navigation") }}
              {{ side_nav_item("/docs/patterns/notification", "Notifications", "new") }}
              {{ side_nav_item("/docs/patterns/pagination", "Pagination") }}
              {{ side_nav_item("/docs/patterns/pull-quote", "Quotes") }}
              {{ side_nav_item("/docs/patterns/search-and-filter", "Search and filter") }}
              {{ side_nav_item("/docs/patterns/search-box", "Search box") }}
              {{ side_nav_item("/docs/patterns/slider", "Slider") }}
              {{ side_nav_item("/docs/patterns/strip", "Strip") }}
              {{ side_nav_item("/docs/patterns/switch", "Switch") }}
              {{ side_nav_item("/docs/patterns/table-of-contents", "Table of contents") }}
              {{ side_nav_item("/docs/patterns/tabs", "Tabs") }}
              {{ side_nav_item("/docs/patterns/tooltips", "Tooltips") }}
            </ul>

            <ul class="p-side-navigation__list">
              <li class="p-side-navigation__item--title"><span class="p-side-navigation__text">Utilities</span></li>
              {{ side_nav_item("/docs/utilities/align", "Align") }}
              {{ side_nav_item("/docs/utilities/baseline-grid", "Baseline grid") }}
              {{ side_nav_item("/docs/utilities/clearfix", "Clearfix") }}
              {{ side_nav_item("/docs/utilities/embedded-media", "Embedded media") }}
              {{ side_nav_item("/docs/utilities/equal-height", "Equal height") }}
              {{ side_nav_item("/docs/utilities/floats", "Floats") }}
              {{ side_nav_item("/docs/utilities/font-metrics", "Font metrics") }}
              {{ side_nav_item("/docs/utilities/functions", "Functions") }}
              {{ side_nav_item("/docs/utilities/hide", "Hide") }}
              {{ side_nav_item("/docs/utilities/image-position", "Image position") }}
              {{ side_nav_item("/docs/utilities/margin-collapse", "Margin collapse") }}
              {{ side_nav_item("/docs/utilities/no-print", "No print") }}
              {{ side_nav_item("/docs/utilities/off-screen", "Off-screen") }}
              {{ side_nav_item("/docs/utilities/padding-collapse", "Padding collapse") }}
              {{ side_nav_item("/docs/utilities/table-cell-padding-overlap", "Table cell padding overlap") }}
              {{ side_nav_item("/docs/utilities/truncate", "Truncation") }}
              {{ side_nav_item("/docs/utilities/show", "Show") }}
              {{ side_nav_item("/docs/utilities/vertically-center", "Vertically center") }}
            </ul>

            <ul class="p-side-navigation__list">
              <li class="p-side-navigation__item--title"><span class="p-side-navigation__text">Layouts</span></li>
              {{ side_nav_item("/docs/layouts/application", "Application") }}
              {{ side_nav_item("/docs/layouts/documentation", "Documentation") }}
              {{ side_nav_item("/docs/layouts/fluid-breakout", "Fluid breakout") }}
              {{ side_nav_item("/docs/layouts/sticky-footer", "Sticky footer") }}
            </ul>

            <ul class="p-side-navigation__list">
              <li class="p-side-navigation__item--title"><span class="p-side-navigation__text">Settings</span></li>
              {{ side_nav_item("/docs/settings/animation-settings", "Animations") }}
              {{ side_nav_item("/docs/settings/assets-settings", "Assets") }}
              {{ side_nav_item("/docs/settings/breakpoint-settings", "Breakpoints") }}
              {{ side_nav_item("/docs/settings/color-settings", "Color") }}
              {{ side_nav_item("/docs/settings/font-settings", "Font") }}
              {{ side_nav_item("/docs/settings/layout-settings", "Layout") }}
              {{ side_nav_item("/docs/settings/placeholder-settings", "Placeholders") }}
              {{ side_nav_item("/docs/settings/spacing-settings", "Spacing") }}
              {{ side_nav_item("/docs/settings/table-layout", "Table layout") }}
            </ul>

            <ul class="p-side-navigation__list">
              <li class="p-side-navigation__item--title"><span class="p-side-navigation__text">Resources</span></li>
              {{ side_nav_item("/docs/examples", "Component examples") }}
              {{ side_nav_item("/docs/component-status", "Component status") }}
              {{ side_nav_item("https://assets.ubuntu.com/latest-redirects/vanilla-framework.sketch", "Download Sketch UI Kit") }}
            </ul>

          </div>
        </nav>

      </aside>

      <main class="col-9" id="main-content">
        {% block content %}{{ content | safe }}{% endblock content %}
      </main>

    </div>
    </div>

    <script src="{{ versioned_static('js/scripts.js') }}"></script>
    <script>
      window.Prism = window.Prism || {};
      Prism.manual = true;
    </script>
    <script defer src="{{ versioned_static('js/prism.min.js') }}"></script>
    <script defer src="{{ versioned_static('js/example.js') }}"></script>
{% endblock %}
