@mixin vfio-p-syntax-highlight {
  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-comment {
    color: #595e62;
  }

  .hljs-string {
    color: #183691;
  }

  .hljs-number {
    color: #e95420;
  }

  .hljs-name {
    color: #63a35c;
  }

  .hljs-selector-tag {
    color: #63a35c;
  }

  .hljs-link {
    color: #183691;
  }

  .hljs-keyword {
    color: #a71d5d;
  }

  .hljs-attribute {
    color: #a71d5d;
  }

  .hljs-attr {
    color: #795da3;
  }

  // stylelint-disable selector-class-pattern
  .hljs-built_in {
    color: #77216f;
  }
  // stylelint-enable selector-class-pattern

  .hljs-title {
    color: #795da3;
  }

  .hljs-section {
    color: #183691;
    font-weight: bold;
  }

  .hljs-meta {
    color: #183691;
    font-weight: bold;
  }
}
