@mixin vfio-p-icons {
  .p-icon--chrome {
    @extend %icon;

    background-image: url('#{$assets-path}09a6a50e-vf.io-chrome.png');
    margin-right: $sph-inner;
  }

  .p-icon--firefox {
    @extend %icon;

    background-image: url('#{$assets-path}a45d30aa-vf.io-firefox.svg');
    margin-right: $sph-inner;
  }

  .p-icon--safari {
    @extend %icon;

    background-image: url('#{$assets-path}a030d872-vf.io-safari.svg');
    margin-right: $sph-inner;
  }

  .p-icon--ie {
    @extend %icon;

    background-image: url('#{$assets-path}165a2220-vf.io-ie.svg');
    margin-right: $sph-inner;
  }

  .p-icon--edge {
    @extend %icon;

    background-image: url('#{$assets-path}de0673bb-vf.io-edge.svg');
    margin-right: $sph-inner;
  }

  .p-icon--opera {
    @extend %icon;

    background-image: url('#{$assets-path}74738acc-vf.io-opera.svg');
    margin-right: $sph-inner;
  }
}
