@charset 'utf-8';

// settings
$breakpoint-navigation-threshold: 900px;

// colors for Vanilla-branded suru strips
$color-brand: #d94b14;

$color-suru-start: $color-brand;
$color-suru-middle: $color-brand;
$color-suru-end: $color-brand;

$color-suru-slant-right: rgba(229, 229, 229, 0.5);
$color-suru-slant-left: rgba(233, 84, 32, 0.2);
$color-suru-slant-left-fallback: $color-suru-slant-left;

// import vanilla
@import '../build';

// import cookie policy
@import '@canonical/cookie-policy/build/css/cookie-policy';
