@charset 'utf-8';

// settings
$breakpoint-navigation-threshold: 900px;

// import vanilla
@import '../build';

@import 'patterns_syntax-highlight';
@include vfio-p-syntax-highlight;

@import 'patterns_icons';
@include vfio-p-icons;

$color-hero: #e95420;

// Local website styles
.vfio-hero {
  background-color: $color-hero;
  background-image: url('#{$assets-path}775cc62b-vanilla-grad-background.png');
  background-position: 75% 50%;
}

// custom styling for embedded examples with code snippet
.embedded-example {
  .p-code-snippet {
    border: 1px solid $color-mid-x-light;
  }

  iframe {
    margin: 0;
  }
}

// import cookie policy
@import 'node_modules/@canonical/cookie-policy/build/css/cookie-policy';
