{% macro application_layout() -%}
  <div class="l-application" role="presentation">
    <div class="l-navigation-bar">
      <div class="p-panel is-dark">
        <div class="p-panel__header">
          {{ caller('bar_header') }}
        </div>
      </div>
    </div>

    <header class="l-navigation is-collapsed">
      <div class="l-navigation__drawer">
        <div class="p-panel is-dark">
          <div class="p-panel__header is-sticky">
            {{ caller('drawer_header') }}
          </div>

          <div class="p-panel__content">
            {{ caller('drawer_content') }}
          </div>
        </div>
      </div>
    </header>

    <main class="l-main">
      <div class="p-panel">
        <div class="p-panel__header">
          {{ caller('main_header') }}
        </div>

        <div class="p-panel__content">
          {{ caller('main_content') }}
        </div>
      </div>
    </main>

    <aside class="l-aside" id="aside-panel">
      <div class="p-panel">
        <div class="p-panel__header">
          {{ caller('aside_header') }}
        </div>
        <div class="p-panel__content">
          {{ caller('aside_content') }}
        </div>
      </div>
    </aside>

    <aside class="l-status">
      <div class="p-panel demo-status">
        {{ caller('status_content') }}
      </div>
    </aside>
  </div>
{%- endmacro %}
