# Params# title_text: Hero title text (required)
# subtitle_text: Hero subtitle text
# is_full_width_on_tablet: whether image is in its own row on tablet.
#   If false, image will be in its own row (stacked below header/description)
# cta_primary_text: primary CTA button text, shown in a primary-colored button. Leave blank to hide CTA block.
# cta_primary_url: primary CTA button URL
# cta_secondary_text: secondary CTA button text, shown as a link
# cta_secondary_url: secondary CTA button URL
# Slots
# description: slot for additional paragraph-style content below the title and subtitle
# image: slot for image content

{% macro hero(
  title_text="",
  subtitle_text="",
  is_full_width_on_tablet = true,
  image_full_cover = false,
  cta_primary_text = "",
  cta_primary_url = "#",
  cta_secondary_text = "",
  cta_secondary_url = "#"
)-%}
  {% set has_subtitle = subtitle_text|trim|length > 0 %}
  {% set description_content = caller('description') %}
  {% set has_description = description_content|trim|length > 0 %}
  {% set has_specific_image_aspect_ratio = image_aspect_ratio|trim|length > 0 %}
  {% set has_cta = cta_primary_text|trim|length > 0 %}
  {% set has_cta_secondary = has_cta and cta_secondary_text|trim|length > 0 %}
  {% set image_content = caller('image') %}

  {% macro _hero_title_block() -%}
    <h1 class="{% if image_full_cover %}u-no-margin--bottom{% endif %}">
      {{ title_text }}
    </h1>
  {% endmacro %}

  {% macro _hero_subtitle_block() -%}
    {% if has_subtitle %}
      <h2>
        {{ subtitle_text }}
      </h2>
    {% endif %}
  {% endmacro %}

  {% macro _hero_cta_block() -%}
    {% if has_cta %}
      <div class="p-cta-block">
        <a href="{{ cta_primary_url }}" class="p-button--positive">{{ cta_primary_text }}</a>
        {% if has_cta_secondary -%}
          <a href="{{ cta_secondary_url }}">{{ cta_secondary_text }}</a>
        {%- endif %}
      </div>
    {% endif %}
  {% endmacro %}

  {% macro _hero_description_block() -%}
    {% if has_description %}
      <div class="p-section--shallow">
        {{ description_content }}
      </div>
    {% endif %}
  {% endmacro %}

  <section class="p-section--hero">
    <div class="{% if is_full_width_on_tablet %}row--50-50-on-large{% else %}row--50-50{% endif %}">
      <div class="col">
        {% if image_full_cover %}
          {{ _hero_title_block() }}
        {% else %}
          <div class="p-section--shallow">
            {{ _hero_title_block() }}
            {{ _hero_subtitle_block() }}
          </div>
          {{ _hero_description_block() }}
          {{ _hero_cta_block() }}
        {% endif %}
      </div>
      <div class="col">
        {% if image_full_cover %}
          {{ _hero_subtitle_block() }}
          {{ _hero_description_block() }}
          {{ _hero_cta_block() }}
        {% else %}
          {{ image_content }}
        {% endif %}
      </div>
      {% if image_full_cover %}
        {{ image_content }}
      {% endif %}
    </div>
  </section>
{% endmacro %}
