# Params
# variant: component permutations on mobile, tablet, and desktop
#   1: full width, full width, 25-25-75
#   2: full width, 50-50, 25-25-75
#   3: full width, 50-50, 50-50
#   4: full width, full width, 50-50
# title: split list title text
# list_items: array of content objects for list
#   [{ 'title': string, 'description': string }]
{% macro split_list(variant=1, title='', is_subtitle_in_header=false, subtitle='', list_items=[{}]) -%}
{% set has_subtitle = subtitle != '' %}

{{ has_subtitle}}

<div class="u-fixed-width">
  <hr class="u-hide--small">

  <div class="row">
    {% if (has_subtitle and is_subtitle_in_header) or (variant == 1 or variant == 2) %}
      <div class="col-12">
    {% else %}
      <div class="col-6">
    {% endif %}
      {% if (has_subtitle and is_subtitle_in_header) %}
        <div class="row">
          <div class="col-6">
            <h2>
              {{ title }}
            </h2>
          </div>

          <div class="col-6">
            <p>
              {{ subtitle }}
            </p>
          </div>
        </div>
      {% else %}
        <div class="p-section--shallow">
          <h2>
            {{ title }}
          </h2>
        </div>
      {% endif %}
    </div>

    {% if variant == 1 or variant == 2 %}
      <div class="col-9 col-start-large-4">
    {% else %}
      <div class="col-6">
    {% endif %}
      {% if has_subtitle and (variant == 1 or variant == 2) %}
        <div class="row">
          <div class="col-6 col-start-large-4">
            <p>
              {{ subtitle }}
            </p>
          </div>
        </div>
      {% endif %}

      {% for list_item in list_items %}
        <div class="row">
          <div class="col-12">
            {% if variant == 1 or variant == 2 or loop.index != 1 %}
              <hr>
            {% else %}
              <hr class="u-hide--large">
            {% endif %}
          </div>
        </div>

        <div class="row">
          {% if variant == 1 or variant == 4 %}
            <div class="col-3">
          {% else %}
            <div class="col-medium-3 col-3">
          {% endif %}
            <h5>
              {{ list_item.title }}
            </h5>
          </div>

          {% if variant == 1 %}
            <div class="col-6">
          {% elif variant == 2 %}
            <div class="col-medium-3 col-6">
          {% elif variant == 3 %}
            <div class="col-medium-3 col-3">
          {% else %}
            <div class="col-3">
          {% endif %}
            <p>
              {{ list_item.description }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{%- endmacro %}
