# Params
# title: split list title text
# subtitle: split list subtitle text
# is_subtitle_full_width_on_desktop: whether subtitle has its own row on desktop
#   (vs. 50/50 split)
# is_list_full_width_on_tablet: whether list title/description each have their
#   own row on tablet (vs. 50/50 split)
# list_items: array of content objects for list
#   [{ 'title': string, 'description': string }]
{% macro split_list_new(
  title='',
  subtitle='',
  is_subtitle_full_width_on_desktop=true,
  is_list_full_width_on_tablet=true,
  list_items=[{}]) -%}
{% set has_subtitle = subtitle != '' %}

<div class="u-fixed-width">
  <hr class="u-hide--small">
    {% if has_subtitle == true %}
      {% if is_subtitle_full_width_on_desktop == true %}
        <div class="row">
          <div class="col-12">
            {{ title }}
          </div>
        </div>

        <div class="row">
          <div class="col-6 col-start-large-7">
            {{ subtitle }}
          </div>
        </div>
      {% else %}
        <div class="row">
          <div class="col-6">
            {{ title }}
          </div>

          <div class="col-6">
            {{ subtitle }}
          </div>
        </div>
      {% endif %}
    {% else %}
      <div class="row">
        <div class="col-12">
          {{ title }}
        </div>
      </div>
    {% endif %}

    {% if is_list_full_width_on_tablet == true %}
      {% for list_item in list_items %}
        <div class="row">
          <div class="col-9 col-start-large-4">
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-3 col-start-large-4">
            {{ list_item.title }}
          </div>

          <div class="col-6">
            {{ list_item.description }}
          </div>
        </div>
      {% endfor %}
    {% else %}
      {% for list_item in list_items %}
        <div class="row">
          <div class="col-9 col-start-large-4">
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-medium-3 col-3 col-start-large-4">
            {{ list_item.title }}
          </div>

          <div class="col-medium-3 col-6">
            {{ list_item.description }}
          </div>
        </div>
      {% endfor %}
    {% endif %}
</div>
{%- endmacro %}
