{% macro tabs(buttons=[], aria_label='') -%}
  <div class="p-tabs">
    <div class="p-tabs__list" role="tablist" aria-label="{{ aria_label }}">
      {% for button in buttons %}
        <div class="p-tabs__item">
          <button
            class="p-tabs__link"
            role="tab"
            aria-selected="{% if loop.first %}true{% else %}false{% endif %}"
            aria-controls="tab-content-{{ loop.index }}"
            id="tab-button-{{ loop.index }}"
            {% if not loop.first %}tabindex="-1"{% endif %}
          >
            {{ button }}
          </button>
        </div>
      {% endfor %}
    </div>

    {% for button in buttons %}
      <div tabindex="0"
        role="tabpanel"
        id="tab-content-{{ loop.index }}"
        aria-labelledby="tab-button-{{ loop.index }}"
        {% if not loop.first %}hidden="hidden"{% endif %}
      >
        {{ caller('tab_' + loop.index|string) }}
      </div>
    {% endfor %}
  </div>
{%- endmacro %}
