{#
  All Params
  columns: Grid column span for the card. Options are 2, 4, 6. Default is 2.
  heading: H4 title text. Truncated at 3 lines. Required.
  link: Link to referenced item. Makes the entire card clickable. Required.
  image: Dictionary containing 'url' and 'alt' for the 16:9 image. Required for col-6.
  author_and_date: Dictionary containing 'author' and 'date'. Hidden if no image is provided.
  description: Paragraph text that is hidden by default and revealed via interaction.
  footer: Dictionary containing 'resource_type' (icon and text) and 'content_type' (read-only chip).

  Variants:
  col-2: 2-column width card layout (Vertical)
    Params: columns (2), heading (req), link (req), image (opt), author_and_date (opt, hidden if no image), footer (opt)
  
  col-4: 4-column width card layout (Horizontal)
    Params: columns (4), heading (req), link (req), image (opt), description (opt), footer (opt)
  
  col-6: 6-column width card layout (Horizontal)
    Params: columns (6), heading (req), link (req), image (req), author_and_date (opt), footer (opt)
#}

{%- macro vf_card(columns="2", link=None, heading=None, image=None, author_and_date=None, description=None, footer=None) -%}

{%- set layout = 'p-content-card--' ~ columns ~ '-cols' -%}
{%- set img_class = 'p-content-card__has-image' if image else '' -%}
{%- set has_desc = 'p-content-card__has-desc' if description else '' -%}

<div class="p-content-card {{ layout }} {{ img_class }}" tabindex="0" aria-describedby="default-tooltip">
    {%- if image -%}
    <div class="p-content-card__image-wrapper {{ layout }}">
        <img class="p-content-card__image {{ layout }}" src="{{ image.url }}" alt="{{ image.alt }}" />
    </div>
    {%- endif -%}

    <div class="p-content-card__content">
        <div class="p-content-card__body {{ layout }}">
            <h4 class="p-content-card__heading {{ layout }}">
                {%- if link -%}
                    <a href="{{ link }}" target="_blank" class="p-content-card__main-link">{{ heading }}</a>
                {%- else -%}
                    {{ heading }}
                {%- endif -%}
            </h4>
            
            {%- if image and author_and_date -%}
            <div class="p-content-card__author-and-date u-sv-3 {{ layout }}">
                <small>
                    {%- if author_and_date.link -%}
                        <a href="{{ author_and_date.link }}" class="p-content-card__author-link">{{ author_and_date.author }}</a>
                    {%- else -%}
                        <span class="p-content-card__author-link">{{ author_and_date.author }}</span>
                    {%- endif -%} &nbsp; &middot;
                    <span class="u-text--muted">{{ author_and_date.date }}</span> 
                </small>
            </div>
            {%- endif -%}
        </div>
        <div>
            {%- if footer -%}
            <hr class="p-rule--muted">
            <div class="p-content-card__footer-outer {{ layout }}">
                <div class="p-content-card__footer-inner">
                    {%- if footer.resource_type -%}
                        <span class="u-has-icon">
                            <i class="p-content-card__icon p-icon--{{ footer.resource_type.icon }}"></i>
                            <small>{{ footer.resource_type.text }}</small>
                        </span>
                    {%- endif -%}

                    {%- if footer.content_type %}
                        <span class="p-chip--information is-readonly">{{ footer.content_type}}</span>
                    {%- endif -%}
                </div>
            </div>
            {%- endif -%}
        </div>
    </div>
</div>
{%- endmacro -%}