{# 
  Parameters:
    - title (string) (optional): The text to be displayed as the title. Defauts to None and doesn't render.
    - navigation_items (list<object>) (optional): A list of navigation items to be included in the in-page navigation. Each item is an object with the following properties:
      - id (string) (required): The ID of the section to link to.
      - text (string) (required): The text to be displayed for the navigation item.
      - level (string) (required): The heading level of the section. Accepts 'primary' or 'secondary'.
#}

{%- macro vf_in_page_navigation(title=None, navigation_items=[]) -%}
  <div class="p-in-page-navigation" aria-label="">
    <button class="p-in-page-navigation__toggle js-drawer-toggle"
            aria-controls="drawer">Toggle side navigation</button>
    <div class="p-in-page-navigation__overlay js-drawer-toggle"
         aria-controls="drawer"></div>

    <nav class="p-in-page-navigation__drawer" aria-label="Side navigation">
      <div class="p-in-page-navigation__drawer-header">
        <button class="p-in-page-navigation__toggle--in-drawer js-drawer-toggle"
                aria-controls="drawer">Toggle side navigation</button>
      </div>

      {%- if title -%}
        <h3 class="p-in-page-navigation__heading">{{ title | safe }}</h3>
      {%- endif -%}

      <ul class="p-in-page-navigation__list">
        {%- for item in navigation_items -%}
          <li class="p-in-page-navigation__item">
            <a class="p-in-page-navigation__link" href="#{{ item.id }}">{{ item.text }}</a>

            {%- if item.children -%}
              <ul class="p-in-page-navigation__list">
                {%- for child in item.children -%}
                  <li class="p-in-page-navigation__item">
                    <a class="p-in-page-navigation__link" href="#{{ child.id }}">{{ child.text }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  </div>
{%- endmacro -%}
