{# 
  Parameters:
    - title (string) (optional): The text to be displayed as the title. Defauts to None and doesn"t render.
    - navigation_items (list<object>) (optional): A list of navigation items to be included in the in-page navigation. Each item is an object with the following properties:
      - id (string) (required): The ID of the section to link to.
      - text (string) (required): The text to be displayed for the navigation item.
    - scope (string) (optional): Rendering mode for navigation items.
      - "manual" (default): Render from `navigation_items`.
      - "full-page": Autogenerate from headings via JS.
    - primary_heading (string) (optional, requires scope="full-page"): The heading level to treat as primary. Accepts "h2" or "h3".
    - secondary_heading (string) (optional, requires primary_heading): The heading level to treat as secondary. Accepts "h3" or "h4" 
    - excludes (list<string>) (optional): A list of exclusions for headings (only applies when scope="full-page").
        Supports two formats:
          - CSS selector (e.g. "#some-id", ".some-class"): excludes headings matching the selector.
          - Text match (e.g. "text:Newsletter signup"): excludes headings whose text content matches (case-insensitive).
#}

{%- macro vf_in_page_navigation(title=None, navigation_items=[], scope="full-page", primary_heading="h2", secondary_heading=None, excludes=[]) -%}
  {%- set nav_id = "in-page-navigation-list" -%}
  {%- set valid_primary_headings = ["h2", "h3"] %}
  {%- set valid_secondary_headings = ["h3", "h4"] %}
  {%- set valid_scopes = ["full-page", "manual"] %}
  {%- if scope not in valid_scopes -%}
    {%- set scope = "full-page" -%}
  {%- endif -%}
  {%- set excludes_queries = excludes | join(",") + ",.p-in-page-navigation__heading" -%}
  
  <div class="p-in-page-navigation"
      data-in-page-navigation-scope="{{ scope }}"
      {%- if primary_heading and primary_heading in valid_primary_headings -%}
        data-in-page-navigation-primary="{{ primary_heading }}"
        {%- if secondary_heading and secondary_heading in valid_secondary_headings -%}
          data-in-page-navigation-secondary="{{ secondary_heading }}"
        {%- endif -%}
      {%- else -%}
        data-in-page-navigation-primary="h2"
      {% endif %}
      data-in-page-navigation-excludes="{{ excludes_queries }}">

    <nav class="p-in-page-navigation__container" aria-label="{% if title %}{{ title }}{% else %}In-page navigation{% endif %}">

      {%- if title -%}
        <h3 class="p-in-page-navigation__heading">{{ title | safe }}</h3>
      {%- endif -%}
      <ul class="p-in-page-navigation__list js-in-page-nav-list" id="{{ nav_id }}" aria-expanded="false">
        {%- if scope != "full-page" -%}
          {%- for item in navigation_items -%}
            <li class="p-in-page-navigation__item p-tooltip--right" aria-describedby="{{ item.id }}-tooltip">
              <a class="p-in-page-navigation__link{% if loop.first %} is-active{% endif %}" href="#{{ item.id }}">{{ item.text }}</a>
              <span class="p-tooltip__message u-hide" role="tooltip" id="{{ item.id }}-tooltip">{{ item.text }}</span>
              {%- if item.children -%}
                <ul class="p-in-page-navigation__list">
                  {%- for child in item.children -%}
                    <li class="p-in-page-navigation__item p-tooltip--right" aria-describedby="{{ child.id }}-tooltip">
                      <a class="p-in-page-navigation__link" href="#{{ child.id }}">{{ child.text }}</a>
                      <span class="p-tooltip__message u-hide" role="tooltip" id="{{ child.id }}-tooltip">{{ child.text }}</span>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {%- endfor -%}
        {%- endif -%}
      </ul>

      <button class="p-in-page-navigation__dropdown-toggle" aria-expanded="false" aria-controls="{{ nav_id}}">
        <i class="p-icon--chevron-down p-in-page-navigation__dropdown-toggle-icon"></i>
        <i class="p-icon--chevron-up p-in-page-navigation__dropdown-toggle-icon u-hide"></i>
      </button>

    </nav>
  </div>

  {# Templates for JS autogeneration (used when scope="full-page") #}
  {%- if scope == "full-page" -%}
    <template class="js-in-page-nav-template-item">
      <li class="p-in-page-navigation__item p-tooltip--right" aria-describedby="#">
        <a class="p-in-page-navigation__link" href="#"></a>
        <span class="p-tooltip__message u-hide" role="tooltip" id="#"></span>
      </li>
    </template>
    <template class="js-in-page-nav-template-sublist">
      <ul class="p-in-page-navigation__list">
      </ul>
    </template>
  {%- endif -%}
{%- endmacro -%}
