{#
  Params
  - title_text (string): The text to be displayed as the heading
  - layout: layout of linked logo section. Options are '50/50', '25/75', 'full-width'
  - links (array) (required) : Array of links, each including 'href', 'label', 'text', and 'image_html'
  - if present, `image_attrs` will be used over `image_html` as it provides a more flexible way to pass image attributes.
  - scope (string): The Scope at which the pattern is used.  Defaults to 'section'. Options are "section" and "block".
    - 'section' will render the section with a top rule and padding - the pattern is intended to be used as a standalone section.
    - 'block' will render the section without a top rule and padding - the pattern is intended to be used as a block within another section.
#}

{% macro vf_linked_logo_section(title_text="", links=[], layout="full-width", scope="section") -%}
  {% set layout = layout | trim | replace('/', '-') %}

  {% set has_title = title_text | trim | length > 0 %}

  {% if layout not in ['50-50', '25-75', 'full-width'] %}
    {% set layout = 'full-width' %}
  {% endif %}

  {% set max_logos_map = {
    "full-width": 8,
    "50-50": 6,
    "25-75": 9
  } %}

  {% set max_logos = max_logos_map[layout] or 8 %}
  {% set links = links[:max_logos] %}

  {% macro _list(links, cols_per_item=2) %}
    {%- if links|length > 1 -%}
      <div class="grid-row">
        {%- for link in links -%}
          <div class="grid-col-{{ cols_per_item }} grid-col-medium-{{ cols_per_item }}">
            <a href="{{ link.href }}" aria-label="{{ link.label }}">
              <div class="p-image-container--16-9 is-highlighted">
              {#- If image_attrs is present, use it to generate the image HTML -#}
              {%- if "image_attrs" in link -%}
                <img class="p-image-container__image {{ link["image_attrs"]["class"] }}"
                  {% for attr, value in link["image_attrs"].items() %}
                    {% if attr != "class" %}
                      {{ attr }}="{{ value }}"
                    {% endif %}
                  {% endfor %}
                >
              {% else %}
                {{ link.image_html | safe }}
              {% endif %}
              </div>
              <hr class="p-rule--muted">
              <p>{{ link.text }}</p>
            </a>
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  {% endmacro %}

  {%- if scope == "section" %}
  <section class="p-section">
  {%- else %}
  <div>
  {%- endif -%}
    {%- if scope == "section" -%}
      <hr class="p-rule is-fixed-width"/>
    {%- endif -%}
    {%- if layout == "50-50" -%}
      <div class="p-section--shallow">
        <div class="grid-row">
          {% if has_title %}
          <div class="grid-col-4">
            <h2>{{ title_text }}</h2>
          </div>
          {% endif %}
          <div class="grid-col-4 grid-col-start-large-5 grid-col-medium-4 grid-col-start-medium-5">
            {{ _list(links) }}
          </div>
        </div>
      </div>
    {%- elif layout == "25-75" -%}
      <div class="p-section--shallow">
        <div class="grid-row">
          {% if has_title %}
          <div class="grid-col-2">
            <h2>{{ title_text }}</h2>
          </div>
          {% endif %}
          <div class="grid-col-6 grid-col-start-large-3">
            {{ _list(links) }}
          </div>
        </div>
      </div>
    {%- else -%}
      {% if has_title %}
        <div class="p-section--shallow">
          <div class="grid-row">
            <h2>{{- title_text -}}</h2>
          </div>
        </div>
      {% endif %}
      {{ _list(links) }}
    {%- endif -%}
  {%- if scope == "section" %}
  </section>
  {%- else %}
  </div>
  {%- endif -%}
{%- endmacro %}
