{#
    All Params:
      @param title_text: H2 title text
      @param input_label: Label for the input field
      @param checkbox_id: Name for the checkbox field, used for agreeing to something before submitting the form. This may vary based on the backend used to collect form responses.
      @param checkbox_label: Label for the checkbox
      @param layout: Layout variant for the section. Options are "50-50", "25-75", "2-col", and "4-col". Default is "25-75".
      @param form_id: Marketo form ID
      @param return_url: URL to return to after form submission

    All Slots:
      @slot description: Description text, one or more paragraphs
      @slot addendum: Additional content to include in the form, such as a disclaimer or additional information
      @slot hidden_fields: Additional hidden fields to include in the form
#}
{%- macro vf_newsletter_signup(form_id, form_action, return_url, title_text, input_label="Work email", checkbox_id="canonicalUpdatesOptIn" checkbox_label="I agree to receive information about Canonical's products and services.", layout="25-75", caller=None) -%}
  {% set layout = layout | trim %}
  {% if layout not in ['50-50', '25-75', '2-col', '4-col'] %}
    {% set layout = "25-75" %}
  {% endif %}
  {% set description = caller('description') %}
  {% set addendum = caller('addendum') %}
  {% set hidden_fields = caller('hidden_fields') %}
  {% set is_section_level = layout in ['50-50', '25-75'] %}
  {% set heading_level = 'h2' if is_section_level else 'h3' %}
  {% if is_section_level %}
    <section class="p-section">
      <hr class="p-rule is-fixed-width" />
    {% endif %}
    <div class="{% if is_section_level %}grid-row--{{ layout }}-on-large{% else %}p-newsletter-signup--{{ layout }}{% endif %}">
      {% if not is_section_level %}
        <hr class="p-rule--muted u-hide--large {% if layout == '2-col' %}u-hide--medium{% endif %}" />
      {% endif %}
      <div class="grid-col">
        <{{ heading_level }}>{{ title_text }}</{{ heading_level }}>
      </div>
      <div class="grid-col">
        {{ description | safe }}
        <form action="{{ form_action }}" method="post" id="mktoForm_{{ form_id }}">
          <label class="is-required" for="email">{{ input_label }}:</label>
          <input required
                 id="email"
                 name="email"
                 maxlength="255"
                 type="email"
                 pattern="^[^ ]+@[^ ]+\.[a-z]{2,26}$"
                 required="required" />
          <label class="p-checkbox is-required">
            <input required
                   class="p-checkbox__input"
                   value="yes"
                   aria-labelledby="canonicalUpdatesOptIn"
                   name="canonicalUpdatesOptIn"
                   type="checkbox" />
            <span class="p-checkbox__label" id="{{ checkbox_id }}">{{ checkbox_label }}</span>
          </label>
          {% if addendum %}
            {{ addendum | safe }}
          {% else %}
            <p>
              By submitting this form, I confirm that I have read and agree to <a href="https://ubuntu.com/legal/terms-and-policies/privacy-policy">Canonical's Privacy Policy</a>.
            </p>
          {% endif %}
          <button type="submit" class="u-no-margin--bottom">Sign up</button>
          {% if hidden_fields %}{{ hidden_fields | safe }}{% endif %}
        </form>
      </div>
    </div>
    {% if is_section_level %}</section>{% endif %}
{%- endmacro -%}
