{%- macro vf_inline_alert(
  button_text,
  button_id,
  alert_text='Alert!'
) -%}
  <button id="{{ button_id}}">{{ button_text }}</button>
  <script>
    (function (buttonId, alertText){
      const buttonEl = document.getElementById(buttonId);
      buttonEl.addEventListener('click', () => {
        alert(alertText)
      })
    })(
      "{{ button_id }}",
      "{{ alert_text }}"
    )
  </script>
{%- endmacro %}

{%- macro vf_include_alert(
  button_text,
  button_id,
  alert_text='Alert!'
) -%}
  <button id="{{ button_id }}">{{ button_text }}</button>
  <script>
    {% include '_macros/_poc_alert_script.js' %}
    initAlertButton(
      document.getElementById("{{ button_id }}"),
      "{{ alert_text }}"
    )
  </script>
{%- endmacro %}

{%- macro vf_module_alert(
  button_text,
  button_id,
  alert_text='Alert!'
) -%}
  <button id="{{ button_id }}">{{ button_text }}</button>
  <script type="module">
    import { initAlertButton } from '/static/js/macros/index.js';

    initAlertButton(
      document.getElementById("{{ button_id }}"),
      "{{ alert_text }}"
    )
  </script>
{%- endmacro %}

{%- macro vf_injected_module_alert(
  module_path,
  button_text,
  button_id,
  alert_text='Alert!'
) -%}
  <button id="{{ button_id }}">{{ button_text }}</button>
  <script type="module">
    import { initAlertButton } from '{{module_path}}';

    initAlertButton(
      document.getElementById("{{ button_id }}"),
      "{{ alert_text }}"
    )
  </script>
{%- endmacro %}

{%- macro vf_context_module_alert(
  button_text,
  button_id,
  alert_text='Alert!'
) -%}
  <button id="{{ button_id }}">{{ button_text }}</button>
  {%- if VANILLA_JS_MODULE_PATH -%}
  <script type="module">
    import { initAlertButton } from '{{ VANILLA_JS_MODULE_PATH }}';

    initAlertButton(
      document.getElementById("{{ button_id }}"),
      "{{ alert_text }}"
    )
  </script>
  {%- else -%}
  <script>console.error("Make sure to define VANILLA_JS_MODULE_PATH and expose it in the template context.");</script>
  {%- endif -%}
{%- endmacro %}