# Params
# is_description_full_width_on_desktop: whether description has its own row on
#   desktop vs. 50/50 split between title/description
# is_list_full_width_on_tablet: whether list title/description each have their
#   own row on tablet vs. 50/50 split between title/description
# is_media_full_width: whether the media is full width
# media_placement: where the image is placed relative to the description. Options are "after_description" or "before_description".
# img_attrs: attributes for the image element, e.g. src, alt, class
# video_attrs: attributes for the video element, e.g. src, class
# Slots
# title: top-level title element
# description: top-level description element
# list_item_title_[1-25]: title element of each child list item
# list_item_description_[1-25]: description element of each child list item
# cta: CTA block element
{% macro vf_tiered_list(
  is_description_full_width_on_desktop=true,
  is_list_full_width_on_tablet=true,
  is_media_full_width=false,
  media_placement="after_description",
  img_attrs={},
  video_attrs={}
  ) -%}
  {%- set title_content = caller('title') -%}
  {%- set description_content = caller('description') -%}
  {%- set has_description = description_content|trim|length > 0 -%}
  {%- set cta_content = caller('cta') -%}
  {%- set has_cta = cta_content|trim|length > 0 -%}
  {%- set has_image = img_attrs['src']|trim|length > 0 -%}
  {%- set has_video = video_attrs['src']|trim|length > 0 -%}
  {%- set has_media = has_image or has_video -%}

  {% if media_placement not in ["before_description", "after_description"] %}
    {% set media_placement = "after_description" %}
  {% endif %}

  {% set image_aspect_ratio = "16-9" %}
  {% if is_media_full_width and not is_video %}
    {% set image_aspect_ratio = "cinematic" %}
  {% endif %}

  {% macro _wrapped_media() %}
    {%- if has_media -%}
      {%- if has_video -%}
        <div class="p-section--shallow">
          {#- u-embedded-media applies 16:9 aspect ratio via padding. -#}
          <div class="u-embedded-media">
            <iframe class="u-embedded-media__element {{ video_attrs['class'] }}"
            {% for attr, value in video_attrs.items() %}
              {% if attr != "class" %}
                {{- attr }}="{{ value }}"
              {% endif %}
            {% endfor %}
            ></iframe>
          </div>
        </div>
      {%- elif has_image -%}
        <div class="p-section--shallow">
          <div class="p-image-container--{{ image_aspect_ratio }} is-cover">
            <img
              {#- Forward classes from the img_attrs. This is optional, on a per-pattern basis. #}
              class="p-image-container__image {{ img_attrs['class'] }}"
            {% for attr, value in img_attrs.items() %}
              {% if attr != "class" %}
                {{- attr }}="{{ value }}"
              {% endif %}
            {% endfor %}
            >
          </div>
        </div>
      {%- endif -%}
    {%- endif -%}
  {% endmacro %}

  {% macro _full_width_media_row() %}
    {%- if has_media and is_media_full_width -%}
      <div class="row">
        <div class="col">
          {{- _wrapped_media() -}}
        </div>
      </div>
    {%- endif -%}
  {% endmacro %}

  {%- if title_content|trim|length == 0 -%}
    {%- set title_content = "<h2>Tiered List</h2>" -%}
  {%- endif -%}

  {%- if description_content|trim|length == 0 -%}
    {%- set description_content = "<p>This is a tiered list.</p>" -%}
  {%- endif -%}

  {%- if cta_content|trim|length == 0 -%}
    {%- set cta_content = "<p>No CTA provided.</p>" -%}
  {%- endif -%}

  <div class="p-section u-fixed-width">
    <hr class="p-rule">

    {% if has_description -%}
      {%- if is_description_full_width_on_desktop -%}
        <div class="u-fixed-width">
          <div class="p-section--shallow">
            {{ title_content }}
          </div>
        </div>

        <div class="row">
          <div class="col-6 col-start-large-7">
            {#- Non-full-width media before description -#}
            {% if has_media and media_placement == "before_description" and not is_media_full_width %}
              {{- _wrapped_media() -}}
            {% endif %}
            {{ description_content }}
            {#- Non-full-width media after description -#}
            {% if has_media and media_placement == "after_description" and not is_media_full_width %}
              {{- _wrapped_media() -}}
            {% endif %}
          </div>
        </div>
      {%- else -%} {#- (50/50 desktop layout) -#}
        <div class="row">
          <div class="col-6">
            <div class="p-section--shallow">
              {{ title_content }}
            </div>
          </div>

          <div class="col-6">
            {#- Non-full-width media before description -#}
            {%- if has_media and media_placement == "before_description" and not is_media_full_width -%}
              {{- _wrapped_media() -}}
            {%- endif -%}
            {{ description_content }}
            {#- Non-full-width media after description -#}
            {%- if has_media and media_placement == "after_description" and not is_media_full_width -%}
              {{- _wrapped_media() -}}
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
    {%- else -%} {#- No description (has_description is false) -#}
      <div class="row">
        {#- No description; the non-full-width media goes directly adjacent to the title -#}
        <div class="{% if not has_media or is_media_full_width %}col{% else %}col-6{% endif %}">
          <div class="p-section--shallow">
            {{ title_content }}
          </div>
        </div>
        {% if has_media and not is_media_full_width %}
          <div class="col-6 col-start-large-7">
            {{- _wrapped_media() -}}
          </div>
        {% endif %}
      </div>
    {%- endif %}

    {#- Always render full-width media in its own row, after the main title/description/no-description blocks -#}
    {% if has_media and is_media_full_width %}
      {{- _full_width_media_row() -}}
    {% endif %}

    {#-
      When there is a CTA, we use shallow spacing to space the list away from the CTA.
      When there is no CTA, shallow spacing would combine with the pattern-level p-section padding, which introduces too much space.
    -#}
    {%- if has_cta -%}
    <div class="p-section--shallow">
    {%- endif -%}
      {%- for number in range(1, 25) -%}
        {%- set list_item_title_content = caller('list_item_title_' + number|string) -%}
        {%- set has_title_content = list_item_title_content|trim|length > 0 -%}
        {%- set list_item_description_content = caller('list_item_description_' + number|string) -%}
        {%- set has_description_content = list_item_description_content|trim|length > 0 -%}

        {#- Check to see if title/description content exist, since we're
            iterating through 25 potential list items -#}
        {%- if has_title_content and has_description_content -%}
          {%- if is_list_full_width_on_tablet == true %}
            <div class="row">
              <div class="col-9 col-start-large-4">
                <hr class="is-muted">
              </div>
            </div>

            <div class="row">
              <div class="col-3 col-start-large-4">
                {{ list_item_title_content }}
              </div>

              <div class="col-6">
                {{ list_item_description_content }}
              </div>
            </div>
          {%- else %}
            <div class="row">
              <div class="col-9 col-start-large-4">
                <hr class="is-muted">
              </div>
            </div>

            <div class="row">
              <div class="col-medium-3 col-3 col-start-large-4">
                {{ list_item_title_content }}
              </div>

              <div class="col-medium-3 col-6">
                {{ list_item_description_content }}
              </div>
            </div>
          {%- endif -%}
        {%- endif -%}
      {% endfor %}
    {%- if has_cta -%}
    </div>
    {%- endif -%}

    {% if has_cta == true -%}
      <div class="row">
        <hr class="p-rule--muted"/>
        <div class="col-6 col-start-large-7">
          <p>
            {{ cta_content }}
          </p>
        </div>
      </div>
    {%- endif %}
  </div>
{%- endmacro %}
