{#
    All Params:
      @param title_text: H2 title text
      @param list_items (Array<string>)
      An array of HTML strings to be rendered
      @param item_heading_level: Level of the heading to use, defaults to 2. Can be 2, or 4.
#}
{%- macro vf_text_spotlight(title_text, item_heading_level=2, list_items=[], caller=None) -%}
  {% set has_list = list_items | length >= 2 and list_items | length <= 7 %}
  {% set item_heading_level = item_heading_level | trim | int %}
  {%- if item_heading_level not in [2, 4] -%}
    {%- set item_heading_level = 2 -%}
  {%- endif -%}
  <section class="p-section">
    <hr class="p-rule is-fixed-width" />
    <div class="grid-row--25-75-on-large">
      <div class="grid-col">
        <h2 class="p-text--small-caps">{{ title_text }}</h2>
      </div>
      <div class="grid-col">
        {%- if has_list -%}
          {%- for list_item in list_items -%}
            <p class="p-heading--{{ item_heading_level }}">{{- list_item -}}</p>
            {%- if not loop.last %}<hr class="p-rule--muted" />{%- endif %}
          {%- endfor -%}
        {%- else -%}
          <div class="p-notification--caution">
            <div class="p-notification__content">
              <h5 class="p-notification__title">Caution</h5>
              <p class="p-notification__message">List items must be between 2 and 7.</p>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </section>
{%- endmacro -%}
