{% extends "_layouts/site.html" %}

{% block content %}
<div id="main-content" class="p-strip">
  <div class="row">
    <div class="col 12">
      <h1 class="u-no-margin--bottom">404 - Page not found</h1>
    </div>
  </div>
</div>

<div class="p-strip is-shallow">
  <div class="row">
    <div class="col 12">
      <p>Sorry, we can't find the page you're looking for. If you think this is an error on our site, please <a href="https://github.com/canonical/vanilla-framework/issues/new">file a bug on GitHub.</a></p>
    </div>
  </div>
</div>
{% endblock %}
