{% extends "_layouts/site.html" %}

{% block content %}
<div id="main-content" class="p-strip">
  <div class="row">
    <div class="col 12">
      <h1 class="u-no-margin--bottom">500 - Internal server error</h1>
    </div>
  </div>
</div>

<div class="p-strip is-shallow">
  <div class="row">
    <div class="col 12">
      <p>Something went wrong on our end. If you have the time, please help us out by <a href="https://github.com/canonical-websites/vanillaframework.io/issues/new">filing a bug.</a></p>
    </div>
  </div>
</div>
{% endblock %}
