{% extends "_layouts/site.html" %}

{% block title %}Showcase{% endblock %}
{% block description %}A showcase of websites and applications using Vanilla Framework{% endblock %}
{% block copydoc %}https://docs.google.com/document/d/1daLrp_H_BGhSefvrP-aj3v3505dEz-zoKF2Mar2Dpt4/edit{% endblock %}

{% block content %}
<section id="main-content" class="p-strip--suru">
  <div class="row">
    <div class="col-12">
      <h1 class="u-no-margin--bottom">Showcase</h1>
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--bottom">
  <div class="row">
    <p class="p-heading--4">Real life example websites, documentation websites and Cloud applications using Vanilla as the base CSS framework for their projects.</p>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="row">
    <h2>Projects using Vanilla</h2>
  </div>
  <div class="row u-equal-height">
    <div class="col-4 p-card">
      <img src="https://assets.ubuntu.com/v1/25df3b87-ubuntu-vf.io-showcase.png" alt="">
      <h3 class="p-heading--4"><a href="http://ubuntu.com">Ubuntu</a></h3>
      <p>Ubuntu is an open source software operating system.</p>
    </div>
    <div class="col-4 p-card">
      <img src="https://assets.ubuntu.com/v1/e8ea14f4-maas-vf.io-showcase.png" alt="">
      <h3 class="p-heading--4"><a href="http://maas.io">MAAS</a></h3>
      <p>MAAS (Metal as a Service) offers cloud style provisioning for physical servers.</p>
    </div>
    <div class="col-4 p-card" style="background-color: #f7f7f7;">
      <h3 class="p-heading--4">Use Vanilla in your projects</h3>
      <p>View our documentation to find out different ways of adding Vanilla framework into your projects.</p>
      <a href="/docs" class="p-button--positive">Get started with Vanilla</a>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-4 p-card">
      <img src="https://assets.ubuntu.com/v1/9ac08e7e-juju-vf.io-showcase.png" alt="">
      <h3 class="p-heading--4"><a href="http://jujucharms.com">Juju</a></h3>
      <p>Juju is an open source, application and service modelling tool.</p>
    </div>
    <div class="col-4 p-card">
      <img src="https://assets.ubuntu.com/v1/c1702401-snapcraft-vf.io-showcase.png" alt="">
      <h3 class="p-heading--4"><a href="http://snapcraft.io">Snapcraft</a></h3>
      <p>Snaps are containerised software packages that are simple to create and install.</p>
    </div>
    <div class="col-4 p-card">
      <img src="https://assets.ubuntu.com/v1/c1ba7c75-lxd-vf.io-showcase.png" alt="">
      <h3 class="p-heading--4"><a href="https://linuxcontainers.org">LXD</a></h3>
      <p>LXD is a next generation system container manager.</p>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-4 p-card">
      <img src="https://assets.ubuntu.com/v1/ffd04f88-conjure-up-vf.io-showcase.png" alt="">
      <h3 class="p-heading--4"><a href="https://conjure-up.io">Conjure-up</a></h3>
      <p>Conjure-up lets you summon up a big-software stack as a “spell”.</p>
    </div>
    <div class="col-4 p-card">
      <img src="https://assets.ubuntu.com/v1/9eaa474a-cloud-init-vf.io-showcase.png" alt="">
      <h3 class="p-heading--4"><a href="https://cloud-init.io">Cloud-init</a></h3>
      <p>Cloud-init is a package that contains utilities for early initialization of cloud instances.</p>
    </div>
    <div class="col-4 p-card">
      <img src="https://assets.ubuntu.com/v1/f3d58f55-canonical-vf.io-showcase.png" alt="">
      <h3 class="p-heading--4"><a href="https://canonical.com">Canonical</a></h3>
      <p>Canonical produces Ubuntu.</p>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-4 p-card">
      <img src="https://assets.ubuntu.com/v1/3c5f3958-st-margarets-vf.io-showcase.png" alt="">
      <h3 class="p-heading--4"><a href="https://stmargarets.london">St Margarets Community</a></h3>
      <p>Providing residents and visitors information about local news, events and resources.</p>
    </div>
    <div class="col-4 p-card">
      <img src="https://assets.ubuntu.com/v1/34327108-brian-douglass-vf.io-showcase.png" alt="">
      <h3 class="p-heading--4"><a href="https://bhdouglass.com">Brian Douglass</a></h3>
      <p>Personal project folio of Software Engineer Brian Douglass.</p>
    </div>
    <div class="col-4 p-card">
      <img src="https://assets.ubuntu.com/v1/4090d18f-development-winslow-vf.io-showcase.png" alt="">
      <h3 class="p-heading--4"><a href="https://development.robinwinslow.uk">Notes on development</a></h3>
      <p>Articles and musings about web development, performance, internet security and general tech geekery.</p>
    </div>
  </div>
</section>
{% endblock %}
