{% extends "_layouts/site.html" %}
{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_card.jinja" import vf_card %}

{% block content %}

<section class="p-section--hero">
  <div class="grid-row">
      {{ vf_card(
      columns=2,
      link="/articles/understanding-css-grid",
      heading="Understanding CSS Grid Layouts",
      footer={
      "content_type": "Tutorial"
      }
      ) }}

      {{ vf_card(
      columns=4,
      link="/articles/understanding-css-grid",
      heading="Understanding CSS Grid Layouts",
      footer={
      "content_type": "Tutorial"
      }
      ) }}

      {{ vf_card(
      columns=2,
      link="/articles/future-of-web-design",
      heading="The Future of Web Design in 2026",
      footer={
      "content_type": "Industry News"
      }
      ) }}

      {{ vf_card(
      columns=2,
      link="/articles/optimizing-page-load",
      heading="10 Tips for Optimizing Page Load Speeds",
      footer={
      "content_type": "Performance"
      }
      ) }}

      {{ vf_card(
      columns=6,
      link="/articles/accessibility-matters",
      heading="Why Web Accessibility Matters More Than Ever",
      footer={
      "content_type": "Accessibility"
      },
      image={
      "src": "https://assets.ubuntu.com/v1/010995f2-an_canonical_announces_ubuntu_pro_for_wsl_dark.png",
      "alt": "Ubuntu Pro WSL Dark"
      },
      ) }}

      {{ vf_card(
      columns="6",
      heading="Canonical announces Charmed Feast: A production-grade feature store for your open source MLOps stack test 3 lines",
      link="https://www.ubuntu.com",
      image={
      "src": "https://assets.ubuntu.com/v1/010995f2-an_canonical_announces_ubuntu_pro_for_wsl_dark.png",
      "alt": "Ubuntu Pro WSL Dark"
      },
      author="Canonical",
      date="10 July 2025",
      footer={
      "resource_type": {
      "icon": "topic",
      "text": "Whitepaper"
      },
      "content_type": "Developers and community"
      },
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      ) }}

      {{ vf_card(
      columns="2",
      heading="Canonical announces Charmed Feast: A production-grade feature store for your open source MLOps stack",
      link="https://www.ubuntu.com",
      image={
      "src": "https://assets.ubuntu.com/v1/010995f2-an_canonical_announces_ubuntu_pro_for_wsl_dark.png",
      "alt": "Ubuntu Pro WSL Dark"
      },
      author="Canonical",
      date="10 July 2025",
      footer={
      "resource_type": {
      "icon": "topic",
      "text": "Whitepaper"
      },
      "content_type": "Developers and community"
      },
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      ) }}

      {{ vf_card(
      columns="2",
      heading="Your Heading Here for the Image Card Without a Footer",
      link="https://www.ubuntu.com",
      image={
      "src": "https://assets.ubuntu.com/v1/010995f2-an_canonical_announces_ubuntu_pro_for_wsl_dark.png",
      "alt": "Ubuntu Pro WSL Dark"
      },
      author="Canonical",
      date="10 July 2025",
      description="This is an example description for a 2-column card that includes an image, author, date, and description, but omits the footer parameter entirely."
      ) }}

      {{ vf_card(
      columns="6",
      heading="Your Heading Here for the Image Card Without a Footer",
      link="https://www.ubuntu.com",
      image={
      "src": "https://assets.ubuntu.com/v1/010995f2-an_canonical_announces_ubuntu_pro_for_wsl_dark.png",
      "alt": "Ubuntu Pro WSL Dark"
      },
      author="Canonical",
      date="10 July 2025",
      description="This is an example description for a 2-column card that includes an image, author, date, and description, but omits the footer parameter entirely."
      ) }}


      {{ vf_card(
      columns="2",
      heading="Canonical announces Charmed Feast: A production-grade feature store for your open source MLOps stack",
      link="https://www.ubuntu.com",
      image={
      "src": "https://assets.ubuntu.com/v1/010995f2-an_canonical_announces_ubuntu_pro_for_wsl_dark.png",
      "alt": "Ubuntu Pro WSL Dark"
      },
      footer={
      "resource_type": {
      "icon": "topic",
      "text": "Whitepaper"
      },
      "content_type": "Developers and community"
      },
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      ) }}
      


      {{ vf_card(
      columns="2",
      heading="Canonical announces Charmed Feast: A production-grade feature store for your open source MLOps stack",
      link="https://www.ubuntu.com",
      image={
      "src": "https://assets.ubuntu.com/v1/010995f2-an_canonical_announces_ubuntu_pro_for_wsl_dark.png",
      "alt": "Ubuntu Pro WSL Dark"
      },
      footer={
      "resource_type": {
      "icon": "topic",
      "text": "Whitepaper"
      },
      "content_type": "Developers and community"
      },
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      ) }}


  </div>
</section>

{% endblock %}
