<footer class="p-strip--light is-deep" role="contentinfo">
  <div class="row">
    <div class="col-start-large-4 col-9">
      <p>
        &copy; {{ now("%Y") }} Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.
      </p>
      <nav>
        <ul class="p-inline-list--middot">
          <li class="p-inline-list__item">
            <a href="https://www.ubuntu.com/legal">Legal info</a>
          </li>
          <li class="p-inline-list__item">
            <a href="https://github.com/canonical-web-and-design/vanilla-framework/issues/new/choose">Report a bug with
              this site</a>
          </li>
        </ul>
        <span class="u-off-screen">
          <a href="#">Go to the top of the page</a>
        </span>
      </nav>
    </div>
  </div>
</footer>
