<header id="navigation" class="p-navigation is-dark">
  <div class="row">
    <div class="p-navigation__banner col-3">
      <div class="p-navigation__logo">
        <a class="p-navigation__item" href="/">
          <img class="p-navigation__image" src="https://assets.ubuntu.com/v1/94d962aa-vanilla_white-orange_hex.svg" alt="Vanilla framework logo">
        </a>
      </div>
      <div class="p-navigation__toggles u-hide--large u-hide--medium">
        <a href="#navigation" class="p-navigation__toggle--open" title="about menu">About</a>
        <a href="#navigation-closed" class="p-navigation__toggle--close" title="close about menu">About</a>
        <a class="p-sidebar__toggle u-hide--medium u-hide--large" href="#">Patterns</a>
      </div>
    </div>
    <nav class="p-navigation__nav col-9">
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
      <ul class="p-navigation__items">
        <li class="p-navigation__item {% if path.startswith('/docs') and path != '/docs/examples' %}is-selected{% endif %}"><a class="p-navigation__link" href="/docs">Docs</a></li>
        <li class="p-navigation__item {% if '/docs/examples' in path %}is-selected{% endif %}"><a class="p-navigation__link" href="/docs/examples">Examples</a></li>
        <li class="p-navigation__item"><a class="p-navigation__link" href="/accessibility">Accessibility</a></li>
        <li class="p-navigation__item"><a class="p-navigation__link" href="/browser-support">Browser support</a></li>
        <li class="p-navigation__item"><a class="p-navigation__link" href="/contribute">Contribute</a></li>
      </ul>
      <form class="p-search-box" action="/docs/search">
        <input type="search" id="search-docs" class="p-search-box__input" name="q" {% if query %}value="{{ query }}"
          {% endif %} placeholder="Search the docs" title="Search the documentation" required />
        <button type="reset" id="search-docs-reset" class="p-search-box__reset u-no-margin--right" alt="reset"><i
            class="p-icon--close"></i></button>
        <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>
      </form>
    </nav>
  </div>
</header>