{% extends "_layouts/_root.html" %}

{% block custom_head %}
    <link rel="stylesheet" href="/static/build/css/docs/site.css" />

    <script src="https://cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script>
    <script>
      var bLazy = new Blazy();
    </script>
{% endblock %}

{% block body %}
    <header id="navigation" class="p-navigation">
      <div class="p-navigation__row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo" style="margin-bottom: 0">
            <a class="p-navigation__link" href="/">
              <img
              class="b-lazy p-navigation__image"
              src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
              data-src="https://assets.ubuntu.com/v1/d96d86b5-vanilla_black-orange_hex.svg"
              alt="Vanilla">
            </a>
          </div>
          <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
          <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
        </div>
        <nav class="p-navigation__nav">
          <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
          <ul class="p-navigation__links">
            <li class="p-navigation__link"><a href="/docs">Docs</a></li>
            <li class="p-navigation__link"><a href="/docs/examples">Examples</a></li>
            <li class="p-navigation__link{% if path == '/accessibility' %} is-selected{% endif %}"><a href="/accessibility">Accessibility</a></li>
            <li class="p-navigation__link{% if path == '/browser-support' %} is-selected{% endif %}"><a href="/browser-support">Browser support</a></li>
            <li class="p-navigation__link{% if path == '/contribute' %} is-selected{% endif %}"><a href="/contribute">Contribute</a></li>
            <li class="p-navigation__link{% if path == '/showcase' %} is-selected{% endif %}"><a href="/showcase">Showcase</a></li>
          </ul>
        </nav>
      </div>
    </header>

    {% block content %}{{ content | safe }}{% endblock content %}

    <hr>
    <footer class="p-strip is-shallow">
      <div class="row">
        <div class="col-12">
          &copy; {{ now("%Y") }} Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.
          <nav>
            <ul class="p-inline-list--middot">
              <li class="p-inline-list__item">
                <a href="https://www.ubuntu.com/legal">Legal info</a>
              </li>
              <li class="p-inline-list__item">
                <a href="https://github.com/canonical-web-and-design/vanillaframework.io/issues/new">Report a bug with this site</a>
              </li>
              <li class="p-inline-list__item">
                <a href="https://github.com/canonical-web-and-design/vanilla-framework/issues/new/choose">Report a bug with Vanilla framework</a>
              </li>
            </ul>
            <span class="u-off-screen">
              <a href="#">Go to the top of the page</a>
            </span>
          </nav>
        </div>
      </div>
    </footer>
{% endblock %}
