////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/ubuntu-vanilla-theme/docs/#mixin-vf-boxes
/// @since        0.0.2
////

/// Box class
/// @group Boxes
/// @example
///   <div class="box">
///     <h2>A heading</h2>
///     <p>Your content here</p>
///   </div>
@mixin vf-boxes() {
  @include vf-box;
}

@mixin vf-box() {
  .box {
    @extend %box;
  }
}

%box {
  background: $white;
  border: 1px solid $mid-grey;
  padding: 1.25em $gutter-width;
}
