////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-lists
/// @since        0.0.3
////

/// Default blockquote styling
/// @group Blockquotes
/// @example
/// <blockquote>
///   ...
/// </blockquote>
@mixin vf-breadcrumbs {
  .nav-secondary {

    @media only screen and (min-width: $navigation-threshold) {
      border: 1px solid $alto-grey;
      border-top: 0;
    }

    .breadcrumb {
      box-sizing: border-box;
      margin-bottom: 0;
      margin-left: 0;

      @media only screen and (min-width: $navigation-threshold) {
        float: left;
        margin-left: 20px;
        margin-left: 4px;
      }
      
      li {
        box-sizing: border-box;
        color: $white;
        display: block;
        margin: 0;
        width: 100%;
        
        @media only screen and (min-width: $navigation-threshold) {
          display: inline-block;
          width: auto;
        }

        // scss-lint:disable NestingDepth
        &:first-of-type {
          border-bottom: 1px solid $alto-grey;

          @media only screen and (min-width: $navigation-threshold) {
            border-bottom: 0;
          }
        }

        a {
          box-sizing: border-box;
          color: $warm-grey;
          font-size: 1em;
          display: inline-block;
          width: 100%;
          margin-right: 0;
          padding: 8px 10px;
          text-decoration: none;
          
          @media only screen and (min-width: $navigation-threshold) {
            font-size: .875em;
          }
        }

        .breadcrumb-link,
        .active {

          @media only screen and (min-width: $navigation-threshold) {
            display: inline-block;
            float: left;
            width: auto;
            
            &:after { 
              content:"\203A";
              display: inline-block;
              height: 5px;
              margin-left: 8px;
              position: absolute;
              width: 5px;
            }
          }
          
        }
        // scss-lint:enable NestingDepth
        
        .breadcrumb-link {
          
        }

      }
    }

    .second-level-nav,
    .third-level-nav {
      box-sizing: border-box;
      display: none;
      overflow: hidden;
      width: 100%;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $alto-grey;

      @media only screen and (min-width: $navigation-threshold) {
        display: inline-block;
        float: left;
        margin-bottom: 0;
        padding: 0;
        width: auto;
        border-bottom: 0;
      }

      li {
        margin: 0;

        @media only screen and (min-width: $navigation-threshold) {
          width: auto;
          float: none;
        }

        // scss-lint:disable NestingDepth
        a {
          font-size: .875em;
          display: block;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          padding: 10px;
          color: $cool-grey;

          @media only screen and (max-width: $navigation-threshold) {
            &.active {
              font-weight: 500;
            }
          }

          @media only screen and (min-width: $navigation-threshold) {
            padding: 8px 10px 0;

            &.active {
              color: $link-color;
              
            }
          }
        }
        // scss-lint:enable NestingDepth
      }
    }
    // scss-lint:disable NestingDepth
    .second-level-nav li {
      @media only screen and (min-width: $navigation-threshold) {  
        
        a {
          &.active {
            color: $warm-grey;
          }
        }        

        .third-level-nav li a {        
          color: $cool-grey;
        }
        
        .third-level-nav li a:hover {
          color: $link-color;
        }
 
        .third-level-nav li .active {        
          color: $link-color;
          float: none;
          
          &:after {
            content: ''; 
          }
          
        }
      }
    }
    // scss-lint:enable NestingDepth
  }
  
  .third-level-nav li a:hover {
    color: $link-color;
  }

  .third-level-nav li .active {        
    color: $link-color;
    float: none;
    
  }

  // scss-lint:disable IdSelector
  @media only screen and (max-width: $navigation-threshold - 1) {
    #breadcrumbs:hover {
        
      .breadcrumb {
          
        li {
  
          // scss-lint:disable NestingDepth
          .breadcrumb-toggle {
  
            .breadcrumb-toggle__close {
              display: block;
  
              &:after {
                background-image: url('#{$asset-path}img/patterns/nav-up-arrow.svg');
              }
            }
  
            .breadcrumb-toggle__open {
              display: none;
            }
          }
          // scss-lint:enable NestingDepth
        }
      }
  
      .second-level-nav,
      .third-level-nav,
      .active {
        border: 0;
        display: block;
        overflow: visible;
        float: left;
        width: 100%;
        position: relative;
        clear: both;
      }
      
      li {
        border: 0;
      }
      
      .second-level-nav {
        border-top: 1px solid $alto-grey;
      }
      
      .third-level-nav {
        border-bottom: 1px solid $alto-grey;
        padding-top: 0;
        
        li {
          box-sizing: border-box;
          float: left;
          width: 50%;
          display: block;
          padding-left: 10px;
       }
      }
    }
  }
  // scss-lint:enable NestingDepth
}
