////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-lists
/// @since        0.0.3
////

/// Default blockquote styling
/// @group Blockquotes
/// @example
/// <blockquote>
///   ...
/// </blockquote>
@mixin vf-breadcrumbs {
  .breadcrumb {
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;

    li,
    li a:link,
    li a:visited {
      color: $warm-grey;
      margin-right: 8px;
    }
  }
}
