////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-buttons
/// @since        0.0.3
////

/// Default blockquote styling
/// @group Buttons
@mixin vf-buttons {
  @include vf-primary-button;
  @include vf-secondary-button;
}

/// Primary button styling
/// @group Buttons
/// @example
/// <a class="button--primary">
///   ...
/// </a>
@mixin vf-primary-button {
  button,
  input[type='button'],
  input[type='reset'],
  input[type='submit'],
  .button--primary {
    @include vf-button($white, $primary-button-color, null)
  }
}

/// Secondary button styling
/// @group Buttons
/// @example
/// <a class="button--secondary">
///   ...
/// </a>
@mixin vf-secondary-button {
  .button--secondary {
    @include vf-button($primary-button-color, $white, $mid-grey);
  }
}

/// Default button mixin
/// @group Buttons
@mixin vf-button($button-color, $button-bg, $border-color) {

  @extend %button-pattern;
  color: $button-color;
  background: $button-bg;
  @if $border-color != null {
    border: 1px solid $border-color;
  }

  &:hover {
    background: darken($button-bg, 6.2%);
    @if $button-bg == $transparent {
      text-decoration: underline;
    }
  }
}

/// Default button pattern styles
/// @group Buttons
%button-pattern {
  font-smoothing: subpixel-antialiased;
  font-size: 1em;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 11px 24px;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 2px;
  outline: none;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  @media only screen and (min-width : $breakpoint-medium) {
    width: auto;
  }
}
