////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-buttons
/// @since        0.0.3
////

/// Default blockquote styling
/// @group Buttons
@mixin vf-buttons {
  @include vf-primary-button;
  @include vf-secondary-button;
  @include vf-text-button;
}

/// Primary button styling
/// @group Buttons
/// @example
///   <button class="btn">
///     ...
///   </button>
@mixin vf-primary-button {
  .btn {
    @include button($white, $brand-color, null)
  }
}

/// Secondary button styling
/// @group Buttons
/// @example
///   <button class="btn-secondary">
///     ...
///   </button>
@mixin vf-secondary-button {
  .btn-secondary {
    @include button($brand-color, $white, $mid-grey);
  }
}

/// Text button styling
/// @group Buttons
/// @example
///   <button class="btn-text">
///     ...
///   </button>
@mixin vf-text-button {
  .btn-text {
    @include button($brand-color, $transparent, null);
  }
}

/// Default button mixin
/// @group Buttons
@mixin vf-button($button-color, $button-bg, $border-color) {

  @extend %button-pattern;
  color: $button-color;
  background: $button-bg;
  @if $border-color != null {
    border: 1px solid $border-color;
  }

  &:hover {
    background: darken($button-bg, 6.2%);
    @if $button-bg == $transparent {
      text-decoration: underline;
    }
  }
}

/// Default button pattern styles
/// @group Buttons
%button-pattern {
  font-size: 1em;
  font-smoothing: subpixel-antialiased;
  font-family: $brand-face;
  font-weight: 300;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 2px;
  outline: none;
}

