////
/// Vanilla Framework
/// This styling builds all buttons for vanilla
/// @author      Web Team at Canonical Ltd
////

/// button pattern
%button-pattern {
  font-size: 1em;
  font-smoothing: subpixel-antialiased;
  font-family: Ubuntu, Arial, 'libra sans', sans-serif;
  font-weight: 300;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 2px;
  outline: none;
}

/// button
@mixin button($button-color, $button-bg, $border-color) {

  @extend %button-pattern;
  color: $button-color;
  background: $button-bg;
  @if $border-color != null {
    border: 1px solid $border-color;
  }

  &:hover {
    background: darken($button-bg, 6.2%);
  }
}

/// primary button
@mixin primary-button {

  .btn {
    @include button($white, $brand-color, null)
  }
}

/// secondary button
@mixin secondary-button {

  .btn-secondary {
    @include button($brand-color, $white, $mid-grey);
  }
}

/// text button
@mixin text-button {

  .btn-text {
    @include button($brand-color, $transparent, null);
  }
}

/// buttons mixin
@mixin vf-buttons {
  @include primary-button;
  @include secondary-button;
  @include text-button;
}
