%vf-clearfix {
  display: block;

  &:after {
    clear: both;
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

/// Hard and soft clearing classes
/// @group Utils
/// @example
///   <div class="clearfix">
///     ...
///   </div>
@mixin vf-clearfix() {
  .clearfix { @extend %vf-clearfix; }
}
