////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-code-snippets
/// @since        0.0.71
////

/// Equal heights makes all immediate child divs and li's heights equal
/// @group Utils
/// @example
///   <div class="row equal-height">
///     <div class="six-col equal-height__item">...</div>
///     <div class="six-col last-col equal-height__item">...</div>
///   </div>
@mixin vf-code-snippets {

  code,
  pre,
  kbd,
  samp {
    font-family: 'Ubuntu Mono', 'Consolas', 'Monaco', 'Lucida Console', 'Courier New', Courier, monospace;
  }

  code {
    padding: 4px 6px;
    font-size: 90%;
    background-color: $light-grey;
    border-radius: 4px;
  }

  pre,
  .code-block {
    border-radius: .5em;
    border: 1px solid $mid-grey;
    margin: .5em 0;
    overflow: auto;
    padding: 1em;

    &.code-block--terminal {
      background-color: $cool-grey;
      color: $white;
      border: 0;
    }

    &.code-block--numbering {
      counter-reset: line-numbering;

      .code-block__line {
        float: left;
        clear: both;
        background: none;
        margin: 0;

        &::before {
          content: counter(line-numbering);
          counter-increment: line-numbering;
          padding-right: 1em; /* space after numbers */
          width: 1.5em;
          text-align: right;
          opacity: .5;
          pointer-events: none;
          user-select: none;
        }
      }
    }
  }

  /* kbd {

  }

  var {

  }

  samp {

  }*/

  .code-snippet {
    font-family: 'Ubuntu Mono', 'Consolas', 'Monaco', 'Lucida Console', 'Courier New', Courier, monospace;

    &.code-snippet--terminal {
      background-color: $cool-grey;
      color: $white;
    }
  }
}

%code-style {
  font-family: 'Ubuntu Mono', 'Consolas', 'Monaco', 'Lucida Console', 'Courier New', Courier, monospace;
}
