////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#utils-mixin-vf-equal-height
/// @since        0.0.13
////

/// Equal heights makes all immediate child divs and li's heights equal...
/// @group Utils
/// @example
///   <div class="row equal-height">
///     <div class="six-col">...</div>
///     <div class="six-col last-col">...</div>
///   </div>
@mixin vf-equal-height {
  @media only screen and (min-width : $breakpoint-medium) {
    .equal-height {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;

      > div,
      > li {
        box-sizing: border-box;
        display: flex;
        flex: auto;
        flex-direction: column;
      }
    }
  }
    
  @include vf-align-vertically();
}

/// Sets the element to center an inner element vertically. Has to be used in conjunction with equal-height and if it's an image it'll need align-center, too.
/// @group Utils
/// @example
///   <div class="row equal-height">
///     <div class="eight-col">...</div>
///     <div class="four-col align-vertically align-center last-col">
///       <img src="love-orange.svg" alt="" />
///     </div>
///   </div>
@mixin vf-align-vertically {
  @media only screen and (min-width : $breakpoint-medium) {    
    &__align-vertically { 
      align-items: center;
      justify-content: center;
    } 
  }
}

