// scss-lint:disable QualifyingElement, IdSelector

////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-footer
/// @since        0.0.3
////

/// Default footer styling
/// @example
/// <footer class="global" role="contentinfo">
///   <div class="legal">
///    <p>
///       &copy; 2015 FooBar Ltd. FooBar is a registered trademark of FooBar Ltd.
///       <a href="#">Report a bug on this site</a>
///     </p>
///   </div>
/// </footer>
@mixin vf-footer {
  body footer.global #nav-global li:first-of-type a {
    margin-left: 0;
  }

  footer.global {
    background: none;
    border-top: 0;
    box-shadow: inset 0 2px 2px -1px $mid-grey;
    box-sizing: border-box;
    clear: both;
    display: block;
    padding: 30px 10px 20px;
    position: relative;
    width: 100%;


    .legal {
      background-image: none;
      clear: both;
      margin: 0 auto;
      min-height: 40px;
      position: relative;
      width: 100%;

      p,
      ul {
        padding-left: 0;
      }
    }

    h2 {
      font-size: .75em;
      line-height: 1.4;
      margin-bottom: 0;
      padding-bottom: .5em;
    }

    h2,
    h2 a:link,
    h2 a:visited {
      color: $text-color;
      font-weight: normal;
    }

    ul {
      margin: 0;
    }

    li {
      a:hover {
        color: $link-color;
      }

      ul li a:link,
      ul li a:visited {
        color: $text-color;
        font-size: .75em;
      }
    }

    h2 a:hover,
    h2 a:active {
      color: $link-color;
    }

    p {
      color: $text-color;
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  @media only screen and (max-width : $breakpoint-medium) {
    footer.no-global .legal {
      box-shadow: 0 2px 2px -1px $mid-grey inset;
      box-sizing: content-box;
      margin-left: -10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
    }
  }

  @media only screen and (min-width: $site-max-width) {

    footer.global .legal {
      width: $site-max-width;
    }

    footer.global {
      padding: 30px 0 20px;
    }
  }
}
// scss-lint:enable IdSelector, QualifyingElement
