@mixin vf-forms {
  form {
    input,
    select,
    textarea {
      box-sizing: border-box;
      width: 100%;
    }

    .fieldset-submit ul {
      margin-bottom: 0;
    }
  // scss-lint:disable SelectorFormat
    fieldset {
      .mktError,
      .errMsg,
      .reqMark {
        color: $error;
      }

      .mktFormMsg {
        clear: both;
        display: block;
      }
    }
  // scss-lint:enable SelectorFormat
  }
}
