////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-forms
/// @since        0.0.3
////

/// Form element styles
/// @group Forms
@mixin vf-forms {

  $states: (
    error: $error,
    warning: $warning,
    success: $success,
    information: $information
  );

  label {
    cursor: pointer;
    display: block;
    margin-bottom: 4px;

    @each $state, $color in $states {
      &.has-#{$state} {
        color: $color;
      }
    }
  }

  input {

    &[type='text'],
    &[type='number'],
    &[type='search'],
    &[type='password'],
    &[type='email'],
    &[type='url'],
    &[type='tel'] {
      @extend %input-elements;
    }

    &[type='reset'] {
      display: none;
    }

    &[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    // Checkbox and radio inputs
    &[type='checkbox'],
    &[type='radio'] {
      @extend %tick-elements;

      + label {
        display: inline;
        margin-left: 5px;
        vertical-align: middle;
        width: auto;
      }
    }

    @each $state, $color in $states {
      &.has-#{$state} {
        border: 1px solid $color;
      }
    }
  }

  form ul {
    margin-left: 0;
    list-style: none;
  }

  // Textarea styles
  textarea {
    @extend %input-elements;
    overflow: auto;
    vertical-align: top;

    &[readonly='readonly'] {
      color: $warm-grey;
      cursor: default;

      &:active,
      &:focus {
        border-color: $warm-grey;
        outline: none;
      }
    }
  }

  fieldset {
    background-color: $light-grey;
    background-position: -15px -15px;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 0;
    margin-bottom: 8px;
    padding: 15px 20px;

    @media only screen and (min-width: $breakpoint-large) {
      padding: 15px 20px;
    }

    h3 {
      border-bottom: 1px dotted $mid-grey;
      margin-bottom: 9px;
      padding-bottom: 10px;
    }
  }

  form {
    input,
    select,
    textarea {
      box-sizing: border-box;
      width: 100%;
    }
  }
}


/// Default form input element styles
/// @group Forms
%input-elements {
  -webkit-appearance: textfield;
  border-radius: 2px;
  border: 1px solid $mid-grey;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .12);
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  outline: none;
  padding: .6956522em .869565em;
  vertical-align: baseline;
  font-weight: 300;

  &:active,
  &:focus {
    border-color: $warm-grey;
    outline: none;
  }

  &placeholder {
    color: $cool-grey;
  }

  &::placeholder {
    color: $cool-grey;
  }

  &[disabled="disabled"] {
    opacity: .5;
  }
}

/// Default form checkbox and radio styles
/// @group Forms
%tick-elements {
  border-radius: 2px;
  border: 1px solid $mid-grey;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .12);
  box-sizing: border-box;
  height: 14px;
  padding: 0;
  vertical-align: middle;
  width: 14px;
}
