////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-header
/// @since        0.0.3
////

/// Default header styling
/// @group header
@mixin vf-header {
  // scss-lint:disable NestingDepth

  .banner {
    background: $brand-color;
    border-top: 0;
    display: block;
    min-width: 100%;
    position: relative;
    width: auto;
    z-index: 2;

    h2 {
      display: block;
      font-size: 1.563em;
      left: 4px;
      margin-bottom: 0;
      position: relative;
      text-transform: lowercase;
      top: 14px;

      a,
      a:link,
      a:visited {
        color: $header-link-color;
        float: left;
        text-decoration: none;
      }
    }

    .nav-primary {
      border: 0;
      margin: 0 auto;
      overflow: hidden;

      ul {
        border-right: 1px solid lighten($brand-color, 10%);
        float: left;
        margin: 0;
        position: static;

        li {
          border-bottom: 1px solid lighten($brand-color, 10%);
          border-left: 1px solid darken($brand-color, 20%);
          float: left;
          font-size: 16px;
          list-style-image: none;
          margin: 0;
          text-indent: 0;
          vertical-align: bottom;


          &:last-child {
            border-right: 1px solid lighten($mobile-nav, 60%);
          }

          a:link,
          a:visited {
            border-left: 1px solid lighten($brand-color, 7%);
            color: $header-link-color;
            display: block;
            font-size: 14px;
            font-smoothing: subpixel-antialiased;
            margin-bottom: 0;
            padding: 14px 14px 13px;
            position: relative;
            text-align: center;
            text-decoration: none;
          }

          .active {
            background: darken($brand-color, 20%);
            border-left: 1px solid lighten($brand-color, 7%);
          }

          a:hover {
            border-top: 0;
            box-shadow: none;
          }

          li:last-child {
            border: 0;
          }
        }

      } // end ul

      &.active {
        border-bottom: 1px solid lighten($mobile-nav, 60%);
        box-shadow: 0 1px 2px 1px $warm-grey;
        padding: 0;
      }

      ul li,
      ul li a:link,
      ul li a:visited,
      ul li a:active {
        display: block;
        padding: 0;
        margin: 0;
        border: 0;
      }

      ul li a:link,
      ul li a:visited,
      ul li a:hover,
      ul li a:active {
        padding: 14px 14px 13px;
        text-align: left;
      }

      .active li ul {
        display: none;
      }

      &.nav-left {
        .logo-ubuntu {
          float: right;
        }
      }

      li ul {
        background: $light-grey;
        border-radius: 10px;
        border: 1px solid lighten($cool-grey, 60%);
        box-shadow: 0 2px 2px -1px $warm-grey;
        display: none;
        float: none;
        margin: 0;
        padding: 5px 0;
        position: absolute;
        top: 51px;
        width: 200px;

        li {
          border: 0;
          float: none;

          a:link,
          a:visited {
            border: 0;
            color: $cool-grey;
            padding: 0 0 11px 14px;
            text-align: left;
            width: 170px;
          }

          a:hover {
            background: none;
            box-shadow: none;
            color: $brand-color;
          }

        }

        // the old arrow that appears if there is secondary nav when you hover over the main nav
        .arrow-up {
          display: none;
        }

        .first a:link,
        .first a:visited,
        :first-of-type a:link {
          padding: 10px 14px;
        }

        .active a:link,
        .active a:visited {
          background: none;
        }

      } // end ul

      // the new arrow that appears if there is secondary nav when you hover over the main nav
      li:hover ul:after {
        background: url('#{$asset-path}img/patterns/arrow-up-smaller.png') no-repeat;
        content: '';
        display: block;
        height: 8px;
        left: 20px;
        position: absolute;
        top: -8px;
        width: 200px;
        z-index: 20000;
      }

    } // nav-primary

    .nav-toggle {
      background-image: url('#{$asset-path}img/icons/navigation-menu-plain.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 25px auto;
      cursor: pointer;
      display: block;
      height: 48px;
      position: absolute;
      right: 0;
      text-indent: -99999px;
      width: 48px;
    }

    .no-script {
      display: none;
    }

    nav ul {
      background-color: $light-grey;
      display: none;
      float: left;
    }

    .logo {
      border-left: 0;
      float: left;
      height: 48px;
      margin-right: 15px;
      margin-left: 15px;
      overflow: hidden;
      position: relative;
      top: 8px;
    }
  } // end .banner

  // Responsive header navigation
  // scss-lint:disable IdSelector
  #main-navigation-link {
    display: none;
  }
  // scss-lint:enable IdSelector

  header nav .active {
    display: block;
  }

  // scss-lint:disable IdSelector
  #menu.active:after {
    background-image: url('#{$asset-path}img/patterns/nav-arrow.svg');
    background-repeat: no-repeat;
    background-position: 50% 26px;
    content: '';
    display: block;
    height: 23px;
    margin-left: 0;
    padding-bottom: 17px;
    position: relative;
    top: -3px;
    width: 48px;
    z-index: 999;
  }
  // scss-lint:enable IdSelector

  // nav-secondary
  .nav-secondary {
    border-bottom: 1px solid $mid-grey;
    margin-bottom: 0;


    ul {
      float: left;
      margin-bottom: 10px;
      margin-left: 2px;

      li {
        float: left;
        margin-top: 16px;
        font-size: 14px;
        margin-right: 15px;

        a:link,
        a:visited {
          color: $warm-grey;
          font-size: 14px;
          float: left;
        }

        a:hover,
        a:active {
          color: $brand-color;
          text-decoration: none;
        }
      }

      li,
      .active a:link,
      .active a:visited {
        color: $brand-color;
        text-decoration: none;
      }

    } // end ul

    .breadcrumb {
      margin-left: 20px;

      li,
      li a:link,
      li a:visited {
        color: $warm-grey;
        margin-right: 8px;
      }

      .active a:link,
      .active a:visited {
        color: $brand-color;
      }
    }
  }

  /*
   * Main navigation dropdown styles
   */
  @media only screen and (max-width : $navigation-threshold) {
    .banner .nav-primary {
      box-shadow: 0 1px 2px 1px $warm-grey;
    }

    .banner .nav-primary.active {
      box-shadow: none;
      padding: 0;
    }

    header nav .active {
      float: left;
    }

    header nav .active li:last-child a:link,
    header nav .active li:last-child a:visited {
      border-bottom: 0;
    }

    .banner .nav-primary ul {
      position: relative;
      width: 100%;
    }

    .banner .nav-primary ul .active {
      a:link,
      a:visited {
        color: $cool-grey;
        font-weight: 700;
      }
    }

    .banner .nav-primary ul li,
    .banner .nav-primary ul li a:link,
    .banner .nav-primary ul li a:visited,
    .banner .nav-primary ul li a:active {
      box-sizing: border-box;
      background: $transparent;
      border: 0;
      display: block;
      font-weight: 300;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .banner .nav-primary ul li a:link,
    .banner .nav-primary ul li a:visited,
    .banner .nav-primary ul li a:hover,
    .banner .nav-primary ul li a:active {
      background-color: lighten($mobile-nav, 72%);
      border-bottom: 1px solid lighten($mobile-nav, 60%);
      color: $cool-grey;
      font-size: 1em;
    }

    .banner .nav-primary ul li a:hover {
      box-shadow: none;
      background: lighten($mobile-nav, 75%);
    }

    .banner .nav-primary ul li .active {
      background-color: $nav-active-bg;
    }

    .banner .nav-primary ul li a:link,
    .banner .nav-primary ul li a:visited,
    .banner .nav-primary ul li a:hover,
    .banner .nav-primary ul li a:active {
      padding: 8px 10px;
      text-align: left;
    }

    .banner .nav-primary ul li {
      box-sizing: border-box;
      background: $transparent;
      border-bottom: 0;
      border-right: 1px solid lighten($mobile-nav, 60%);
      float: left;
      width: 50%;
    }

    .nav-secondary {
      background: $white;

      .second-level-nav {
        border-top: 1px solid lighten($brand-color, 7%);
        display: none;
        margin-bottom: 0;
        margin-left: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;

        li {
          box-sizing: border-box;
          width: 50%;
          margin: 0;
          float: left;

          a,
          a:link,
          a:visited {
            box-sizing: border-box;
            display: block;
            height: 100%;
            padding: 10px 10px 10px 20px;
            width: 100%;
          }

          &.active {
            a,
            a:link,
            a:visited {
              color: $warm-grey;
              font-weight: 700;
            }
          }
        }
      } /* end .second-level-nav */

      .third-level-nav {
        display: none;
        margin-bottom: 0;
        width: 100%;
        padding-bottom: 20px;

        li {
          box-sizing: border-box;
          width: 50%;
          margin: 0;
          float: left;
          padding-left: 30px;

          a,
          a:link,
          a:visited {
            box-sizing: border-box;
            padding: 10px 10px 10px 0;
            display: block;
            width: 100%;
            height: 100%;
          }

          &.active {
            a,
            a:link,
            a:visited {
              color: $warm-grey;
              font-weight: 700;
            }
          }

          &.single-link {
            width: 100%;
          }
        } /* end li */

        li:only-child {
          width: 100%;
        }

      } /* end third-level-nav */

      .breadcrumb {
        box-sizing: border-box;
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;

        li:first-of-type {
          border-bottom: 1px solid lighten($brand-color, 7%);
          margin-bottom: -1px;
        }

        li {
          box-sizing: border-box;
          color: $white;
          display: block;
          height: 40px;
          margin: 0;
          width: 100%;

          + li {
            display: none;

            a:link,
            a:active,
            a:visited {
              padding-left: 20px;
            }

            .after {
              background-image: none;
            }
          }

          a,
          a:link,
          a:visited {
            box-sizing: border-box;
            color: $warm-grey;
            display: block;
            font-size: 16px;
            margin-right: 0;
            padding: 8px 10px 0;
            text-decoration: none;
            width: 100%;
          }

          &.active {
            margin-top: 12px;

            a,
            a:link,
            a:visited {
              color: $warm-grey;
              font-weight: 700;
            }
          }

          &:nth-of-type(2n) {
            margin-top: 12px;
          }

          .after {
            background-image: url('#{$asset-path}img/patterns/nav-down-arrow.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 18px;
            float: right;
            height: 18px;
            margin-right: -5px;
            margin-top: -6px;
            padding: 10px;
            position: relative;
            right: 0;
            top: 0;
            width: 18px;
          }
        }

      }

      &.open {

        .breadcrumb li a:after,
        .breadcrumb li a:link:after,
        .breadcrumb li a:visited:after {
          background-image: url('#{$asset-path}img/patterns/nav-up-arrow.svg');
        }

        .breadcrumb li + li .after {
          background-image: none;
        }

        .breadcrumb li .after {
          background-image: url('#{$asset-path}img/patterns/nav-up-arrow.svg');
          margin-top: -7px;
        }

        .second-level-nav,
        .third-level-nav,
        .breadcrumb li + li {
          display: block;
        }
      }
    }

    .banner {
      .nav-toggle {
        background-image: url('#{$asset-path}img/icons/navigation-menu-plain.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 25px auto;
        cursor: pointer;
        display: block;
        height: 48px;
        position: absolute;
        right: 0;
        top: 0;
        text-indent: -99999px;
        width: 48px;
      }

      .nav-toggle__link {
        width: 48px;
        height: 48px;

        &.open {
          display: block;
        }

        &.close {
          display: none;
        }
      }
    }

    // scss-lint:disable IdSelector
    #nav:target {
      ul {
        display: block;
      }

      + .nav-toggle {
        .nav-toggle__link {
          &.open {
            display: none;
          }

          &.close {
            display: block;
          }
        }
      }
    }
  }
    // scss-lint:enable IdSelector

  @media only screen and (min-width : $navigation-threshold) {

    .banner .nav-primary ul li {
      border-bottom: 0;
    }
  }

  @media only screen and (min-width : $navigation-threshold + 1) {

    .banner {
      box-shadow: 0 2px 2px -2px $warm-grey inset, 2px 1px $white;

      .nav-primary {
        box-shadow: none;
        border-bottom: 0;
      }
    }

    .banner .nav-toggle {
      display: none;
    }

    .banner nav ul {
      background-color: $transparent;
      display: block;
    }

    .banner .nav-primary ul li {
      border-left: 1px solid darken($brand-color, 8%);
    }

    .banner .nav-primary ul li a:active,
    .banner .nav-primary ul li a:hover,
    .banner .nav-primary ul li a:visited,
    .banner .nav-primary ul li a:link {
      border-left: 1px solid lighten($brand-color, 12%);
    }

    .banner .nav-primary ul li:last-child {
      border-right: 1px solid darken($brand-color, 8%);
      border-left: 1px solid darken($brand-color, 8%);
    }

    .banner .nav-primary ul li .active {
      background-color: darken($brand-color, 14%);
    }

    .banner .nav-primary ul li a:hover {
      background-color: lighten($brand-color, 8%);
    }

    .nav-secondary {

      :last-child li:last-child {
        padding-bottom: 10px;
      }

      .breadcrumb,
      .second-level-nav,
      .third-level-nav {

        li {
          margin-right: 15px;
        }
      }

      .breadcrumb {
        float: left;

        li {
          margin-bottom: 10px;
        }

      }

      ul {
        float: none;
        margin-bottom: 0;

        li {
          margin-bottom: 5px;
        }

      }
    }
  }

  @media only screen and (min-width: $breakpoint-large) {

    .banner {
      margin-bottom: 20px;

      .nav-primary ul {
        display: block;

        li:hover ul {
          display: block;
        }
      }
    }

    .banner .nav-primary,
    .nav-global-wrapper {
      width: 984px; /* 980px / 15px (baseline font); 980px + (60px x 2) = 1100px */
    }

    .banner .nav-primary.nav-right .logo-ubuntu {
      margin-left: 0;
    }
  }
  // scss-lint:enable NestingDepth
} // @mixin vf-header
