////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-helpers
/// @since        0.0.52
////

/// A collect of functions to aid and enhance the users abililty
/// @group Helpers
@mixin vf-helpers {
  @include vf-left;
  @include vf-right;
  @include vf-no-border;
  @include vf-link-top;
  @include vf-caps;
  @include vf-touch-border;
  @include vf-accessibility-aid;
  @include vf-external;
  @include vf-align-center;
  @include vf-no-margin-bottom;
  @include vf-no-padding-bottom;
  @include vf-pull-bottom-right;
  @include vf-pull-bottom-left;
  @include vf-priority-0;
  @include vf-for-small;
  @include vf-video-container;
  @include vf-pull-right;
  @include vf-pull-left;
  @include vf-for-medium;
  @include vf-med-six-col;
}


/// Floats an element left
/// @group Helpers
/// @example
///   <div class="left">
///   </div>
@mixin vf-left {
  .left { float: left; }
}

/// Floats an element right
/// @group Helpers
/// @example
///   <div class="right">
///   </div>
@mixin vf-right {
  .right { float: right; }
}

/// Removes the border from element
/// @group Helpers
/// @example
///   <div class="row no-border">
///     ...
///   </div>
@mixin vf-no-border {
  .no-border { border: 0; }
}

/// Provides a wrapper that positions the link over the rows border
/// @group Helpers
/// @example
///   <div class="row">
///     <div class="link-top">
///       <a href="#">Back to top</a>
///     </div>
///   </div>
@mixin vf-link-top {
  .link-top {
    font-size: .875em;
    clear: both;
    margin-bottom: 40px;
    margin-top: -40px;

    a {
      background: $white;
      margin-right: 10px;
      margin-top: -35px;
      padding: 5px;
      float: right;
    }
  }
}

/// Convents text to uppercase
/// @group Helpers
/// @example
///   <div class="six-col">
///     <p class="caps">This text should be uppercase</p>
///   </div>
@mixin vf-caps {
  .caps { text-transform: uppercase; }
}

/// Mainly used on images to lower them to touch the bottom border of the row
/// Requires no-margin-bottom helper on col
/// @group Helpers
/// @example
///   <div class="row">
///     <div class="six-col no-margin-bottom">
///       <img src="..." class="touch-bottom" />
///     </div>
///   </div>
@mixin vf-touch-border {

  @media only screen and (min-width : $breakpoint-medium) {
    .touch-border,
    .touch-bottom {
      float: left;
      margin-bottom: -$gutter-width;
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    .touch-border,
    .touch-bottom {
      float: left;
      margin-bottom: -$gutter-width * 2;
    }
  }
}

/// Hides containing elements to the left off screen but its available for screen readers
/// @group Helpers
/// @example
///   <ul class="accessibility-aid">
///     <li class="accessibility-aid">
///       <a accesskey="s" href="#main-content">Jump to content</a>
///     </li>
///   </ul>
@mixin vf-accessibility-aid {
  .accessibility-aid,
  .off-left {
    position: absolute;
    left: -999em;
  }
}

/// Appends an external icon ot the right of the link
/// @group Helpers
/// @example
///   <a href="..." class="external">Jump to another site</a>
@mixin vf-external {
  .external {
    background-size: .7em .7em;
    padding-right: .9em;
    background-image: url('#{$asset-path}img/external-link-orange.svg');
    background-position: right 1px;
    background-repeat: no-repeat;
  }

  .no-svg .external {
    background-image: url('#{$asset-path}img/external-link-orange.png');
  }
}

/// Sets the element to text-align center
/// @group Helpers
/// @example
///   <div class="twelve-col">
///     <p class="align-center">Centered text</p>
///   </div>
@mixin vf-align-center {
  .text-center,
  .align-center { text-align: center; }
}

/// Removes margin bottom
/// @group Helpers
/// @example
///   <div class="six-col no-margin-bottom">
///   </div>
@mixin vf-no-margin-bottom {
  .no-margin-bottom { margin-bottom: 0; }
}

/// Removes padding bottom
/// @group Helpers
/// @example
///   <div class="six-col no-padding-bottom">
///   </div>
@mixin vf-no-padding-bottom {
  .no-padding-bottom { padding-bottom: 0; }
}

/// Aligns the element to the bottom right corner
/// @group Helpers
/// @example
///   <div class="six-col">
///     <img src="..." class="pull-bottom-right" />
///   </div>
@mixin vf-pull-bottom-right {
  .pull-bottom-right {
    float: right;
    margin-right: -($gutter-width / 2);
  }

  @media only screen and (min-width : $breakpoint-medium) {
    .pull-bottom-right {
      margin-right: -($gutter-width * 2);
      margin-bottom: -($gutter-width * 2);
    }
  }

  @media only screen and (min-width : $breakpoint-large) {
    .pull-bottom-right {
      margin-right: -($gutter-width * 2);
      margin-bottom: -($gutter-width * 3);
    }
  }
}

/// Aligns the element to the bottom left corner
/// @group Helpers
/// @example
///   <div class="six-col">
///     <img src="..." class="pull-bottom-left" />
///   </div>
@mixin vf-pull-bottom-left {

  .pull-bottom-left {
    float: left;
    margin-left: -($gutter-width / 2);
  }

  @media only screen and (min-width : $breakpoint-medium) {
    .pull-bottom-left {
      margin-left: -($gutter-width * 2);
      margin-bottom: -($gutter-width * 2);
    }
  }

  @media only screen and (min-width : $breakpoint-large) {
    .pull-bottom-left {
      margin-left: -($gutter-width * 2);
      margin-bottom: -($gutter-width * 3);
    }
  }
}


/// By wrapping a video embed it makes the video responsive
/// @group Helpers
/// @example
///   <div class="video-container">
///     <iframe width="442" height="249" src="http://www.youtube.com/embed/6pSslGRi-ew?rel=0&amp;wmode=opaque&amp;modestbranding=0" frameborder="0" allowfullscreen=""></iframe>
///     <h3 class="video-title">Landscape - Canonical's systems management tool for Ubuntu</h3>
///   </div>
@mixin vf-video-container {
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    + .video-title {
      margin-top: 20px;
    }
  }
}

/// Aligns the element to the right of the the container
/// @group Helpers
/// @example
///   <div class="six-col">
///     <img src="..." class="pull-right" />
///   </div>
@mixin vf-pull-right {
  .pull-right {
    @media only screen and (max-width : $breakpoint-medium) {
      margin-bottom: $gutter-width;
    }

    float: right;
    margin-right: -($gutter-width * 2);
  }
}

/// Aligns the element to the left of the the container
/// @group Helpers
/// @example
///   <div class="six-col">
///     <img src="..." class="pull-left" />
///   </div>
@mixin vf-pull-left {
  .pull-left {
    margin-left: -($gutter-width * 2);
  }
}

/// Hides content on small screens
/// @group Helpers
/// @example
///   <div class="six-col">
///     <img src="..." class="priority-0" />
///   </div>
@mixin vf-priority-0 {
  @media only screen and (max-width : $breakpoint-medium - 1) {
    .priority-0,
    .not-for-small {
      display: none;
    }
  }

}

/// Display's on medium view and larger
/// @group Helpers
/// @example
///   <div class="six-col">
///     <img src="..." class="for-medium" />
///   </div>
@mixin vf-for-medium {
  @media only screen and (min-width: $breakpoint-large) {
    .for-tablet,
    .for-medium {
      display: none;
    }
  }
}

/// Shows content only on small screens
/// @group Helpers
/// @example
///   <div class="six-col">
///     <img src="..." class="for-small" />
///   </div>
@mixin vf-for-small {
  @media only screen and (min-width : $breakpoint-medium) {
    .for-mobile,
    .for-small {
      display: none;
    }
  }
}

/// Med-six-col is a wrapper for a group three-cols.
/// It converts the three-cols to six-cols in medium viewports
/// @group Helpers
/// @example
///   <div class="med-six-col">
///     <div class="three-col">...</div>
///     <div class="three-col">...</div>
///     <div class="three-col">...</div>
///     <div class="three-col last-col">...</div>
///   </div>
@mixin vf-med-six-col {
  .med-six-col {

    @media only screen and (min-width : $breakpoint-medium) and (max-width : $breakpoint-large) {
      .three-col {
        width: 48.93617%;
      }

      .three-col:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}
