////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-helpers
/// @since        0.0.3
////

/// Helpers
/// Global helper classes
/// @group helpers
@mixin vf-helpers {
  
  .accessibility-aid {
    left: -999em;
    position: absolute;
  }
  
  .text-center,
  .align-center { 
    text-align: center; 
  }
  
} // end @mixin vf-helpers
