////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-inline-logos
/// @since        0.0.13
////

/// Inline logos component
/// @group Lists
/// @example
///   <ul class="inline-logos">
///     <li>...</li>
///   </ul>
@mixin vf-inline-logos {
  .inline-logos {
    float: left;
    margin-left: 0;
    padding: 0;
    text-align: center;
    width: 100%;

    .inline-logos__item {
      display: inline-block;
      margin-right: $gutter-width;
      padding: 0 0 20px;
      width: 36%;
      
      @media only screen and (max-width : 300px) {
        margin: 0 0 20px;
        width: 100%;
      }

      &.clear-row { 
        clear: left; 
      }

      &.last-item { 
        border: 0; 
      }
    }

    .inline-logos__image {
      max-height: 32px;
      max-width: 115px;
      transition: all .3s ease-out;
      vertical-align: middle;
    }
  }

  @media only screen and (min-width : $breakpoint-medium) {
    .inline-logos {
      padding-top: 20px;

      .inline-logos__item {
        display: inline-block;
        height: 56px;
        line-height: 60px;
        margin: 0 30px 30px;
        width: 150px;
      }
      
      .inline-logos__image {
        float: none;
        height: auto;
        max-height: 56px;
        max-width: 150px;
        vertical-align: middle;
      }
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    .inline-logos__item {
      margin-bottom: 40px;
    }
  }
}
