////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-inline-logos
/// @since        0.0.13
////

/// Inline logos component
/// @group Lists
/// @example
///   <ul class="inline-logos">
///     <li>...</li>
///   </ul>
@mixin vf-inline-logos {
  .inline-logos {
    float: left;
    margin-left: 0;
    padding: 0;
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      margin: 10px $gutter-width;
      padding: 0;

      &.clear-row { clear: left; }

      &.last-item { border: 0; }
    }

    img {
      transition: all .3s ease-out;
      vertical-align: middle;
      max-width: 115px;
      max-height: 32px;
    }
  }

  .inline-icons {
    margin: 0 0 $gutter-width;

    li {
      margin-right: $gutter-width;
      margin-bottom: $gutter-width;
      text-align: left;
      display: inline-block;

      &.last-item { margin-right: 0; }
    }

    &.no-margin-bottom li { margin-bottom: 0; }

    img {
      vertical-align: middle;
      max-width: 115px;
      max-height: 32px;
    }
  }

  @media only screen and (min-width : $breakpoint-medium) {

    .inline-logos {
      li {
        display: inline-block;
        height: auto;
        margin: $gutter-width 30px;
        width: 170px;
        height: 63px;
        line-height: 60px;
        //border: 1px dotted #ccc;

        img {
          float: none;
          height: auto;
          vertical-align: middle;
          max-width: 170px;
          max-height: 63px;
        }
      }
    }
  }

  @media only screen and (min-width: $breakpoint-large) {

    .inline-icons {
      text-align: left;
      margin-bottom: 20px;
    }
  }
}
