////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-media
/// @since        0.0.3
////

/// Media element styles
/// @group Media
@mixin vf-media {

  img {
    display: block;
    clear: both;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;
    -ms-interpolation-mode: bicubic;
    border: 0;
  }

  // Corrects overflow displayed oddly in IE9
  svg:not(:root) {
    overflow: hidden;
  }

  figure {
    width: 100%;

    caption {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  object,
  iframe,
  embed,
  canvas,
  video,
  audio {
    display: block;
    max-width: 100%;
    margin: 0 auto 20px;
  }

  // Prevents modern browsers from displaying 'audio' without controls
  // Remove excess height in iOS5 devices
  audio:not([controls]) {
    display: none;
    height: 0;
  }

  [hidden] {
    display: none;
  }

  // Responsive video solution
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    h3,
    .video-title {
      margin-top: 20px;
    }
  }
}
