@mixin vf-reset {
  ////
  /// Ubuntu Core Front-End Framework
  /// Main CSS file part of the Ubuntu Core Front-End Framework
  ///
  /// @project    Vanilla Framework
  /// @author     Web Team at Canonical Ltd
  /// @copyright  2015 Canonical Ltd
  ///
  /// @colordef  $cool-grey (#333); main text
  /// @colordef  $brand-color (#dd4814); Ubuntu orange

  /// Dependencies
  ///
  /// Importing reset file: core-reset.css
  /// Importing grid file: core-grid.css
  ////

  /// Font sizes
  ///
  /// 45px
  /// 32px
  /// 23px
  /// 19.5px
  /// 16px - bold
  /// 13px - bold - uppercase

  /// Table of contents
  /// General
  /// Links
  /// Lists
  /// Images
  /// Base typography
  /// Global elements
  /// Forms
  /// Tables
  ////

  /// General
  ///
  /// @section links
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  ol,
  ul,
  li,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  nav,
  section {
    display: block;
  }

  audio,
  canvas,
  video {
    display: inline-block;
  }

  audio:not([controls]) {
    display: none;
  }

  [hidden] {
    display: none;
  }

  html {
    font-size: 100%;
    overflow-y: scroll;
    text-size-adjust: 100%;
  }

  blockquote,
  q {
    quotes: none;
  }

  legend {
    border: 0;
  }

  figure {
    margin: 0;
  }

  abbr,
  acronym {
    cursor: help;
  }

  .link-arrow:after {
    content: '\0000a0›';
  }

  nav ul li h2 a:after {
    content: '\0000a0›';
  }

  nav ul li a:after,
  .carousel ul li a:after,
  ul li p a:after {
    content: '';
  }

  /// Lists
  ol,
  ul {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0;
  }

  nav ul,
  nav ol {
    list-style: none;
    list-style-image: none;
  }

  /// Images
  /// @section images
  svg:not(:root) {
    overflow: hidden;
  }

  img {
    border: 0;
    height: auto;
    max-width: 100%;

    .left {
      margin-right: $gutter-width;
    }

    .right {
      margin-left: $gutter-width;
    }
  }

  .middle img {
    vertical-align: middle;
    margin-top: 4em;
  }

  h2 span,
  h1 span {
    display: block;
  }

  p + h2,
  ul + h2,
  ol + h2,
  pre + h2 {
    margin-top: (18 / 32)+em;
  }

  header nav a:link {
    font-weight: normal;
  }

  p + h3,
  ul + h3,
  ol + h3,
  pre + h3 {
    margin-top: (18 / 23)+em;
  }

  p + h4,
  ul + h4,
  ol + h4,
  pre + h4 {
    margin-top: (19.5 / $base)+em;
  }

  ol+h2,
  p+h2,
  pre+h2,
  ul+h2 {
    margin-top: .563em;
  }

  ol+h3,
  p+h3,
  pre+h3,
  ul+h3 {
    margin-top: .783em;
  }

  ol+h4,
  p+h4,
  pre+h4,
  ul+h4 {
    margin-top: 1.219em;
  }

  li {
    margin-bottom: .4em;
  }

  li:last-of-type {
    margin-bottom: 0;
  }

  ins {
    background: $code-bg;
    text-decoration: none;
  }

  small,
  .smaller {
    font-size: 13px;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    vertical-align: text-top;
  }

  sub {
    vertical-align: text-bottom;
  }

  pre {
    border-radius: 4px;
    background: $light-orange;
    padding: .6em 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  @media only screen and (min-width: 984px) {

    form fieldset {
      padding: 15px 20px;
    }

    img {
      max-width: none;
    }

  }
}
