////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-rows
/// @since        0.0.3
////

/// Row element styles
/// @group Rows
/// @example
/// <div class="row">
///   ...
/// </div>
@mixin vf-rows {
  .row {
    box-sizing: border-box;
    border-bottom: 1px dotted $warm-grey;
    clear: both;
    padding: 20px 10px 0;
    position: relative;

    br {
      display: none;
    }

    &.no-padding-bottom {
      padding-bottom: 0;
    }
  }

  .row:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }

  .row-grey {
    background: $light-grey;
  }

  .no-border { border: 0; }

  .row-hero {
    margin-top: 20px;
    padding-top: 0;
  }

  .strip {
    width: 100%;
    display: block;
  }

  @media only screen and (min-width : $breakpoint-medium) {

    .row {
      padding: 30px;
    }

    .row-hero {
      margin-top: 40px;
    }

    .row {
      border-radius: 0;
      margin: 0;
      padding: 40px 40px 20px;
    }
  }

  @media only screen and (min-width : $breakpoint-medium + 1px) {
    .row br { display: block; }
  }

  @media only screen and (min-width: $breakpoint-large) {

    .row br { display: block; }

    .row { padding: 60px 40px 40px; }

    .no-border { border: 0; }
  }
}
