////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-typography
/// @since        0.0.3
////

/// Typographic element styles
/// @group Typography
@mixin vf-typography {
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('#{$asset-path}fonts/ubuntu-l-webfont.woff2') format('woff2'), url('#{$asset-path}fonts/ubuntu-l-webfont.woff') format('woff');
  }

  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('#{$asset-path}fonts/ubuntu-r-webfont.woff2') format('woff2'), url('#{$asset-path}fonts/ubuntu-r-webfont.woff') format('woff');
  }

  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('#{$asset-path}fonts/ubuntu-b-webfont.woff2') format('woff2'), url('#{$asset-path}fonts/ubuntu-b-webfont.woff') format('woff');
  }

  @font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    src: url('#{$asset-path}fonts/ubuntu-li-webfont.woff2') format('woff2'), url('#{$asset-path}fonts/ubuntu-li-webfont.woff') format('woff');
  }

  @font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: url('#{$asset-path}fonts/ubuntu-ri-webfont.woff2') format('woff2'), url('#{$asset-path}fonts/ubuntu-ri-webfont.woff') format('woff');
  }

  @font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: url('#{$asset-path}fonts/ubuntu-bi-webfont.woff2') format('woff2'), url('#{$asset-path}fonts/ubuntu-bi-webfont.woff') format('woff');
  }

  @font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url('#{$asset-path}fonts/ubuntumono-r-webfont.woff2') format('woff2'), url('#{$asset-path}fonts/ubuntumono-r-webfont.woff') format('woff');
  }

  body {
    color: $text-color;
    font-family: Ubuntu, Arial, 'libra sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }

  /// Links
  /// @section links
  a:focus {
    outline: thin dotted;
  }

  a:hover,
  a:active {
    outline: 0;
  }

  a {
    color: $link-color;
    text-decoration: none;
  }

  a:hover,
  a:active,
  a:focus {
    text-decoration: underline;
  }

  .caps-centered,
  .muted-heading {
    font-size: .875em;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  small,
  .smaller {
    font-size: 13px;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    vertical-align: text-top;
  }

  sub {
    vertical-align: text-bottom;
  }

  pre {
    border-radius: 4px;
    background-color: $brand-color-light;
    padding: .6em 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  p + h2,
  ul + h2,
  ol + h2,
  pre + h2 {
    margin-top: (18 / 32)+em;
  }

  header nav a:link {
    font-weight: normal;
  }

  p + h3,
  ul + h3,
  ol + h3,
  pre + h3 {
    margin-top: .783em;
  }

  p + h4,
  ul + h4,
  ol + h4,
  pre + h4 {
    margin-top: 1.21875;
  }

  ol + h2,
  p + h2,
  pre + h2,
  ul + h2 {
    margin-top: .563em;
  }

  ol + h3,
  p + h3,
  pre + h3,
  ul + h3 {
    margin-top: .783em;
  }

  ol + h4,
  p + h4,
  pre + h4,
  ul + h4 {
    margin-top: 1.219em;
  }

  .intro {
    font-size: 1em;
    line-height: 1.4;
  }

  .row div,
  .row ul {
    p:last-child { margin-bottom: 0; }
  }

  .four-col p:last-child {
    margin-bottom: 0;
  }

  .note {
    color: $warm-grey;
    font-size: .813em;
  }

  /// Base typography
  /// @section type
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
    line-height: 1.3;
  }

  h1 {
    font-size: 2.8125em;
    margin-bottom: .5em;
  }

  h2 {
    font-size: 2em;
    margin-bottom: .5em;
  }

  h3 {
    font-size: 1.4375em;
    margin-bottom: .522em;
  }

  h4 {
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: .615em;
  }

  h5 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 1em;
  }

  h6 {
    font-size: .8125em;
    font-weight: 400;
    margin-bottom: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  p,
  li {
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    margin-bottom: .75em;
    padding: 0;
  }

  button,
  input,
  select,
  textarea {
    font-family: Ubuntu,Arial,'libra sans',sans-serif;
  }

  @media only screen and (min-width : $breakpoint-medium) {
    .intro {
      font-size: 1.13333em;
    }
  }

  @media only screen and (min-width: $breakpoint-large) {

    p,
    li,
    code,
    pre {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: .75em;
    }

    .intro {
      font-size: 1.25em;
    }

  }

  dfn {
    font-style: italic;
  }

  code,
  pre {
    font-family: 'Ubuntu Mono', 'Consolas', 'Monaco', 'Lucida Console', 'Courier New', Courier, monospace;
  }
}
