/// font size, default 16
@mixin vf-font-size ($size: 16) {
  font-size: ($size / $base)+em;
  margin-bottom: (12 / $size)+em;
}

@mixin vf-typography {
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('#{$asset-path}fonts/ubuntu-l-webfont.woff2') format('woff2'), url('#{$asset-path}fonts/ubuntu-l-webfont.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('#{$asset-path}fonts/ubuntu-r-webfont.woff2') format('woff2'), url('#{$asset-path}fonts/ubuntu-r-webfont.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('#{$asset-path}fonts/ubuntu-b-webfont.woff2') format('woff2'), url('#{$asset-path}fonts/ubuntu-b-webfont.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    src: url('#{$asset-path}fonts/ubuntu-li-webfont.woff2') format('woff2'), url('#{$asset-path}fonts/ubuntu-li-webfont.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: url('#{$asset-path}fonts/ubuntu-ri-webfont.woff2') format('woff2'), url('#{$asset-path}fonts/ubuntu-ri-webfont.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: url('#{$asset-path}fonts/ubuntu-bi-webfont.woff2') format('woff2'), url('#{$asset-path}fonts/ubuntu-bi-webfont.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url('#{$asset-path}fonts/ubuntumono-r-webfont.woff2') format('woff2'), url('#{$asset-path}fonts/ubuntumono-r-webfont.woff') format('woff');
  }
  
  body {
    color: $base-color;
    font-family: Ubuntu, Arial, 'libra sans', sans-serif;
    font-weight: 300;
  }
  
  .caps-centered,
  .muted-heading {
    font-size: .875em;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .intro {
    @include vf-font-size (16);
    line-height: 1.4;
  }

  .row div {
    p:last-child,
    ul:last-child { margin-bottom: 0; }
  }

  .four-col p:last-child {
    margin-bottom: 0;
  }

  .note {
    color: $warm-grey;
    font-size: .813em;
  }

  @media only screen and (min-width : 768px) {

    .intro {
      font-size: 1.13333em;
    }

  } // end @media only screen and (max-width : 768px)

  @media only screen and (min-width : 769px) {
  } //@media only screen and (min-width : 769px)

  @media only screen and (min-width: 984px) {
    h1 {
      font-size: 2.8125em;
    }

    h2 {
      font-size: 2em;
      margin-bottom: .375em;
    }

    h3 {
      font-size: 1.438em;
      margin-bottom: .522em;
    }

    h4 {
      font-size: 1em;
      margin-bottom: .75em;
    }

    h5 { font-size: 1em; }

    p,
    li,
    code,
    pre {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: .75em;
    }

    .intro {
      font-size: 1.25em;
    }

  } // end @media only screen and (min-width: 984px)
}
