{% macro dropdown(id, title, is_open=False) %}
<div class="p-navigation__dropdown is-full-width {% if not is_open %}is-collapsed{% endif %}"  data-level="1" id="{{ id }}" {% if not is_open %}aria-hidden="true"{% endif %}>
  <div class="p-navigation__dropdown-content-mobile">
    <ul class="p-list u-no-margin">{# TODO: use p-list temporarly, we will later have more specific styling class name for it #}
      <li class="p-navigation__item--dropdown-close" id="{{ id }}-back">
        <button aria-controls="{{ id }}" class="p-navigation__link js-back">
          Back
        </button>
      </li>
      <li>
        <a href="#" class="p-navigation__dropdown-item">TODO...</a>
      </li>
      <li>
        <a href="#" class="p-navigation__dropdown-item">TODO....</a>
      </li>
    </ul>
  </div>
  <div class="p-navigation__dropdown-content">
    <div class="p-strip is-shallow">
      <div class="row">
        <div class="col-9">
          <p class="p-muted-heading">{{ title }}</p>
          <div class="row  u-no-margin u-no-padding">
            <div class="col-3">
              <ul class="p-list--divided">
                <li class="p-list__item">
                  {{ title }} 1<br />
                  <small class="u-text--muted">Subtitle...</small>
                </li>
                <li class="p-list__item">
                  {{ title }} 2<br />
                  <small class="u-text--muted">Subtitle...</small>
                </li>
                <li class="p-list__item">
                  {{ title }} 3<br />
                  <small class="u-text--muted">Subtitle...</small>
                </li>
              </ul>
            </div>
            <div class="col-3">
              <ul class="p-list--divided">
                <li class="p-list__item">
                  {{ title }} 3<br />
                  <small class="u-text--muted">Subtitle...</small>
                </li>
                <li class="p-list__item">
                  {{ title }} 4<br />
                  <small class="u-text--muted">Subtitle...</small>
                </li>
                <li class="p-list__item">
                  {{ title }} 5<br />
                  <small class="u-text--muted">Subtitle...</small>
                </li>
              </ul>
            </div>
            <div class="col-3">
              <ul class="p-list--divided">
                <li class="p-list__item">
                  {{ title }} 7<br />
                  <small class="u-text--muted">Subtitle...</small>
                </li>
                <li class="p-list__item">
                  {{ title }} 8<br />
                  <small class="u-text--muted">Subtitle...</small>
                </li>
                <li class="p-list__item">
                  {{ title }} 9<br />
                  <small class="u-text--muted">Subtitle...</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="p-muted-heading">Quick links</p>
          <ul class="p-list">
            <li class="p-list__item"><a href="#">Quick link 1</a></li>
            <li class="p-list__item"><a href="#">Quick link 2</a></li>
            <li class="p-list__item"><a href="#">Quick link 3</a></li>
            <li class="p-list__item"><a href="#">Quick link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
