@charset "UTF-8";

@import '_settings';
@import '../../node_modules/vanilla-framework/scss/build';

@import 'codehilite';
@include codehilite;

h2:nth-child(2) {
  display: inline-block;
  margin-bottom: $sp-medium;
}

p {
  max-width: 52em;
}

p > iframe {
  margin-top: $spv-inter--regular;
}

th:not(:first-child),
td:not(:first-child) {
  padding-left: $sph-intra--condensed;
  padding-right: $sph-intra--condensed;
}

.main-col {
  order: 1;
  padding: $sp-large 0 $sp-xxx-large 0;
  position: relative;
}

.p-navigation--sidebar {
  border-right: 1px solid $color-mid-light;
  min-width: 18rem;
  order: 0;
  padding: 0 $sp-medium;

  &::after {
    display: none;
  }

  .p-search-box {
    margin: $sp-small 0;
  }
  
  .row {
    padding: $sp-medium 0 0 0;
  }

  .p-icon--minus,
  .p-icon--plus {
    right: $sp-small;
  }
}

.docs-wrapper {
  display: flex;
}

.header-actions {
  display: flex;
  margin-bottom: $sp-medium;
  position: absolute;
  right: 0;
  top: 2.5rem;

  &__link {
    padding: 0 $sp-small;
    text-align: center;

    &:first-child {
      border-right: 1px solid $color-mid-light;
      padding-left: 0;
    }
  }
}

.p-aside {
  border-left: 1px solid $color-mid-light;
  order: 2;
}

.p-toc__link {
  color: $color-dark;

  &:visited {
    color: $color-dark;
  }

  &:hover {
    color: $color-link;
  }
}

.p-footer .row {
  max-width: none;
}

@media only screen and (max-width: $breakpoint-medium) {
  .docs-wrapper {
    flex-direction: column;
  }

  .main-col {
    order: 2;
    padding: $sp-medium;
  }

  .header-actions {
    position: static;
  }

  .p-aside {
    border: 0;
    order: 1;
  }

  .p-navigation--sidebar {
    border: 0;
  }
}
