# [os] OS & editor files
**/Desktop.ini
**/Thumbs.db
**/._*
**/*.DS_Store
**/*~
**/\#*\#
**/.AppleDouble
**/.LSOverride
**/.spelling
**/.vscode
**/*.swp
**/.ropeproject
.idea

# Virtual environment
env/
env[23]/
.env/
.venv/
venv/
.Python
.envrc

# Data, compiled, build or log files
develop-eggs/
dist/
downloads/
eggs/
lib/
logs/
lib64/
parts/
sdist/
var/
_site/
**/*.*.map
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
pids
*.pid
*.seed
.*-metadata
**/*.sqlite
**/*.sqlite3
**/*-cache/
**/*.log
**/*.bak
**/*.manifest
**/*.spec
**/__pycache__/
**/*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Deliberately ignore certain project files
# ==

# Readmes
README.md
HACKING.md

# The run script
run
.docker-project
.*.hash

# Node is only needed for building, not running
package.json
node_modules
yarn.lock

# Git, travis, docker
.git
.gitignore
.travis.yml
docker-compose.yml
.docker

# Sphinx documentation
docs/_build/

# Local dependencies
.bundle/
node_modules/
vendor/
bower_components/
package-lock.json
yarn.lock
bin/
