@import 'settings';

@mixin vf-p-aside {
  .p-aside {
    border-top: 1px solid $color-mid-light;
    font-size: 0.875rem;
    padding: 0 $sp-large;

    @media (min-width: $breakpoint-medium) {
      border-left: 1px solid $color-mid-light;
      border-top: 0;
      padding: 0 $sp-medium;
    }

    &__header {
      color: $color-mid-dark;
      font-size: $sp-medium;
      line-height: 1.5;
      margin-bottom: $sp-medium;
      text-transform: uppercase;
    }

    &__section {
      padding: $sp-medium 0;

      &:not(:last-child) {
        border-bottom: 1px dotted $color-mid-light;
      }
    }

    &__nav {
      list-style: none;
      margin: 0;
      padding: 0;

      .p-aside__link {
        border-bottom: 0;
        color: $color-dark;
        margin-bottom: $sp-x-small;

        &:visited {
          color: $color-dark;
        }

        &:hover {
          color: $color-link;
        }

        &.is-active {
          font-weight: 400;
          padding-left: $sp-x-small;
        }
      }
    }
  }
}
