name: PR

on: pull_request

env:
  PORT: 8765
  SECRET_KEY: insecure_test_key

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
      - run: yarn install
      - run: yarn build
      - run: yarn test
      - name: Check if import test file exists but is empty
        run: test -f build/css/standalone/import.css -a ! -s build/css/standalone/import.css

  dart:
    name: Test build with dart-sass
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
      - run: yarn install
      - run: yarn add sass
      - run: npx sass scss/build.scss

  docker:
    name: Build and run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build Docker image
        run: DOCKER_BUILDKIT=1 docker build --build-arg BUILD_ID=test --tag testrun .
      - name: Run server with Docker
        run: docker run -p ${PORT}:80 --env SECRET_KEY=${SECRET_KEY} testrun &
      - name: Check server status
        run: curl localhost:${PORT}/_status/check -I
      - name: Install linkchecker
        run: sudo pip install LinkChecker
      - name: Check internal links
        run: linkchecker --ignore-url /search http://localhost:${PORT}

  danger:
    name: Danger
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
      - run: yarn install
      - name: Danger
        run: yarn danger ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
