name: Publish Vanilla release

on:
  release:
    types: [published]

jobs:
  build:
    name: Build Vanilla
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
      - name: Read Vanilla version from package.json
        run: |
          node -p "require('./package.json').version" > VANILLA_VERSION
          echo "Building Vanilla v$(cat VANILLA_VERSION)"
      - run: yarn install
      - run: yarn build
      - run: yarn test
      - name: Show size of the build file
        run: stat -c '%s' build/css/build.css
      - run: cp VANILLA_VERSION build/css
      - uses: actions/upload-artifact@v2
        with:
          name: css
          path: build/css

  publish-npm:
    name: Publish to NPM
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

  publish-assets:
    name: Publish to assets server
    needs: [build, publish-npm]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: css
          path: css
      - name: Install upload-assets snap
        run: sudo snap install upload-assets
      - name: Upload to assets server
        run: upload-assets --url-path vanilla-framework-version-$(cat css/VANILLA_VERSION).min.css css/build.css
        env:
          UPLOAD_ASSETS_API_TOKEN: ${{secrets.UPLOAD_ASSETS_API_TOKEN}}
